[2021-08-31 07:01] josh146 commented on #1611
Thanks @licedric! From looking into this further, it appears that the issue is that `qml.layer` uses `len(args)`, which will not work if any of the input arguments to be layered are `tf.Variable` objects which are not iterable.

A solution would be to either:

- Avoid using `len()`, by replacing it with `qml.math.shape(args)[0]`
- Convert `args` to a `tf.Tensor` (which _is_ iterable) if it happens

[2021-08-31 18:13] antalszava commented on #1225
With #1360 merged, closing this.

[2021-08-31 18:13] #1225 closed

[2021-08-31 19:53] #1611 closed

[2021-09-01 07:31] #1274 closed

[2021-09-01 13:31] AkashNarayanan commented on #1578
Thank you for the detailed list!

[2021-09-01 15:30] #1593 closed, assigned to albi3ro

[2021-09-02 08:16] dwierichs opened #1622 "Take preprocessing into account in `qml.fourier.spectrum`"
### Feature details

Currently, the `qml.fourier.spectrum` feature does not take classical processing into account, i.e.
`qml.RX(2*x, wires=0, id='x')` and `qml.RX(x, wires=0, id='x')` yield the same spectrum for the id `'x'`.

In the context of function reconstruction that I'm trying to implement, this would be nice to have and the maybe it is in general?
This can be tied together with having the

[2021-09-02 19:54] #1399 closed

[2021-09-03 14:43] ingstra commented on #1462
Right now this does not work with a circuit containing a controlled op generated by `qml.ctrl`, since it throws a NotImplementedError when get_unitary_matrix() tries to get op.matrix. Is this something I need to be concerned about at this point?

[2021-09-03 15:53] ingstra commented on #1462
I'm having some problems in `test_qubit_ops.py` for task 4, `test_double_excitation_decomp`: Something makes it not work when looping through the list of decompostitions. As a simple example, the following just prints the identity matrix two times. What is happening?

[code]

[2021-09-03 21:02] glassnotes commented on #1462
In this case since the matrix is legit not available, I'd say don't worry about it. (This should maybe be written up as a separate issue, actually.)

I would need a bit more context, but one thing to note is that PennyLane operators are queued to the underlying tape upon construction, so you cannot apply an already-constructed operation as is done above. You'll need to use the `qml.apply()` functi

[2021-09-04 14:08] ingstra commented on #1462
@glassnotes `qml.apply()` did the trick, thanks!

[2021-09-05 10:56] PabloAMC commented on #1288
Thanks @trbromley ! I'll take a look,  but right now I'm having a weird error:
[code]
but I clearly am installing it before execution. You know what may be going on?

[2021-09-06 14:20] dwierichs opened #1627 "Add tests for `classical_jacobian`"
### Feature details

There currently are _no_ tests for the `classical_jacobian` utility.

### Implementation

Test cases to be covered would be `QNode`s with
- permutation
- linear combinations of qnode parameters into gate parameters
- more complicated, in particular non-linear, functions to check for the correct processing of the parameters that are passed to the _wrapper_.
- [if this issue is

[2021-09-06 15:38] dwierichs opened #1628 "Add an argument `argnum` to `classical_jacobian`"
### Feature details

Similar to `qml.jacobian`, `classical_jacobian` could take an `argnum` argument allowing to compute the preprocessing jacobian for the corresponding inputs only.

### Implementation

This should be straightforward to implement by modifying `classical_jacobian` like so:
[code]

### How important would you say this feature is?

1: Not important. Would be nice to have.

### Addit

[2021-09-07 11:05] #1578 closed

[2021-09-07 12:37] #1443 closed

[2021-09-07 18:03] ankit27kh opened #1630 "[BUG] Unable to add Identity gate to a circuit."
### Expected behavior

Adding Identity gate in a circuit should work fine. Like any other gate without any extra parameters.

### Actual behavior

Errors out.

### Additional information

100 % of the time. Comment out the identity gate line and everything works fine.

### Source code

[code]

### Tracebacks

[code]

### System information

[code]

###

- [X] I have searched exisisting GitHub issu

[2021-09-07 18:13] antalszava commented on #1630
Hi @ankit27kh, thanks for mentioning this! This is expected as `qml.Identity` is an observable in PennyLane. Therefore its main use case in mind is to be used in the `return` statement of a quantum function. The error message is refering to this, it's expected to be in the `return` statement and as there is no measurement type specified, the error arises.

Would it be worthwhile having `qml.Identi

[2021-09-07 18:21] ankit27kh commented on #1630
Ah! Ok!

Yes! I mean why not? It's the most basic of gates. This should be there. One use is to have forced delay between gates. It can also be used in benchmarks.
Even without any direct application, I would hope to have this in the arsenal just in case.

[2021-09-07 18:50] anthayes92 commented on #1288
Hi @PabloAMC ,

Thanks for sharing your code and the details of the error. We have been able to run your code without hitting the qchem related `ImportError`. Please see the following colab notebook:

https://colab.research.google.com/drive/1W1QXripTfZjsxHedPUznxQ5R1mZp_975?usp=sharing

however it does now raise a ValueError. Perhaps the argument of `molecular_hamiltonian` may need reviewing?

[2021-09-07 19:50] PabloAMC commented on #1288
Hi @anthayes92! Actually, you're right, there were some lines at the end of the installation
[code]
When restarting it did correctly worked, I'm working on the inputs to the molecular hamiltonian :)

[2021-09-07 20:27] PabloAMC commented on #1288
I'm now having trouble in
[code]
I had tried
[code]
but seems like qlayer does not want complex inputs, just torch tensors or numpy arrays:
[code]
Any idea how to bypass this?

[2021-09-08 10:14] antalszava commented on #1488
Hi @arshpreetsingh, thanks again for the proposed idea here! We are keen to discuss more of the exact details here, mostly regarding the ideas for the feature and architecture itself.

Our understanding is that you would be proposing the creation of a REST API and a deployment model for deploying the API to Cloud (using Kubernetes, Helm). We'd be wondering: how could the proposed new API extend th

[2021-09-08 10:47] antalszava opened #1632 "Allow using `qml.Identity` as an operation in quantum functions"
### Feature details

As noted in https://github.com/PennyLaneAI/pennylane/issues/1630, it would be worthwhile to allow `qml.Identity` to act as an operation in quantum functions, e.g.,:

[code]
[code]

At the moment, `qml.Identity` acts as an observable by inheriting from `CVObservable`. It can be included in both CV and qubit based quantum functions.

### Implementation

1. First, the `Identity`

[2021-09-08 10:48] antalszava commented on #1630
Hi @ankit27kh, I've created issue https://github.com/PennyLaneAI/pennylane/issues/1632 dedicated to adding support for `qml.Identity` to act as an operation. I'll be closing this issue, but let us know either here or at the other issue if you'd have any further suggestions/thoughts. Thanks for reach out! :slightly_smiling_face:

[2021-09-08 10:48] #1630 closed

[2021-09-08 14:40] anthayes92 commented on #1288
Hi @PabloAMC,

That's great that you got past the ImportError!

Yes it looks as though the `qlayer` does not accept list data types. Have you tried converting your list to an `np.array` e.g
`E = self.qlayer(np.array([hf,coord, H]))` which would provide the input with a `shape` attribute.

[2021-09-12 06:12] arshpreetsingh commented on #1488
Hi @antalszava  Thanks for providing better insights about Architectural issue those could come with creating distributed system as discussed.

Here are my thoughts.

Yes, It's more like Framework,  Assuming that An Educational Institute or R&D dept. at some company wants to implement QML research so instead of having one or Multiple keys/softwares/libraries to access different kind of  Quantum-sy

[2021-09-14 12:50] CatalinaAlbornoz commented on #1488
Hi @arshpreetsingh! I think that the framework you propose is very interesting. It may be useful for benchmarking and it can help researchers easily chose the HW that best suits their needs for a specific problem.

Would you like to work on the prototype proposed?

[2021-09-14 12:59] arshpreetsingh commented on #1488
Hi @CatalinaAlbornoz , Indeed, I would love to work on that.

Do you have any specific plan/design in mind?

[2021-09-14 14:41] CatalinaAlbornoz commented on #1488
The subconscious mind can do miracles @arshpreetsingh ! It can give you lots of ideas 😄 .

I don't have any specific plan/design in mind right now so feel free to start and I will let you know if a plan/design does come up!
Also don't hesitate to come to the PennyLane community calls on Thursdays and we can talk more about this!

[2021-09-14 14:59] ianmclean2011 commented on #1496
@antalszava I think my PR resolved this issue, so you might be able to close it now.

[2021-09-14 15:27] thisac commented on #1496
Thanks @ianmclean2011. Closed by #1591.

[2021-09-14 15:27] #1496 closed

[2021-09-14 17:45] arshpreetsingh commented on #1488
@CatalinaAlbornoz  Great!
Please share the community meeting link.

[2021-09-14 19:05] CatalinaAlbornoz commented on #1488
@arshpreetsingh The community calls are on the Unitary Fund Discord server. You can join here https://discord.com/invite/JqVGmpkP96

There on the left you will community-call within the voice channels. That's where we meet on Thursdays at 11am ET!

[2021-09-15 13:30] #1154 closed

[2021-09-16 12:40] glassnotes opened #1660 "Add `torch` exception for `sort` to math's `single_dispatch.py`."
### Feature details

Update handling of `sort` in `qml.math` such that the return values are the same across all interfaces.

The current behaviour is as follows. For `numpy`, `jax`, and `tf`,
[code]

But for `torch`, the argument indices are also returned:
[code]

### Implementation

It should be possible to just add a custom implementation in `math/single_dispatch.py` and then register the new f

[2021-09-16 17:22] glassnotes commented on #1412
I've just run into this in the development of #1552. Once it is resolved, it would be nice to update the test
`test_gradient_unitary_to_rot_two_qubit_jax` in the `test_unitary_to_rot.py` file to include `parameter-shift` in addition to `backprop`.

[2021-09-19 15:11] josh146 commented on #1628
Closing as this has been implemented in #1645

[2021-09-19 15:11] #1628 closed

[2021-09-19 18:04] dwierichs commented on #1627
Closing as it was covered in #1645

[2021-09-19 18:04] #1627 closed

[2021-09-20 10:57] bonfab opened #1670 "[BUG] Jax compiled default.qubit.jax device raises ConversionError for qml.QubitStateVector"
### Expected behavior

The `_apply_state_vector` method seems to not have been adapted to be compatible with jax compiled code when setting a state vector with `qml.QubitStateVector`.

### Actual behavior

Specifically in
[code]

where the norm of the state vector is calculated with `np.linalg.norm` raises a `jax._src.errors.TracerArrayConversionError`.

 A solution could be to use the jax.numpy v

[2021-09-20 15:49] albi3ro opened #1672 "[BUG] `orphan` displaying in website changelog"
### Expected behavior

The website builds without errors while not displaying sphinx directives on the public website.

### Actual behavior

Either:
A) the CI check complains about the sphinx build, because the changelog files are not included in any toctree
B) the `:orphan:` directive to silence those warnings [appears on the website](https://pennylane.readthedocs.io/en/latest/development/release

[2021-09-21 07:00] josh146 commented on #1670
One approach to fix this could be to make sure that the `qml.math.linalg.norm` and `qml.math.allclose` functions both work with the JAX jit --- once this is the case, we can modify this `default.qubit` method to use these functions instead

[2021-09-21 15:09] ankit27kh opened #1676 "Add optimizers for JAX interface"
### Feature details

Currently, there are inbuilt optimisers for the NumPy interface. For Pytorch and Tensorflow, the advice is to use their native optimisers. There is no mention of optimisers for JAX.
JAX has some inbuilt optimisers in its experimental module. We can mention that in the documentation.
Also, quantum specific optimisers like rotosolve and QNG, available for NumPy, should be ported

[2021-09-21 15:29] antalszava commented on #1676
Hi @ankit27kh, thanks for the feature request! :slightly_smiling_face: We'll add extending our material related to JAX optimizers to our list.

Feel free to also share any cool PennyLane snippets & examples that worked well with JAX optimizers. :slightly_smiling_face:

[2021-09-21 15:33] josh146 commented on #1676
Hi @ankit27kh, this is a great idea! Like you say, however, this will require some research/design work in order to determine the best way to support JAX.

I have a couple of thoughts:

1. Can the existing JAX optimizers be used directly with a PennyLane QNode/hybrid cost function? I imagine this might work out of the box 🤔

2. The quantum aware optimizers (QNG and Rotosolve) are unique to PennyLa

[2021-09-21 15:45] ankit27kh commented on #1676
Hey @josh146

I have tried some examples and it works out of the box. The workflow is a bit different, though. And you need to make sure everything is JAX compatible.

This is what I hope. It should be possible to modify the existing NumPy optimisers to work with JAX.

[2021-09-21 16:09] ankit27kh commented on #1676
Hey @antalszava

I have found from some basic testing that you can make sure your code is JAX compatible, and then you can replace qml optimisers with JAX optimisers, and it works fine.

There are places where it fails; the most obvious example was to use conditionals inside the circuit. Something like:
[code]
this needs to be made JAX compatible by writing:
[code]
but this doesn't work. I also co

[2021-09-21 16:11] antalszava commented on #1676
Oh great, thank you for the lead here! Will be a good place to start the exploration.

[2021-09-21 16:46] bonfab commented on #1670
I realized it might be not as trivial to fix as first thought. Even after adapting the source code to `jax.numpy` one still receives a `ConcretizationTypeError`. Only workaround working for me at the moment is to comment out the check completely.

[2021-09-21 19:58] CatalinaAlbornoz commented on #1670
Yes @bonfab, I was also getting an error. I think Josh's approach is a good way to go. If you have any other ideas on how to fix this bug let us know here!

[2021-09-22 03:03] kharazity opened #1677 "[BUG] No type safety when passing argument to @qml.device() decorated function"
### Expected behavior

It would be really nice if I could combine circuits in an obvious way, but the lack of type safety prevents me from doing so whenever the function is decorated with `@qml.qnode(device)`. I really simple example is preparing a VQE circuit from a UCCSD ansatz plus grouped measurement.

I understand that using the built-in methods should take care of most of this for me, but fo

[2021-09-22 04:18] josh146 commented on #1677
Hi @kharazity! Thanks for catching this bug.

After investigating, this bug is in fact related to #1459. The root cause is that, when using `autograd`, all positional arguments passed to a QNode will be wrapped implicitly as a `np.tensor` in order for autodifferentiation to work.

This is something we are working on fixing on our end, and is very high priority!

In the meantime, a workaround is to

[2021-09-22 15:52] albi3ro opened #1679 "Use a single `wires` keyword in `MultiControlledX`"
Currently, the operation [`MultiControlledX`](https://github.com/PennyLaneAI/pennylane/blob/6d93cc580d4e8860a0b3fc8cc42e81198399e665/pennylane/ops/qubit/non_parametric_ops.py#L858) accepts an arbitrary length of wires for `control_wires` keyword and a single wire for the `wires` keyword:

[code]

We should instead be able to create this gate with on a single set of wires, where the last wire is th

[2021-09-22 15:59] josh146 commented on #1679
Just tagging @trbromley to find out if there was a reason for the original design!

[2021-09-22 16:08] kharazity commented on #1677
Thanks for getting back! I'm new to pennylane, the tips RE `qml.apply()` were very helpful. The keyword arguments seems a good workaround!

Thanks!

[2021-09-22 16:11] josh146 commented on #1677
No worries @kharazity! Since this is a duplicate of an existing bug, I will close this in favour of #1459. However, don't hesitate to open a new issue if you discover any other bugs!

In addition, we also have a PennyLane discussion forum, where you can ask general code and QML related questions: https://discuss.pennylane.ai

[2021-09-22 16:11] #1677 closed

[2021-09-22 17:01] kharazity commented on #1677
Just curious, does the code you posted run as is? I am currently getting an `ValueError: Observable Identity(wires=[0]) does not have a measurement type specified.`. When running that snippet. This behavior is perplexing to me.

[2021-09-22 17:04] josh146 commented on #1677
Hi @kharazity, that is very odd, it does run for me 🤔 Here is the full code snippet:

[code]

[2021-09-22 17:08] kharazity commented on #1677
Yeah, just ran that snippet. Same error. What version of pennylane are you using?

Here's the full error message:
[code]

I went into `/pennylane/tape/tape.py` and printed info.

[code]
which prints `PENNYLANE INFO: {}`

[2021-09-22 17:18] kharazity commented on #1677
Actually, just upgraded to Pennylane v18. Apparently it fixes that issue at the cost of getting a `ValueError: probabilities are not non-negative` when running this line: `results = [VQE_circuit(params, group = group, n_qubits = n_qubits) for group in groupings]`.

The full error message is:
[code]

[2021-09-22 17:42] trbromley commented on #1679
I believe the original choice of `control_wires` and `wires` was just to mirror [ControlledQubitUnitary](https://github.com/PennyLaneAI/pennylane/blob/v0.16.0/pennylane/ops/qubit.py#L2112), which [MultiControlledX](https://github.com/PennyLaneAI/pennylane/blob/v0.16.0/pennylane/ops/qubit.py#L2236) inherited from at the time. Given that `MultiControlledX` now inherits from `Operation`, I don't see

[2021-09-23 06:20] josh146 commented on #1677
@kharazity nice catch, this seems to have caught a bug in the `default.mixed` simulator!

In particular, when this line of code is being called with `group[4]`,
https://github.com/PennyLaneAI/pennylane/blob/16aac9ff7092a94324b27d6b0dfae6f4af43a092/pennylane/_qubit_device.py#L501
the resulting probability distribution is
[code]

I think we can fix this by ensuring that `default.mixed` takes the abs

[2021-09-23 06:52] josh146 commented on #1677
@kharazity I've opened a PR, #1680, to fix this latter bug :)

[2021-09-23 13:16] glassnotes commented on #1462
Closing as #1609 has been merged in :tada:

[2021-09-23 13:16] #1462 closed

[2021-09-23 15:58] josh146 opened #1682 "Add differentiation support to the `qml.transforms.get_unitary_matrix` transform"
### Feature details

Currently, the `get_unitary_matrix` transform always returns an `np.ndarray`, even if the original circuit parameters were from other autodiff frameworks:

[code]

However, it would be nice to:

- Preserve the type of tensor (in the case above, returning a Torch tensor, since one of the operations has a Torch parameter), and
- Preserving differentiability.

### Implementation

[2021-09-24 09:28] shukob opened #1686 "Density matrix equivalent of qml.QubitStateVector for a mixed state simulation"
### Feature details

For a mixed state simulation, I want to start from a given density matrix, but there is no such operation.

### Implementation

A mixed state equivalent to the `QubitStateVector` class will be required, also `_apply_operation` for mixed state simulators should be modified.

### How important would you say this feature is?

3: Very important! Blocking work.

### Additional info

[2021-09-24 13:55] CatalinaAlbornoz commented on #1686
Hi @shukob, thank you for this feature request! We will take a look into it.

[2021-09-24 19:16] RubidgeCarrie commented on #1660
Hi @glassnotes I am new to the open source community and wanted to ask if it is alright if I try this as my first issue?

[2021-09-24 19:24] glassnotes commented on #1660
Hi @RubidgeCarrie , welcome! Absolutely, please go ahead, and let us know if you have questions. :grin:

[2021-09-25 05:45] RubidgeCarrie commented on #1660
HI @glassnotes, thank you! I did the update by replacing the sort for tensors with the customized sort as you mentioned above. However when I ran the unit test I realized some functions in transform are using the indices or at least expecting them from sort. Would it be worth creating a new sort function here or is this something you would then leave as is and not update?

[2021-09-25 12:16] glassnotes commented on #1660
Great!  When you're ready, please go ahead and open a PR :smiley:

Ahh, from the `two_qubit_decomposition` transform right? Writing that transform is actually how we realized that  torch sort worked differently :sweat_smile: The sort indices aren't required, so what you could do is just remove the interface checks for torch, and simply replace those few lines with the new-and-improved `qml.math.so

[2021-09-26 04:45] asura opened #1688 "[BUG] qml.qnn.TorchLayer + GPU stopped working in v0.18.0"
### Expected behavior

Learning proceeds without error, as in v0.17.0.

[code]

### Actual behavior

I got an error.

[code]

The destination of tensor data seems to be mixed between CPU and GPU.
I checked it out and found the following:

[code]

### Additional information

`requirements.txt`:
[code]

The sample code is based on the contents of the following forum:
https://discuss.pennylane.ai/t/d

[2021-09-26 19:36] RubidgeCarrie commented on #1660
Thank you @glassnotes that makes a lot of sense, I have updated those. When adding a unit test I noticed that the current python test files under test\math are being skipped. I haven't been able to find the reason for this and my unit test does run when saved under a separate file. Would you recommend I save my unit test in tests\math\basic_test_functions.py for now and would this then be an issue

[2021-09-27 08:24] mlxd commented on #1688
Hi @asura thank you for reporting this. I can confirm the same issue locally. We will look into this and get back to you.

[2021-09-27 12:46] glassnotes commented on #1660
Hi @RubidgeCarrie , I recommend to open a PR and then we can see what happens when the continuous integration runs the tests. I'm looking at the files in `tests/math`, and at the beginning it checks to see which interfaces are available, and skips what it can't run (e.g., if it cannot import tensorflow, it will skip all those tests). Within the context of the PR, everything will be installed for i

[2021-09-27 19:44] RubidgeCarrie commented on #1660
Hi @glassnotes, thank you for all the help and recommendations, I really appreciate it. I have opened a PR, hopefully it is alright otherwise I will give it another try.

[2021-09-27 19:58] glassnotes commented on #1660
Great thanks @RubidgeCarrie , we'll give that a review as soon as possible!

[2021-09-27 23:08] sophchoe opened #1693 "[BUG] from Pennylane import numpy produces all numpy arrays with requires_grad = True"
### Expected behavior

A dataset numpy array to be just an array

### Actual behavior

It produces an array with [[],... requires_grad = True]

### Additional information

_No response_

### Source code

_No response_

### Tracebacks

_No response_

### System information

[code]

###

- [X] I have searched exisisting GitHub issues to make sure the issue does not already exist.

[2021-09-28 06:55] josh146 commented on #1693
Hi @sophchoe! Thanks for reporting this.

This is currently intentional behaviour --- all NumPy arrays created with the PL version of NumPy will default to having `requires_grad=True` by default. If you would like to change this, you can specify `requires_grad=False`:

[code]

In a future release of PennyLane, we are likely to change this, and switch to using `requires_grad=False` by default. Howe

[2021-09-28 06:56] josh146 commented on #1693
As this is intended behaviour @sophchoe, I will close this bug report. Let me know if the code snippet above works for you!

And if you notice any other bugs or issues, don't hesitate to open another issue 🙂

[2021-09-28 06:56] #1693 closed

[2021-09-28 10:06] shukob opened #1694 "Backprop for density matrix simulation"
### Feature details

I would like to perform backprop on the `default.mixed` device, but that seems not implemented.

### Implementation

`mixed` version of autodiff backends: `default_mixed_{autograd, jax, tf, torch}`, should be implemented and set as `passthru` devices for `default.mixed`.

### How important would you say this feature is?

2: Somewhat important. Needed this quarter.

### Additio

[2021-09-28 14:47] CatalinaAlbornoz commented on #1694
Hi @shukob, thank you for this feature request! It looks like something we should definitely work on.

[2021-09-28 14:51] josh146 commented on #1694
Hi @shukob! Yes, this is definitely something that would be great to have in PennyLane. We have an existing issue to address this, with some more context if you are interested to take a look: https://github.com/PennyLaneAI/pennylane/issues/1528.

Since this is covered by #1528, do you mind if we close this issue?

[2021-09-28 17:26] shukob commented on #1694
@josh146 Thanks for pointing me #1528. Sorry about not finding the issue by myself. I do not mind closing this.

[2021-09-28 17:26] #1694 closed

[2021-09-28 18:31] antalszava commented on #1670
Hi @bonfab, with #1683 merged, this should be resolved in the `master` branch.

[2021-09-28 18:31] #1670 closed

[2021-09-28 19:01] antalszava opened #1696 "Add shot batching support to the `Device` class"
### Feature details

In https://github.com/PennyLaneAI/pennylane/pull/1103, shot batching support was added to `QubitDevice`. There are certain devices, however, that inherits from `Device`, but not from `QubitDevice`. Examples include CV devices (see [related issue from PennyLane-SF](https://github.com/PennyLaneAI/pennylane-sf/issues/74)).

Currently, a [`UserWarning` is being raised](https://git

[2021-09-29 10:53] cvjjm opened #1701 "[BUG] KeyError while drawing a QNode"
### Expected behavior

Drawing the circuit should work normally

### Actual behavior

A KeyError is raised.

### Additional information

Please see the sample program to reproduce the problem.

### Source code

[code]

### Tracebacks

[code]

### System information

[code]

###

- [X] I have searched exisisting GitHub issues to make sure the issue does not already exist.

[2021-09-29 11:30] josh146 commented on #1701
Thanks @cvjjm! This is indeed strange, seems to be something about the combination of observables. I've reduced it down to an even more minimal non-working case:

[code]

Strangely enough, commenting out at least one of the observables in the return list causes it to work:

[code]

[code]

[2021-09-29 12:03] cvjjm commented on #1701
Yes, indeed. The error seems to always be raised on the last of the observables when the order is changed. Must have something to do with how `mp_map` is built.

[2021-09-29 14:34] antalszava commented on #1701
Hi @cvjjm, thank you for reporting this! :slightly_smiling_face: Working on a PR for updating this. :+1:

[2021-09-29 16:12] albi3ro opened #1703 "Hamming Distance Utility function"
Many quantum applications use the [Hamming Distance](https://en.wikipedia.org/wiki/Hamming_distance) between two states.

While this is a fairly straightforward thing to calculate, we should make it even easier and keep users from having to think about it at all.

We should also allow the function to accept all state representation forms:

A) integers representing states in their binary forms. for

[2021-09-29 20:28] aniket-24 commented on #1703
Please assign me this issue!

[2021-09-29 21:22] antalszava commented on #1703
Hi @aniket-24, thanks for your interest! :slightly_smiling_face: Let us know if you'd have any questions along the way. Feel free to open a new work in progress pull request.

[2021-09-30 09:08] cvjjm opened #1706 "[BUG] Caching results in wrong QNode return values if only return type differs"
### Expected behavior

Even with device caching switched on, computing expectation values and variances of identical circuits should yield correct results.
[code]

### Actual behavior

If QNodes that only differ in the return type are executed with caching on, the second QNode returns the same results as the first.
[code]

### Additional information

This is probably not the most minimal example,

[2021-09-30 09:46] josh146 commented on #1706
@cvjjm thanks for reporting this 🐛 !

We should definitely investigate and fix this, however I just want to jump in and quickly advertise an overhaul of how caching works in PennyLane, to get your thoughts and comments.

In the `master` branch of PL, the QNode is currently undergoing an upgrade in order to support:

- Arbitrary nth order derivatives of all operations on hardware
- Custom gradient

[2021-09-30 09:50] cvjjm commented on #1706
Very nice! Yes, that kind of caching looks very useful.

How does it play together with the new batch transforms?

[2021-09-30 09:53] josh146 commented on #1706
This is a good question. I'm not sure if it works currently out of the box, _but_ [`qml.beta.qnode`](https://pennylane.readthedocs.io/en/latest/code/api/pennylane.beta.qnode.html) and the batch transforms share the same execution pipeline: [`qml.execute()`](https://pennylane.readthedocs.io/en/latest/code/api/pennylane.execute.html).

As a result, it should be fairly trivial to set it up so that a

[2021-09-30 13:00] josh146 commented on #1706
@cvjjm, it just required a small tweak in PR #1708, but now caching also works with batch transforms:

[code]

[code]

[2021-09-30 13:24] antalszava commented on #1703
Hi @aniket-24, will be closing this issue for now, as there is a simple way of obtaining the Hamming distance using SciPy: https://docs.scipy.org/doc/scipy/reference/generated/scipy.spatial.distance.hamming.html

Therefore we'd recommend using that one.

Feel free to browse through the rest of the "good first issues" and other open issues we have!

[2021-09-30 13:24] #1703 closed

[2021-09-30 13:44] aniket-24 commented on #1703
okay! fine

[2021-09-30 14:47] antalszava commented on #1256
As there are many steps to this addition, removing the "good first issue" label and creating separate issues.

[2021-09-30 14:52] antalszava opened #1709 "Rename `qml.Interferometer` to `qml.InterferometerUnitary`"
### Feature details

As per https://github.com/PennyLaneAI/pennylane/issues/1256, we're changing `qml.Interferometer`, as it collides with a the template `qml.templates.Interferometer`.

A short summary based on the (updated) comments in the linked issue:

### Implementation

See details on the possible changes to be made:

* https://github.com/PennyLaneAI/pennylane/issues/1256#issuecomment-845350

[2021-09-30 14:53] antalszava commented on #1256
Opened https://github.com/PennyLaneAI/pennylane/issues/1709 which would be the next step in the deprecation cycle.

[2021-10-01 06:40] AkashNarayanan commented on #1709
Hi @antalszava ! I would like to work on this issue.

[2021-10-01 20:59] antalszava commented on #1709
Hi @AkashNarayanan, that's great to hear! :slightly_smiling_face: Feel free to ask any questions and open a work in progress PR.

[2021-10-01 21:47] kharazity commented on #1686
Can you prepare an arbitrary density matrix on a quantum computer? Doesn't the density operator need to be in a pure state? Up to a global phase you can recover the underlying statevector given a pure state density matrix.

[2021-10-01 21:52] shukob commented on #1686
I think it can be statistically prepared. Diagonalize density matrix and probabilistically feed each eigenstate.
But my intention here is to make simulation using `default.mixed` being convenient.

[2021-10-01 22:00] kharazity commented on #1686
What do you mean by probabilistically feeding the eigenstates?

[2021-10-01 22:02] shukob commented on #1686
If it is a|x><x| + b |y><y| whre a + b = 1, then prepare pure states probabilistically as p(|x>) = a , p(|y>) = b.

[2021-10-01 22:04] kharazity commented on #1686
That is, if you run the experiment for a thousand shots, you'd run a*1000 with |x> and b*1000 with |y>?

[2021-10-01 22:06] shukob commented on #1686
I think that is one idea if both of the classical results can be easily combined in the postprocessing.

[2021-10-01 22:13] shukob commented on #1686
At least for simple observable, you can just compute a(expectation for |x>) + b(expectation for |y>) with arbitrary shots.

[2021-10-04 18:43] #1660 closed

[2021-10-04 19:36] tgag17 commented on #1679
Hi! Can I work on this issue?

[2021-10-04 19:41] antalszava commented on #1679
Hi @tgag17, sure! :100: Let us know if you have any questions. :slightly_smiling_face:

[2021-10-04 21:03] QRiddler commented on #1632
Hi! can I work on it?

[2021-10-04 21:15] QRiddler commented on #898
Hi! Can I work on this issue?

[2021-10-05 00:52] CatalinaAlbornoz commented on #1686
Hi @shukob, would you like to tackle this issue? It's participating in Hacktoberfest, so it's a good chance to try it. Let me know if you want to know what Hacktoberfest is all about!

[2021-10-05 01:54] shukob commented on #1686
@CatalinaAlbornoz
Hi, I don't know about Hacktobefest, apart from that I have already implemeted locally but will need testing for transposition when feeding non-conitnuous wire indices. If you know a reference implementation for transposing density matrix, it will be greatly helpful.
Thanks!

[2021-10-05 01:58] shukob commented on #1528
Hi, I need this so implementing for my own. Is the suggested method to use `qml.math` different from `default.qubit` version like impelementing `default.qubit.autograd`, etc...? It feels straightforward when go that way.

[2021-10-05 07:14] josh146 commented on #1528
Hey @shukob, the main reason for using `qml.math` is to support _all_ autodiff frameworks at once 🙂 However, I imagine that will be a lot more work and testing, so implementing a subclass (`default.mixed.torch`) should be an okay intermediary step.

[2021-10-05 07:29] shukob commented on #1528
@josh146 Thanks! While implementing autograd/tf versions, it feels like implementing devices.qml_ops to be used in all qubit/mixed devices will be the way to go when using `qml.math`. Is that what you expect?

[2021-10-05 07:33] josh146 commented on #1528
@shukob yep that is one approach definitely! Ideally, I would like it so that all operations defined in `pennylane/ops` have their `operation.matrix` property implemented using `qml.math`. That way, you would be able to do

[code]

and ensure the output is differentiable 🙂

[2021-10-05 07:53] shukob commented on #1528
@josh146 Thank you for the explanation. I am a bit confused because `ops` are defined both in `devices` and in `ops.qubit`. But from that explanation, will current class variables: `_apply_ops` and `parametric_ops` be removed and only `_get_unitary_matrix` part be used for `qubit` devices? It seems we still need to define `staticmethod`s in root device but they will become `qml.math` versions, I g

[2021-10-05 09:20] josh146 commented on #1528
Yep, exactly :) The plan is to remove all of `tf_ops.py`, `torch_ops.py`, etc.

Ideally, we can remove all the static methods from the devices as well at some point!

If an op is non-parametric, I believe it is okay to use NumPy, since the autodiff frameworks will automatically convert it to a tensor when needed.

[2021-10-05 11:50] Anaxagoras7 commented on #1709
@antalszava I would like to know if this issue is still open and could I work on it?

[2021-10-05 16:55] CatalinaAlbornoz commented on #1686
Hi @shukob! Hacktoberfest is an initiative to motivate contributions to open-source. Participants who register on the [Hacktoberfest website](https://hacktoberfest.digitalocean.com/) and complete at least 4 approved pull requests can win a t-shirt or plant a tree (unless the organizers run out of t-shirts). The pull requests have to be done on participating repositories, such as PennyLane! For the

[2021-10-05 17:47] antalszava commented on #1632
Hi @QRiddler, yes, sure! Let us know if you have any questions along the way and feel free to open a work in progress pull request. :slightly_smiling_face:

[2021-10-05 17:58] CatalinaAlbornoz commented on #1686
Hi @shukob, if the issue is with partial transposition you can do partial transpose with a combination of reshape and transpose. Please let me know if this helps or if I'm understanding the question wrong.

[2021-10-05 18:20] antalszava commented on #1709
Hi @Anaxagoras7, it is, but we've received a submitted contribution for it which we'll be reviewing. One thing to keep in mind is the first accepted PR to the issue will be accepted for Hacktoberfest too. We do have some other "good first issues" and further issues open. :slightly_smiling_face:

[2021-10-05 18:57] Anaxagoras7 commented on #1709
Sure...thank you for the info🙂

[2021-10-05 19:06] antalszava commented on #898
Hi @QRiddler, sure. :slightly_smiling_face: Feel free to ask any questions or open a work in progress PR for it!

[2021-10-06 07:45] #1622 closed

[2021-10-06 09:22] dwierichs opened #1717 "Have devices allocate `wires` dynamically"
### Feature details

Devices should decide how many wires are needed once a specific QNode uses them.
This has the following advantages:
- Conceptually, this is nicer because there is no underlying need to specify the numbers of wires a priori. In thus forms a restriction/requirement of information earlier than necessary in the pipeline
- Currently, when executing a few-wires circuit on a many-wir

[2021-10-06 12:56] josh146 commented on #1717
I think so yes, but something to add to the list 🙂

Having said that, I don't think this is that much of a breaking change, since specifying wires is not a requirement currently (I think?), as hardware devices do not need to specify the number of wires. So it might just be a tweak to `default.qubit` 🤔

[2021-10-06 19:05] kharazity opened #1722 "Classical post-processing prior to computing expval"
### Feature details

For good reason, the autograd features of pennylane don't work with circuits that conclude with `qml.sample()`. However, there are many circumstances wherein one would want to do some form classical post-processing such as denoising via a neural network or symmetry post-selection prior to computing expectation values.

Presently, there seems to be no way to perform any classic

[2021-10-07 08:08] shukob commented on #1528
Hi, is it OK to add some utility methods like `zeros` or something that is used to create an array of the specific backend in `qml.math` module? Current problem is that Kraus operators are given in the list of arrays but for example, ArrayBox seems not working on `_cast` in that case. So am trying to work around it by making it another type.

[2021-10-07 08:13] josh146 commented on #1528
@shukob, this should already be available as we use [autoray](https://github.com/jcmgray/autoray) as a backend 🙂

For example,

[code]

Most functions in the `qml.math` module accept a `like` argument to force a particular backend.

Let me know if that helps, or if the ArrayBox still causes an issue!

[2021-10-07 22:24] antalszava opened #1726 "[BUG] `default.qubit.autograd` returns a tensor with `requires_grad=True`"
### Expected behavior

The output of circuit execution is a tensor that has the `requires_grad` attribute set to `True` or `False` for all devices.

Most devices output a tensor with `requires_grad=False`:

[code]
[code]

### Actual behavior

The `default.qubit.autograd` device outputs a tensor with `requires_grad=False`:
[code]
[code]

With a tape:
[code]
[code]

Having `requires_grad=True` for t

[2021-10-07 22:57] antalszava opened #1727 "Add docstring examples to operations & embeddings"
### Feature details

Some operations are simple to create, because they are either:

* non-parametric and hence only take wires as an argument or
* they take exactly one scalar as an argument.

There are, however, some operations that may require a non-scalar argument or several arguments. To help the user, we would like to add examples that show how to create and use the following operations.

Th

[2021-10-08 06:49] josh146 opened #1728 "[BUG] QFT is missing from the Templates gallery"
### Expected behavior

The QFT template is not listed on the templates gallery: https://pennylane.readthedocs.io/en/stable/introduction/templates.html

### Actual behavior

A card should be added with the QFT template, and a link to the QFT docstring.

### Additional information

_No response_

### Source code

_No response_

### Tracebacks

_No response_

### System information

[code]

###

- [X

[2021-10-08 13:40] albi3ro opened #1729 "jax interface missing from QNode documentation"
In the information about [interfaces in the QNode documentation](https://github.com/PennyLaneAI/pennylane/blob/949f5d52f3fd3806b051aa8d15cc5a7038d46832/pennylane/qnode.py#L53), the "jax" option is missing, even though the QNode can have a jax interface.

We need to have a bullet point for the `"jax"` option.

[2021-10-08 18:15] alejomonbar commented on #971
is someone working on this or can I try it? @josh146 @ixfoduap @antalszava

[2021-10-09 10:36] dwierichs opened #1732 "Create a central file for `expand_fn` functions"
### Feature details

With transforms taking shape and being used by some features now, a centralized file containing common expansion rules would be useful for both developers and users.
It would contain stopping criteria as well as a generic generator of `expand_fn` from stopping criteria.

### Implementation

This likely is a very small addition, in terms of lines of code.

Stopping criteria cou

[2021-10-09 15:53] Animikh2301 commented on #1729
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean class="com.wordnik.swagger.jaxrs.listing.ApiListingResourceJSON" />
    <bean class="com.wordnik.swagger.jaxrs.listing.ApiDeclarationP

[2021-10-09 15:53] San091102 commented on #1729
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean class="com.wordnik.swagger.jaxrs.listing.ApiListingResourceJSON" />
    <bean class="com.wordnik.swagger.jaxrs.listing.ApiDeclarationP

[2021-10-09 19:47] ankit27kh opened #1735 "Add consistent documentation for qml.templates section"
### Feature details

In the documentation for templates [here](https://pennylane.readthedocs.io/en/stable/introduction/templates.html), some templates have "Usage Details" section, like [this](https://pennylane.readthedocs.io/en/stable/code/api/pennylane.templates.layers.StronglyEntanglingLayers.html) and [this](https://pennylane.readthedocs.io/en/stable/code/api/pennylane.broadcast.html). Others

[2021-10-09 21:07] ankit27kh opened #1736 "[BUG] Incorrect example in documentation"
### Expected behavior

The example provided [here](https://pennylane.readthedocs.io/en/stable/introduction/interfaces/jax.html) for `jax` interface is incorrect.

Expected behavior is for the example to run error free.

### Actual behavior

Code errors out

### Additional information

There are at least three errors. These will come up in order when you run and fix one at a time:
1. `def sample_ci

[2021-10-10 06:06] QRiddler commented on #1632
@antalszava what does "Once this is done, support for built-in devices would follow" mean? I didn't get that part.

[2021-10-10 09:58] dwierichs opened #1738 "Generalize `CricuitGraph.iterate_parametrized_layers` regarding commuting gates."
### Feature details

Currently, `CircuitGraph.iterate_parametrized_layers` will generate the layers such that no gates within a parametrized layer use any same qubit. Instead, one could consider commuting parametrized operations to belong to the same layer, for example in
[code]
the current functionality will produce four layers, whereas I suggest to consider the two `IsingXX` and the two `IsingYY

[2021-10-10 12:13] QRiddler commented on #1632
@antalszava can you help in how to add tests? I am stuck on it.

[2021-10-12 13:22] antalszava commented on #1709
Closing with #1714 merged.

[2021-10-12 13:22] #1709 closed

[2021-10-12 13:27] josh146 commented on #1738
I have a feeling it was added for something else prior to the metric tensor 😆 But I can't recall what.

[2021-10-12 13:31] CatalinaAlbornoz commented on #1736
Hi @ankit27kh, thank you very much for reporting this! We're working on it.

[2021-10-12 14:10] antalszava opened #1744 "[BUG] Update `default.qubit.jax` to align with jax 0.2.21 (multiple jit defs)"
### Expected behavior

A jitted function can be defined multiple times. E.g., running the following in a Jupyter cell multiple times works:
[code]

### Actual behavior

On the 2nd definition (and onwards), the following error is raised:
[code]
The trace points to:
[code]

### Additional information

Likely the following breaking change in `jax` 0.2.21 is related:

a jax.jit decorator. This change

[2021-10-12 14:17] #1736 closed, assigned to antalszava

[2021-10-12 19:03] josh146 opened #1745 "Add batching support to the AmplitudeEmbedding template"
### Feature details

A recent PR, #1710, added support for creating PennyLane QNodes with *batches* of input parameters via [`@qml.batch_params`](https://pennylane.readthedocs.io/en/latest/code/api/pennylane.batch_params.html). Under the hood, a separate circuit per batch dimension is created, and as a result this approach is both hardware and simulator compatible:

[code]

One such template that

[2021-10-12 20:26] CatalinaAlbornoz commented on #1735
Hi @ankit27kh, thank you! The main templates file which is part of the quickstart guides is [here](https://github.com/PennyLaneAI/pennylane/blob/master/doc/introduction/templates.rst). There you will find the links to each of the templates, and you can modify all of those that you want.

This [doc](https://pennylane.readthedocs.io/en/stable/development/guide/documentation.html) might be helpful to

[2021-10-13 09:03] albi3ro commented on #1432
@josh146  Should we go ahead and close this then?

[2021-10-13 09:08] #1432 closed, assigned to nobody

[2021-10-13 09:46] MoritzWillmann commented on #1580
Hey @albi3ro,

I'd love to work on this. I'm quite new to quantum computing and open source, but I have experience in working with python and optimizers so I think I should be able to tackle this.

[2021-10-13 14:55] antalszava commented on #1726
No, it was just something that we've stumbled upon with Catalina when playing around with PennyLane. Likely it's a matter of standardizing this behaviour.

At the moment we have it on the radar, but not considering it as a high priority bug.

[2021-10-13 15:13] glassnotes opened #1747 "Add transform for alternative ZXZ Euler-angle decomposition of `Rot` gates"
### Feature details

Currently the decomposition of the `Rot` gate is fixed as `[RZ(theta), RY(phi), RZ(omega)]`. However, it is possible to write an arbitrary single-qubit unitary in 12 different ways using different combinations of `RX, RY, RZ`. One common decomposition is as  `[RZ(a), RX(b), RZ(c)]`. It would be nice to have a qfunc transform that could pass through a circuit, and convert all i

[2021-10-14 09:38] shukob commented on #1528
Hi, it locally works for all backends by implementing subclasses now,  tests are missing though. Are there any plan for the replacement of the asserts on each framework like `VERSION_SUPPORT = semantic_version.match(">=1.8.1", torch.__version__)` when implementing framework-agnostic version of single device? Thanks.

[2021-10-14 09:48] shukob commented on #1528
@josh146 Thanks! Will try to implement a single device ignoring those validations for a while.

[2021-10-14 09:52] shukob commented on #1528
@josh146 Thanks! Will open a PR after cleaning up.

[2021-10-14 10:09] josh146 opened #1752 "Add a parameter shift Hessian transform"
### Feature details

Currently, it is possible to compute the parameter-shift Hessian of a QNode by using an autodifferentiation framework, and asking for the Jacobian of the gradient (or the Jacobian of the Jacobian, for a vector-valued QNode):

[code]
[code]

This works well if integrating the QNode into an autodifferentiation pipeline.

However, if you instead wish to compute the Hessian of a Q

[2021-10-14 10:12] josh146 opened #1753 "Add quantum transforms to the documentation quickstarts"
### Feature details

Currently, quantum transforms are not mentioned or described anywhere in the PennyLane quickstarts:

![image](https://user-images.githubusercontent.com/2959003/137297828-d634c251-0f15-44c8-8092-01ed04771d7d.png)

Instead, details regarding available quantum transforms are only available lower down, in the API section of the documentation, which might make them hard to discover

[2021-10-14 17:32] anonymousr007 commented on #1729
Hi @albi3ro, Can you please elaborate ?

[2021-10-14 19:23] anonymousr007 commented on #1729
Yes, I want to tackle this problem

[2021-10-15 13:38] ankit27kh opened #1758 "Implement matrix attribute for qml.Hamiltonian"
### Feature details

[code]
This should work.

`matrix` and `eigvals` are mentioned on the documentation page [here](https://pennylane.readthedocs.io/en/stable/code/api/pennylane.Hamiltonian.html#pennylane.Hamiltonian.matrix).
These raise `NotImplementedError`.

### Implementation

Should be straightforward. Need to use tensor products to get matrix representations of the individual terms of the H

[2021-10-15 13:51] JoeGibbs88 opened #1759 "QNGoptimizer with reused parameters"
I would like to use the QNGoptimizer to train an ansatz that uses the same parameter as an input to multiple rotation gates. Here is an example.

[code]

The code above runs fine, however, if the second line in circuit() is uncommented, I get the error:

[code]

Is there a method I am unaware of that allows the QNGoptimizer to be applied to ansatzes with shared parameters, or is this incompatible

[2021-10-15 14:11] josh146 commented on #1759
@JoeGibbs88 let me know if the development PL version works for you, or if you have any other questions. In the meantime, I will close this issue, since the underlying issue is already solved in the codebase

[2021-10-15 14:11] #1759 closed

[2021-10-15 15:18] antalszava commented on #1758
Hi @ankit27kh, thanks for opening this issue! Indeed, we have a rethink of operators coming up in the pipeline and the matrix representation of Hamiltonians will also be affected by that push. For now, we're still in the exploratory phases of an incoming bigger change.

@mariaschuld could perhaps leave even more details on the approach.

[2021-10-15 17:02] JoeGibbs88 commented on #1759
Your solution also worked for me, thanks for the help :)

[2021-10-15 18:44] #1729 closed

[2021-10-16 07:14] MoritzWillmann commented on #1529
Hey @antalszava and @ingstra, If help is still needed I can pick up this issue 😄
Cheers Moritz

[2021-10-18 21:11] antalszava commented on #898
Hi @anonymousr007, this issue is related to extending the [`TorchLayer` class in PennyLane](https://pennylane.readthedocs.io/en/stable/code/api/pennylane.qnn.TorchLayer.html?highlight=torchlayer#pennylane.qnn.TorchLayer).

When creating an instance of this class, we have the ability to pass an `init_method` argument :

[code]
As the issue description suggests, we'd aim to extend the logic using th

[2021-10-19 15:21] #1745 closed, assigned to nobody

[2021-10-19 16:39] glassnotes opened #1770 "[BUG] Incorrect ordering of wires when drawing circuits with Hamiltonian exp. vals."
### Expected behavior

When displaying the expectation values at the end of a circuit drawing, the wire order should be consistent with both the ordering of the wires in the Hamiltonian and the tape, regardless of how the tensor products in the Hamiltonian were constructed.

### Actual behavior

Ordering of Paulis in the expectation values is incorrect and ignores wire order when printing the term

[2021-10-19 21:57] antalszava opened #1774 "Add batching support to the `MottonenStatePreparation` template"
### Feature details

Following up on the issue description from https://github.com/PennyLaneAI/pennylane/issues/1745 we would like to add batch support to the [`MottonenStatePreparation` template](https://pennylane.readthedocs.io/en/stable/code/api/pennylane.templates.state_preparations.MottonenStatePreparation.html).

This follows the addition in https://github.com/PennyLaneAI/pennylane/pull/1710

[2021-10-19 22:02] antalszava opened #1775 "Add batching support to the `AngleEmbedding` template"
### Feature details

Following up on the issue description from https://github.com/PennyLaneAI/pennylane/issues/1745 we would like to add batch support to the [`AngleEmbedding` template](https://pennylane.readthedocs.io/en/stable/code/api/pennylane.templates.embeddings.AngleEmbedding.html).

This follows the addition in https://github.com/PennyLaneAI/pennylane/pull/1710.

### Implementation

We wo

[2021-10-19 22:09] antalszava opened #1776 "Add batching support to the `BasicEntanglerLayers` template"
### Feature details

Following up on the issue description from https://github.com/PennyLaneAI/pennylane/issues/1745 we would like to add batch support to the [`BasicEntanglerLayers` template](https://pennylane.readthedocs.io/en/stable/code/api/pennylane.templates.layers.BasicEntanglerLayers.html).

This follows the addition in https://github.com/PennyLaneAI/pennylane/pull/1710. That PR also showc

[2021-10-20 02:04] rob7112 opened #1777 "Adding regularizer to KerasLayer"
### Feature details

I would like to enable a regularizer option for the weights of a KerasLayer, i.e., something similar to a “kernel_regularizer” option for Dense and Conv layers in Tensorflow:

https://www.tensorflow.org/api_docs/python/tf/keras/layers/Dense

More background provided here: https://discuss.pennylane.ai/t/adding-regularization-to-keraslayer/1420

### Implementation

Yes, it is a

[2021-10-20 23:26] antalszava commented on #1529
Hi @MoritzWillmann, awesome, I'll have a go at addressing them. :slightly_smiling_face: Note that in general we have some flexibility here.

What I had in mind there is that we could specify a Pauli string, the wires the error acts on and the corresponding probability , e.g., "XYZ", `wires=[0,1,2]` and `p=0.1` for example.

In such a case, with probability `0.1` we'll apply the following
[code]
an

[2021-10-21 02:50] rob7112 commented on #1777
I send you all the lines of code for the modified KerasLayer because there is something I forgot to call out that may need your attention. Specifically, I had to comment out half a line to suppress the following error message:

`AttributeError: 'QNode' object has no attribute 'diff_method_change'`

The line that I had to modify to suppress the error is:

`if self.qnode.diff_method != "backprop": #

[2021-10-21 03:24] rob7112 commented on #1777
For additional context, I send the whole notebook where I tested the class `KerasLayerRegularized`, in case you would like to replicate the error message referred to above. Please do not pay too much attention to the quantum circuit or problem I was implementing. It is a bit lame but good enough to test `KerasLayerRegularized`.

[KernelTest_RegularizedLayer.pdf](https://github.com/PennyLaneAI/penn

[2021-10-21 07:48] MoritzWillmann commented on #1529
Hey @antalszava, Thanks for the detailed answer! 🚀
You actually sort of answered my second question 😄 I think this would make sense!

My first question was more aiming towards the dimension of the returned Kraus matrices because I couldn't find any examples for Kraus Matrices for multiple wires.
To clarify let's say we have the function call `qml.PauliError("X", [0], p)`
As you already stated, thi

[2021-10-21 18:44] puzzleshark commented on #1682
PR should be good to review! I left a couple comments on things I'm unsure about. Also there is a linting issue which I'm not sure how to view. and some of my tests are failing due to importing `torch`, `tf`, and `jax` (need to list them in `tests/requirements.txt`

[2021-10-21 18:46] josh146 commented on #1682
Thanks @puzzleshark! I'll have another look later today 🙂

Regarding the test failures, I left a comment in the PR regarding `pytest.importorskip` which should solve the issue!

[2021-10-22 10:01] albi3ro opened #1790 "[BUG] `CSWAP` and `CRot` are missing its `control_wires` attribute"
`qml.CSWAP` and `qml.CRot`  are both controlled operations, but neither define their `control_wires` attribute.

[2021-10-22 21:28] antalszava opened #1798 "[BUG] Error when passing complex gate arg with JAX, backprop and the beta QNode"
### Expected behavior

The following executes well:
[code]

### Actual behavior

An error is raised:
[code]

### Additional information

JAX seems to not provide the gradient for `%`.

### Source code

_No response_

### Tracebacks

_No response_

### System information

[code]
[code]

[2021-10-28 09:08] dwierichs opened #1814 "[BUG] `qml.math.block_diag` is not differentiable under `autograd`"
### Expected behavior

One could consider this a feature request but as the metric tensor, for example, is assumed to be implemented in a differentiable way already, it feels more like  bug report.

The expected behaviour of differentiating a `qml.math.block_diag` would be as follows:
[code]

### Actual behavior

The derivative of a `qml.math.block_diag` evaluates to 0:
[code]
 If we index into a

[2021-10-28 11:50] #1814 closed, assigned to nobody

[2021-10-28 12:02] dwierichs opened #1817 "[BUG] `qml.math.scatter_element_add` is not differentiable with Autograd"
### Expected behavior

Similar to #1814: `qml.math.scatter_element_add` sets an array element via indexing, which is not supported in Autograd differentiation.
One would expect
[code]

### Actual behavior

The above code fails with `ValueError: setting an array element with a sequence.` with the origin lying in the line 49
`tensor[tuple(index)] += value` in `single_dispatch.py`.

### Additional in

[2021-10-28 15:13] #1817 closed, assigned to nobody

[2021-10-28 15:30] josh146 opened #1819 "[BUG] Operator matrices should be defined using holomorphic functions"
In #1749, the `Operator.matrix` method was updated to be use differentiable logic when constructing the matrix of parametric operations, allowing them to be differentiable in all frameworks. This change worked well with existing workflows, that is, differentiating a real-valued variational quantum algorithm cost function.

However, when differentiating the operation matrix _itself_, we are dealing

[2021-10-28 15:52] josh146 opened #1820 "Simplify adding multiple dispatch functions to the `qml.math` module"
### Feature details

Currently, the file `pennylane/math/multi_dispatch.py` includes various 'multiple dispatch' functions, that accept multiple tensors, and determine the correct autodifferentiation framework to call. They do this by querying the utility function [`qml.math._multi_dispatch`](https://pennylane.readthedocs.io/en/latest/code/api/pennylane.math._multi_dispatch.html):

[code]

### Imp

[2021-11-02 19:22] #1790 closed

[2021-11-03 00:05] greenstick opened #1841 "Preventing printing overflow for long circuits in terminal with `qml.draw_circuit()`"
### Feature details

Calling `qml.drawcircuit` and rendering the output to the terminal results in illegible circuits if the circuit width (*i.e.* the number of text columns used) is greater than the column width of the terminal window. This issue is due to the overflow of text used to visualize the circuit onto the next line. For example:

**Current Behavior:**
[code]
A possible solution would be

[2021-11-03 09:19] dwierichs opened #1843 "Sorting overhead vs dict implementation for `tape.trainable_params`"
### Feature details

#1836 introduces two `sorted` statements in the `Tape` methods `get_parameters` and `set_parameters`, applied to `trainable_params`.
In almost all known cases, the set `tape.trainable_params` already is sorted internally (in an unstable sense, as it is a set), which makes these `sorted` calls very fast ([best case performance of Timsort is `O(n)`](https://en.wikipedia.org/wiki

[2021-11-03 13:48] albi3ro commented on #1841
Hi @greenstick  and thanks for your feedback.

I have a new text circuit drawer planned for the next few months (fingers crossed) and can incorporate this feature at that point.

I would probably make a keyword `max_length=80` that users can modify and specify as need be, instead of reading something about the operating system and environment.

If you want this feature sooner, feel free to try and

[2021-11-03 16:04] CatalinaAlbornoz commented on #1843
Hi @dwierichs, I think this is a great idea! I've created a ticket for the team to take a look at this.
Thank you for this suggestion!

[2021-11-03 17:22] greenstick commented on #1841
Are you planning on entirely new code or refactoring the current code? If it's the latter, I'd take a crack at implementing a `max_length=80` kwdarg.

[2021-11-03 18:26] jkanem opened #1848 "[BUG]qml.numpy.tensor object's "requires_grad" attribute isn't preserved through pickling/unpickling"
### Expected behavior

Pickling and unpickling a qml.numpy.tensor object should result in an identical object. The unpickling does return a qml.numpy.tensor object, with the numerical values of the array preserved, but with no `requires_grad` attribute.

### Actual behavior

The reloaded tensor object no longer has a `requires_grad` attribute. This is most easily seen by trying to print the reload

[2021-11-03 20:44] CatalinaAlbornoz commented on #1848
Hi @jkanem, thank you for reporting this bug. I see that you're using PennyLane version 0.16. Do you get the same behavior when upgrading to version 0.18?

[2021-11-03 21:44] jkanem commented on #1848
Hi @CatalinaAlbornoz, I should have checked that. But unfortunately, the problem remains in 0.18. Here is my qml.about() info for a fresh environment, installing nothing but PennyLane==0.18 and its requirements:
[code]

[2021-11-03 22:11] jkanem commented on #1848
Actually, I think I can write a patch for this. I was confused by the __setstate__ method that qml.numpy.tensor uses, which is actually inherited from numpy.ndarray. This similar issue explains what to do: https://stackoverflow.com/questions/26598109/preserve-custom-attributes-when-pickling-subclass-of-numpy-array

[2021-11-03 23:14] albi3ro commented on #1841
I plan on writing entirely new code.

In the meantime, we welcome support for this feature in the existing code.

The [`CircuitDrawer.draw` method](https://github.com/PennyLaneAI/pennylane/blob/997d0a28e08296b79156208879fc4b0de57c4cb8/pennylane/circuit_drawer/circuit_drawer.py#L338) you quoted above would be the correct location to add this change.

The keyword would also need to be added to

* [`

[2021-11-03 23:19] shukob commented on #1686
I made a separate WIP PR #1850 for this.

[2021-11-03 23:49] CatalinaAlbornoz commented on #1848
Oh great @jkanem! It would be great if you could work on a patch. Please feel free to open a PR and ask any questions you may have.

[2021-11-04 06:43] josh146 commented on #1848
@jkanem thanks for catching this! And great to hear you have a potential catch. As @CatalinaAlbornoz says, definitely feel free to open a work-in-progress PR here, and we can help out if you have any questions 🙂

[2021-11-04 13:22] CatalinaAlbornoz commented on #1686
Thank you @shukob!

[2021-11-05 07:54] dwierichs opened #1865 "Multi dispatch `tensordot`"
### Feature details

It would be nice to be able to do
[code]
with `tensordot` dispatching to Autograd. Currently, the value of the above operation is correct but its derivative is `0`:
[code]
When using the Autograd array as first entry, the derivative is correct:

[code]

Therefore, a multi dispatch over the arguments of `tensordot` would be nice to have.

### Implementation

One could probably

[2021-11-05 08:45] josh146 commented on #1865
Perhaps a reason to add in #1820? That way we could do

[code]

(by the way, was this causing the issue with the Torch tests in #1716?)

[2021-11-05 09:27] dwierichs commented on #1865
Oh yes, this would be a perfect application for #1820 :)

No, it was causing a bug in differentiability of reconstructions (#1864)

[2021-11-05 16:35] #1848 closed

[2021-11-08 14:32] #1775 closed

[2021-11-08 17:57] dwierichs opened #1874 "Support non-trainable parameters in `qnode_spectrum`"
### Feature details

The `qnode_spectrum` makes use of `qml.transforms.classical_jacobian` and `qml.math.is_independent` to check whether preprocessing in a QNode is linear.
This means that parameters for which the spectrum is queried should be trainable in order to make the test for linearity via `qml.math.is_independent` actually perform the full test.
However, this requirement is counter-intuit

[2021-11-08 17:57] dwierichs commented on #1874
@josh146 @antalszava @KetpuntoG Let me know what you think and what I should add. Should there be full code examples already?

[2021-11-08 20:43] trbromley opened #1876 "Insert only for certain gates when using qml.transforms.insert"
### Feature details

The `qml.transforms.insert()` transform was recently added in https://github.com/PennyLaneAI/pennylane/pull/1795, allowing users to insert a specified single qubit gate into a circuit with three orientations:
- at the start of the circuit
- at the end of the circuit
- after every gate in the circuit

However, another useful option might be:
_insert a specified (single qubit) g

[2021-11-08 21:48] trbromley opened #1877 "Allow inserting multiqubit operations in qml.transforms.insert"
### Feature details

The `qml.transforms.insert()` transform was recently added in https://github.com/PennyLaneAI/pennylane/pull/1795, allowing users to insert a specified single qubit gate into a circuit with three orientations:
- at the start of the circuit
- at the end of the circuit
- after every gate in the circuit

However, it might also be nice to have the option of inserting multiqubit gat

[2021-11-09 07:32] josh146 commented on #1874
Thanks @dwierichs!

[2021-11-09 13:18] dwierichs opened #1880 "Add `argnums` kwarg to `qml.metric_tensor`"
### Feature details

Adding `argnums` to transforms allows us to compute quantities in the forward pass while in an autodiff framework.
Similar to `qml.grad` or `qml.classical_jacobian`, it should be added to `qml.metric_tensor` as well.

### Implementation

_No response_

### How important would you say this feature is?

2: Somewhat important. Needed this quarter.

### Additional information

_No

[2021-11-09 14:35] antalszava commented on #1874
Thank you! Maybe the example we chatted about could be a good minimal version?

[code]

[2021-11-09 17:28] dwierichs opened #1881 "Make the "partial" of a QNode batch-executable"
### Feature details

It would be nice, for example in the context of function reconstruction, to be able to batch execute a univariate restriction of a QNode. Consider the following QNode and its three univariate restrictions:

[code]
Then it is possible to batch execute `circuit` but neither `univ_0` nor `univ_1/2` via `batch_params`.
As the evaluations during a reconstruction task may be indepen

[2021-11-09 17:40] dime10 commented on #1752
Hi @josh146, I'll tackle this one :)

[2021-11-09 20:39] Jaybsoni opened #1882 "[BUG] Text drawer loses wires"
### Expected behavior

When calling a simple circuit:

[code]

We expect:

[code]

### Actual behavior

<img width="971" alt="image" src="https://user-images.githubusercontent.com/21964864/141000559-1d71ea52-4413-4c42-9e98-2795639184d0.png">

### Additional information

_No response_

### Source code

_No response_

### Tracebacks

_No response_

### System information

[code]

###

- [X] I have s

[2021-11-09 21:08] dwierichs commented on #1881
One implementation would be to copy `batch_params` and skip/modify certain validation while copying non-batched parameters of the tape over to all newly created tapes of the batch. It could look like this:

[code]

As an alternative, one could build a "qnode transform" only, skipping the `batch_transform` template. This could make sense because the meaning of "univariate restriction" of a QNode  d

[2021-11-09 23:02] albi3ro commented on #1882
@Jaybsoni This is expected behaviour.  If you wish, you can call `qml.draw(circuit, show_all_wires=True)()` which will include empty wires as well.  By default, empty wires are ignored.

[2021-11-10 07:19] josh146 commented on #1881
Nice solutions @dwierichs! I suppose it is important to work out what particular feature we want to enable.

1. Do we want to univariate batch over gate arguments?

2. Or, do we want to univariate batch over QNode arguments?

`@qml.batch_params` solves (1) (in a general sense, not in the univariate case), by first allowing the tape to be constructed with gate arguments with batch dimension. It the

[2021-11-10 08:06] dwierichs commented on #1881
1) Agreed, although `qml.batch_params` requires all parameters to be batched with the same dimension, not allowing conveniently for univariate batching (Instead, one has to outer-product the constant arguments with `qml.math.ones` because of the input format that `qml.batch_params` is using). So even for univariate batching over gate arguments, there would be some convenience method in order, I fe

[2021-11-10 14:02] Jaybsoni commented on #1882
Oh awesome ! Was this a recent improvement? I feel like in the past I haven't had to make such specifications!

[2021-11-10 14:57] puzzleshark commented on #1776
open PR for this issue https://github.com/PennyLaneAI/pennylane/pull/1883

[2021-11-10 18:51] puzzleshark commented on #1819
@josh146 what do you mean when you say backprop simulators?

[2021-11-10 19:36] #1632 closed

[2021-11-11 06:31] josh146 commented on #1819
@puzzleshark I mean the simulators which natively support backpropagation 🙂 This includes:

- `default.qubit.autograd`
- `default.qubit.jax`
- `default.qubit.tf`
- `default.qubit.torch`

Note that when you create a QNode using

[code]

then a backprop device will be automatically chosen if `shots=None` (we are not approximating results with finite-shots, which introduces stochasticity).

For more

[2021-11-11 16:21] vtomole opened #1891 "Support `sx` gate for QASM conversion."
### Feature details

Pennylane doesn't support `sx` gate out of the box. It compiles it to a `QubitUnitary` instead:

[code]

### Implementation

_No response_

### How important would you say this feature is?

1: Not important. Would be nice to have.

### Additional information

_No response_

[2021-11-11 18:05] antalszava commented on #1891
Hi @vtomole, thank you for catching this! :slightly_smiling_face:  We have a PR in the works that will address this.

[2021-11-11 19:24] vtomole commented on #1891
Thank you for the quick turnaround!

[2021-11-11 20:56] greenstick commented on #1841
@albi3ro I'm working on updating the test suite to account for this feature. Unfortunately I'm running into an issue when running `make test`:

[code]

Any ideas what might be driving this error?

As an aside, it looks like the `max_length` parameter will break quite a few tests because the printing to the CLI will differ with the default value `max_length = 80`. Does the PennyLane team have any p

[2021-11-11 21:44] antalszava commented on #1841
Hi @greenstick, for the first question, could it be that `flaky` is not installed? (can be installed via `pip install flaky`).

[2021-11-11 22:04] greenstick commented on #1841
@antalszava Hah! Yup. That did it! Thanks.

[2021-11-11 22:07] greenstick commented on #1841
@albi3ro Okay sounds good!

[2021-11-12 00:55] greenstick commented on #1841
I've updated the test suite but it seems I'm still having issues running the tests (borking on what appears to be an unrelated problem). Everything should be in order though, going to send a pull request.

[2021-11-13 16:31] shukob commented on #1528
Hi, for methods that have different interfaces between backends, e.g. expand_dims, can I create a method in for example `math.util` like this?
[code]

Thanks.

[2021-11-14 13:18] josh146 commented on #1528
Hey @shukob, since `expand_dims` is a single-dispatch function (it only dispatches based on the first argument), then it can be registered in `math/single_dispatch.py` 🙂

However, it seems that `expand_dims` already seems to work for Torch tensors?

[code]

[2021-11-15 03:05] shukob commented on #1528
@josh146 Thanks! I had tried using autoray itself but hadn't noticed that the line was already added to `single_dispatch`.
[code]
I will consider adding to `single_dispatch` if there are any others that require conditional execution.

[2021-11-15 15:14] shukob commented on #1528
Hi, since we do not specify backend to the device, initial state preparation by basis state is always generated in NumPy. In the first operation, we should cast _state to lie in the desired backend. I did not find autoray function to do this. We can have a wrapper to do this, or is there any existing solution you can think of? Thank you in advance.

[2021-11-15 15:44] shukob commented on #1528
Hi, since the device does not know the interface, initial state preparation by basis state is always generated in NumPy. It becomes redundant, but we can add an init argument of the device to specify the backend.  This breaks device-agnostic initialization in qnode if we do not also add the argument to all the devices. Or we can add a post-initialization function to the devices that take interface

[2021-11-15 16:36] josh146 commented on #1528
Hey @shukob! Perhaps we could use `qml.math.asarray(state, like="torch")` etc. to convert the initial state?

[2021-11-15 16:55] antalszava commented on #1891
Hi @vtomole sure thing! The PR in PennyLane-Qiskit has been merged and will be included in the next release (it's already available on the `master` branch of the plugin).

[2021-11-15 16:55] #1891 closed

[2021-11-15 16:59] shukob commented on #1528
@josh146 Thanks. Yes at some point we can do that. I think not every operation is on the target backend, like non-parametric ones. In such a case we cannot always convert _state in `_apply_channel` or `_apply_diagonal`_uniatry based on the argument. So conversion should be one-time. The current implementation does this based on the initializer argument. Other ideas that do not change the initializ

[2021-11-15 19:10] puzzleshark commented on #1819
@josh146 gotcha. seems like all simulators use the same code, but just swap out the tensor operations ie. tf.math.conj vs torch.conj. Looking though, I don't see any particular issue with it w.r.t complex differentiability, (all instances of conj are used w.r.t to the state vector) but not sure how I could test that it's all in working order? Maybe create some tests with simple circuits and compar

[2021-11-15 22:30] rmoyard commented on #1480
[sc-8002]

[2021-11-16 07:41] josh146 commented on #1819
Yep! I think that is the way to go. Perhaps create a simple circuit, such as

[code]
and at the same time, _analytically_ compute what the state looks like, by applying the analytic RX matrix to the state `[1, 0]`.

You can then differentiate the output state in Torch/TF/Autograd/JAX, and double check it agrees with the analytic result :)

[2021-11-16 17:17] #1686 closed

[2021-11-16 17:54] ankit27kh opened #1901 "[BUG] qml.PauliRot does not have 'pauli_word' and 'theta' argument"
### Expected behavior

[code]
This should result in `[0.87758256-0.47942554j 0.        +0.j        ]`

### Actual behavior

We get type error: `TypeError: __init__() got an unexpected keyword argument 'pauli_word'`.
Similarly `theta` is also not a keyword argument.

### Additional information

This is on the page of qml.PauliRot:
[code]
You would guess this means `theta` and  `pauli_word` are keyw

[2021-11-16 18:12] Jaybsoni commented on #1901
Hi @ankit27kh, thanks for reporting this bug! We will look into it and get back to you soon 👍🏼

[2021-11-16 18:15] Jaybsoni commented on #1901
Can I ask, where did you see that the keywords should be `pauli_word` and `theta` ?

[2021-11-16 18:21] ankit27kh commented on #1901
@Jaybsoni on the documentation page for `qml.PauliRot` [here](https://pennylane.readthedocs.io/en/stable/code/api/pennylane.PauliRot.html).
It says:

Parameters
- theta (float) – rotation angle θ
- pauli_word (string) – the Pauli word defining the rotation
- wires (Sequence[int] or int) – the wire the operation acts on

[2021-11-16 18:27] Jaybsoni commented on #1901
@ankit27kh Awesome ! Thanks for pointing that out !

[2021-11-16 19:35] #1480 closed

[2021-11-16 19:51] #1901 closed

[2021-11-16 19:57] ankit27kh opened #1905 "[BUG] Many operations do not take the required arguments as keywords."
### Expected behavior

N/A

### Actual behavior

N/A

### Additional information

There are multiple operations like `qml.U3`, `qml.QubitStateVector`, `qml.BasisState` etc., that require arguments and have keywords defined in the documentation but do not take keyword arguments.

A thorough look at all operations is required to find these and change their behaviour, and/or update the documentation.

[2021-11-16 20:33] ankit27kh commented on #1905
In a related way, some operations do not require any argument (except wires) but still have `*params`. This makes it necessary to use keyword argument `wires` with them.
For example, these do not work:
`qml.S(2)`, `qml.T(0)`, `qml.CNOT([1,2])`
But, these work:
`qml.Hadamard(0)`, `qml.PauliZ(2)`

There should not be this discrepancy. Some can work without `wires`, others can not. This must be fixed

[2021-11-16 21:18] CatalinaAlbornoz commented on #1905
Thank you for bringing this up @ankit27kh!

[2021-11-16 21:38] antalszava commented on #1905
For example, these do not work:
qml.S(2), qml.T(0), qml.CNOT([1,2])
But, these work:
qml.Hadamard(0), qml.PauliZ(2)

This reason here is that `qml.Hadamard(0)` `qml.PauliZ(2)` are both operations and observables. For observables, we have a logic in to assume that the first parameter passed is the `wires`:
https://github.com/PennyLaneAI/pennylane/blob/master/pennylane/operation.py#L1003

[2021-11-16 21:45] Jaybsoni commented on #1905
I can take on this bug and take a look throughout the various operations for this kind of functionality. I will also cross reference with the documentation to make sure that we aren't writing logic for functionality that wasn't intended to be supported. Thanks for brining this to our attention !

[2021-11-17 12:23] #1841 closed

[2021-11-18 15:11] #1577 closed

[2021-11-18 16:04] #1774 closed

[2021-11-18 22:46] Jaybsoni commented on #1905
Hey @ankit27kh,

In case you were waiting for this change to take effect. We just wanted to update you and let you know that there is a bigger change for the Operator class as a whole which would affect the way these operations are implemented. We are waiting on that as changing the code now, might require us to change it again after the Operator class change.

Thanks,

[2021-11-19 09:55] KetpuntoG opened #1916 "[BUG] qml.draw does not work with templates"
### Expected behavior

When I run the `draw` function with the `old_qnode` I get the following representation:
[code]

 0: ──QubitStateVector(M0)──╭┤ Probs
 1: ──────────────╰┤ Probs
M0 =
[0.+0.j 1.+0.j]

This is the output I would like to get with the new qnode.

### Actual behavior

If you run the same code in the current `qnode`, the error obtained is:

`TypeError: unsupported format string pas

[2021-11-19 21:48] antalszava commented on #1916
Closing with the related PR being merged.

[2021-11-19 21:48] #1916 closed

[2021-11-22 10:51] zhenhouhong opened #1922 "[BUG] ImportError: cannot import name 'shape' (Python 3.6)"
### Expected behavior

Installed the newest version of pennylane (v0.19.0), try to run the noisy circuits example of https://pennylane.ai/qml/demos/tutorial_noisy_circuits.html .

### Actual behavior

Shows a error:
ImportError: cannot import name 'shape'

### Additional information

I check the github, found the pennylane/math/__init__.py didn't include the shape.
And I check the module code of m

[2021-11-22 11:00] josh146 commented on #1922
Hi @zhenhouhong! Unfortunately, PennyLane no longer supports Python 3.6, which is the cause of this error --- dynamic module imports are only supported in Python 3.7 and above.

We recommend you upgrade to a newer Python version 🙂

[2021-11-22 21:57] Jaybsoni opened #1925 "[BUG] Cannot draw an empty circuit with qml.sample"
### Expected behavior

[code]

Expect something like this:

[code]

Or an error message saying that the circuit is empty

### Actual behavior

[code]

The code doesn't terminate and the terminal / shell hangs.

### Additional information

Maybe add a message or prompt addressing it and prevent the code from hanging.

### Source code

_No response_

### Tracebacks

_No response_

### System informa

[2021-11-23 02:20] zhenhouhong commented on #1922
OK, thanks @josh146

[2021-11-23 07:07] josh146 commented on #1922
no worries @zhenhouhong --- I'll close this issue now. Feel free to open a new issue if you come across any bugs!

[2021-11-23 07:07] #1922 closed

[2021-11-23 11:56] dime10 opened #1928 "[BUG] Bugs in optimizer implementation and documentation"
### Expected behavior

The optimizer tests refactor #1919 revealed issues in two of the optimizer classes.

**Adagrad optimizer**:
- The `apply_grad` method which applies a gradient step to a set of trainable parameters does not do so correctly, due to a missing index increment (`trained_index` in [adagrad.py#L76](https://github.com/PennyLaneAI/pennylane/blob/d705f0e3cc51bd876c8b910cd25b85bfc08694

[2021-11-23 12:40] josh146 opened #1930 "[BUG] `qnode_spectrum` returns the incorrect spectrum for the `PhaseShift` gate"
### Expected behavior

For a QNode

[code]

I expect to get a spectrum `(0., 1.)` for the `PhaseShift` gate.

### Actual behavior

However, I instead get a spectrum with three eigenvalues:

[code]

### Additional information

_No response_

### Source code

_No response_

### Tracebacks

_No response_

### System information

[code]

###

- [X] I have searched exisisting GitHub issues to make sure

[2021-11-23 12:54] #1930 closed

[2021-11-23 14:56] antalszava commented on #1574
This now works well on `master` (likely due to the new batch execution pipeline) with `jax==0.2.24` and `jaxlib==0.1.73`.

[2021-11-23 14:56] #1574 closed

[2021-11-24 15:07] josh146 opened #1935 "[BUG] `qnode_spectrum` does not return the spectra for the correct operation"
### Expected behavior

Consider the following QNode:

[code]

We expect

[code]

since the CRX gate has 2 positive frequencies.

### Actual behavior

Instead, we get:

[code]

This is because the `qnode_spectrum` function is iterating through _all_ operations on the tape, rather than just the trainable operations.

As far as I can tell, this can be fixed by changing:

https://github.com/PennyLaneA

[2021-11-24 21:23] antalszava commented on #1925
It seems like we're stuck in an infinite loop here:
[code]
I would expect this to change with the changes Christina has in mind with the new text drawer (likely in #1885). My understanding is that `greedy_layers` will be replaced by `drawable_layers`.

[2021-11-25 13:07] #1928 closed

[2021-11-25 14:12] glassnotes opened #1939 "Add warning to assist with name degeneracy of `qml.X`/`qml.PauliX`."
### Feature details

Due to the similarity, it is easy to confuse `qml.X` and `qml.PauliX`, especially since other methods of specifying circuits, e.g., QASM, use `x` for `PauliX`. But if a user uses `qml.X` in their circuit on a qubit device, nothing happens to inform them that the incorrect operation is being used:

[code]
[code]

It would be nice to raise a warning in this case, and inform the

[2021-11-25 14:22] josh146 commented on #1939
@glassnotes I wonder if this is intentional behaviour, because potentially in the future we could have support of a 'mixed' qubit-CV device 🤔

Out of curiosity, do you get an error if you add `expansion_strategy="device"` to the `draw` function?

[2021-11-25 14:30] glassnotes commented on #1939
@josh146 no error is raised, which I did not expect! It prints exactly the same circuit.

[2021-11-25 14:30] josh146 commented on #1939
Huh! I am also surprised

[2021-11-25 17:34] Jaybsoni commented on #1925
Sounds good, I might leave this open until that gets merged in and close it once we can verify it is solved with drawable_layers

[2021-11-25 18:12] hapax opened #1940 "[BUG] Adjoint doesn't work for QPE"
### Expected behavior

Applying `qml.adjoint(op)` to `qml.QuantumPhaseEstimation` should replace `qml.QFT.inv()` with `qml.QFT`, and a controlled operation by the controlled version of the adjoint.

### Actual behavior

Performing `qml.adjoint(qml.QuantumPhaseEstimation` takes the adjoint of the controlled operations, but does not change `qml.QFT.inv()` to `qml.QFT`. It also writes the adjoint of

[2021-11-25 22:24] #1776 closed

[2021-11-25 22:27] DarthMalloc opened #1941 "[BUG] Import error with pennylane 0.19.1"
### Expected behavior

When I run the line

'import pennylane as qml'

there should be no output in IDLE.

### Actual behavior

Running this line results in an AttributeError.

### Additional information

_No response_

### Source code

[code]

### Tracebacks

[code]

### System information

[code]

###

- [X] I have searched exisisting GitHub issues to make sure the issue does not already exist.

[2021-11-25 22:58] antalszava commented on #1941
Hi @DarthMalloc, thank you for the report! :slightly_smiling_face: Which version of `autoray` are you using (or potentially could it be that it's not installed)?

[2021-11-25 23:20] antalszava commented on #1940
Hi @hapax, thank you for reporting this! We'll be looking into fixing it. :slightly_smiling_face:

[2021-11-25 23:42] antalszava commented on #1941
It seems that the issue is with `autoray` `<v0.2.5`.

[2021-11-26 06:54] josh146 commented on #1941
@DarthMalloc could you try upgrading your version of autoray? For example,

[code]

[2021-11-26 23:07] #1941 closed

[2021-11-29 00:21] ankit27kh opened #1945 "shape method for Interferometer"
### Feature details

The Interferometer template does not have a `shape` method to give out the required parameters' shapes.
It would be helpful to have this method as three parameters are required that have two different shapes.

### Implementation

The interferometer template is not defined as a class, so probably, it'll need restructuring before this can be implemented.

### How important would

[2021-11-29 06:39] josh146 commented on #1945
Hi @ankit27kh! Was this a feature you would like to work on? 🙂

[2021-11-29 07:06] ankit27kh commented on #1945
Hi @josh146! Yes, I would like to work on this. I'll try to submit a PR soon.

[2021-11-29 14:50] dwierichs opened #1947 "Support differentiability of multi-argument metric tensor - or conciously decide against it"
### Feature details

Currently, the metric tensor of a QNode (with `hybrid=True`) when computed with respect to multiple arguments returns a tuple of metric tensors, one for each argument, and not a single full tensor spanning all arguments. This is currently the intended behaviour.
However, it prevents differentiability, as tuple-output functions are not supported in multiple interfaces.

The out

[2021-11-29 15:14] dwierichs commented on #1947
I'm not sure I follow this phrasing. In JAX it "simply works", doesn't it?

I notice, though, that for example in JAX, `jax.hessian(fn, argnums=[0,1])` of a scalar function `fn` with two input arguments returns a nested tuple, so generalizing the tuple-shaped output of a Jacobian to multi-dimensional tuples is something adopted in JAX. (And yes, the Jacobian of the Hessian is a 3d tuple... )

In `

[2021-11-29 16:08] CatalinaAlbornoz commented on #1945
Thank you @ankit27kh !

[2021-11-29 16:31] josh146 commented on #1947
Oh, I get it now @dwierichs! That is, the automatic nesting of tuples when asking for the Jacobian/Hessian.

[2021-11-30 14:55] ankit27kh opened #1953 "[BUG] Circuit drawing problem with Interferometer and CVNeuralNet"
### Expected behavior

In the current release version, using:
[code]
gives:
[code]

### Actual behavior

In the current master branch, the same code gives:
[code]

### Additional information

In both master and release version, using:
[code]
gives:
[code]
Nothing is being drawn in the circuit.

### Source code

_No response_

### Tracebacks

_No response_

### System information

[code]

###

- [X

[2021-11-30 17:44] #1935 closed

[2021-11-30 18:42] Jaybsoni commented on #1953
Hey @ankit27kh, thanks for reporting this bug! I will take a look into it 👍🏼

[2021-11-30 21:31] ankit27kh opened #1959 "[BUG] qml.probs not working with jax.jit"
### Expected behavior

This should return probability values.
[code]

### Actual behavior

Code errors out.

### Additional information

Code without jitting works:
[code]

Other measurements like `qml.sample(qml.PauliZ(0))`, `qml.state()` etc. work.

### Source code

_No response_

### Tracebacks

[code]

### System information

[code]

###

- [X] I have searched exisisting GitHub issues to make

[2021-11-30 21:42] ankit27kh commented on #1959
`qml.expval(qml.PauliX(0))` works but `qml.expval(qml.Hermitian(H, wires=range(1)))` does not. The error coming from:
[code]

[2021-12-01 11:41] josh146 commented on #1959
Thanks for reporting this @ankit27kh! It seems that this only affects finite-shots; if you set `shots=None`, then your example works 🤔

[2021-12-01 11:48] josh146 commented on #1959
Ah, I think I've isolated the issue. Currently, when `default.qubit` is using finite-shots, it will attempt to _estimate_ the probability here:

https://github.com/PennyLaneAI/pennylane/blob/927c4c67a1e1f9c79a5d7d4e89c496fac418657f/pennylane/_qubit_device.py#L614

This involves using `np.unique` to generate the basis state counts:

https://github.com/PennyLaneAI/pennylane/blob/927c4c67a1e1f9c79a5d

[2021-12-01 11:50] josh146 commented on #1959
This is confirmed from the JAX documentation for [`jnp.unique`](https://jax.readthedocs.io/en/latest/_autosummary/jax.numpy.unique.html):

[2021-12-01 12:07] josh146 commented on #1959
If we ignore all interfaces apart from JAX, the following change in `QubitDevice` fixes this:

[code]

However, work will need to be done in the `math` module to make this interface agnostic.

[2021-12-01 12:26] ankit27kh commented on #1959
Hey @josh146, have you looked at this too?

[2021-12-01 13:11] josh146 commented on #1959
@ankit27kh I have not, but I imagine this is because `eigvals` is a NumPy array and `indices` is a `DeviceArray`. This would likely be solved by doing
[code]

[2021-12-01 13:53] cvjjm opened #1961 "Speed up PennyLane load time"
### Feature details

I have noticed that PennyLane import time is growing longer and longer and did a quick profiling session following [this guide](https://pythondev.readthedocs.io/startup_time.html). The results look like this:

![image](https://user-images.githubusercontent.com/60615188/144246164-b782e7e9-fd12-4b70-ad6d-9a4ab147ab6d.png)

So, over 60% of the time is spent on importing qchem and

[2021-12-01 13:59] josh146 commented on #1961
Nice catch @cvjjm! Speeding up the import time would be a huge quality-of-life improvement.

Currently, we dynamically import `qchem` here, if the entry point exists:

https://github.com/PennyLaneAI/pennylane/blob/854d4b4c5045d69e3def921c8f6ca3519afac193/pennylane/__init__.py#L140-L142

but I'm sure we can somehow make this a 'lazy' import that is only loaded when first called.

[2021-12-01 14:27] josh146 commented on #1961
@cvjjm I'm suddenly a bit confused. I can't recreate this behaviour locally; when I `import pennylane as qml`, I don't have OpenFermion automatically imported.

It seems we are already taking care of this in the `qchem` package:

https://github.com/PennyLaneAI/pennylane/blob/9687c130b7c4f758238859f2fe0dbb811a07825a/qchem/pennylane_qchem/qchem/openfermion.py#L18-L24

Are you using an older version

[2021-12-01 15:34] cvjjm commented on #1961
Indeed!! Looks like I picked a bad conda env for this test. This was with qchem 15.1 :-) Well, happy that at least this lead you to looking into making the whole qchem import lazy :-)

[2021-12-01 15:34] #1961 closed

[2021-12-01 23:45] antalszava opened #1967 "[BUG] `qml.draw` fails for templates without a custom `adjoint` method (`expansion_strategy=None`)"
### Expected behavior

[code]
Executes correctly.

### Actual behavior

An error is raised:
[code]

### Additional information

The issue seems to arise with any template that doesn't define the `adjoint` method. The specific line in the traceback errors out because a `QuantumTape` object is being processed and it doesn't have a `name` attribute defined.

When `expansion_strategy=device` is set, d

[2021-12-02 00:04] antalszava opened #1968 "[BUG] Non-parametric operations require an updated `adjoint` method"
### Expected behavior

Non-parametric operations have an adjoint method definition such as:

[code]

This definition **always** returns the inverse of the original operation. However, it doesn't consider the case when the original operation was inverted already.

E.g.,
[code]
returns
[code]

### Actual behavior

Would expect to have

[code]

returned.

### Additional information

This type of chan

[2021-12-02 07:11] josh146 commented on #1967
Thanks for catching this @antalszava!

This makes me think that the solution here is to set up the circuit drawer to support drawing quantum tapes, as 'containers' of operations?

[2021-12-02 09:15] #1798 closed

[2021-12-02 12:46] dime10 opened #1972 "[BUG] `qml.gradients.param_shift` fails for QNode with multiple array arguments (autograd)"
### Expected behavior

Running `qml.gradients.param_shift` on a QNode should return the hybrid Jacobian of the QNode with respect to its trainable arguments.

### Actual behavior

An error is thrown. See the minimal working example and traceback below.

### Additional information

### Source of the Bug

I suspect it's due to shape of the classical Jacobian, or the way the classical and quantum Jac

[2021-12-02 16:27] antalszava commented on #1940
Hi @hapax, with the latest changes to the `master` branch, the inversion of the quantum phase estimation template should be working as originally expected.

One issue that we came across is related to using `qml.draw` with certain templates. For now, the `expansion_strategy='device'` keyword argument is required to draw the circuit without any issues:
[code]
[code]
We're looking into the related i

[2021-12-02 16:27] #1940 closed

[2021-12-02 16:54] dime10 commented on #1967
@josh146's proposal sounds good to me, as long as having tapes be part of a circuit is something we expect? Presumably we could also ensure that the "adjoint tape" is replaced with the operations within, unless this is indeed the desired behaviour.

[2021-12-02 22:13] Jaybsoni commented on #1905
[sc-11422]

[2021-12-03 10:54] dwierichs commented on #1972
Thanks @dime10 for the extensive bug report and tracing this back so precisely.
I agree that the output shape of `qml.jacobian` is unintuitive. @josh146 will have more to say about the reasons why the current behavious is the way it is, but I'll add my five cents on the fix discussion:

**Behaviour of example in other interfaces**
- In JAX, the default output will be only the Jacobian with respect

[2021-12-03 12:59] josh146 commented on #1972
I agree with the discussion above.

There is no good reason as to why it is like this! If I had to guess, I would say that in the early days we were writing QNodes like this:

[code]
That is, we were using a `circuit(*weights)` pattern. However, this does not scale!

Stepping back a bit, the most intuitive behaviour is such that the return type of `qml.jacobian` should be determined by the signatu

[2021-12-03 16:16] antalszava commented on #1967
I think that some form of  *case 1* would be great. *case 2* is nice as we see all details, but it might get bulky with deep circuits. *case 3* could correspond to `expansion_strategy='device'`, so in that case we should actually expand the tape (and operation) itself to draw it like that.

Right now, a template would be drawn as:
[code]
What if we followed *case 1* and drew the tape to look as if

[2021-12-03 16:29] antalszava commented on #1727
Closing this as the mentioned templates have now examples. Thank you @ankit27kh!

[2021-12-03 16:29] #1727 closed

[2021-12-03 16:33] antalszava commented on #1735
Closing this as all templates now have an example.

[2021-12-03 16:33] #1735 closed

[2021-12-03 16:48] MoritzWillmann commented on #1679
hey @tgag17, are you still working on this?

[2021-12-03 17:01] dime10 commented on #1967
The problem is that the information about the template is lost. Since the adjoint method is not defined for `QuantumPhaseEstimation`, the template is expanded into a tape and the adjoint is computed on the tape. All the drawer then sees is a tape with operations inside.
So while in this instance the tape came from an adjointed template, it could just as well come from the manual placement of a tap

[2021-12-06 04:18] antalszava opened #1983 "[BUG] Doc CI checks fail with `AttributeError: module 'mistune' has no attribute 'BlockGrammar'`"
### Expected behavior

The documentation CI checks continue to function correctly.

### Actual behavior

With the release of `mistune` 2.0.0 on Dec 5, [an error started coming up](https://github.com/PennyLaneAI/pennylane/runs/4425983264?check_suite_focus=true#step:4:928) for the documentation checks:
[code]

### Additional information

The error seems to be related to the new mistune release, see

[2021-12-06 04:39] #1529 closed

[2021-12-06 04:39] #1983 closed

[2021-12-06 13:03] albi3ro opened #1986 "Casting to complex in Amplitude Embedding"
If I do not batch the parameters in `qml.AmplitudeEmbedding`, the parameter is preprocessed to be `np.compex128`:

[code]

But if I add a batch dimension, an warning is raised:
[code]

and the resulting parameters are purely real:

[code]

I came across this problem when trying to clean warnings from the transform tests, so it is not currently breaking anything, but I would consider it unexpected

[2021-12-06 18:00] dime10 commented on #1986
I'm not sure why the values are converted to complex numbers at the end of the preprocessing. The warning occurs because each set of features is casted and assigned back to the 2D input array which in this case is a float array, so I guess this wouldn't happen for complex input values.

Thanks for reporting this, I will remove the warning :)

[2021-12-06 18:21] dwierichs opened #1991 "[BUG] Metric tensor with only some of multiple QNode argument does not work in Torch"
### Expected behavior

In the following QNode, we have two arguments:
[code]
The expected behaviour for the `metric_tensor` now would be a single array output with the metric tensor w.r.t `y`, namely
[code]

### Actual behavior

The computation raises an error (see below).
This is as far as I can tell because the classical Jacobian is computed for _all_ QNode in arguments in Torch. That is, withou

[2021-12-07 10:39] dime10 commented on #1967
#1973 removed the issue for the QuantumPhaseEstimation template.

[2021-12-07 11:34] #1986 closed

[2021-12-08 11:56] dwierichs opened #1997 "Provide a table of supported functionalities"
### Feature details

In general, the amount of configurations for QNodes is quite large, and due to the supported 5 interfaces, it is quite hard to estimate a priori which scenarios are supported, which can not be supported for mathematical/programmatical reasons and which are simply not _yet_ supported because they haven't been implemented.
I suggest to provide an overview of some sort to users i

[2021-12-08 12:07] josh146 commented on #1997
This is a _very_ good idea @dwierichs!

Hmm, this strikes me as a bug that `Hermitian` doesn't work with the JAX device

[2021-12-08 12:25] dwierichs commented on #1997
You mean with the explicit switch to the `JAXinterface`, right? Although it does if we don't explicitly set `default.qubit.jax` but `default.qubit`. Is that compatible with what you are saying (I don't have a very clear picture of all the branches for different scenarios yet :sweat_smile:) ?

[2021-12-08 12:47] josh146 commented on #1997
Ah, so what happens is that the QNode attempts to 'smartly' choose the device and differentiation method like so:

![image](https://user-images.githubusercontent.com/2959003/145210692-63cad35d-c2c5-4895-9993-d195079058c2.png)

So this is why changing `shots` and `diff_method` have an effect.

In my comment above though, it seems like the `default.qubit.jax` device somehow isn't working correctly w

[2021-12-08 13:09] #1953 closed

[2021-12-08 19:21] antalszava commented on #1419
Closing this as `default.tensor` is being removed as of v0.20.0.

[2021-12-08 19:21] #1419 closed

[2021-12-09 05:50] qlan3 commented on #207
Somehow, I still have this problem with PennyLane==0.19.1 and PennyLane-Lightning==0.19.0.

[2021-12-09 10:35] cvjjm opened #1999 "Consequences of removing DiagonalOperation"
I have two questions on this:

https://github.com/PennyLaneAI/pennylane/blob/927c4c67a1e1f9c79a5d7d4e89c496fac418657f/pennylane/ops/qubit/attributes.py#L169-L187

1) `IsingZZ` seems to be missing in this list, which maybe shows that the old model of observables being able to declare themselves that they are diagonal was superior over having a centralized list?

2) How can custom `Operation`s decla

[2021-12-09 16:00] Jaybsoni commented on #207
Hi @qlan3,

Sorry to hear that! Would you be able to fill out a GitHub issue about this or comment the code that is causing you trouble? Then we can have a look at it for you !

Cheers,

[2021-12-09 16:42] mariaschuld commented on #1999
Hey @cvjjm,

Some background: this design decision was part of a larger one, which sets the standard of only having info for the most basic properties built into the operator class. This was necessary because the operator subclasses were a patchwork of tags and attributes that specific applications use, and some applications got deleted in the meantime, leaving legacy code everywhere. Also, if a n

[2021-12-09 16:43] mariaschuld commented on #1999
Oh, if you'd like to make a PR adding IsingZZ to the attribute, feel free :) Else I'll put it somewhere on my todo list

[2021-12-09 23:51] qlan3 opened #2006 "[BUG] Logging does not work again with pennylane"
### Expected behavior

Similar to this [issue](https://github.com/PennyLaneAI/pennylane/issues/207), I was expecting writing logs into a log file by setting:
[code]

### Actual behavior

However, the logger still outputs everything to stdout. I guess that PennyLane may overwrite my logging setting.

### Additional information

_No response_

### Source code

[code]

### Tracebacks

_No response_

[2021-12-10 08:14] cvjjm commented on #1999
Fair point, then the old system of marking things as diagonal wasn't any better :-) I am just generally a bit allergic against global variables and keeping information that belong together in different files...

As you can see, I opened a draft PR, but after the innocent change I made the test fail and I didn't have time to look into why.

While browsing attributes.py, I also noticed that Rot was

[2021-12-10 12:58] dwierichs commented on #715
Update on this:
Given the custom wires policy that does not allow PL to infer a reasonable ordering of the wires, I only see the following two improvements to be made:
1. Tensor products with terms that act on the same (set of) wires should be multiplied independently from the ordering in the `Tensor` call or a multiplication via `tensor1 @ tensor2 @ ...`
This can easily be achieved by introducing

[2021-12-10 15:21] CatalinaAlbornoz commented on #2006
Hi @qlan3, thank you for reporting this bug! We will look into it.

[2021-12-10 19:27] CatalinaAlbornoz commented on #1999
Hi @cvjjm! I see that the PR is still a draft so I'm guessing that you'll look at the failing test later on right? If you get stuck with the failing test and need help you can let us know.

As for the Rot, can you elaborate on what might be wrong, or what you expected to see?

[2021-12-11 10:42] raghavven commented on #2006
I got the same error, tried the following code (when uncommented), it created the log file , but did not write anything to it nor it printed on the jupyter notebook. When commented and ran the same code, it displayed the debug messages below the cell. Need to print to the log file that is being created. Also, to note, the log file created only when I used 'force=True', not sure why though.

import

[2021-12-11 21:22] glassnotes opened #2014 "[BUG] Cannot decompose >3 two-qubit unitaries"
### Expected behavior

The `unitary_to_rot` transform should be able to decompose an arbitrary number of two-qubit `QubitUnitary` operations.

### Actual behavior

A `RecursionError` occurs when attempting to decompose more than 3 such operations.

### Additional information

Reproduces always.

### Source code

[code]

### Tracebacks

[code]

### System information

[code]

###

- [X] I have sear

[2021-12-11 21:30] glassnotes commented on #2014
Actually, I found this while working on #1894, and after some additional testing I think it might be limited to that branch... will close this and reopen if needed.

[2021-12-12 17:43] ankit27kh commented on #1959
@Jaybsoni looks like you have solved the probs bug in  #1998. Can you also take a look at this too?

My code ran after using this workaround.

[2021-12-13 05:13] josh146 commented on #2006
Thanks for reporting this @raghavven and @qlan3! I searched the PL codebase, and it seems that the only place PennyLane is importing the `logging` module is

https://github.com/PennyLaneAI/pennylane/blob/01d014093c73cd9459c33fe2bb935d0cef3d10c4/pennylane/configuration.py#L19-L25

I wonder if removing this fixes the issue.

One final question @raghavven and @qlan3: which order were you importing th

[2021-12-13 05:29] qlan3 commented on #2006
Thank you @josh146 ! I removed line 20 and 25, replace line 58 with a `print` function. Now my logger works well but I get a raised FileNotFoundError error with msg "No PennyLane configuration file found." However, this won't affect my usage for now.

I imported the logger and PennyLane from different files while PennyLane should be imported first.

[2021-12-13 05:38] josh146 commented on #2006
Thanks for checking this @qlan3! The issue must be with the `log.getLogger()` call in the `configuration.py` module then --- I think if called first, before your custom logger configuration, it must be overriding it.

[2021-12-13 05:47] qlan3 commented on #2006
Actually, I tried to reconfigure `logging.basicConfig` with my own configuration right before every call of `logger.info`. However, this didn't work either. I'm not familiar with package `logging`. Maybe this is the problem from `logging` not `PennyLane`?

[2021-12-13 06:15] mariaschuld commented on #715
@dwierichs I wonder if these planned changes will offer a more thorough way to solve the issue once and for all:

* We delete the `Tensor` class in favour of the global arithmetic operation of multiplication (which would be defined in `__matmul__`, so @ will be repurposed).
* When two operators are multiplied, a new operation is created that stores the two in `decomposition`. In other words, the n

[2021-12-13 06:20] mariaschuld commented on #715
I am quite happy to add an error for the overlapping wires case in the meantime though! But I am not sure what the expected behaviour actually is for `PauliX(1) @ PauliZ(0)` -> the position contradicts the intuitive chronological sorting of wires...

[2021-12-13 07:02] raghavven commented on #2006
Hi @josh146 . I import Pennylane at the very first cell. 'import logging' comes much later. Also, I tried the logging again and go the following thing written the log file created.  Below are the codes I used to create login file and the stuff it got written into it.

1) Logging code used
logging.basicConfig(level=logging.DEBUG, format = "{asctime} {levelname:<8} {message}",style='{',

[2021-12-13 07:32] cvjjm commented on #1999
Yes, to be honest I don't understand the error message in the failing test and it would probably take me quite some time why my innocent looking change causes this. If you have an idea what is going on any help is greatly appreciated.

With respect to `Rot`. As far as I understand the doc string of `composable_rotations`, all operations in this list are meant to be composable in the sense that `Ga

[2021-12-13 08:05] josh146 commented on #2006
Thanks @raghavven! In your case, does setting up your logger _prior_ to importing PennyLane temporarily fix the issue?

I don't have much experience with computational chemistry logging, but @soranjh might have some insights 🙂

[2021-12-13 08:15] josh146 commented on #1991
@dwierichs thanks for finding this! I'm just getting caught up after vacation, and I'm a little out of the loop, so just two quick questions:

- Would this be resolved similarly to how we resolve the problem for JAX?
- Would the simplest solution simply be to go straight to adding the `argnum` argument?

[2021-12-13 08:33] dwierichs commented on #715
Thanks for the pointer, @mariaschuld !
I guess you're right, the operator overhaul will likely cover this more elegantly!
Also, it indeed is not really clear what to do for `PauliX(1)@PauliZ(0)`, I agree.
I would be in favor of adding some sort of warning, because there isn't really a scenario in which the output for partially overlapping wires is how one would expect it to be :sweat_smile:

[2021-12-13 08:35] mariaschuld commented on #1999
Will take a look, thanks for opening the PR.

[2021-12-13 09:35] lironmo opened #2016 "failed to tun https://pennylane.ai/qml/demos/tutorial_kernels_module.html demo on ibmq_qasm_simulator"
### Expected behavior

the demo is up and running using ibmq_qasm_simulator backend

### Actual behavior

1. when running with ibmq_qasm_simulator it's created hundreds if not thousands of jobs of the same circuit and fail to reach the optimization stage and  stack at
[code]

2. when running with IBM  aer simulator it's stacked/very slow at compute_grads

### Additional information

https://pennyl

[2021-12-13 09:40] lironmo commented on #2016
https://github.com/Qiskit/qiskit/issues/1382

[2021-12-13 10:00] dwierichs commented on #1991
Hi @josh146
1. Which fix do you mean here? I think we don't have one for JAX (as the forward passes don't work without `argnum`...)
2. Yes, I think this would be the cleanest and simplest way to get a consistent behaviour. I don't see much reason to go for any other hotfix.

[2021-12-13 10:01] josh146 commented on #1991
Oh, I had a recollection that `classical_jacobian` was patched for JAX to only support non-trainable parameters? I could be wrong though!

[2021-12-13 10:25] raghavven commented on #2006
Thanks @josh146 . Updating the most recent tries.
In order to be clear with logging , I re ran the while thing . case 1) import pennylane first and then logging , case 2) importing logging (very first cell) first and pennylane. Logging level was, DEBUG ,both the cases created logging file and wrote things tot it. When I changed the level from DEBUG to INFO , didnt write anything to the log file. G

[2021-12-13 11:09] dwierichs commented on #1991
Ah, yes, kind of :D By now this is patched again and both,`trainable_only=True` and  `False` are supported again.
In any case I feel like adding `argnum` is the better way forward here because it avoids patchwork treatment of the metric tensor behaviour for different interfaces?
On the side, I noticed that the same bug exists for JAX.

[2021-12-13 12:21] lironmo commented on #2016
it seems that the function square_kernel_matrix sent N*(N+1) Quantum operations to compute the square_kernel_matrix, along with the 500 optimization step it's required 5000 jobs on IBM quantum experience.

it's best to do it with batch operation of possible - see https://github.com/Qiskit/qiskit/issues/1382

[2021-12-13 12:21] #2016 closed

[2021-12-13 13:11] josh146 commented on #1991
oof 😬

I am in agreement, lets prioritize `argnum`

[2021-12-13 14:11] #1972 closed

[2021-12-13 14:11] antalszava opened #2018 "[BUG] Classical jacobian is computed for non-trainable parameters too with Torch"
### Expected behavior

Using `qml.transforms.classical_jacobian` by passing `argnum=None` with Torch interface computes the classical jacobian wrt. the trainable parameters.
[code]

### Actual behavior

We get results wrt. all parameters (non-trainable included):
[code]

### Additional information

The same snippet using `autograd` computes the classical jacobian only wrt. trainable params:
[code]

[2021-12-13 14:14] josh146 commented on #2018
Note that this is related to #1991

[2021-12-13 15:34] dwierichs commented on #2018
This is a somewhat ridiculous bug:
In `classical_jacobian`, the QNode needs to be constructed within the `classical_preprocessing` function that is going to be differentiated, in order to create the tape and call `get_parameters`. However, when calling Torch's `jacobian` on that function,
all passed `args` are understood as trainable! This means that the tape, unlike when being created with the QN

[2021-12-13 19:32] soranjh commented on #2006
Hi @raghavven.

When you use pennylane-qchem, the Hartre-Fock calculations needed to build the molecular Hamiltonian are performed with OpenFermion-PySCF/PsiPy. In the case of PyScf, the molecular information is written in the hdf5 file and information such as molecular orbital coefficients can be directly extracted from that. See for example:

[code]

If you are using the differentiable Hartree-F

[2021-12-13 19:48] Jaybsoni commented on #1959
Hey @ankit27kh,
Thanks for pointing this out! If it seems to be an easy fix and you have it working locally then feel free to open a GitHub issue for it and create a pull request to make the change. It would a nice contribution to have.

That being said if you prefer, I can address it myself. Let me know what works for you. Thanks for pointing out all of these bugs! We really appreciate it, It hel

[2021-12-13 21:00] ankit27kh commented on #1959
Hey @Jaybsoni, this seemed like a hotfix. I'd prefer you do it to ensure no unintended consequences are there and everything works as expected.

[2021-12-14 06:52] Jaybsoni commented on #1959
For sure, I can take a look at it 👍🏼

[2021-12-14 08:56] #2018 closed

[2021-12-14 11:43] lironmo commented on #2016
I saw https://pennylane.readthedocs.io/en/stable/development/release_notes.html that you do support it,

internally, if multiple circuits are generated for simultaneous execution, they will be packaged into a single job for execution on the device. This can lead to significant performance improvement when executing the QNode on remote quantum hardware or simulator devices with parallelization capa

[2021-12-14 12:00] josh146 commented on #2016
@lironmo let us know how it goes! Note that you will also need to upgrade the Qiskit plugin:

[code]

[2021-12-14 20:25] ankit27kh opened #2029 "Provide a transform-friendly version of qml.map"
### Feature details

Trying to use `QNodeCollection` with a mitigated qnode results in the error:
[code]
It would be nice to have mitigated qnode support in `QNodeCollection` so that ideal, noisy and mitigated circuits can be run in a single line.

### Implementation

_No response_

### How important would you say this feature is?

1: Not important. Would be nice to have.

### Additional informati

[2021-12-15 10:41] raghavven commented on #2006
Thank you @soranjh . That really helped.

[2021-12-16 10:50] josh146 commented on #1256
@antalszava can we close this issue now?

[2021-12-16 10:50] josh146 commented on #1187
I think we can close this now that `tape.hash` is defined

[2021-12-16 10:50] #1187 closed

[2021-12-16 10:50] josh146 commented on #1140
This is now solved via #1933 🙂

[2021-12-16 10:50] #1140 closed

[2021-12-16 10:52] #1672 closed

[2021-12-16 15:27] antalszava commented on #1256
Yes :tada:

[2021-12-16 15:27] #1256 closed

[2021-12-16 16:55] jackaraz opened #2037 "Batched run for QML applications (TensorFlow)"
### Feature details

Hi, I'm trying to implement a possible batched run for QML applications following our chat with @josh146 in [here](https://discuss.pennylane.ai/t/tensorflow-pennylane-ibm-quantum/1559/3). I was testing my circuit with `@qml.batch_params` to see how this works. So by default it takes inputs (non-trainable) of `(n_batch, n_qubit)` and weights (trainable) `(n_weights, n_batch)` a

[2021-12-16 20:22] antalszava opened #2039 "Using `qml.sample` twice with `shots=(1,2)` raises an error"
[code]
Raises
`ValueError: could not broadcast input array from shape (2,2) into shape (2,)`

The edge case seems to come down to:
* Having `1` and `2` defined after each other in the shot vector;
* Having exactly two `qml.sample` directives in the `return` statement.

This issue is likely very low priority.

[2021-12-16 20:25] #1945 closed

[2021-12-16 22:07] Jaybsoni commented on #2006
@raghavven and @qlan3,

I just want to confirm if there are any action items here? From the above thread it seems you were able to get your loggers working by swapping the order of the imports and/or removing the line from `configuration.py` which called the logger in the first place?

Thanks again for pointing this out! Let me know if you are seeing any additional issues around this bug and I can

[2021-12-17 10:32] jackaraz opened #2040 "[Bug] Metric Tensor function only works with `interface="autograd"`"
Hi, I'm trying to adapt `qml.QNGOptimizer` to TensorFlow backend however I realised that `qml.metric_tensor` only works for `autograd` backend. As a demonstration below I used a simple circuit
[code]
In order to work with TensorFlow-Keras backend `metric_tensor_fn` needs to be able to take `tf.Tensor` and/or `tf.Variable`. However, I realised that when `tf.Tensor` type of object is given to `metri

[2021-12-17 13:49] josh146 commented on #2040
Hi @jackaraz, thanks for reporting this! This is a bug we discovered the other day, so good to have it in the issue tracker.

The issue arises because PennyLane uses TensorFlow's `tensorflow.python.eager.tape.should_record_backprop` function to determine trainable parameters. In TensorFlow versions <=2.3, this would properly track all `Variable` objects; however was changed in TensorFlow >=2.4 to

[2021-12-17 15:02] CatalinaAlbornoz commented on #2037
Hi @jackaraz, thank you for creating this issue!
It's not obvious whether or not this will mess up any internal calculations. The best way to know would be to [create a Pull Request](https://pennylane.readthedocs.io/en/stable/development/guide/pullrequests.html). This way when the CI checks are run we can see if something is wrong.

Please let me know if you have any trouble creating the PR.

[2021-12-17 21:14] #1876 closed

[2021-12-20 00:22] Ale0x78ButInBinary opened #2046 "[Security] Workflow docs.yml is using vulnerable action actions/checkout"
The workflow docs.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix
(2) u

[2021-12-21 11:18] jackaraz commented on #2040
Thanks @josh146 this indeed works (also tested with the latest TensorFlow 2.7.0, just so you know).

[2021-12-21 21:10] CatalinaAlbornoz commented on #2040
I'm glad to hear that this works for you @jackaraz ! Thank you for reporting the bug and the successful test.

[2021-12-21 22:13] lironmo opened #2054 "missing features from numpy"
### Feature details

some features are missing from pennylane numpy version

### Implementation

diag_indices_from
LinAlgError
inf
newaxis
einsum
log
pi
diag

### How important would you say this feature is?

1: Not important. Would be nice to have.

### Additional information

_No response_

[2021-12-22 01:15] dwierichs commented on #1125
I looked at this a bit, and a fix would be adding the `_real` function to the qubit devices analogously to `_imag`, which already is there. Then, we may replace L792 in `pennylane/devices/default_qubit.py`,
[code]
by
[code]
This does fix the issue in all frameworks.

However, the performance discussion is properly complex (pun not intended):
Even for standard NumPy, the performance comparison betw

[2021-12-22 06:32] josh146 commented on #1125
Thanks for the deep dive on this @dwierichs!

How much of a performance degradation do you notice?

This somewhat makes me lean towards making this change, as the overhead does not appear to be wrt qubit number

[2021-12-22 06:35] josh146 commented on #2054
Thanks @lironmo!

I was wondering if you could provide more details on the missing functions, including code examples? For example, quite a few of the ones listed do work via the PennyLane-wrapped numpy:

[code]

[2021-12-22 10:18] dwierichs opened #2056 "Remove the stacking behaviour of `qml.jacobian`"
### Feature details

It has been noted in a series of issues/PRs that the following part of `qml.jacobian` leads to unintuitive behaviour and inconsistent output (shapes):
[code]
The output format for a generic QNode, for which the `np.stack` does _not_ succeed is a tuple with each entry belonging to one QNode argument and having the shape `(*qnode_output_shape, *arg_shape)`
If the `np.stack` oper

[2021-12-22 10:25] dwierichs commented on #1125
It seems to not grow significantly with the system size and is on the order of tens of milliseconds. However it should be noted, that `analytic_probability` is used for all expectation values, so executed many many times in a full, say, optimization workflow.

It should be noted that this bug is an edge case, but I still think it would be good to fix it at the cost of the above small performance d

[2021-12-22 11:06] dwierichs opened #2058 "Implement Rotosolve for non-equidistant frequencies in the cost function"
### Feature details

This is the follow-up step of #1489 , leveraging [our paper](https://arxiv.org/abs/2107.12390) on general parameter-shift rules and cost function reconstructions to apply Rotosolve not only to functions with arbitrary integral frequency spectrum, but also to non-equidistant frequencies.

### Implementation

Essentially, cases have to be tracked but most of the work is done alr

[2021-12-22 11:36] lironmo commented on #2054
@josh146 - you are right only np.linalg.LinAlgError is missing.

it's a problem with IntelliSense.

![image](https://user-images.githubusercontent.com/37513762/147086943-eb00b494-005e-4d32-b387-335a21c51735.png)

[2021-12-22 11:36] #2054 closed

[2021-12-22 13:46] #1125 closed

[2021-12-22 15:15] lironmo commented on #2054
@josh146 do you have any idea why I can't use
np.diag_indices_from(K)
where K is the kernel returned from
qml.kernels.square_kernel_matrix

the type of K is autograd.numpy.numpy_boxes.ArrayBox

do I need to use different import?

this is the error:
Traceback (most recent call last):
  File "C:\Users\user\AppData\Local\JetBrains\Toolbox\apps\PyCharm-P\ch-0\213.5744.248\plugins\python\helpers\pydev\

[2021-12-22 16:49] josh146 commented on #2054
Hi @lironmo - PennyLane uses [Autograd](https://github.com/HIPS/autograd) as a backend for the differentiable version of NumPy that is provided, and unfortunately it looks like `np.diag_indices_from` is not supported by Autograd.

You could try either:

- opening an issue on the Autograd repository, or
- switching to a different autodiff framework (see [the PennyLane documentation](https://pennyla

[2021-12-23 00:55] dwierichs commented on #1732
@josh146, am I mistaken or did #1734 actually close this issue?

[2021-12-23 07:51] josh146 commented on #1732
Yes! good catch :) I think we forgot to close this.

[2021-12-23 07:51] #1732 closed

[2021-12-24 15:53] jackaraz opened #2068 "Parallelizing batched circuit execution on GPU with TensorFlow"
Hi, I'm trying to parallelize my quantum circuit execution on GPU using `tf.vectorized_map` following the thread on [this link](https://discuss.pennylane.ai/t/running-quantum-circuits-in-gpu/1568/8?u=jackaraz). This function allows the execution of each input to be parallelized on each GPU (or CPU) core and its seems to be working as expected if I just calculate the result of the circuit. But I re

[2022-01-02 16:13] dwierichs opened #2070 "[BUG] `gradient_transform`s do not work with single-gate circuits"
While fixing the `qml.jacobian` output signature by removing the stacking+transposing behaviour in #2056, I noticed that the `gradient_transform` QNode wrapper behaves a but funnily for a variety of input/output signatures:

1. _If there is only a single gate that is controlled by a QNode argument_ (or an element in an array-valued argument), `qml.math.squeeze` performs unwanted axis removals. Thi

[2022-01-03 14:38] josh146 commented on #2068
@jackaraz thanks for your patience (and happy new year!) -- the PennyLane dev team has been on break over the new year.

Regarding your issue here, it seems that parameter-shift + autograph might not be working correctly. I was wondering if you could let me know the output for the following script?

[code]

When running this locally, I get
[code]

which seems to match with `backprop` mode.

[2022-01-03 14:44] josh146 commented on #2068
Regarding `tf.vectorized_map`, this is something we would love to get working with PennyLane. Unfortunately, I can't seem to be able to get it running as per your example above, even in backprop mode:

[code]

gives me

[code]

[2022-01-03 15:05] jackaraz commented on #2068
Hi, @josh146 Happy new year!!! No worries at all I figured :)

**Response to the first message:**
I'm getting exactly the same results as you do so with parameter shift I get:
[code]

and similarly with backdrop I get `tf.Tensor([ 0.06276735 -0.05202713], shape=(2,), dtype=float64)`. However, with parameter shift I also get the following warnings;

[code]

**Response to the second message:**
That

[2022-01-04 06:28] josh146 commented on #2068
Thanks @jackaraz --- I can now replicate the issue below, with the following minimal example:

[code]

This gives output

[code]

rather than the expected

[code]

Strangely enough, the reason seems to be that custom gradient function https://github.com/PennyLaneAI/pennylane/blob/master/pennylane/interfaces/batch/tensorflow_autograph.py#L126-L128 is not being called by TensorFlow in vectorized mod

[2022-01-04 06:32] josh146 commented on #2068
I'm not yet 100% sure on the reason for why this is not working, but it could be multiple things:

- There could be a bug in the `tensorflow-autograph.py` interface

- There could be a point in the logical flow where non-TensorFlow control flow/functions are being used, which is breaking the computational graph

- Finally, it could be that [`tf.py_function`](https://www.tensorflow.org/api_docs/pyt

[2022-01-04 15:54] rmoyard commented on #2070
[sc-12765]

[2022-01-04 15:59] rmoyard commented on #2039
[sc-12767]

[2022-01-06 07:21] josh146 commented on #2070
@dwierichs should we update this with additional context from our chat yesterday?

[2022-01-06 13:41] dwierichs commented on #2070
Thanks for the reminder, @josh146 . I'll look into this in detail and then modify :)

[2022-01-06 13:45] DeanEmmettSmith opened #2073 "Instability of new hf.generate_fermionic_hamiltonian feature"
Hello Pennylane maintainers,

I am a great fan of your framework. I am working on a geometry optimization routine and am using your differentiable fermionic Hamiltonian constructor which came out a few weeks ago (https://arxiv.org/pdf/2111.09967.pdf).

I need to keep the code confidential. Please reach out to me in case there are any questions or interest in our activities.

Briefly, the output of

[2022-01-06 14:48] soranjh commented on #2073
Hi @DeanEmmettSmith and thanks for using the differentiable solver!

When you construct the fermionic Hamiltonian from the one- and two-body integrals, those integrals with a value smaller than the cutoff are neglected. This basically prevents having a large Hamiltonian with many negligible (close to zero) terms and simplifies computing the expectation value of the Hamiltonian in the subsequent ca

[2022-01-06 20:17] antalszava opened #2074 "Add batching support to the `BasisStatePreparation` template"
### Feature details

Following up on the issue description from https://github.com/PennyLaneAI/pennylane/issues/1745 we would like to add batch support to the [`BasisStatePreparation` template](https://pennylane.readthedocs.io/en/stable/code/api/pennylane.BasisStatePreparation.html?highlight=basisstatepreparation#pennylane.BasisStatePreparation).

This follows the addition in https://github.com/Pe

[2022-01-06 20:20] antalszava opened #2075 "Add batching support to the `RandomLayers` template"
### Feature details

Following up on the issue description from https://github.com/PennyLaneAI/pennylane/issues/1745 we would like to add batch support to the [`RandomLayers` template](https://pennylane.readthedocs.io/en/stable/code/api/pennylane.RandomLayers.html?highlight=randomlayers#pennylane.RandomLayers).

This follows the addition in https://github.com/PennyLaneAI/pennylane/pull/1710. That

[2022-01-07 00:13] antalszava commented on #2068
What if we "switched up the order" of `GradientTape` and `vectorized_map`? Could it work as a workaround?

I.e.,

1. We create a cost function that returns the loss and the gradient of a circuit;
2. We vectorize the cost function and provide a batch of inputs.

Rather than

1. We vectorize the circuit;
2. We get the gradient and the loss of the vectorized circuit by providing a batch of inputs.

[

[2022-01-07 07:33] josh146 commented on #2068
Thanks @antalszava! Playing around with your example, the following also seems to work, and might be more performant?

[code]

[2022-01-07 09:29] dwierichs opened #2077 "`"Reversible"` is suggested as valid `diff_method`, but isn't one"
*Expected behaviour:*
The error message when providing a `diff_method` to a QNode is correct.

*Actual behaviour:*
A choice for `diff_method` that is not available is suggested to be available by the error message:

[code]
returns a `QuantumFunctionError`:
[code]
where the `"reversible"` choice (second to last suggestion of the error message) is exactly what we tried to use.

I am not sure about t

[2022-01-07 09:46] dwierichs commented on #2070
Update: This issue is almost resolved by #2059 . In particular, the transposed axis ordering and the conversion to list/tuple is taken care of.

The only remaining aspect of this issue hence is the error raised for single-gate circuits or QNode arguments with an axis of size 1 due to the usage of `qml.math.squeeze`.

[2022-01-07 09:48] josh146 commented on #2070
😍

[2022-01-07 11:18] #1336 closed

[2022-01-07 16:00] #2077 closed

[2022-01-09 12:44] dwierichs commented on #1843
This is taken care of in#1904 byimplementing `trainable_params` as a list.

[2022-01-09 12:44] #1843 closed

[2022-01-10 22:18] antalszava commented on #2068
Would we still require post-processing by using `tf.reduce_sum`?

---

As for the original issue, I'd suspect that the root cause comes down to the capabilities (or rather the lack thereof) of `tf.vectorized_map` in TensorFlow:

from [its page](https://www.tensorflow.org/api_docs/python/tf/vectorized_map).

1. When changing to `tf.map_fn`, that is an alternative mentioned for `tf.vectorized_map`,

[2022-01-10 22:33] Jaybsoni commented on #2006
So as a closing comment I would like summarize:

When using logging and PennyLane, one should make sure to import and setup logging first BEFORE importing PL to ensure the logger settings are not ignored.

[code]

@josh146, after looking into this, it seems that the logging we currently do is not used anywhere else in the codebase. In fact, we don't log to file at all. It might be worth removing c

[2022-01-10 22:33] #2006 closed

[2022-01-11 06:52] josh146 commented on #2068
Most likely, I just wanted to simplify the minimal working example to isolate just the QNode + `tf.vectorized_map`, since the post-processing could differ depending on the circumstances 🙂

Nice 🕵️ work! Since the answer is not so clear in the TF documentation, perhaps it might be worth opening an issue on the TF GitHub page?

[2022-01-11 11:36] jackaraz commented on #2068
Hi @antalszava & @josh146, thanks a lot for all the answers.

Yes definitely, `vectorized_map` is just a mapping of the first axis of the sample, let's say the input shape is `(Nt, nqubit)`, so the shape of the output will be `(Nt, outdim)` where `Nt` is number of examples that you provide. Note that with the gradient included in the `vectorized_map` it might be important to declare the axis to ap

[2022-01-11 16:42] antalszava commented on #2068
Hi @jackaraz, thanks :slightly_smiling_face:

Josh managed to recreate our use case fully in TensorFlow and we've opened an issue: https://github.com/tensorflow/tensorflow/issues/53726

As this is not an issue directly related to PennyLane and there are workarounds to this, I'll lift the bug label from here.

[2022-01-11 17:36] dwierichs commented on #2070
#2080 implemented this.

[2022-01-11 17:36] #2070 closed

[2022-01-11 19:43] dwierichs opened #2083 "Add support for JAX and TensorFlow in `RotosolveOptimizer`"
### Feature details

Currently, `RotosolveOptimizer` is not designed to work with JAX or TensorFlow yet.
In particular, marking trainable QNode arguments does not work in a stable manner yet.

### Implementation

_No response_

### How important would you say this feature is?

2: Somewhat important. Needed this quarter.

### Additional information

_No response_

[2022-01-12 08:52] #2058 closed

[2022-01-12 09:36] #1967 closed

[2022-01-12 09:42] dime10 commented on #1230
This was fixed in https://github.com/PennyLaneAI/pennylane/pull/1994

[2022-01-12 09:42] #1230 closed

[2022-01-12 18:20] dime10 commented on #1429
PySCF 2.0 has since been released, but it seems we can't use it yet (see https://github.com/PennyLaneAI/pennylane/pull/1827).

Since the bug itself has been fixed, this issue can be closed. I will open a new issue about adding support for PySCF 2.0 and H5Py 3.3.0.

[2022-01-12 18:20] #1429 closed

[2022-01-12 18:31] dime10 opened #2086 "QChem: Add support for PySCF 2.0 and newer versions of H5Py"
### Feature details

PennyLane does not yet support the new version (2.0) of PySCF (see https://github.com/PennyLaneAI/pennylane/pull/1827). Investigations into whether it is possible to add support for it in PennyLane can be tracked here.

PennyLane has also stopped supporting newer versions of H5Py since the release of version 3.3.0, since they are incompatible with the current version of PySCF

[2022-01-12 18:35] antalszava commented on #504
The action item here would be to investigate why `parallel=False` doesn't fail. This would also likely move us closer to understanding if there was a way around breaking the TF gradient tape when `parallel=True`.

QNodeCollections have been considered for refactoring and this issue has not received attention since its opening. Therefore it seems fit to add the `won't fix` label here.

[2022-01-13 12:25] josh146 commented on #504
@antalszava I wonder if this now works, as since the time this issue was opened, we completely have replaced the internal interface logic 🤔

[2022-01-13 15:15] antalszava commented on #504
I believe @dime10 gave this a go and mentioned that the behaviour still exists.

[2022-01-13 16:11] josh146 commented on #504
My dream of closing issues because they have magically become fixed by the passage of time remains unfulfilled 😢

Yes, I would add `won't fix` here, since we are likely going to remove this built-in Dask integration, and instead show examples of how to set up Dask for parallelization explicitly.

[2022-01-13 17:57] dime10 commented on #937
I've had a look at this issue and it seems TensorFlow still does not support broadcasting more than 5 dimensions, and I'm not sure they have plans to change this.

Interestingly, using `tape.jacobian` instead of `tape.gradient` seems to circumvent this problem (apparently due to the vectorization in the jacobian function, enabled by default via `experimental_use_pfor=True`). So the Jacobian could

[2022-01-14 16:19] #2056 closed

[2022-01-14 20:28] soranjh opened #2090 "[BUG] building a molecular Hamiltonian with Psi4 fails"
### Expected behavior

The following code is expected to create a PennyLane Hamiltonian using OpenFermion-Psi4.

[code]

### Actual behavior

However, it fails with a `FileNotFoundError` error:

`FileNotFoundError: [Errno 2] Unable to open file (unable to open file: name = './molecule_psi4_sto-3g.hdf5', errno = 2, error message = 'No such file or directory', flags = 0, o_flags = 0)`

The error occ

[2022-01-16 21:52] glassnotes opened #2092 "[BUG] Inconsistencies when measuring observables on same wire"
### Expected behavior

Based on the information in the [measurement quickstart guide](https://pennylane.readthedocs.io/en/latest/introduction/measurements.html), it should not be possible to return multiple measurements where the same wire is measured more than once (if I'm not mistaken, doing so used to return an error).

### Actual behavior

Returning multiple expectation values on the same wire

[2022-01-16 22:59] eddddddy commented on #2074
Hello, I submitted a pull request for this issue. Let me know if there's anything I missed.

[2022-01-17 05:54] josh146 commented on #2092
Thanks for reporting this @glassnotes! What seems to be happening is that the QNode is appending the diagonalizing gates for _all_ observables.

This is fine when the observables commute, but will result in incorrect results otherwise.

We should do two things:

- Short term: raise an error if the two observables do not commute

- Long term: Some devices _do_ support non-commuting observables (suc

[2022-01-17 11:42] #1820 closed

[2022-01-17 15:15] #1752 closed

[2022-01-17 22:46] dwierichs commented on #1865
This is actually fixed due to `tensordot` being introduced manually in #1725 :)
In my opinion, we should add tests for `tensordot`, though, which currently only exist for Torch.
Also, automatically coercing the input tensors might be nice, to allow the following to work:
[code]

[2022-01-18 07:43] josh146 commented on #1865
Now that #1820 has been merged, we can also use that :D

[2022-01-18 09:00] cvjjm opened #2095 "[BUG] Inconsitency in qnode results between PennyLane versions."
### Expected behavior

The expected behavior is displayed by all PennyLane versions between 0.15 and 0.18 but the asserts fail with 0.19.0, 0.19.1, and 0.20.0 as indicated in the comments. This has been discussed verbally with  @josh146  and @mariaschuld .

### Actual behavior

The behavior of v0.15 to 0.18.

### Additional information

_No response_

### Source code

[code]

### Tracebacks

_No r

[2022-01-18 10:29] josh146 commented on #2095
Thanks @cvjjm! I've tracked this down to an errant `if` condition, that has been fixed in #2097

[2022-01-18 10:30] resting-dove opened #2098 "[BUG] batch_params example not running with torch interface"
### Expected behavior

[https://pennylane.readthedocs.io/en/stable/code/api/pennylane.batch_params.html](url) gives an example for the use of `qml.batch_params` to use batched inputs for QNodes. The website warns that not everything has been updated to support this feature and asks for a Githun Issue, when running into such a problem.

This issue is potentially already covered in #2037, but encoun

[2022-01-18 10:37] josh146 commented on #2098
Thanks for reporting this @resting-dove! This is super useful info to have to help improve this feature.

Currently, the default behaviour of `@batch_params` is to batch all parameters that are _trainable_. So if you explicitly mark both Torch tensors as trainable,

[code]

then this will work. However, if one is not trainable and the other is, issues will occur:

[code]

I believe this is the sam

[2022-01-18 10:41] resting-dove commented on #2098
Thanks for the quick reply @josh146!

[2022-01-18 10:41] #2098 closed

[2022-01-18 10:55] cvjjm opened #2099 "Problem caused by .num_params no longer being a static property"
### Feature details

In 0.20.0 `.num_params` is no longer a static property but a regular instance property and this breaks a lot of my code.

For instance without this information being available from the class it is no loner possible to auto generate parameter tensors of appropriate size.

It is understandable that for some gates the number of parameters depends on the instance, but for the vast

[2022-01-18 11:01] cvjjm commented on #2095
I can confirm that with #2097 the above example works again!

[2022-01-18 11:28] josh146 commented on #2092
@glassnotes this seems to be caused by the same issue as #2095 🙂 The bugfix for that issue, #2097, results in the correct error message being raised again:

[code]

[2022-01-18 12:34] cvjjm commented on #2099
A concrete example consider `SWAP`. This may be relevant for @mariaschuld 's work on refactoring the Operation class.

[2022-01-18 12:56] mariaschuld commented on #2099
I think we could do this for backwards compatibility: we could just add this as an optional attribute that stores the value which gets checked when overwriting the instance property.

The important part is that it is not a requirement any more, so no code should expect this attribute to be there.

[2022-01-18 13:04] cvjjm commented on #2099
The information is still there and it is also still stored in the code of the Operator class, but it is currently no longer accessible unless one has an instance. But one cannot create an instance if one doesn't know how many parameters an Operation has...

[2022-01-18 13:30] cvjjm opened #2100 "[BUG] Rotosolve no longer solves simple problem"
### Expected behavior

Expected behavior is observed until 0.20.0:
[code]

### Actual behavior

In master the optimizer no longer works:
[code]

### Additional information

_No response_

### Source code

[code]

### Tracebacks

_No response_

### System information

[code]

### Existing GitHub issues

- [X] I have searched existing GitHub issues to make sure the issue does not already exist.

[2022-01-18 13:59] mariaschuld commented on #2099
Yes. I still want to emphasize that one should move away from patterns that create operator instances automatically, unless you are in a very specific setting. Since the operator library grew so much, the signatures and requirements start to diverge more and more, and we do not want to encourage this...

[2022-01-18 14:07] cvjjm commented on #2099
I don't want to create Operator instances automatically I want to continue to be able to write code that lays out circuits composed of gates specified by the user and for that the Operator class needs to keep providing some basic information about the gates.

Having to create and then maintain a giant lookup table just so my code knows that SWAP has zero parameters and RY has one just cannot be th

[2022-01-18 14:25] mariaschuld commented on #2099
Hmm, I am still not sure I understand your use case. Surely when I use a gate, I have to look up the signature to see what it expects? Many many gates do not just take parameters, but the signatures are really diverse by now. So inferring what args and kwargs to create it with is dangerous... but once I have to know the signature, I can also look up the number of parameters...

Another issue is th

[2022-01-18 14:27] josh146 commented on #2100
Thanks @cvjjm! This is a very good catch.

[2022-01-18 14:38] dwierichs commented on #2100
Hi @cvjjm! `Rotosolve` is trying to mimic the training behaviour of gradient-based optimizers, regarding the UI. Therefore it will only train parameters that have `requires_grad` set to `True`. Looks like we definitely need to up the communication on this one! :)

I'm happy to receive any other feedback you might have on the new Rotosolve implementation (a second generalization was merged in but i

[2022-01-18 14:43] cvjjm commented on #2100
That makes sense! Maybe it should then throw an error if it is asked to train a qnode without trainable parameters?

[2022-01-18 15:04] cvjjm commented on #2099
I am insisting on this because no loner having this property available breaks various code I have in a non-fixable way.

As a matter of fact I could programmatically deduce the number of parameter from the docstring of each class... But having to do that would be absurd :-)

The number of parameters is kept in the code of each Operation. And it clearly is a property that is independent of the inst

[2022-01-18 15:26] josh146 commented on #2099
I admit I know less of the nuances here than @mariaschuld, but perhaps we could go with a two-pronged approached?

That is, if an operation has a constant number of parameters, we use a class attribute directly:

[code]

but, if an operation has a dynamic number of parameters depending on other hyperparameters (such as wires), then we use the property

[code]

[2022-01-18 15:47] cvjjm commented on #2099
Yes, this is exactly what I am proposing. In fact I think currently all Operations in PL are of the first kind.

[2022-01-18 16:26] #2092 closed

[2022-01-18 16:26] #2095 closed

[2022-01-18 17:09] mariaschuld commented on #2099
Again, I am not against re-adding the class attribute to some gates for backwards compatibility. For interest, the `num_wires` is only left as a class attribute because the `AnyWires` enum circumvents some of the issues we had with `num_params`, so there is no urgency to tidy this up.

But note that we

a) will not guarantee that all operators define `num_params`, and
b) do not guarantee that `num

[2022-01-18 17:49] antalszava opened #2105 "[BUG] Error for user-defined device `dtype` with the TF interface"
### Expected behavior

No error arising related to `dtype` mismatch when setting custom `dtype`s on the device and using TF.

### Actual behavior

The following error is raised with a QNode that takes floats as input and a TF loss:
[code]

### Additional information

There might be a conversion happening in the backward pass (potentially in the custom gradient implementation). When omitting the us

[2022-01-19 07:10] josh146 commented on #2105
Thanks @yitchen-tim for the details! Although I find it very odd that it is dependent on the size of the features 🤔

@antalszava is it like the case that there are more `float64` assumptions hardcoded in somewhere?

[2022-01-19 07:34] cvjjm commented on #2099
Yes, that makes perfect sense and it is perfectly ok if code that needs to know `num_params` before instantiating an Operation does not work with Operations that either do or cannot declare that property on the class level or whose number of positional parameters differ from `num_parame`. It just pained me to see the information still in the source code but inaccessible to anyone who didn't alread

[2022-01-19 11:11] #2100 closed

[2022-01-19 13:44] mariaschuld commented on #1999
@glassnotes Sorry to rope you in, but I wonder if you can quickly comment on the presence of `Rot` in `composable_rotations`?  (See cvjjm's last post)

[2022-01-19 15:12] #1865 closed

[2022-01-19 15:30] cvjjm commented on #1999
I consider this closed by #2113

[2022-01-19 15:30] #1999 closed

[2022-01-19 16:22] cvjjm commented on #2099
The PR is now "ready" all tests pass, just the coverage has decreased by 0.01%...

[2022-01-19 16:43] cvjjm commented on #1999
If all apps using this list are smart enough to do the "alternative accumulation" for Rot than this is of course great!

[2022-01-19 17:45] josh146 opened #2115 "Add a swap-based router transform"
### Feature details

We should add a [transform](https://pennylane.readthedocs.io/en/latest/code/api/pennylane.qfunc_transform.html) to PennyLane that takes as input:

- A quantum tape (circuit)
- A hardware connectivity graph

and compiles the tape to ensure that it can be executed on hardware. Roughly, this will involve:

- loops through the tape to find 2 wire gates
- checks if those wires are

[2022-01-20 09:34] mariaschuld commented on #1999
I added some of your explanation in the docstring @glassnotes, thanks so much.

[2022-01-20 15:04] mariaschuld commented on #2099
Will merge asap and close this issue!

[2022-01-20 15:04] #2099 closed

[2022-01-20 21:05] soranjh commented on #2090
Closing after the fix: https://github.com/PennyLaneAI/pennylane/pull/2108

[2022-01-20 21:05] #2090 closed

[2022-01-21 22:01] gitfans5 opened #2119 "[BUG]"
### Expected behavior

import successfully

### Actual behavior

ModuleNotFoundError: No module named 'pennylane.qnodes'

### Additional information

_No response_

### Source code

_No response_

### Tracebacks

_No response_

### System information

[code]

### Existing GitHub issues

- [X] I have searched existing GitHub issues to make sure the issue does not already exist.

[2022-01-21 23:05] antalszava commented on #2119
Hi @gitfans5, thanks for the report! Could you share which version of PennyLane you've experienced the issue with? If you're using `pip`, you could query the version for example by checking the output of `pip freeze`.

[2022-01-21 23:34] gitfans5 commented on #2119
Thank you for your message. I am using PennyLane==0.20.0. How to fix "ModuleNotFoundError: No module named 'pennylane.qnodes'"? Thanks a lot.

[2022-01-24 15:19] CatalinaAlbornoz commented on #2119
Hi @gitfans5 I think the problem is you have a typo. I'm guessing you want to use `pennylane.qnode` not `pennylane.qnodes`.

Please let me know if this solves your issue!

[2022-01-24 15:55] dime10 commented on #2073
Hi @DeanEmmettSmith, hopefully your issue has been resolved. If you have any more problems in regards to this don't hesitate to comment here with additional information and we can reopen the issue.

[2022-01-24 15:55] #2073 closed

[2022-01-24 17:39] albi3ro opened #2122 "[BUG] long wire labels and mpl circuit drawer"
### Expected behavior

When having a longer wire label, the circuit drawer should move the label to the left, so we don't get an intersection between the text and the wire.

This is probably a fix-later bug, and I will tackle it at some point.

### Actual behavior

![image](https://user-images.githubusercontent.com/6364575/150835081-29b41b96-2246-4778-ae05-51575f33f859.png)

### Additional informa

[2022-01-24 18:57] antalszava commented on #2122
Thanks! Could applying a line break be an option?

[2022-01-25 04:11] #2105 closed

[2022-01-25 09:14] DeanEmmettSmith commented on #2073
Hello David,

I have been busy the last weeks.

I am aware of the numerical instability issues of solving the Roothan-Hall/Pople-Nesbet equations. These are nonlinear eigenvalue problems.

The point I am trying to make is that setting a fermionic Hamiltonian with molecular integral cutoff values set to a value >= 10^-4 to yield a stable number of terms for the fermionic Hamiltonian.

I have not ha

[2022-01-25 12:13] dime10 opened #2123 "Autograd: Support for higher-order differentiation with respect to multiple arguments is broken"
### Expected behavior

Previously, one was able to compute higher-order derivatives of a QNode with respect to multiple arguments (using the default Autograd interface) like so:
[code]

### Actual behavior

With the change in behaviour of `qml.jacobian` introduced in #2059, this is no longer possible and raises a `TypeError: 'ArrayVSpace' object cannot be interpreted as an integer` instead. The us

[2022-01-25 23:23] antalszava commented on #1481
@albi3ro should this be closed with #2114 merged?

[2022-01-26 01:40] antalszava commented on #1459
Closing this with https://github.com/PennyLaneAI/pennylane/pull/2116 merged. The original example works well. :tada:

[2022-01-26 01:40] #1459 closed

[2022-01-26 15:40] antalszava opened #2127 "Create interface related custom exceptions (e.g., `GradientUnsupportedError`)"
### Feature details

The #2110 PR is adding a custom `InterfaceUnsupportedError` that is being used with features unsupported by the JAX interface.

It would come as a next step to:
* Generalize the use of this exception to the other interfaces too;
* Consider introducing another exception e.g., `GradientUnsupportedError` for a generalized error to gradient logic. Potentially this could be a rewor

[2022-01-26 16:06] albi3ro commented on #2122
Also an option. I'll have to play around with it to figure out what looks the best.

[2022-01-26 19:24] antalszava commented on #2039
Potentially related: other shot-vector values seem to output results with unintuitive shapes.

Getting an array of samples for each entry in the shot vector would be expected
[code]
[code]
[code]
[code]
The originally submitted issue seems to be more general and can be reproduced for most shot vectors that contain distinct number of copies and don't contain `1` in the shot vector, e.g., `shots=(2,

[2022-01-26 19:56] antalszava opened #2129 "[BUG] Creating a ragged array output in `QubitDevice` errors with `default.qubit.jax`"
### Expected behavior

*(Note: this is a specific case of ragged output creation with `QubitDevice`. It is meant to serve as an example that we have on file for our future considerations.)*

A QNode returning multiple probability measurements with varying number of wires executes in some form (note that we're not applying the JAX interface, but using the backprop device):
[code]

### Actual behavi

[2022-01-26 20:25] antalszava opened #2130 "[BUG] Multiple `qml.probs` with varying num of wires errors when using a shot vector"
### Expected behavior

The following example executes with either the `autograd`, `tf` or `torch` interface:
[code]

### Actual behavior

An error is raised when stacking the results in the batch execution pipeline:
[code]

### Additional information

The cause for this issue is very similar to https://github.com/PennyLaneAI/pennylane/issues/2129, it's mainly just another use case and becomes rele

[2022-01-27 16:53] soranjh commented on #2073
Hi @DeanEmmettSmith,

Thank you very much again for using PennyLane. Your feedback is definitely helpful for us. Yes, it would be great if you could please document the issue more elaborately.

[2022-01-27 17:16] DeanEmmettSmith commented on #2073
Sure, I am comparing the Pennylane Fermionic transformation to that of Qiskit Nature. I may be doing some more intense troubleshooting the next days.

From: soranjh ***@***.***>
Sent: Donnerstag, 27. Januar 2022 17:54
To: PennyLaneAI/pennylane ***@***.***>
Cc: Smith, Dean Emmett ***@***.***>; Mention ***@***.***>
Subject: [External] Re: [PennyLaneAI/pennylane] Instability of new hf.generate_fermio

[2022-01-27 17:28] antalszava opened #2132 "[BUG] Update validation check in `qml.Hermitian` to support multiple interfaces"
### Expected behavior

The following executes correctly:
[code]

### Actual behavior

`AttributeError: 'tensorflow.python.framework.ops.EagerTensor' object has no attribute 'conj'` is raised due to the

[code]
validation check.

### Additional information

To resolve the issue, it may be good to consider if we could support `conj` and/or `T` in `qml.math` for multiple interfaces.

On top of that,

[2022-01-27 20:15] soranjh commented on #2073
Thanks @DeanEmmettSmith. Will be great to see the details.

[2022-02-01 09:41] cvjjm opened #2146 "[BUG] Device gradient no longer called despite diff_method='device'"
### Expected behavior

Expected behavior is that an exception is thrown in the code below.

### Actual behavior

Actual behavior on master (commit b820a14369ad7785fb12577ba05cf6e54806691e) is that the exception is not thrown, which shows that the device gradient is not called.

### Additional information

My feeling is that this may be caused by PennyLane swapping out my device for some other qubi

[2022-02-01 10:05] josh146 commented on #2146
Hi @cvjjm, this is super odd, but if I run the above code, I get the exception, as expected:

[code]

The traceback that I get is:

[code]

[2022-02-01 10:06] josh146 commented on #2146
This is on the most recent version of PL `master` branch, commit 92e572f0cf8a0ba950ddd0e9440abfc1d9943c27

[2022-02-01 10:08] josh146 commented on #2146
I see that the circuit in the above code has no operations, should there be some here?

[2022-02-01 10:38] cvjjm commented on #2146
It turns out the problem resulted from standard numpy being loaded in the context of the unit test that I showed you earlier and not pennylane.numpy. This was not obvious because of the way the test code was structured. You minimal example does work fine, so this is not a bug in PL, but in our code. Sorry for wasting your time...

[2022-02-01 10:38] #2146 closed

[2022-02-01 11:10] josh146 commented on #2146
I can verify that swapping to vanilla numpy results in

[code]

and now I know the cause of this issue 🙂 We have recently in master stopped automatically casting all QNode inputs to `pennylane.numpy` arrays (see #2116). This 'hotfix' was originally to allow Python floats to remain trainable, but had too many buggy side effects that we determined it was important to remove, and not attempt to cast

[2022-02-01 12:17] cvjjm opened #2147 "[BUG] QubitStateVector is decomposed even on devices that support it"
### Expected behavior

QubitStateVector should not be decomposed and the output should be:
[code]
This happens up to 0.19.1

### Actual behavior

QubitStateVector is decomposed
[code]
This happens in 0.20.0 an beyond.

### Additional information

_No response_

### Source code

[code]

### Tracebacks

_No response_

### System information

[code]

### Existing GitHub issues

- [X] I have searched

[2022-02-01 12:26] josh146 commented on #2147
Thanks @cvjjm, this is a good catch. I know the cause here; in v0.20 we modified expansion behaviour such that:

This allows us to make `QubitStateVector` differentiable, even on hardware. A current work around is to set the parameter of the `QubitStateVector` to be non-trainable:

[code]

which then avoids the decomposition:
[code]

I'll need to think a bit more about this one, since this is expe

[2022-02-01 12:35] cvjjm commented on #2147
Hardware devices cannot support `QubitStateVector` so that there I think expansion is expected. Is decomposition needed for differentiability even on simulator devices? If not, then the decomposition could continue happening only on devices that do not support `QubitStateVector ` natively?

[2022-02-01 12:39] cvjjm commented on #2147
To add some context: I cought this because I have a device that supports `QubitStateVector ` but does not support some of the gates resulting from the Mottonen scheme :-)

[2022-02-01 13:25] josh146 commented on #2147
A good question, because this is where the subtlety is :)

- On a simulator with `diff_method="backprop"`: this isn't required for differentiating `QubitStateVector`, all classical processing is end-to-end differentiable by nature.

- On a simulator with `diff_method="parameter-shift"`: this expansion _is_ required, because we don't have a parameter-shift rule for state preparation (but we _do_ ha

[2022-02-01 14:11] cvjjm commented on #2147
Yes. Thanks!

[2022-02-01 14:13] cvjjm commented on #2147
Maybe the decomposition can then only be done when a gradient is quested? I.e. the tape could try to be smart enough to decompose only in case a user actually takes a derivative with respect to the parameters feeding into the `QubitStateVector `?

[2022-02-01 17:34] cvjjm opened #2150 "Warn/raise in case shot noise and caching are enabled at the same time?"
### Feature details

When `default.qubit` with `shots != None` but also `cache=1` is used then the same (noisy) result is returned again and again when a `QNode` is called. It is hard to imagine a case where this is what a user wants.

Either they want a `QNode` to return a noisy result that is different each time it is called (they can get this by setting `cache=0`), or they want only a single no

[2022-02-01 17:43] josh146 commented on #2150
Thanks for reporting this @cvjjm!

I'm curious if this is fixed in the new caching system that is provided by the QNode.
This new caching system is designed to be device independent, and allows creating your own cache object (it can be simply a dictionary, or a `cachetools.LRUCache`, for example), and pass it to QNodes you want to use it in:

[code]

The plan is to make this the new user-facing ca

[2022-02-01 20:13] antalszava opened #2151 "Explore using the parameter-shift rule on passthru devices with finite shots"
### Feature details

The new batch execution pipeline introduced the `max_diff` option. This option is used to determine the maximum order of differentiation that is to be requested when computing derivatives of QNodes.

The use of `max_diff=2` can be two-fold because:

1. It enables the gradient to be computed using the autodifferentiation framework --- the tensors are never unwrapped.
2. It also

[2022-02-02 08:37] cvjjm commented on #2147
I see. But couldn't the decomposition be done in the jacobian method of the respective tapes in a way that works for each interface?

[2022-02-02 09:42] josh146 commented on #2147
Yeah, that was my idea at the time. It ended up failing because if you call the gradient decompositions _inside_ the gradient logic, you can enter a case where classical processing occurs, which can't be tracked by the autodiff framework; so you end up with the incorrect gradients being returned.

E.g., if you have a decomposition that looks like

[code]

--- that is, a quantum gate is decomposed

[2022-02-02 09:49] #2147 closed

[2022-02-02 10:39] cvjjm commented on #2150
This is a very nice UI. Caching on Qnode level is a very good idea now that results are cached ad not states (for the latter it used to be natural to do it on a device level).

The new cache shows the same behavior.
[code]
Output:
[code]
 This is not a bid deal but I think it can surprise users and disallowing the combination of shot noise and caching or raising a warning could be nice.

[2022-02-02 11:20] josh146 commented on #2150
I agree, this is a good idea!

[2022-02-02 12:40] cvjjm opened #2152 "[BUG] Device jacobian is called without the user requesting a jacobian"
### Expected behavior

In the sample program below the device jacobian should not be called as not derivative is calculated and the output `1.0
` should be printed. This was the behavior until 0.19.1.

### Actual behavior

The device jacobian is called, which can be an expensive operation, and here is made to raise an exception. This is the behavior from 0.20 onwards.

### Additional information

[2022-02-02 12:54] josh146 commented on #2152
Hi @cvjjm --- apologies, this is a breaking gradient logic change that was made to v0.20 due to our integration with `lightning.qubit`, that should have gone through a deprecation cycle.

In previous version of PennyLane, all calls to `jacobian` only occurred on the backwards pass, as you note. With the gradient logic improvements in v0.20, we now support two modes; `mode="backward"` (accumulate g

[2022-02-02 13:26] cvjjm commented on #2152
That sounds very good!

[2022-02-02 13:31] cvjjm commented on #2152
Actually, for non-passthrough devices it seems unlikely that "forward" could ever be advantageous over "backward". Maybe that could be used to decide on the default?

[2022-02-02 13:36] cvjjm commented on #2152
Actually also the docstring is a bit misleading imho:

As the example above shows this also applies when the user is not querying the device for a gradient :-)

[2022-02-02 15:32] josh146 commented on #2152
For PennyLane lightning, I believe this is advantageous simply because we use the adjoint gradient method. So if we send a batch of tapes for execution, it requires less memory --- with only a slight computational overhead --- to extract `(result, gradient)` as each tape is being executed, as compared to caching each statevector for a later backwards pass.

But, you may be right --- the adjoint me

[2022-02-02 17:54] dime10 opened #2155 "Directly creating a tape does not initialize `trainable_params` properly"
### Expected behavior

Creating a tape should initialize the `trainable_params` property according to the parameters received:
[code]
should result in `tape.trainable_params = []`

### Actual behavior

All parameters regardless of data type or interface are considered trainable, that is the previous example produces `tape.trainable_params = [0, 1]`.

Note if the tape is executed or constructed via

[2022-02-03 07:06] josh146 commented on #2155
Copying a potential solution from external conversation for archival properties:

[2022-02-03 15:51] quantshah opened #2163 "[BUG] JIT-ed calculation of Hessian [grad(grad)] fails"
### Expected behavior

I was trying to compute the Hessian and saw that the Jax interface breaks down if we have the JIT on. Without JIT, it works fine. The error seems to be due to the non-availability of JVPs in the `host_callback` bridge between PL and Jax. To make it work, just remove the @jax.jit from the definition of the circuit.

@josh146 and I discussed this over slack and it seems a bit

[2022-02-03 15:59] quantshah commented on #1676
Just a simple example with JAXopt

[code]

[2022-02-03 20:42] antalszava commented on #2163
Hi @quantshah

This very much comes down to what JAX offers at the moment:
* `host_callback.call` supports `jax.jit`, but not `jax.jacobian`;
* `host_callback.id_tap` supports `jax.jacobian`, but not `jax.jit` in a way that we could define custom gradients (likely due its side-effect nature, see this issue https://github.com/google/jax/issues/9172).

Maybe there's a way of using `host_callback.id_

[2022-02-03 21:57] quantshah commented on #2163
Thanks @antalszava for the explanation. Feel free to leave this issue open till there is a resolution or close it since this is an issue with Jax and not PL.

[2022-02-03 22:17] antalszava commented on #2163
Sure :) I might leave it open, just so that there's a point of reference if this becomes a question for others too.

[2022-02-04 20:08] antalszava opened #2170 "[BUG] Using QNode caching registers unexpected executions with `diff_method="backprop"`"
### Expected behavior

When caching, we register `dev.num_executions = 1`.

### Actual behavior

We have `dev.num_executions = 15` for 15 circuit executions (althought the `dev.execute` method is called only once).

### Additional information

The issue is with an [update in `qnode.py` that doesn't consider if caching has been used](https://github.com/PennyLaneAI/pennylane/blob/5a28983fc7bd950cde8

[2022-02-04 21:47] antalszava commented on #2170
Note: there's an issue with `dev.num_executions` even when `diff_method != 'backprop'` when setting `cache=True` (instead of using a custom `cache`:
[code]
[code]

[2022-02-07 00:03] yulunwang opened #2174 "Supporting time-dependent Hamiltonian for time-evolution"
### Feature details

Hi all,

I am trying to use Pennylane to solve time evolution problems, where the Hamiltonian is time-dependent.
With the `ApproxTimeEvolution()` method, I am able to prepare the circuit by inputing the Hamiltonian and time. But the Hamiltonian is only allowed to be defined with fixed coeffs and Pauli terms.

For example:
`H = qml.Hamiltonian(
 [1, 1, 0.5],
 [qml.PauliX(0), qm

[2022-02-07 06:59] josh146 commented on #2174
Hi @yulunwang! This is a great feature request.

Perhaps we could add something like the following:

[code]

where `H` is a _function_ that takes a single parameter (`t`) and returns the Hamiltonian at that time value.

We could then support some approximate decomposition in order to support this on hardware, perhaps via discretization?

[2022-02-07 13:01] cvjjm opened #2175 "Improve documentation of numpy interface"
### Feature details

There have recently been several changes to the numpy/autograd interface that significantly impact how trainability of parameters is treated and which input and output types QNodes accept/produce with this interface.

At the same time I find the [documentation of this important interface](https://pennylane.readthedocs.io/en/stable/introduction/interfaces/numpy.html) is quite h

[2022-02-07 13:04] josh146 commented on #2175
@cvjjm this is a good idea indeed

[2022-02-07 14:48] KarimAED opened #2176 "Allow specification of control_values for qml.ctrl"
### Feature details

- qml.ControlledQubitUnitary, qml.MultiControlledX etc allow for specification of control_values in form of e.g. a string "0110" for all control_wires
- qml.ctrl should allow for the specification of a control_values keyword like those other operations
- currently, qml.PauliX has to be used to flip each control_wire to the desired value when using qml.ctrl

### Implementation

[2022-02-07 21:53] dime10 commented on #2155
TODOs can be removed in the following files once this is fixed:
https://github.com/PennyLaneAI/pennylane/blob/ce941f345bee6cd1d89d50753cd68cdb51982ad5/tests/transforms/test_metric_tensor.py#L634
https://github.com/PennyLaneAI/pennylane/blob/ce941f345bee6cd1d89d50753cd68cdb51982ad5/tests/gradients/test_finite_difference.py#L214
https://github.com/PennyLaneAI/pennylane/blob/ce941f345bee6cd1d89d50753

[2022-02-08 01:05] CatalinaAlbornoz commented on #2176
Hi @KarimAED, thank you for suggesting this feature! It does look like something that could be added. Would you like to try to implement this?

[2022-02-08 06:14] josh146 commented on #2155
I realize something else; if we add `tape.interface`, which is smartly determined by the tape parameters, we no longer require users to pass `interface=` to the QNode, we should be able to smartly infer the interface.

[2022-02-08 11:41] josh146 commented on #2175
@cvjjm I've added a PR to make the NumPy module (and the `tensor` class) visible in the docs in #2179. We'll also think on how to improve access/findability of the 'Autograd' page

[2022-02-08 12:07] KarimAED commented on #2176
Hi, @CatalinaAlbornoz, yes I would love to try working on this. Which implementation would you suggest I move forward with? The first suggestion seems the most self-contained, but it also feels like it's maybe not the cleanest implementation? Let me know what you think.

[2022-02-08 15:55] albi3ro commented on #2176
@KarimAED
We are in the process of a deeper set of restructuring and improvements to how we do control operations, and adding `control_values` to all operations is definitely something we want to support.

While currently `MultiControlledX` and `ControlledQubitUnitary` accept a string to denote the control values, I'm wanting to move that to be a list of booleans/ zeroes and ones instead. For exam

[2022-02-08 18:32] KarimAED commented on #2176
@albi3ro
Sounds good, I've started implementing it now already.

Slightly unrelated question, but on opening `qml.transforms.control` in my IDE, it flags the `ControlledOperation.adjoint` method because it doesn't match the `Operation.adjoint` signature from which it inherits. The `do_queue` keyword argument is omitted. Is there any reason not to include it in the `adjoint` method with the same de

[2022-02-09 05:17] #2175 closed

[2022-02-10 07:36] josh146 opened #2188 "Allow devices to declare which gradient mode they prefer, `forward` or `backward`."
### Feature details

Currently, PennyLane supports two modes for accumulating gradients of QNodes:

- `mode="backward"` (request the Jacobian of the QNode on the backward pass).

  This is the best method for gradient methods such as the parameter-shift rule, where many more circuits are required for gradient computations compared to the forward pass.

- `mode="forward"` (request the Jacobian of t

[2022-02-10 07:55] josh146 commented on #2188
As a corollary to this issue: can we also tweak `mode="forward"` such that the gradient computation is triggered on the forward pass *only if backpropagation is occurring?*

This could mean ignoring the call to `device.jacobian` if there are no `ArrayBox` objects present on the tape when using Autograd, for example.

[2022-02-10 07:56] josh146 commented on #2152
@cvjjm I've opened a new issue #2188 to track the two feature requests that came out of this issue, feel free to leave a comment there if there is anything I missed!

[2022-02-10 07:56] #2152 closed

[2022-02-10 09:44] cvjjm commented on #2188
The solution described here sounds very good to me! Thanks!

[2022-02-10 15:25] fretchen opened #2190 "Provide a native way to simulate qudit"
### Feature details

It would be great to have some possibility to work natively with qudit wires, where the Hilbert space of each wire is of some dimension *d* . This is natural to some cold atom and ion experiments and nicely interpolates between qubit and CV systems.

### Implementation

For qudits we have two native gate sets, some of which are already included in the `pennylane-ls` package:

[2022-02-11 06:21] josh146 commented on #2190
Thanks @fretchen! We can definitely help out here.

The first thing that comes to mind is to port over the native gates to PennyLane proper. From looking at the plugin, there appear to be three main modules:

- [fermion_ops.py](https://github.com/synqs/pennylane-ls/blob/master/pennylane_ls/fermion_ops.py)
- [multi_qudit_ops.py](https://github.com/synqs/pennylane-ls/blob/master/pennylane_ls/multi_q

[2022-02-11 12:59] cvjjm opened #2194 "Consistency of QNode return value shape after qml.gradients.param_shift_hessian() for QNodes that return a one element list"
### Feature details

For the special case of QNodes returning a list with a single expval the shape returned after transforming such QNode with `qml.gradients.param_shift_hessian()` is a bit "inconsistent" with how the untransformed return value is treated.

What I mean is best explained with the example below.

I think it would be nice if this minor "inconsistency" in the user interface could be

[2022-02-11 16:55] cvjjm opened #2195 "Support all operations with `param_shift_hessian()`"
### Feature details

It should be possible to support operations with arbitrary `grad_recipes` in `param_shift_hessian()` by computing the applicable grad recipe for each entry in the hessian from the `grad_recipes`s of the operations instead of using fixed `diag_recipe` and `off_diag_recipe`s.

A first and easier improvement would be to at least replace the hard coded list of "supported operation

[2022-02-11 17:30] josh146 commented on #2195
Hey @cvjjm, you are too fast for us 😆 We have been planning this upgrade using the functionality available in the functions [`generate_multi_shift_rule`](https://pennylane.readthedocs.io/en/latest/code/api/pennylane.gradients.generate_multi_shift_rule.html) and [`generate_shift_rule`](https://pennylane.readthedocs.io/en/latest/code/api/pennylane.gradients.generate_shift_rule.html):

[code]

[code]

[2022-02-11 17:40] cvjjm commented on #2195
Another thing that could be useful is an option to only compute part of the hessian, say only the diagonal.

[2022-02-11 17:44] josh146 commented on #2195
Cool idea --- would you say this generalizes, and it would be useful to be able to compute specific elements of the Hessian (similar to a generalization of `argnum=` for the `param_shift` transform)?

Or is it mostly just the diagonal you are interested in?

[2022-02-11 18:05] cvjjm commented on #2195
I don't know yet what will be useful, so I would say it generalizes :-)

Maybe the user can pass in a "mask" of the same shape as the hessian with boolean entries and then get a hessian with only those entries back?

[2022-02-14 06:45] fretchen commented on #2190
Sure. I think that we can focus on the `single_qudit` and then `multi_qudit` here for the moment. Actually do not have the generalized Pauli right now, so the angular momentum would be easier for us.

I am not aware of theory (that I would understand at least) for the moment.

We have the simulator code locally, but there should be no problem to use it here. Just a question of ressources.

[2022-02-17 00:23] dominicpasquali opened #2203 "[BUG] qml.qnn.TorchLayer breaks multi GPU usage"
### Expected behavior

Setup: 4 Nvidia GPUs

Expected return:
[code]

### Actual behavior

Got back:
RuntimeError: Expected all tensors to be on the same device, but found at least two devices, cuda:2 and cuda:0! (when checking argument for argument mat2 in method wrapper__bmm)

### Additional information

Error occurs always. Sometimes the error may change which GPUs are in error, for example:

R

[2022-02-17 00:55] dominicpasquali opened #2204 "[BUG] unable to checkpoint model with qml.qnn.TorchLayer"
### Expected behavior

something like:
[code]

output file is generated by PATH

### Actual behavior

Checkpoint file is created but stops short of including full model.

PyTorch unable to pickle qnode: _pickle.PicklingError: Can't pickle <function qnode at 0x7fc7e4169160>: it's not the same object as __main__.qnode

### Additional information

Error occurs every time.

### Source code

[code]

##

[2022-02-17 17:06] cvjjm opened #2210 "Help device plugin developers deal with the Operation refactor"
### Feature details

As was discussed in #2023 with @josh146  and @mariaschuld in the light of the `Operation` refactor a smooth transition with useful deprecation warnings should be ensured so that device developers have time to update their devices and custom `Operation`s and support at least a few versions of PennyLane.

Currently this has not been fully achieved.

Assume that some third party

[2022-02-17 18:05] antalszava commented on #2203
Hi @dominicpasquali thanks a lot for filing this report! :slightly_smiling_face:

At the moment it's a bit challenging for us, unfortunately, to get devices with multiple GPUs and it can take a bit of time for us to investigate the issue here more deeply. Would you be interested in helping us with narrowing down where the issue could be and potentially with the fix?

Let us know and we could provi

[2022-02-17 19:04] albi3ro commented on #2203
Does it work if you explicitly limit all computations to a single GPU?

Try replacing

[code]
with
[code]

[2022-02-17 20:15] dominicpasquali commented on #2203
Hi @antalszava I'm more than happy to run code when I can, however my help may be limited on this topic as I'm not a CUDA expert (though I'm sure I'll learn more as this bug gets resolved).

[2022-02-17 20:28] dominicpasquali commented on #2203
@albi3ro :

I did two things:

1) Running:
[code]
yields

[code]

2) Running
#if torch.cuda.device_count() > 1:
#  print("Let's use", torch.cuda.device_count(), "GPUs!")
#  dim = 0 [30, xxx] -> [10, ...], [10, ...], [10, ...] on 3 GPUs
#  model = torch.nn.DataParallel(model)

#device = torch.device("cuda" if torch.cuda.is_available() else "cpu")
device = torch.device("cuda:0")

yields the desired

[2022-02-17 20:43] albi3ro commented on #2204
I have a temporary workaround while I'm working on a better fix.

The problem is that we can't pickle the qnode. This happens because of naming confusion between the QNode and the function that the QNode is wrapping.

If you construct the QNode with `qml.QNode` like:

[code]

This would eliminate the naming confusion and create a pickle-able object.

[2022-02-18 01:21] dime10 commented on #2194
Hi @cvjjm, thank you very much for pointing out this inconsistency!

After investigating I've realised the problem is actually not specific to `param_shift_hessian`, `param_shift` for example runs into same issue (but the two are also inconsistent w.r.t. each other in how they behave). Essentially, `param_shift_hessian` will squeeze any dimensions of size 1 from the result, while `param_shift` squ

[2022-02-18 05:48] josh146 commented on #2194
wow nice analysis @dime10!

In the case `gradient_transform(qnode)(*args)`, I _think_ this is something we could address.

In `qml.gradients.gradient_transform`, we define the logic for the gradient transform when it acts directly on a QNode:

https://github.com/PennyLaneAI/pennylane/blob/c6d5cc4dfc1dbe15050c53301d8c3b245a8674ef/pennylane/gradients/gradient_transform.py#L113-L116

At the very bott

[2022-02-18 06:56] dominicpasquali commented on #2204
@albi3ro - awesome! Thank you for the temporary work around (I'll play around with it soon!) and I can't wait to see your better fix! Thank you!

[2022-02-18 11:08] dwierichs commented on #2194
Hi @dime10,
_(this comment only looks at `param_shift`)_
I wanted to look into this and found that `param_shift` produces an output with shape `(*)`, i.e. the expected one, for the following example
[code]
[code]
When wrapping the `expval` in a list, I actually get the same as the above, so the field in the table one row below would be tagged as unexpected. When adding a second expectation value t

[2022-02-18 11:22] dwierichs opened #2213 "[BUG] Parameter-shift Hessian does not work with very simple circuits"
### Expected behavior

When using a single operation in a circuit, the `param_shift_hessian` computes the Hessian correctly.

### Actual behavior

When using a single operation in a circuit, the `param_shift_hessian` raises an Exception, based on tuple indices that are too large, because dimensions supposed to be used in `tensordot` are missing (see traceback)

### Additional information

The bug

[2022-02-18 14:25] antalszava commented on #2204
@dominicpasquali no worries! Good to know that this is useful, we can consider more support here in the future.

[2022-02-18 15:41] dime10 commented on #2213
Thanks for uncovering this @dwierichs . I'm guessing it's due to [the squeezing](https://github.com/PennyLaneAI/pennylane/blob/e1b15d27cc5a4a882b552c936580dd903fe3b988/pennylane/gradients/param_shift_hessian.py#L192) that happens when computing the quantum hessian. This will be fixed alongside #2194 which I'm opening a PR for :)

[2022-02-18 15:59] dime10 commented on #2194
Thanks @josh146 for the tip regarding `[qnode._qfunc_output](https://github.com/PennyLaneAI/pennylane/blob/c6d5cc4dfc1dbe15050c53301d8c3b245a8674ef/pennylane/qnode.py#L488)`, which should help us resolve this issue :)

Oh thanks for the additional datapoint @dwierichs. This seems to be another inconsistency in the output of `param_shift`. For the table I was using the following example:
[code]
Usi

[2022-02-18 16:59] josh146 commented on #2210
Thanks @cvjjm for reporting this!

Just double checking, but is `Operator.decomposition` the only changed method with this issue? Or are there others as well?

From having a look at your code,

[code]

is a nice (and relatively simply to read) workaround, I'll see if there is a nice way to catch this (might mean tracking down everywhere that `Operator.decomposition()` is currently called).

[2022-02-18 17:18] josh146 commented on #2210
I've created a PR (#2214) to fix this :)

[2022-02-18 20:57] antalszava commented on #2203
Hi @dominicpasquali, we had more of a look into this and it looks like a fix could take time as it would require explicit support for `torch.nn.DataParallel`.

The issue is related to the fact that `torch.nn.DataParallel` will attempt to access the state in the PennyLane device from multiple GPUs in parallel. When using `default.qubit` with `diff_method="backprop"`, we are using the native Torch d

[2022-02-21 08:57] cvjjm commented on #2210
I think the similar problems will occur with other refactored method. I also have a few other issues that I will report once I understand them better.

[2022-02-21 09:28] cvjjm commented on #2194
I would be in favor of not unpacking outputs of QNode that return a list with a single item as in `return [qml.expval(...)]`.

The rational and use case is that of QNodes that are dynamically created by some higher level code so that the length of the list or returned expvals is not known in advance and whose output is to be processed by further code. That further code needs to get the QNode outpu

[2022-02-21 12:59] cvjjm opened #2217 "Add a function that returns the 'best' differentiation method string for a particular device and interface"
### Feature details

As discussed [in the forum](https://discuss.pennylane.ai/t/way-to-tell-how-pennylane-will-differentiate-a-qnode/1675) with @josh146, it would be nice if PennyLane offered an officially supported way to learn how it will differentiate QNode.

This can be good for debugging and also to verify a users expectations about PL increasingly complex decomposition/differentiation/compil

[2022-02-21 16:54] cvjjm commented on #2210
Here is another facet of this problem: When using the current mater with an old style Operation that defines its matrix via the old style `_matrix()` static method and does not implement the new style `compute_matrix`()`, the user gets a reasonable but not terribly helpful `MatrixUndefinedError`.

In particular the user is not even told which operation caused this error. As this error is raised in

[2022-02-21 17:11] cvjjm commented on #2210
And another issue is that `.generator` is now no longer a property but a method and it no longer returns the pre-factor and the generator. It is quite ugly to write code that is compatible with both the new and the old style here. Any idea for how this can be made easier?

[2022-02-21 20:21] dominicpasquali commented on #2204
Hi @antalszava - could you please reapply the bug :bug: label? The temporary workaround as provided by @albi3ro, while overcoming the pickle problem, doesn't properly import the import the QNode from the pickled file.

As previously mentioned, I applied the following to my code:
[code]

and this produced the desired output:
[code]

However if we try to then import the pickle from our saved values

[2022-02-22 06:09] natestemen commented on #1679
I believe this should now be closed since #2121 is merged.

[2022-02-22 06:16] josh146 commented on #1679
Nice catch @natestemen, thanks!

[2022-02-22 06:16] #1679 closed

[2022-02-22 07:01] josh146 commented on #2217
As noted in the discussion, a nice solution could be a utility function applied to the device and interface:

[code]

[2022-02-22 07:51] josh146 commented on #2210
@cvjjm yep, the only reason for this is the need to take into account for the inverse _in the middle_ of the logic, making it difficult to use `super()` here:

https://github.com/PennyLaneAI/pennylane/blob/fc96309886a2ee2184b024eb1a86e1b4149bf430/pennylane/operation.py#L1302-L1303

Having said that, we are still in the process of the operator refactor, unfortunately! There are a couple more change

[2022-02-22 08:16] cvjjm commented on #2210
Thanks for the explanations. This sounds all great!

One remark on the scalar multiplication: I may be misunderstanding this, but `Operator.__mul__()` seems to always return a `Hamiltonian`, and since you probably want to keep the implementation of `.generator` implemented in a way that it returns what used to be the "bare" generator and the prefactor "in one thing" I am suspect that  `.generator`

[2022-02-22 08:22] josh146 commented on #2210
This is the plan yes, but with a caveat: it is likely the `Hamiltonian` class will be merged with the `Operator` class.

So `Operator.generator` will always return another `Operator`, which itself will always have `terms` and/or `decomposition` defined. Would this be okay?

The reason for this is that we ran into too many issues where `Operator` generators could not be described in terms of a sepa

[2022-02-22 08:27] cvjjm commented on #2210
Yes, that sounds perfect. Looking forward to that new functionality!

[2022-02-22 08:33] cvjjm commented on #2210
The one last idea: You are currently using a tuple of two lists to represent the terms, which I subjectively find a but "cumbersome". I.e. to determine the number of terms one has to first take, e.g., the first element of that tuple and then call `len()` and then one has to trust that the two lists are actually the same length... Have you considered using a dictionary mapping the operators to the

[2022-02-22 08:54] cvjjm commented on #2210
And here is another problem I encountered with the refactor: `generator` used to be a static class property of `Operation`s, now the same name is used for the instance method `generator()`. This name clash prevents a implementation of my custom Operations that is compatible with both the old and the new style and thus precludes supporting a range of versions.

[2022-02-22 09:50] josh146 commented on #2210
We haven't, but good to get this feedback since this is all still TBD!

Would it fit your workflow if this was a simple class containing two lists? We then have the flexibility to add convenience methods such as e.g., to return the nth term (operator + coeff) as well as mappings

[2022-02-22 11:01] cvjjm commented on #2210
A simple class would certainly also do the job, but why re-invent the wheel? A `dict` already has `.items()`,  `keys()`, ... `len()`, it is automatically ensured that there are no double entries, and people know how to manipulate dicts. If you want to add functionality on top then maybe subclass `dict` (or OrderedDict?). I think not sub-classing `list` but "emulating" `list` with the `Wires` class

[2022-02-22 14:03] mariaschuld commented on #2210
@cvjjm thanks for your valuable feedback!

Just coming in real quick here to clarify something general. As discussed before, **unfortunately we cannot consider developers' aim to support multiple versions of PennyLane**. This has never been a goal of PennyLane dev, and it is not an industry standard - it was mere chance that this was possible before. It would also require an disproportional amount

[2022-02-22 14:54] cvjjm commented on #2210
Yes, agree.  There is no need to make extra efforts to support a broad range of versions, but some sort of deprecation cycle of one or two releases, depending on the magnitude of changes, would be healthy (imho) and much appreciated.

[2022-02-22 15:06] antalszava opened #2219 "[BUG] `qml.ControlledQubitUnitary` decomposition unexpected error"
### Expected behavior

`qml.ControlledQubitUnitary` either raises a `DecompositionUndefinedError` or computes the decomposition well.

### Actual behavior

`TypeError` is being raised because the decomposition method of `qml.QubitUnitary` is being used due to inheritance.

### Additional information

There could be two solutions:
* The `def compute_decomposition` method could be redefined to raise

[2022-02-22 16:27] cvjjm opened #2220 "Avoid diagonalizing generators every time a parameter shift jacobian is calculated"
This is just a suggestion, feel free to ignore:

These lines of code are executed many times when constructing the recipe during parameter shift jacobian computation:

https://github.com/PennyLaneAI/pennylane/blob/ca0c079905974ddd3735177a306fad61ce7c9ded/pennylane/operation.py#L1212-L1218

The construction of the generator and its diagonalization are relatively expensive operations given the frequ

[2022-02-22 17:05] cvjjm commented on #2220
This was again for a custom operation... I was not aware of `parameter_frequencies`. Seems like this pretty much implements already what I suggested above. Let me have a look to confirm this...

[2022-02-23 09:57] josh146 commented on #2220
@cvjjm I had a chat to @dwierichs: it sounds like this issue has arisen because we are in the process of integrating general shift rules, but the process isn't complete yet!

At the end of the process it should work as follows, in order of precedence from highest to lowest:

1. If an operation defines `grad_recipe`, this is used by the parameter shift rule.

2. Otherwise, if `parameter_frequencies

[2022-02-23 10:06] josh146 commented on #2195
Regarding your latter point, @dwierichs has pointed out that we could do something analogous to the Jacobian transform,

[code]

That is, provide a list of argnum's that represent the Hessian matrix coordinates in terms of trainable tape parameters:

[code]

The nice thing about this approach is that it is maybe more natural, since the index of the trainable tape parameters are non-ambiguous, and

[2022-02-23 10:52] dwierichs commented on #2195
Another option here would be to allow for argnum as either a list or a boolean array:
`argnum=[1,3,4]` => compute Hessian entries `[(1, 1), (1, 3), (1,4), (3, 3), (3, 4), (4, 4)]` (+symmetric counterparts)
`argnum=2darray[bool]` => Only compute entries as indicated by the mask in argnum.

[2022-02-23 12:03] cvjjm commented on #2220
Nice! Thanks for the explanation! In my case this lead to nearly double the execution time with `master` compared to `v0.21.0`, which is why I noticed.

It would be great if this could all be documented in the new guide on how to write custom Operations.

[2022-02-23 12:48] cvjjm commented on #2210
Summing up the thread above and the things I have learned while trying to make my `Operation`s and devices compatible across the v0.21.0 / v0.22.0 cut:

* There is one last issue that is making it impossible to implement `Operation`s in a way that is compatible with both v0.21.0 and v0.22.0, namely the name clash of the `generator` property, which we managed to avoid with `decomposition` / `comput

[2022-02-23 15:48] josh146 commented on #2210
I plan to have a PR merged before 0.22 that:

- has a top-level `qml.generator()` function as the main UI/public API
- renames `generator()` to `get_generator()` temporarily
- supports both return styles via a keyword argument

I'll have to think if there are any implications here - one reason for preferring `staticmethods` is that we make use of caching (e.g., via `@lrucache()`) down the line.

I

[2022-02-23 15:55] cvjjm commented on #2210
Yes.

Yes, but repeating the class name in the function is not nice and does not play well with inheritance. But, yes this is a workaround in case caching does with with `@classmethod`s.

[2022-02-23 17:11] josh146 commented on #2210
Thanks for clarifying! I suppose one other option is to override `matrix()` directly in the subclass -- I recall during the operator design this was meant as an option for advanced operator manipulation

[2022-02-24 10:13] jackaraz opened #2226 "Quantum Gradient Descent implementation for TensorFlow"
### Feature details

Would dev-team be interested in implementing [Quantum gradient descent](https://arxiv.org/pdf/1612.01789.pdf) optimization for the TensorFlow backend?

### Implementation

An implementation of QGD optimizer based on Keras can be found in [here](https://gitlab.com/jackaraz/tnqcircuits/-/blob/main/src/tnqcircuits/optimizers/quantum_grad_descent.py) but this implementation requir

[2022-02-24 10:30] cvjjm opened #2228 "Improve/implement get_matrix() of Tensor and Hamiltonian"
### Feature details

Probably this is being worked on as part of the Operation refactor and/or the support of arythmetic operations between Observables, but I am putting it out here anyway:

It would be great if `Tensor.get_matrix()` implemented implemented the `wire_order` parameter and if that were done in a way that the returned matrix were always on all wires contained in `wire_order`. This sh

[2022-02-24 11:58] josh146 commented on #2228
@cvjjm yes this is the plan, but unfortunately may not be merged by the next release! So your comment is very valid. We definitely want to unify `Tensor` and `Hamiltonian`.

The current plan is to remove these classes, and instead allow all operators to define `Operator.terms` (linear combinations) and `Operator.decomposition` (tensor products). A nice benefit will be that operator arithmetic will

[2022-02-24 12:09] josh146 commented on #2226
Hi @jackaraz --- I was just looking through your [`tnqcircuits`](https://gitlab.com/jackaraz/tnqcircuits/) repo, a really nice package! Cool to also see that you have a TF compatible QNG optimizer 🙂

Adding TensorFlow specific optimization methods has been on our todo list for a long time, but an unanswered question was how to implement them - at the low-level gradient tape, or as a Keras optimize

[2022-02-24 12:38] jackaraz commented on #2226
Thanks @josh146 :)

If the main goal is flexibility in terms of the user interface, I believe low-level implementation would be preferable because in our implementation ([based on this study](https://arxiv.org/abs/2202.10471)) user needs to know what they are doing; hence it's not a very "Keras-like" approach. This is mainly due to the metric tensor calculation, as we discussed in #2040 , TF is no

[2022-02-25 22:49] trbromley opened #2235 "[BUG] Should the tensor product operation alter objects in-place?"
### Expected behavior

Consider:
[code]
I expect:
[code]

### Actual behavior

First running:
[code]
We get:
[code]

### Additional information

I'm not sure if this is an issue or expected behaviour. Perhaps a requirement for queuing? The `__matmul__` [method](https://github.com/PennyLaneAI/pennylane/blob/9b61f17649c4b7c45dc3d66576e0727433726430/pennylane/operation.py#L1751) clearly shows the in-

[2022-02-26 02:00] antalszava opened #2237 "[BUG] `qml.ctrl` broken differentiability with parameter-shift/finite-diff"
### Expected behavior

`qml.ctrl` supports differentiating over input parameters to the function to be controlled.

For example, for an operation being controlled, the following works:
[code]

### Actual behavior

* With Autograd: error is raised
* With TF/Torch: the gradient is 0

### Additional information

*Swapping out to a dedicated controlled operation (e.g., `CRY`) solves the issue in speci

[2022-02-27 15:57] josh146 commented on #2235
@trbromley I don't think this is a bug --- it looks intentional.

Having said that, this is definitely not behaviour we want going forward! And will be addressed when the `Tensor` class is removed and the tensor product support included in the base operator class

[2022-02-28 09:50] quantshah opened #2242 "[BUG] Taking gradients with `interface='jax'` or `interface='jax-python'` and backend=`qiskit.aer´ fails"
### Expected behavior

The code should compute the gradients with jax.grad using the `qiskit.aer` backend.

Interestingly, as @josh146 outlined, using @jit before the circuit or using the interface `jax-jit` instead of just `jax` works. This bug seems to be with the `jax-python` interface. You can change the interface to jax-jit or jax-python to check.

### Actual behavior

Error:
`    raise Circu

[2022-02-28 16:39] albi3ro opened #2247 "[BUG] jitting breaks `qml.QubitUnitary`"
This was reported by a user on the forum at https://discuss.pennylane.ai/t/qubitunitary-and-jax-jit/1700

The `QubitUnitary` gate breaks with jitting.

[code]
[code]

We can fix this problem by adding an `qml.math.is_abstract` check before checking if the provided matrix in unitary.

[2022-02-28 17:03] Jaybsoni commented on #2247
Is the suggested fix to just add a check, and not allow jitting with `qml.QubitUnitary`? I feel like we should be able to jit this?