[2022-08-18 13:19] dwierichs opened #2976 "Allow parameter broadcasting in `AmplitudeEmbedding` with TensorFlow"
### Feature details

As of #2810, embedding templates support parameter broadcasting, including `AmplitudeEmbedding` except for usage with Tensorflow, which is raising a dedicated error currently.
To reach feature parity, one would have to figure out how to pad the parameter-broadcasted amplitudes and normalize them correctly across the non-broadcasting dimension.

### Implementation

_No response

[2022-08-18 13:40] Qottmann commented on #2563
Yes indeed! Sorry I forgot this was still open, closing now 👍

[2022-08-18 13:40] #2563 closed

[2022-08-18 14:04] eddddddy commented on #2970
That's great! Is the above code also differentiable in the expected way? If so, then it's definitely something I can replace in my code to get the behaviour I want.

[2022-08-18 14:12] eddddddy commented on #2971
Right, OK. I guess from this and the other issue as well, it's clear that `qml.Hamiltonian` is not really intended to handle framework-specific tensors.

However, this looks to be handled by the new operator arithmetic. Just wondering, is the new operator arithmetic going to replace `qml.Hamiltonian` somewhere down the line?

[2022-08-18 14:17] antalszava opened #2977 "Update Docker build to improve feedback loop"
### Feature details

There is a [Docker build GitHub action](https://github.com/PennyLaneAI/pennylane/blob/master/.github/workflows/docker.yml) configured to be run on every push to `master`. This configuration is inconvenient because failures come after the PR has been merged and the resolution requires dedicated attention from the team.

One approach would be to make it a required check like oth

[2022-08-18 14:53] AlbertMitjans commented on #2970
@albi3ro or @Jaybsoni might know better.

[2022-08-18 14:54] AlbertMitjans commented on #2971
Yes!

[2022-08-18 15:21] albi3ro commented on #2970
[code]
Works absolutely fine.

[2022-08-18 15:23] Jaybsoni commented on #2970
Yes I think this is another issue with `Hamiltonian`, it uses this sparse representation by default. This is a problem because the I don't think the logic is compatible with any other interface other then scipy sparse arrays!

[2022-08-18 15:53] AlbertMitjans commented on #2971
@eddddddy can I close this issue?

[2022-08-18 23:18] eddddddy commented on #2971
Sure, you can go ahead and close this issue.

[2022-08-19 05:24] meenu-kri commented on #2829
Hi @antalszava and @AlbertMitjans, I have created the PR for this issue and it is ready to review.

[2022-08-19 08:08] #2580 closed

[2022-08-19 08:09] #2971 closed

[2022-08-19 16:49] rmoyard opened #2983 "[BUG][Return-types] Sample does not return the right type with interfaces"
### Expected behavior

With the new return types activated `qml.enable_return()`. We expect `Sample` to return a tensor related to the desired interfaces but it currently only returns numpy array instead of `torch.tensor`, `tf.Variable` or `jax.array`.

### Actual behavior

[code]
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
<class 'numpy.ndarray'

[2022-08-19 16:55] rmoyard opened #2984 "[BUG][Return-types] `Counts` does not work with `default.mixed`"
### Expected behavior

With `qml.enable_return` activated, `Counts` should work with interfaces (torch, tf, jax) and `default.mixed` but it is not the case.

### Actual behavior

[code]

### Additional information

_No response_

### Source code

_No response_

### Tracebacks

[code]

### System information

[code]

### Existing GitHub issues

- [X] I have searched existing GitHub issues to make s

[2022-08-19 16:59] rmoyard opened #2985 "[BUG][Return-types] Shots vector are not working with TensorFlow"
### Expected behavior

With the new return type activated `qml.enable_return`. It should be possible to use shot vectors and multiple measurements with Tensorflow, but it is returning a bug.

### Actual behavior

[code]

### Additional information

_No response_

### Source code

_No response_

### Tracebacks

[code]

### System information

[code]

### Existing GitHub issues

- [X] I have searche

[2022-08-22 14:20] #2882 closed

[2022-08-22 15:39] chaeyeunpark opened #2987 "[BUG] pennylane.tape.Unwarp does not unwrap Hamiltonian coefficients"
### Expected behavior

`qml.tape.unwrap` convert all ArrayBox in a tape to usual arrays.

### Actual behavior

Coefficients of the `Hamiltonian` object instance (accessible via `ham.coeffs`) are not unwrapped.

### Additional information

_No response_

### Source code

_No response_

### Tracebacks

_No response_

### System information

[code]

### Existing GitHub issues

- [X] I have searched e

[2022-08-22 19:22] Qottmann opened #2989 "Returning expvals of mixed non-commuting Pauli strings and Hamiltonians"
Currently, we can return lists of non-commuting observables that are automatically grouped into qubit-wise-commuting groups and estimated efficiently. It is however not possible to mix that with Hamiltonians:

[code]
[code]

The solution is most likely in `batch_transform` of `_device.py` where the cases currently are _either_ a Hamiltonian _or_ list of non-commuting observables, but not both.

[2022-08-22 19:27] Qottmann commented on #2989
Resolved with help of @Jaybsoni

[2022-08-22 19:27] #2989 closed

[2022-08-23 08:48] dwierichs commented on #2951
I am slightly confused by the chain rule not working here :sweat_smile:
Assuming f, g and x to be scalars, we have (as you wrote): `d/dx f(g(x)) = f'(g(x)) * g'(x)`
If the derivative of `g` is given by the parameter-shift rule, a non-linear post-processing does not change that fact, i.e. `g'(x) = 0.5[g(x+pi/2)-g(x-pi/2)]`. The derivative of `f` has to be computed independently of the shift rule (a

[2022-08-23 09:12] dwierichs commented on #2872
This is not too surprising I think, because the differentiation w.r.t complex parameters is not uniquely defined.
When using `tf.float64` for `phi` instead, everything is as expected:
[code]
[code]

I tried to dig up at which point exactly the difference between the holomorphic and componentwise differentiation kicks in, but I didn't find it right away. Let me know in case this is an important iss

[2022-08-23 15:17] AlbertMitjans commented on #2848
Closing this issue.

[2022-08-23 15:17] #2848 closed

[2022-08-23 16:18] Qottmann commented on #2951
The chain rule is working properly here, that _is_ the _problem_ 😄

Essentially, instead of  $\partial_x f(g(x)) = f'(g(x)) \partial_x g(x) = f'(g(x)) (g(x+\pi/2) - g(x-\pi/2))/2$, I want  $\partial_x f(g(x)) = (f(g(x+\pi/2)) - f(g(x-\pi/2)))/2$.

Or to put it in the context of classical shadows `f -> expval` and `g -> bits`, so I want to compute the derivative
`d_x expval(bits(x)) = (expval(bits(

[2022-08-24 13:41] AlbertMitjans commented on #2866
Hi @meenu-kri, in the last commits to `master` we added the capability of using the new operator arithmetic classes as observables. Thus now you can do:

[code]
[code]

[2022-08-25 03:32] nahumsa commented on #2853
I have noticed that on `pennylane.interfaces.execution.py`:

https://github.com/PennyLaneAI/pennylane/blob/1e3a73107d1a897ba04910492c1c698d41e8787e/pennylane/interfaces/execution.py#L126-L128

The `gradient_kwargs` variable when running the default interface (which I think is `autograd`) is modified to an empty dict because of the `_execute`

https://github.com/PennyLaneAI/pennylane/blob/1e3a73107

[2022-08-25 19:14] Qottmann opened #2996 "Grouping in `qchem.molecular_hamiltonian` qubit-wise-commuting"
Currently, there is no option in `qchem.molecular_hamiltonian` instances to set a grouping, i.e. to qubit-wise-commuting `'qwc'`. I believe this is a relic as up until recently this was done in `ExpvalCost` which is now deprecated.

There is a workaround
[code]
for a molecular Hamiltonian H. I think it would be good to have that option available directly in the molecular Hamiltonian and I am not s

[2022-08-26 08:29] dwierichs commented on #2951
Ah, I see now :) So basically a variant of `qml.gradients.param_shift` that treats the input function as a black box and just shifts the function arguments would be useful here? :thinking:
@josh146 I think this might be something nice to support, and very easy to code up. For QNodes that have a 1:1 mapping of QNode to tape arguments, this might speedup `qml.gradients.param_shift` itself, in partic

[2022-08-28 13:23] Amana-L commented on #2969
Hi, I'd like to work on this. Can you provide the link to this please?

[2022-08-28 19:10] obliviateandsurrender opened #3003 "[BUG] Printing Hamiltonians with complex coefficients"
### Expected behavior

Print the Hamiltonian with its terms.

### Actual behavior

Error is raised.

### Additional information

Wrapping [this](https://github.com/PennyLaneAI/pennylane/blob/77e996eb64776428fbacb5c68f80f65c0f82982b/pennylane/ops/qubit/hamiltonian.py#L404) with `try` and `except` should solve this issue.

### Source code

[code]

### Tracebacks

[code]

### System information

[cod

[2022-08-29 13:50] josh146 commented on #2951
@dwierichs could you explain a bit further? It could just be the early morning fogging my brain, but I'm not sure I follow!

[2022-08-29 14:25] dwierichs commented on #2951
I mean that we could have the following:
[code]
(which is untested pseudo-code)
It doesn't know tapes, it doesn't know QNodes, it just knows callables and parameters, and some formatting of shift rules.

[2022-08-29 15:23] dwierichs commented on #2804
I think this should be resolved now and can be closed? @Qottmann

[2022-08-29 18:33] albi3ro opened #3007 "[BUG] `qml.is_commuting` breaks with `Tensor` operators."
If we try to check commutation of `Tensor` objects with `qml.is_commuting`, we get:

[code]

We should either:
1) Explicitly not support Tensor operations
2) Include the logic from `qml.grouping.is_commuting` and actually determine whether or not the objects commute.

The first would only be an option for the short term if we don't want to spend the time improving `qml.is_commuting` right now.

[2022-08-30 13:23] #2804 closed

[2022-08-30 16:27] Qottmann commented on #2951
That sounds very promising! The heavy lifting would be in the `shifts` argument here though, right? Or would this be a non-AD version where the user is expected to know the correct shifts?

[2022-08-30 17:33] josh146 commented on #2951
This is actually how PL used to work! parameter-shift was done at the qfunc level, not the tape level 🙂

The reason we changed was that it ended up being very restricted --- it meant we couldn't include classical processing _inside_ the QNode. This led to both:

- Issues with the user experience, users _needed_ the ability to sometimes have classical processing inside a QNode
- Issues with decompo

[2022-08-31 10:02] dwierichs commented on #2951
Yes, I think that's the right perspective...I'm not sure what the best way of proceeding is here.
The idea of registering callables instead of `MeasurementProcesses` in QNodes is pretty cool, but I don't think it would be very maintainable...
If we were to use a black box function like in my previous comment, it could be part of the `gradients` module core, and actually be used to compute the tape

[2022-08-31 12:57] AlbertMitjans opened #3014 "[BUG] Computing the parameter-shift gradient of a QNode that returns `qml.probs` and `qml.var` raises an error"
### Expected behavior

Running
[code]
Prints
[code]

### Actual behavior

An error is raised:
[code]

### Additional information

_No response_

### Source code

[code]

### Tracebacks

_No response_

### System information

[code]

### Existing GitHub issues

- [X] I have searched existing GitHub issues to make sure the issue does not already exist.

[2022-08-31 13:24] AlbertMitjans opened #3015 "[BUG] [Return-types] Computing the gradient of non-commuting observables raises an incomprehensible error"
### Expected behavior

Running
[code]
Returns the gradient.

### Actual behavior

An error is raised:
[code]

### Additional information

_No response_

### Source code

[code]

### Tracebacks

_No response_

### System information

[code]

### Existing GitHub issues

- [X] I have searched existing GitHub issues to make sure the issue does not already exist.

[2022-08-31 13:39] josh146 commented on #2951
@dwierichs I'm curious why you think this? To me, this feels like the most natural solution, especially if we build it into the device API.

For a long time, we have actually wanted to:

- Move the default implementations of `expval`, `var`, etc. _out_ of `QubitDevice` and into the corresponding `MeasurementProcess`

- Allow devices to choose whether they use their own `expval`, `var`, etc. logic,

[2022-09-02 16:52] #3003 closed

[2022-09-05 07:44] dwierichs opened #3023 "[BUG] `single_qubit_fusion` returns wrong angles for specific case"
### Expected behavior

The tape transform `single_qubit_fusion` always performs valid transforms, not changing the action of the tape.

### Actual behavior

For the following specific case, the transform reports wrong angles. Having tracked this down to `optimization_utils.fuse_rot_angles` already, I just report the minimal example here:
[code]
As we can see, although only the `RY` rotation angles

[2022-09-05 16:25] Qottmann commented on #2951
For me this sounds generally like a desirable feature to have and it could substantially clean up some of the devices codes. I have to admit I still lack insight to the PennyLane workflow as to predict what could be possible drawbacks or blockers for this though.

@josh146 Can you elaborate a bit more on how this would be structured? Would this mean the API is generally changing or just that e.g.

[2022-09-05 23:10] josh146 commented on #3023
Oof, very nice catch!

[2022-09-06 14:20] albi3ro commented on #2987
@chaeyeunpark  Can we close this issue now? I see there is a merged pull request.

[2022-09-06 19:21] chaeyeunpark commented on #2987
@albi3ro The PR linked to this issue is an ad-hoc fix for Lightning. This issue for PennyLane is still active.

[2022-09-07 12:00] #2829 closed

[2022-09-07 12:49] #3023 closed

[2022-09-08 03:02] obliviateandsurrender opened #3036 "[BUG] Matrix method of `qml.exp` doesn't utilize `wire_order`"
### Expected behavior

Matrix method of `qml.exp` should utilize `wire_order` in calculating both `diagonalizing_mat` and `eigenval_mat`.

### Actual behavior

Since `qml.eigvals` doesn't support `wire_order` currently, the matrix method of  `qml.exp` skips using `wire_order` and hence throws errors for observables with missing wires.

### Additional information

_No response_

### Source code

[c

[2022-09-09 19:44] #3007 closed

[2022-09-12 17:32] eddddddy opened #3051 "[BUG] Returning non-commuting observables and probabilities from a QNode raises an error"
### Expected behavior

The below code should print out the quantities:
[code]

### Actual behavior

An error is raised instead:
[code]

### Additional information

The above error only occurs when two non-commuting observables are returned in conjunction with probabilities.

If we instead return non-commuting observables, e.g. `return qml.expval(qml.PauliX(0) @ qml.PauliZ(1)), qml.expval(qml.Pauli

[2022-09-15 01:07] #3036 closed

[2022-09-15 15:59] KetpuntoG opened #3066 "[BUG] qml.Barrier fails to draw adjoint"
### Expected behavior

Doing a qml.adjoint on a barrier should not modify its representation.

### Actual behavior

A funny Barrier adjoint is displayed

<img width="142" alt="Captura de Pantalla 2022-09-15 a las 11 56 01" src="https://user-images.githubusercontent.com/65235481/190450897-26420996-82df-4552-be7d-17bacad5ddcf.png">

### Additional information

_No response_

### Source code

[code]

[2022-09-15 17:38] KetpuntoG commented on #3066
This seems to be a problem with all special operator drawings. @albi3ro  Do you think there is a simple way to solve this, or would special case adjoint have to be defined as special cases too?

<img width="468" alt="Captura de Pantalla 2022-09-15 a las 13 36 47" src="https://user-images.githubusercontent.com/65235481/190472717-c3310e7f-344e-4c73-93d0-6a7eb9fae285.png">

[2022-09-15 19:50] albi3ro commented on #3066
If you request `adjoint` with the `lazy=False` keyword, it will automatically simply the gates you've provided as an example.

![Screen Shot 2022-09-15 at 3 49 46 PM](https://user-images.githubusercontent.com/6364575/190495731-679be1e3-e002-4f79-b4ff-9156b4d20567.png)

[2022-09-15 20:06] KetpuntoG commented on #3066
Oh Thank you! That solves the problem 😊

[2022-09-15 20:06] #3066 closed

[2022-09-16 15:41] timmysilv commented on #2864
🎉

[2022-09-16 15:41] #2864 closed

[2022-09-19 08:45] dwierichs opened #3082 "[BUG] `QuantumTape.diagonalizing_gates` returns wrong result when observables include `Hamiltonian`"
### Expected behavior

The property `QuantumTape.diagonalizing_gates` always either returns the correct diagonalizing gates or raises an error (warning) if they are unknown.

### Actual behavior

When measuring, say, the expectation value or variance of a `Hamiltonian`, the tape always reports `diagonalizing_gates=[]`, which is not correct whenever the `Hamiltonian` is not diagonal.

### Additiona

[2022-09-20 20:41] albi3ro opened #3094 "Add `lazy=True` keyword argument to `qml.s_prod`, `qml.prod`, and `qml.op_sum`"
Currently, `qml.pow` and `qml.adjoint` both have a keyword argument `lazy=True` that indicates whether or not to perform some basic simplification steps:

[code]

For `s_prod`, `prod`, and `op_sum`, if `lazy=False`, we can do something similar.

For `qml.s_prod(scalar, op, lazy=False)`, we should check if `op` is already a scalar product `SProd`.  If so, we combine the coefficients.

[code]

For `

[2022-09-21 20:24] antalszava commented on #3082
Devices that do not support `qml.Hamiltonian` natively will have such objects expanded:
https://github.com/PennyLaneAI/pennylane/blob/master/pennylane/_device.py#L738

This essentially means that in such cases it's not `qml.Hamiltonian.diagonalizing_gates` but, the `diagonalizing_gates` attribute of the terms themselves will be called.

Overall, it seems that this behaviour is indeed off, but with

[2022-09-22 11:18] QuantumFall opened #3100 "[BUG] qml.transforms.transpile does not work with MultiRZ"
### Expected behavior

qml.transforms.transpile does not add SWAP gates for MultiRZ operations between 2 qubits and just ignores it. This might be due to MultiRZ being able to act on more than 2 qubits at a time. However, it's currently the only way to add RZZ gates between 2 qubits.

This makes it difficult to see the transpiled circuit for QAOA setups as attempting to transpile a circuit constru

[2022-09-22 20:37] albi3ro opened #3101 "Extend `qml.equal` to `MeasurementProcess` objects"
PennyLane now has a `qml.equal` function that is useful for comparing the equality of `Operator`'s.

  We could extend this function to `MeasurementProcess` objects as well.

[code]

If both inputs were `MeasurementProcess` objects, we would then need to:
1) compare `return_type`
2) Check the existence of `m.obs`, compare if exists for both
3) Check wires

[2022-09-23 00:22] dime10 opened #3102 "`qml.measure` queues operation with name "Identity" (revisit `MeasurementProcess.name`)"
### Expected behavior

The `name` attribute of the measure operation found in the `tape.operations` list should be set correctly (e.g. `measure`).

### Actual behavior

Instead the `name` attribute contains `Identity`.

### Additional information

_No response_

### Source code

[code]

### Tracebacks

_No response_

### System information

[code]

### Existing GitHub issues

- [X] I have searched

[2022-09-23 15:04] dwierichs commented on #3082
Thanks @antalszava!

I agree, this is a bug with very low visibility. Conceptually, I'd prefer if there is an error raised and a device that supports `Hamiltonian` measurements suppresses it, to be on the safe side.
However, this should be traded off against
1. this being a breaking change, requiring action by all devices/plugin devices that support `Hamiltonian` measurement directly, i.e. not via

[2022-09-23 19:57] antalszava commented on #3102
Hi @dime10 thanks for finding this! The updating of the [`MeasurementProcess.name` attribute](https://github.com/PennyLaneAI/pennylane/blob/master/pennylane/measurements.py#L151) in general is something that needs update, though that update would likely come up once we have a standardized device API in place.

Mid-circuit measurements are treated as operations at the moment, hence the behaviour ab

[2022-09-23 20:11] dime10 commented on #3102
Thanks for your response @antalszava :)

Hmm I see. The use case was just identifying a `measure` operation in the tape list (`tape.operations`).
All other operations have the `.name` attribute which I can check, but for the `measure` "operation" I only found `.return_type.value`, which doesn't exist for operations however so I have to resort to `hasattr/getattr`.

Not dramatic, just nice to have

[2022-09-23 20:15] alvaro-at-xanadu opened #3103 "[BUG] Inline transforms vs. Decorator transforms"
### Expected behavior

This  script:

[code]
And this one
[code]
should both return `array([0.64497588, 0.61505021, 0.40503904])`

### Actual behavior

The second script works, but the first one returns errors.

### Additional information

I know this is an issue with how tapes are handled in either case. Please reconsider how this interacts with users.

### Source code

[code]

### Tracebacks

[c

[2022-09-23 21:00] antalszava commented on #3102
Sure :+1: Thanks :)

We have it in the pipeline to look at the `MeasurementProcess` class a bit more, this could be something to consider then too.

[2022-09-24 12:25] Sanjeev-sap commented on #383
I could not import  "from pennylane.init import strong_ent_layers_uniform" I am getting the same error "ModuleNotFoundError: No module named 'pennylane.init'". I searched for documents on Pennylane but didn't find it. Could you please help me to import this library. Thank you.

[2022-09-26 02:03] josh146 commented on #383
Hi @Sanjeev-sap! `pennylane.init` has since been deprecated and removed from PennyLane.

The new way to initialize template parameters is like so

[code]

You can see more examples in the documentation:

https://docs.pennylane.ai/en/stable/code/api/pennylane.StronglyEntanglingLayers.html

[2022-09-28 09:03] mudit2812 opened #3114 "Update op_math to work with qutrits"
### Feature details

Many of the functions defined in `pennylane/ops/op_math` are written specifically to work with qubits. With PennyLane's recent addition of `default.qutrit` and qutrit operations, it makes sense to update these functions to include room for qutrit logic.

For example, `qml.ctrl` can only have 0 or 1 as control values, and any other value gets cast as a boolean and then converte

[2022-09-28 09:29] quantshah opened #3115 "[BUG] JIT on qml.broadcast fails due to numpy array conversion in `single_dispatch.py` i.e, `_to_numpy_jax(x)`"
### Expected behavior

I should be able to JIT a qnode using JAX which uses the `qml.broadcast` function. The non-JITed version works (try commenting the JIT below). I suspect there is a numpy conversion call happening inside that makes JIT fail.

The error message indicates that `single_dispatch.py in _to_numpy_jax(x)` is where there is a conversion to Numpy.

### Actual behavior

[code]

### Add

[2022-09-28 15:47] josh146 opened #3116 "Update PennyLane to depend on `rustworkx` instead of `retworkx`"
### Feature details

As of https://github.com/Qiskit/rustworkx/pull/644, `retworkx` has been renamed to `rustworkx`. At some point should update our dependencies to point to the new package on PyPI (and address any API changes if applicable).

### Implementation

_No response_

### How important would you say this feature is?

1: Not important. Would be nice to have.

### Additional information

_

[2022-09-28 16:58] qcabepsilon opened #3117 "[BUG] mpl drawer does not show expanded circuit when used with expansion_strategy='device'"
### Expected behavior

I simulate a VQE of the H2 molecule using the UCCSD ansatz from pennylane qchem with the 'default.qubit' device. I want to draw the circuit as it is executed on the device by using ```draw_mpl()``` with the ```expasion_strategy='device'```. I expect to get a figure of the circuit in terms of CNOT, RZ, X and H gates.

### Actual behavior

Instead I get a circuit as if I had n

[2022-09-28 19:26] CatalinaAlbornoz commented on #3114
Thank you for adding this issue and the corresponding PR @mudit2812!

[2022-09-28 19:30] CatalinaAlbornoz commented on #3115
Thank you for noting this here @quantshah!

[2022-09-28 20:13] isaacdevlugt opened #3118 "[BUG] `ControlledQubitUnitary` behaves differently in `0.25` and `0.26`"
### Expected behavior

Here is a minimal example with `v0.26`:

[code]

[code]

### Actual behavior

Differing outputs with `0.25` and `0.26` and not sure why 🤔

[code]

### Additional information

_No response_

### Source code

[code]

### Tracebacks

_No response_

### System information

[code]

### Existing GitHub issues

- [X] I have searched existing GitHub issues to make sure the issue doe

[2022-09-28 20:34] albi3ro commented on #3118
Long story short, `v0.26` is correct.  Even though we are now getting the right answer, the bug still existed and would have shown up in decompositions and other devices.

Basically, the method `_controlled` returns a controlled version of the operator. That method did not consider control values.

You can easily see this by changing the `control_values` of the `ControlledQubitUnitary`:

[code]

I

[2022-09-28 20:54] CatalinaAlbornoz commented on #3115
Do you get the same problem if you upgrade to the latest PennyLane version @quantshah?

[2022-09-28 21:59] albi3ro commented on #3117
Have you tried with a more recent version of PennyLane? The above code works as expected in `v0.26`.

[2022-09-29 00:13] antalszava opened #3120 "[BUG] Fix `transpile` for gates acting on more than 2 qubits"
### Expected behavior

Gates acting on more than 2 qubits are compatible with the `transpile` transform.

### Actual behavior

The coupling map is not regarded correctly.

### Additional information

The example below should contain a SWAP gate between qubits 1 and 2 before the Toffoli. This is because qubits 1 and 3 are not connected and so the Toffoli cannot be applied to qubits 0, 1 and 3 with

[2022-09-29 09:09] qcabepsilon commented on #3117
It indeed works with a later version of pennylane.

[2022-09-29 09:10] #3117 closed

[2022-09-29 11:35] isaacdevlugt commented on #3118
Thanks @albi3ro! 🚀

[2022-09-29 14:02] albi3ro commented on #3115
I found the problem.  You need to specify `interface="jax"` when constructing the `QNode`:

[code]

Since `interface="jax"` was not specified, it tries to convert all the parameters to vanilla numpy.

While that was a fairly unhelpful error message, we plan to detect the interface automatically in the future. Hopefully, that will stop this kind of thing from occurring.

[2022-09-29 14:02] #3118 closed

[2022-09-29 18:57] mlxd opened #3122 "Update values to use machine epislon rather than arbitrary floats"
Details: The use of values that are incapable of being represented by 32-bit floats (`1e-128`, `1e-64`) make this a problem if we aim for 32-bit floating point values to be used throughout. Assuming the incoming `U` is represented as such, we should ensure that the floating point values accurately reflect the machine epsilon values in the given precision.

https://github.com/PennyLaneAI/pennylane/

[2022-09-30 13:51] cnktysz opened #3123 "Implementation of exponential extrapolator for the differentiable mitigate_with_zne functionality"
### Feature details

The newly added differentiable zero noise extrapolation `(mitigate_with_zne)` function only supports a polynomial extrapolation. mitiq equivalent of this function allows many other functions (e.g. exponential, linear, poly-exponential, etc. ([see](https://mitiq.readthedocs.io/en/v.0.1a2/guide/guide_05-factories.html))). I believe it would be a great addition to add these optio

[2022-09-30 13:53] cnktysz commented on #3123
The implementation doesn't seem very complicated to me. I would like to start implementing with exponential fitter, but it would be great to hear the Pennylane core team's ideas.

[2022-09-30 15:16] #3115 closed

[2022-09-30 16:31] #3100 closed

[2022-09-30 16:32] antalszava commented on #3100
Hi @QuantumFall, the example you shared should work now on the `master` branch of the PennyLane repo. Support for gates acting on more than 2 qubits is future work with `transpile`.

[2022-10-01 03:21] kmyali commented on #3101
Hi, I am interested in taking this issue. I have good software experience but I haven't done much Open Source contributions.

Is there an expected date when I should have the PR ready by?

[2022-10-01 08:31] anonymousr007 commented on #3094
Hello, I am interested in this issue. Please let me know some more details about this issue. Thanks.

[2022-10-01 10:33] anonymousr007 commented on #3116
Hello, I am working on that issue. Thanks

[2022-10-02 08:01] AryanJ13 commented on #3101
Hello, i would love to work on this. can you please share some guide or sample for me to look into and prep.

[2022-10-02 08:27] AryanJ13 commented on #2881
Hello I would love to work on this, can you please share some guide or sample for me to look into

[2022-10-03 17:44] albi3ro commented on #2881
@AryanJ13  Sorry I didn't update the issue, but we have now reserved this issue as an assessment for a prospective intern. Feel free to consider any other of the "Good First Issue" issues.

[2022-10-03 20:13] antalszava commented on #3123
Hi @cnktysz, thanks for the feature request! :slightly_smiling_face:

I don't think there would be any blockers there, submissions would be welcome to add further extrapolators that support differentiation. :tada:

Let us know if you have have any questions with regards to contributing. In October, PennyLane is participating in [Hacktoberfest](https://hacktoberfest.com/) - if this is interesting,

[2022-10-04 00:19] CatalinaAlbornoz opened #3129 "[BUG] The documentation for the QNG Optimizer includes a deprecated item."
### Expected behavior

The [documentation for the QNG Optimizer](https://docs.pennylane.ai/en/stable/code/api/pennylane.QNGOptimizer.html) doesn't use deprecated functions.

### Actual behavior

The [documentation for the QNG Optimizer](https://docs.pennylane.ai/en/stable/code/api/pennylane.QNGOptimizer.html) includes a reference to ExpvalCost in the first example. This should be changed for the n

[2022-10-04 14:45] albi3ro commented on #3129
Thanks for finding this @CatalinaAlbornoz ! I'll open a PR momementarily.

[2022-10-04 15:17] Qottmann commented on #3123
Hi @cnktysz good idea! As long as you can trace it back to a polynomial fit it should be relatively straight-forward.
I.e. if you mean by exponential fit $y=c_0\exp(c_1 x)$ then you can write a dummy function
[code]
since $\log(y) = \log(c_1) + c_0 x$ and the extrapolated result is $y(0)=c_1$.

For extrapolation that cannot be reduced to polynomial fitting it gets more complicated. To preserve dif

[2022-10-04 15:39] qcabepsilon opened #3130 "vqe_runtime gives serialization error with optimizer COBYLA [BUG]"
### Expected behavior

When using [this tutorial](https://docs.pennylane.ai/projects/qiskit/en/latest/devices/runtime.html) for using pennylane-qiskit vqe_runtime_runner.py to run vqe_runtime_program.py I would expect all optimizers of SciPy can be used.

### Actual behavior

When specifying 'COBYLA' as optimizer the job fails with the message `TypeError: Object of type bool_ is not JSON serializa

[2022-10-04 16:13] cnktysz commented on #3123
Yes, improving performance of ZNE is my goal. I couldn't get good results with scaling factor up-to 3 and was thinking of using other extrapolators. A collaborator of mine said they got better performance with exponential fitter, that's why I was inclined to test it out and realized it was not implemented.

I think such intermediate scaling factors would work better, but as you said it is not stra

[2022-10-04 19:44] josh146 commented on #3130
Thanks for reporting this @qcabepsilon! I have a feeling this might be related to this question as well: https://quantumcomputing.stackexchange.com/questions/28399/difference-between-qiskit-spsa-optimize-and-minimize-in-runtime-program

[2022-10-04 21:58] rmoyard commented on #3130
Hi @qcabepsilon, thanks for pointing this issue. I don't know why the success attribute of Cobyla `OptimizerResult` is a numpy bool which is not serializable. I created a PR that convert that to a conventional bool. It should fix the issue. https://github.com/PennyLaneAI/pennylane-qiskit/pull/231

[2022-10-05 08:00] qcabepsilon commented on #3130
It might be. Should I create a new issue for that, so this one can be closed?

[2022-10-05 10:40] alice4space opened #3131 "change the default wire order of qml.matrix"
### Feature details

At the moment the wire order of the `qml.matrix` function doesn't follow the natural id number by default, but rather the order in which gates are executed. I find this can be an issue, when a circuit is designed to have qubits with a specific id to have a special role, like ancilla for measurement or post selection.

To illustrate this lets take the two following circuits, do

[2022-10-05 13:05] rmoyard commented on #3130
I can answer your question here you don't need to open another one. The SPSA class used is not from Scipy but from Qiskit: https://qiskit.org/documentation/stubs/qiskit.algorithms.optimizers.SPSA.html#qiskit.algorithms.optimizers.SPSA . It does not contain a `minimize` method and does not store the result in the scipy `OptimizerResult`. Therefore we have to create this object with the result of Qi

[2022-10-05 14:14] qcabepsilon commented on #3130
The documentation at the link you shared states that the SPSA of qiskit has the method `minimize` which returns its results as `OptimizerResult` object. What are the differences between this class and the SciPy class of the same name? The `optimize` method uses `minimize` itself, but returns the result as single values instead of the object. I do not understand why one of them lead to problems in

[2022-10-05 14:18] albi3ro commented on #3131
Thanks for the feedback @alice4space .

You've stumbled on a peculiarity of how PennyLane is designed.

While most of the time wire labels are simple integers starting from zero, we don't make that restriction.  We allow wire labels to be any "hashable" object.  For example, `"aux"`, `(1,2)`, and `1.234` are perfectly valid wire labels. `range(len(tape.wires))` would fail if the tape had any wires

[2022-10-05 14:26] rmoyard commented on #3130
I don't know the exact details on why but Qiskit decided to implement its own `SPSA` optimizer, it is probably because they wanted some flexibility in the argument. For the `vqe_runtime` we decided to have only one type of result which is a scipy `OptimizerResult` that contains not only the results but the parameters, success, and other attributes. Therefore for `SPSA` and `QNSPSA` (Qiskit impleme

[2022-10-05 14:36] qcabepsilon commented on #3130
I assumed that the qiskit `OptimizerResult` class and the one from SciPy are the same. Thank you for resolving this misconception. One more question: Why does the conversion to the SciPy `OptimizerResult` for NFT not work as the one for the SPSA optimizer? (see stackexchange question)

[2022-10-05 14:44] rmoyard commented on #3130
The only qiskit optimizers that we currently support are SPSA and QNSPSA but you should able to adapt it like we did for the those two. Potentially some arguments are different and it does not work because of that, or maybe some output are different. It is also possible that NFT is not adapted for your problem. You can share your code and error messages as well here.

[2022-10-05 14:47] alice4space commented on #3131
thank you @albi3ro, I understand better now the reasons behind this.

Maybe highlighting in the documentation that the default order for wires is NOT the sorted id array would help.

However, taking into account that the wide majority of pennylane demos (at least from my perspective) actually use numbers as wires id, I would expect that for most users assuming that qml.matrix will give out the log

[2022-10-06 07:42] alice4space commented on #3131
I think this is a good option as well :)

[2022-10-06 08:28] qcabepsilon commented on #3130
I figured the problem out. Thank you very much for your help.

[2022-10-06 08:28] #3130 closed

[2022-10-06 15:05] eddddddy opened #3139 "Add `purity` function to quantum information module"
### Feature details

It would be nice to add support for [purity](https://en.wikipedia.org/wiki/Purity_(quantum_mechanics)) in the quantum information module. This can be achieved by implementing a separate function in `pennylane/math/quantum.py` that takes as input either a state vector or a density matrix, and outputs a scalar.

Of course, we would want the function to be fully differentiable as

[2022-10-06 15:23] eddddddy opened #3141 "Add `min_entropy` function to quantum information module"
### Feature details

It would be nice to add support for [min-entropy](https://en.wikipedia.org/wiki/R%C3%A9nyi_entropy#Min-entropy) in the quantum information module. This can be achieved by implementing a separate function in `pennylane/math/quantum.py` that takes as input either a state vector or a density matrix, plus additional arguments such as the logarithm base, and outputs a scalar.

Of c

[2022-10-06 15:46] devilkiller-ag commented on #3141
Can I work on this issue?

[2022-10-06 15:49] eddddddy commented on #3141
Yep, go ahead! Let me know if you have any questions 😃.

[2022-10-06 17:11] albi3ro commented on #2881
@AryanJ13  The assessment fell through due to scheduling issues, so this issue is once again open to everyone, and it is participating in hacktoberfest.

[2022-10-06 17:12] CatalinaAlbornoz commented on #3131
Any thoughts on this @josh146?

[2022-10-06 20:28] albi3ro opened #3144 "Add matrix and sparse matrix to `Permute` template"
PennyLane has a [`Permute`](https://github.com/PennyLaneAI/pennylane/blob/master/pennylane/templates/subroutines/permute.py) that decomposes into SWAP operations to reorder wires.

We should be able to directly construct the matrix for this template. Since the matrix is so sparse, we should add a sparse matrix as well, though that can added separately in a later PR.

A successful PR completely thi

[2022-10-07 01:10] CatalinaAlbornoz commented on #3139
For anyone solving this issue as part of hacktoberfest please remember to register at the [hacktoberfest website](https://hacktoberfest.com/)!

[2022-10-07 01:11] CatalinaAlbornoz commented on #3141
For anyone solving this issue as part of hacktoberfest please remember to register at the [hacktoberfest website](https://hacktoberfest.com/)!

[2022-10-07 04:25] devilkiller-ag commented on #3141
Hi, I wanted to work on this but I can't understand clearly what I have to do. Can you please help?

[2022-10-07 09:12] yoichiiz2512 opened #3146 "[BUG] If I let PyTorch autograd calculate the derivative value and include it in the loss, optimizer.step() will not reduce the loss"
### Expected behavior

[code]

(The above is an example of a decreasing loss value)

### Actual behavior

[code]

(The above values vary according to random numbers)

### Additional information

I was trying to implement a Physics Informed Neural Network and had PyTorch autograd calculate the differential values. It worked with a classical neural network, but with PennyLane it seemed to be unable

[2022-10-07 13:04] soranjh opened #3147 "Remove the unnecessary initial state flipping in the UCCSD template"
### Feature details

The UCCSD template [flips](https://github.com/PennyLaneAI/pennylane/blob/07140375176c0791a50beac5e9aa0d9159026f8b/pennylane/templates/subroutines/uccsd.py#L207) the order of qubits in the initial state with:

`init_state_flipped = np.flip(init_state)`

This requires the initial state defined by the user, before passing it to the UCCSD template, to be flipped as well which is n

[2022-10-07 13:40] albi3ro commented on #2921
@cvjjm Have you managed to figure out what was going on, or is this still an active issue?

[2022-10-07 13:47] cvjjm commented on #2921
To be honest I didn't go into depth and this is not longer a problem. Sorry for not closing this earlier...

[2022-10-07 13:47] #2921 closed

[2022-10-07 14:37] devilkiller-ag commented on #3141
Thanks @eddddddy Now I can start working on this

[2022-10-07 16:18] albi3ro commented on #3146
Thanks for bringing this to our attention @yoichiiz2512 .

We're looking into the problem, and in the meantime you can use `diff_method="backprop"`, as that seems to show decreasing losses with the code you provided.

[2022-10-07 16:32] albi3ro commented on #3146
@yoichiiz2512 The problem does indeed seem to be second derivatives.  Adjoint differentiation only works for first-order derivatives.  For parameter shift, second-order derivatives have to be manually requested with `max_diff=2`.

Switching `loss` to `normal_lost` instead of `derived_loss`, I once again see a decreasing loss.  That's because we are only using first derivatives, instead of derivati

[2022-10-07 18:16] antalszava opened #3150 "Entanglement entropy of pure bipartite states (`qml.qinfo` module)"
### Feature details

[Quantifying the entanglement](https://www.quantiki.org/wiki/entanglement-measure) for example by determining the [entropy of entanglement](https://en.wikipedia.org/wiki/Entropy_of_entanglement) of bipartite quantum states can be useful for applications of quantum information (e.g., in quantum cryptography).

One way of determining entanglement entropy is to compute the [von N

[2022-10-08 08:10] devilkiller-ag commented on #3141
Hey @eddddddy , I am a beginner in Quantum Computing and I am not sure if my implementation is correct or not due to my inability to clearly understand Renyi entropy. Can you please check my implementation of the function before I move forward with writing tests?

[2022-10-08 15:43] eddddddy commented on #3141
Hi @devilkiller-ag, you can open a PR and mark it as draft. We can continue this discussion on the PR.

[2022-10-08 15:45] devilkiller-ag commented on #3141
Sure @eddddddy

[2022-10-10 23:52] yoichiiz2512 commented on #3146
Thank you very much.
As you replied, specifying `backprop` or `parameter-shift`+`max_diff=2` works as desired.
It was not a bug but an error in specifying the parameters.

[2022-10-10 23:53] #3146 closed

[2022-10-11 13:31] isaacdevlugt commented on #3141
Thanks for making the PR @devilkiller-ag !

[2022-10-11 16:10] Gopal-Dahale commented on #3144
@albi3ro I would like to work on this issue. If possible assign it to me.

Question: What should be the arguments for this function? Also, the [docs](https://docs.pennylane.ai/en/stable/code/api/pennylane.Permute.html#pennylane.Permute.compute_matrix) state that `qml.Permute` has a `compute_matrix` function (I think it is of the super class i.e. `Operation`). Do you want to override it?

[2022-10-11 18:04] albi3ro commented on #3144
Thanks @Gopal-Dahale !

For some added information, `Operator` defines the default behaviour for `compute_matrix` and `matrix`. This default behaviour is raising a `MatrixNotImplementedError`. We want to override that behavior.

We have two options for defining the matrix:

1) `Permute.compute_matrix(*parameters, **hyperparameters)`.  This static method accepts `op.parameters` and `op.hyperparamet

[2022-10-11 19:24] jeonbik opened #3158 "Broken GitHub link for Tutorials on Demos page"
### Expected behavior

The `View on GitHub` link [here](https://pennylane.ai/qml/demos/tutorial_kernels_module.html) should direct users to its corresponding GitHub  page.

### Actual behavior

The link leads to [this](https://github.com//blob/master/demonstrations/tutorial_kernels_module.py) blank page.

### Additional information

_No response_

### Source code

_No response_

### Tracebacks

_N

[2022-10-11 19:31] jeonbik commented on #3158
I tried with a few other `GitHub` links provided for demos [here](https://pennylane.ai/qml/demos_qml.html). None of these links works. i.e none of the `View on GitHub` links redirect to GitHub on any demo tutorials.

[2022-10-11 19:48] josh146 commented on #3158
Thanks @jeonbik for reporting this! We are currently tracking this bug on the [QML repository](https://github.com/PennyLaneAI/qml/issues/591), and should have it fixed very shortly. I'll close this issue here, but if you have any other comments feel free to post on the linked issue :)

[2022-10-11 19:48] #3158 closed

[2022-10-12 13:56] isaacdevlugt opened #3162 "Decompose gates into universal set (Clifford + T)"
### Feature details

Given a quantum function or operation, decompose it into gates from a universal gate set (Clifford + T).

### Implementation

Add a new transform to the [set of compilation transforms we have](https://docs.pennylane.ai/en/latest/code/qml_transforms.html#transforms-for-circuit-compilation) (e.g., qml.transforms.clifford_decomposition()).

### How important would you say this fe

[2022-10-12 20:46] dime10 opened #3164 "[BUG] Error when multiplying certain Hamiltonian observables"
### Expected behavior

I've been playing around with the different observable types in Pennylane and noticed we do support multiplying Hamiltonians together, both from tensor products of Paulis and from Hermitian observables:

[code]

### Actual behavior

However, for this case I get an unexpected error:

[code]

### Additional information

_No response_

### Source code

_No response_

### Traceb

[2022-10-13 03:22] ankit27kh opened #3165 "[BUG] `AmplitudeEmbedding` with `pad_with` does not work with JAX-JIT"
### Expected behavior

It should execute without errors when using `AmplitudeEmbedding` with the `pad_with` argument with JAX-JIT.

### Actual behavior

Code errors out. Jitting works when `pad_with` is `None`.

### Additional information

_No response_

### Source code

[code]

### Tracebacks

[code]

### System information

[code]

### Existing GitHub issues

- [X] I have searched existing GitHu

[2022-10-13 13:04] cnktysz commented on #3123
Hi @Qottmann. I implemented the extrapolator based on your suggestion. It works well on its own. Then, I tested it with the jax interface and unfortunately it couldn't trace the gradients. I realized the issue starts with the `qml.math.log` function. Seems like batched inputs do not go well with this function. I tried to find the source code for this function but can't seem to locate it in the pen

[2022-10-13 13:45] josh146 commented on #3123
Hey @cnktysz! We are actually performing dynamic dispatch within the `qml.math` module :) the way it works is:

- If a math function is defined in `qml.math`, it defaults to this definition.
- If a math function is _not_ defined in `qml.math`, then we use [autoray](https://github.com/jcmgray/autoray) to attempt to automatically dispatch to the correct ML framework.

So in this case, `qml.math.log`

[2022-10-13 19:33] isaacdevlugt commented on #3165
@ankit27kh thanks for pointing that out! @dwierichs has made a PR to fix this ☝️

[2022-10-13 22:31] albi3ro commented on #3164
An simpler version still giving the same error:
[code]

[2022-10-13 22:59] albi3ro commented on #3164
A solution: wrap the hermitian matrix into a numpy array instead of representing it as a list of lists:
[code]

Maybe we should run some validation on the Hermitian matrix to make sure its a matrix and not a list of lists.

[2022-10-14 08:18] cvjjm opened #3169 "OrbitalRotation should decompose itself into SingleExitation"
### Feature details

OrbitalRotation consists of two SingleExitation gates and should thus not decompose itself all the way down into single Pauli and CNOT but into two SingleExitation gates, which themselves have a decomposition into more elementary gates.

### Implementation

_No response_

### How important would you say this feature is?

2: Somewhat important. Needed this quarter.

### Additio

[2022-10-14 16:27] isaacdevlugt commented on #3169
Hey @cvjjm! Great suggestion. There are a few reasons why this is a good thing to implement on our side. We're working on a fix 😄

[2022-10-14 17:09] #3165 closed

[2022-10-15 16:12] Gopal-Dahale commented on #3144
@albi3ro I have created a [draft pr](https://github.com/PennyLaneAI/pennylane/pull/3173). I have some questions:
1. The `compute_matrix` method's signature is `*params, **hyperparams`. I need the number of wires (`n_wires`) and the `permutation` for computing the matrix. So the call to the function will look like this (for 3 wires)
[code]
Passing the `permutation` in the `compute_matrix` seems red

[2022-10-15 16:19] Gopal-Dahale commented on #3101
@kmyali Are you still working on this?

[2022-10-16 04:00] tgag17 commented on #2558
Hi @albi3ro! I am trying to retackle this issue. From the code given in the original post, I am not able to recreate the result. Instead of getting the result the code throws an error "Observable must be a scipy sparse csr_matrix.". Could you please confirm if the code should reproduce the result or not?
Thanks!

[2022-10-16 05:18] kmyali commented on #3101
Yes, I am. I got distracted for a bit, but I should be opening my PR within 24 hours.

[2022-10-16 19:18] tgag17 commented on #2962
Hi! Can I work on this issue?

[2022-10-17 16:16] antalszava opened #3174 "[BUG] Custom gradient recipe with multiple 0 shifts for same gate fails with `param_shift` transform"
### Expected behavior

Any custom gradient recipe executes without errors.

### Actual behavior

An indexing error is raised for a gate with the custom recipe of `[[-1e7, 1, 0], [1e7, 1, 0]]`.

### Additional information

_No response_

### Source code

[code]

### Tracebacks

[code]

### System information

[code]

### Existing GitHub issues

- [X] I have searched existing GitHub issues to make s

[2022-10-17 16:19] antalszava commented on #3174
@dwierichs any thoughts on the reason for the issue and/or if it could be a potentially significant use case? :thinking:

[2022-10-17 17:40] antalszava commented on #3174
Frankly, I think any type of handling of the case (either changing the behaviour and/or having a warning) could be nice. I suspect it's not going to be a case widely stumbled upon, though it could confuse some users because it raises an error.

[2022-10-17 18:14] albi3ro commented on #2962
Hi @tgag17 ,
Go ahead! I've tagged you on the issue.

[2022-10-17 18:18] tgag17 commented on #2962
Thanks @albi3ro!

[2022-10-17 18:28] albi3ro commented on #3144
@Gopal-Dahale , I left some clarifications on the PR itself here: https://github.com/PennyLaneAI/pennylane/pull/3173#issuecomment-1281300771 .

Hope that helps clear things up a little.

[2022-10-17 21:06] dwierichs commented on #3174
Just making sure: The number of tapes will be `2*num_ops_standard_recipe+int(len(ops_with_custom_recipe)>0)`, right? 2 shifted evaluations per "normal" recipe operation and one global one if at least one op has the custom recipe.

Also: This recipe doesn't work, so the last assertion should not go through, correct? :)

[2022-10-17 22:34] dwierichs opened #3178 "Parameter-shift rule of variance does not recycle unshifted evaluation"
### Feature details

Save repeated evaluations at unshifted parameters when using `param_shift` together with gradient recipes that involve unshifted evaluations. Consider the setup
[code]
Then we get:
[code]
i.e. the unshifted tape is included twice, once for the unshifted evaluation in the product rule of the variance, and once for the shift rule that uses an unshifted term.

### Implementation

[2022-10-18 14:17] antalszava commented on #2828
Note that this was resolved as per Mudit's points. Thanks for that!

The code runs without errors, it does warn `VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences` that should be cleared by the new return types system.

[2022-10-18 14:17] #2828 closed

[2022-10-18 14:27] antalszava commented on #2819
Note: this requires dedicated logic to be added and will not be resolved by other fixes (e.g., new return types).

[2022-10-18 15:50] antalszava commented on #3014
This works on `master` with recent upgrades to the `param_shift` transform:
[code]

The structure of the output is:
1. 2 Measurements (1. comp is probs, 2. is expval)
2. 3 Trainable parameters
3. Measurement shape (array with shape `(2,)` for `qml.probs` and array with shape `()` for expval)

[2022-10-18 15:50] #3014 closed

[2022-10-18 16:15] antalszava commented on #3164
Seems to raise no issues with op arithmetic.
[code]
[code]

[2022-10-18 18:19] antalszava commented on #1412
The original code runs well both with and without jitting. The devices checked were `default.qubit` and `lightning.qubit`. #3183 addresses the comment on `test_gradient_unitary_to_rot_two_qubit_jax`.

[2022-10-18 19:33] #1412 closed

[2022-10-18 21:14] antalszava commented on #2819
The above-described scenario now raises `NotImplementedError`. Computing these quantities with finite shots emits a warning and in practice, analytic computations are performed. Using a shot vector would simply mean duplicating a single result `N` times for a shot vector of length `N` and hence seems not to be useful as is.

Alternatively, if `qml.mutual_info` and `qml.vn_entropy` instead of depen

[2022-10-18 21:16] josh146 commented on #2819
Perhaps rewriting them to support state tomography -- or perhaps even better, native quantum algorithms for measuring these quantities -- would be the best overall solution

[2022-10-19 14:20] antalszava opened #3188 "[BUG] Incorrect trainable parameters on the tape when differentiating jitted QNodes with JAX"
### Expected behavior

Although JAX doesn't allow marking trainable parameters, the indices passed with `argnums` to `jax.grad`/`jax.jacobian` are considered by PennyLane.

### Actual behavior

The input parameters to a JAX-transformed QNode are inspected by PennyLane:
* If device arrays - are non-trainable;
* if tracers - are trainable.

The above logic assumes that a QNode that is JAX-transforme

[2022-10-20 09:26] mudit2812 opened #3190 "[BUG] Incorrect control values in `ControlledQubitUnitary.pow()`"
### Expected behavior

For some integer `x` and 2x2 unitary matrix `mat`, using `ControlledQubitUnitary.pow()` has the following expected behaviour:
[code]

### Actual behavior

For some integer `x` and 2x2 unitary matrix `mat`, using `ControlledQubitUnitary.pow()` has the following **actual** behaviour:
[code]

### Additional information

This is because the `pow` method doesn't update the `contr

[2022-10-21 15:51] #2983 closed

[2022-10-21 16:04] Jaybsoni opened #3198 "[BUG] Incorrect Expectation Values of Scalar Product of Sum which is non-hermitian"
### Expected behavior

The results of these two expectation values should be the same.

[code]

### Actual behavior

The results are different, a casting error occurs when computing the Eigen decomposition and the complex Eigen values of the sum operator are lost.

### Additional information

_No response_

### Source code

_No response_

### Tracebacks

_No response_

### System information

[cod

[2022-10-21 17:09] glassnotes commented on #2861
A collaborator just reported something similar to me. As a consequence, even the more broad `qml.is_hermitian` check fails in these cases, because it relies on the `op.is_hermitian` property.

[code]

One solution is to update `qml.is_hermitian` to always check the matrix representation rather than `op.is_hermitian` but that is less efficient. Another option is to add a check on commutativity of t

[2022-10-21 18:22] CatalinaAlbornoz commented on #3190
Hi @mudit2812, thank you for letting us know about this bug! Would you be interested in working on a fix?

[2022-10-21 21:01] timmysilv commented on #2984
Note that this is also true for `qml.sample`. The exact reason: the new system [doesn't expand tapes](https://github.com/PennyLaneAI/pennylane/blob/351c6bdb4cffb52609e46245b8fd7c701dc28cd4/pennylane/interfaces/execution.py#L363) for `default.mixed` because that device should support all interfaces. The old system doesn't have that `if default.qubit` check, so it would unwrap all parameters, use nu

[2022-10-23 06:55] AryanJ13 commented on #2881
[Operator.compute_sparse_matrix](https://github.com/PennyLaneAI/pennylane/blob/3647857e567253832924cb0ec6d414b152f8a0f2/pennylane/operation.py#L604)
what is this function returning and while adding format keyword it is giving me a syntax error. Can you help me with this?

[2022-10-24 14:21] antalszava opened #3203 "Create a `measured_wires` property on `QuantumScript`"
### Feature details

Some features require knowledge about all the wires being measured on a quantum script  (e.g., serialization to OpenQasm format). Furthermore, this information might be useful for devices (e.g., `default.mixed` already uses this).

There could be a `measured_wires` property in the `QuantumScript` class that gathers the measured wires. Approaches to collecting these wires only

[2022-10-24 14:31] PhilipVinc opened #3205 "[BUG] Jax device interface leaks tracers when defining devices inside of jitted-function"
### Expected behavior

Expected: The following code to run 😁. It uses jax leak checker to verify that some code is correct, and the checker says that something is bing leaked.

This is a MWE reduced by me and @StefanoBarison that arose from some more complicated code where we were trying to use  finite number of shots.

While this leak is harmless in this particular MWE, I suspect that it creates

[2022-10-24 15:18] antalszava commented on #3205
Hi @PhilipVinc, thank you so much for reporting this! :+1:  We'll be taking a closer look.

[2022-10-24 18:02] #3190 closed

[2022-10-25 02:50] antalszava opened #3210 "[BUG] `qml.prod` incompatible with some `grouping` functionality (likely due to order of ops passed to `qml.prod`)"
### Expected behavior

`qml.prod` works with `qml.grouping.utils.are_pauli_words_qwc`.

### Actual behavior

Incorrect behaviour. Swapping the order of two ops passed to `qml.prod` changes to correct behaviour (perhaps due to the wire ordering changing).

### Additional information

_No response_

### Source code

[code]

### Tracebacks

_No response_

### System information

[code]

### Existing

[2022-10-25 02:52] antalszava commented on #3210
Doing

[code]
instead of
[code]
Outputs `True` (as expected).

[2022-10-25 14:53] antalszava commented on #3205
@PhilipVinc thanks again for the report!

We've investigated this, but will likely have to keep having this on our radar. PennyLane's implementation originally didn't consider a purely functional approach and for that reason, likely leaking tracers happens on several occasions.

In general, we're keen to hear more about the shortcomings of leaking tracers and would like to do a memory profiling wh

[2022-10-25 15:18] timmysilv commented on #3210
this should be addressed by the Pauli Word rework

[2022-10-25 16:14] PhilipVinc commented on #3205
@antalszava ok, one issue I see with **your MWE** is that `JaxDevice` has a field `_prngkey` which is in principle a jax array, but jax does not know about it (this might be a source of leaks).

In principle, in jax, you have to differentiate between static and dynamical data. Dynamical data are arrays (like a prng key) which should not retrigger compilation/tracing when it changes (eg: you don't

[2022-10-25 16:43] PhilipVinc commented on #3205
You are capturing the `device`, which contains the tracer `device._prng_key` in [`jax_jit.py:_execute](https://github.com/PennyLaneAI/pennylane/blob/f5d1e68e49b103ea95fc5c8adf39234eb62fa4dc/pennylane/interfaces/jax_jit.py#L153).

This leaks because jax keeps a list of those functions/partials so this object survives after the end of tracing.

This is also what causes a crash in my gist, as in the

[2022-10-25 19:16] #3198 closed

[2022-10-25 19:37] antalszava opened #3217 "Cache jacobians when using finite-differences with Autograd"
### Feature details

Generalize the [caching mechanism in the Autograd interface used for the parameter-shift rule](https://github.com/PennyLaneAI/pennylane/blob/master/pennylane/interfaces/autograd.py#L199) to the finite differences gradient transform too.

### Implementation

_No response_

### How important would you say this feature is?

2: Somewhat important. Needed this quarter.

### Additio

[2022-10-26 10:07] PhilipVinc opened #3218 "[BUG] jax.jit(jax.grad()) of a circuit with shots crashes"
### Expected behavior

Jitting the gradient of a `QNode` with a device using shots, when setting the PRNGKey leads to a crash. I would expect this to work.
Below there is a snippet that easily reproduces this issue on master. Do note that if you remove the `jax.jit` the gradient works, but this is by accident.

I think I know what is causing the bug, but the explanation is a bit involved, I will f

[2022-10-26 10:07] PhilipVinc commented on #3205
Closing in favour of #3218 . This is a different issue but this one is harmless. I will reopen with a better investigation.

[2022-10-26 10:07] #3205 closed

[2022-10-26 20:09] erick-xanadu opened #3224 "[BUG] BasisEmbedding template cannot be JIT compiled with JAX."
### Expected behavior

The following test case should succeed

[code]

### Actual behavior

The prior test case fails with the following stack trace:

[code]

### Additional information

I've minimized the test case below. The error happens only when JIT-compiling the circuit.

### Source code

[code]

### Tracebacks

[code]

### System information

[code]

### Existing GitHub issues

- [X] I have

[2022-10-26 20:20] erick-xanadu opened #3225 "[BUG] BasisStatePreparation cannot be JIT compiled with JAX"
### Expected behavior

BasisStatePreparation should be JIT compiled with JAX.

### Actual behavior

BasisStatePreparation fails to be JIT compiled with JAX.

### Additional information

_No response_

### Source code

[code]

### Tracebacks

[code]

### System information

[code]

### Existing GitHub issues

- [X] I have searched existing GitHub issues to make sure the issue does not already exist

[2022-10-26 20:31] erick-xanadu opened #3226 "[BUG] AllSinglesDoubles cannot be JIT compiled with JAX"
### Expected behavior

The example use of template AllSingleDoubles should be JIT compiled with JAX.

### Actual behavior

The example use of template AllSingleDoubles cannot be JIT compiled with JAX.

### Additional information

_No response_

### Source code

[code]

### Tracebacks

[code]

### System information

[code]

### Existing GitHub issues

- [X] I have searched existing GitHub issues t

[2022-10-27 11:00] AlbertMitjans opened #3228 "[BUG] Wires are not checked when computing the `expval` of a `Hamiltonian` with `shots=None`"
### Expected behavior

The attached code should raise the error:
[code]

### Actual behavior

It runs and returns an incorrect value.

### Additional information

This error is raised only in the `Device.map_wires` method. I guess that in this example this method is never called, and thus the error is never raised.

Should we do a wire check at the beginning of the execution?

### Source code

[co

[2022-10-27 14:40] erick-xanadu opened #3231 "[BUG] MottonenStatePreparation cannot be JIT compiled with JAX"
### Expected behavior

`MottonenStatePreparation` should be JIT compiled with JAX.`

### Actual behavior

`MottonenStatePreparation` was not JIT compiled with JAX.

### Additional information

_No response_

### Source code

[code]

### Tracebacks

[code]

### System information

[code]

### Existing GitHub issues

- [X] I have searched existing GitHub issues to make sure the issue does not alread

[2022-10-27 19:18] antalszava commented on #3205
One thing we investigated just now with Sam: looks like the issue might be with contraction each PennyLane performs (be it einsum or tensordot).

`default.qubit` would for example do something analogous to `state = jnp.tensordot( mat, state, axes)` where `mat` is a Tracer, but `state` is a `DeviceArray`. In itself, this should not cause an issue, yet, debugging the related parts of `contextlib` st

[2022-10-27 21:49] #3164 closed

[2022-10-27 23:31] CatalinaAlbornoz commented on #3218
Hi @PhilipVinc, thank you for opening this issue. Can you please confirm whether you get this issue with PennyLane v0.26.0 too? Or only with the dev version?

[2022-10-28 07:28] PhilipVinc commented on #3218
Hi @CatalinaAlbornoz . I just tried and the issue also exists with 0.26.0. The diagnosis is the same: the host_callback should be fed the `prng_key` as an argument.

[2022-10-28 08:08] PhilipVinc commented on #3188
Hi @antalszava , sorry for chiming in but I'm quite interested in this.

I think the underlying issue lies with the fact that your tape objects should be made more jax-friendly.

The way this is solved in 'conventional' ML (I think of Flax) is by keeping parameters separated into two different dictionaries, one called `params` and it's differentiable and one called `model_state` that contains non-

[2022-10-28 10:28] PhilipVinc commented on #3205
@antalszava if you pip install this version https://github.com/google/jax/pull/13022/files of jax
[code]

you will get much more understandable output like

[code]

[2022-10-28 13:43] antalszava commented on #3218
Hi @PhilipVinc, thank you for the report and comments! :slightly_smiling_face:  We'll be looking into this and come back with our findings shortly.

[2022-10-28 14:03] PhilipVinc commented on #3218
Thank **you**, actually!

If you would like any opinion or discuss more interactively some of those Jax-related mysteries on a call, feel free to drop me an email.
This issue is currently blocking the last section of a paper we're writing, so I have a strong interest in giving any assistance you might need to address it (cc @co9olguy )

[2022-10-28 14:16] antalszava commented on #3218
Just went through the description and tried the example myself. Agree on the points - as the key is not passed in, a tracer is leaking when jitting which will lead to a leaked tracer error.

This is definitely a byproduct of the design done in PennyLane and likely requires a major design change because the pipeline described originally is a Device API that is used by (almost) all devices in our ec

[2022-10-28 14:19] antalszava commented on #3218
Appreciate this a lot, definitely keen to hear more about what we could improve! :pray:

To answer the question in the brackets: though the callback calls Python code, it encapsulates the quantum device execution which may happen using a remote simulator/a remote QPU. That's the main motivation behind us using `call`, such that everything before and after the quantum device execution can be jitted

[2022-10-28 14:21] PhilipVinc commented on #3218
Yes, what you propose would work, in principle.

However, Jax retraces/recompiles every time you change some `static` information, detected by the `hash` of the static data. If you feed different devices, with different prng seeds, you will recompile a lot the code.

In my use case, where I have an hybrid structure coupling a Neural Network and a quantum circuit, re-compiling leads to very, very l

[2022-10-28 15:18] albi3ro opened #3236 "Move code from `qml.utils.sparse_hamiltonian` to `Hamiltonian.sparse_matrix`"
Right now, we have a function [`qml.utils.sparse_hamiltonian`](https://github.com/PennyLaneAI/pennylane/blob/cf195af015a7ee9098c74e42da90d9f709dfe1c5/pennylane/utils.py#L111) responsible for constructing a SciPy sparse matrix from a Hamiltonian.

`Operator`'s like [`Hamiltonian`](https://github.com/PennyLaneAI/pennylane/blob/master/pennylane/ops/qubit/hamiltonian.py)  have a [`sparse_matrix`](http

[2022-10-28 15:30] antalszava commented on #3218
This is a great point! We can leverage this specifically for `default.qubit.jax`.

As for the other comments, yes, the OOP and the more implicit pipeline are more disadvantageous in this specific case. While PennyLane does follow functional approaches, parts of it are definitely not purely functional.

After some more local exploration, a fix should be doable and we'll be focusing on working towar

[2022-10-28 19:04] antalszava commented on #3218
@PhilipVinc was there a specific reason for using the `default.qubit.jax` device? Although written in JAX natively, our original thinking for that device has been to be used with `diff_method="backprop"`.

Switching to the C++-based `lightning.qubit` device and turning off caching (`cache=None` passed to the QNode), we can use the parameter-shift rule to get `jax.jit` to work with finite-shots:
[c

[2022-10-28 19:12] PhilipVinc commented on #3218
not really, no. I think I used it because at first I (erroneously) thought  I could not mix and match different devices and `qml.qnode` interfaces, and then it sticked. no other reason.

Probably worse. Jax is especially bad at using more than 1 or 2 cores on CPU (I think its BLAS implementation is particularly conservative before switching to multi-threading) and I wouldn't be surprised if any pu

[2022-10-28 19:14] PhilipVinc commented on #3218
Thanks for the snippet!

 I'll surely try this out. Just to understand... how will the RNG seed work in that case? is it using some internal state that gets updated every time he calls back into python/lightnight?

[2022-10-28 20:25] antalszava commented on #3218
The sampling (including the RNG seed generation) is completely encompassed in the function that is invoked by `host_callback.call`.

The function passed to `host_callback.call` is a wrapper around the `execute_fn` callable argument which mainly uses the `QubitDevice.batch_execute` method. `QubitDevice.batch_execute` is device-agnostic: under the hood, the device steps of device execution including

[2022-10-29 18:07] 12mB7693 commented on #3236
@albi3ro Hi, I would like to work on this issue. If possible, can you assign it to me?

[2022-10-31 13:43] PhilipVinc commented on #3218
@antalszava thanks a lot for the snippet, indeed it pushes us forward!
However, I had provided you with an MWE. What we actually want to do is to compute the jacobian of this expectation value, which means taking the vmap of grad.

To get to the bottom of what we'd need, here is a more complicated MWE that breaks down once we start playing with vmap.

[code]

In short, we want to run the same circ

[2022-10-31 13:48] PhilipVinc commented on #3218
Ok, I just noticed that you implicitly support `parameter broadcasting` by adding leading dimensions, so that
[code]
works and does what I wanted to do with
[code]

So I'm even more sure that `jax.pure_callback(..., vectorized =True)` in lieu of `host_callback.call` should work for you.

About the gradient... It's going to be a bit more tricky.

[2022-10-31 14:29] antalszava commented on #3218
Hi @PhilipVinc, the behaviour with `jax.jacobian` is a known limitation that we have with the JAX-Jit interface and there with discussion points in https://github.com/PennyLaneAI/pennylane/issues/2163 too. Our attempt to allow `jax.jacobian` to work with `jax.jit` is by updating our custom gradient recipe (this will also mean a shift from `custom_vjp` to `custom_jvp` as you may have come across it

[2022-10-31 18:03] josh146 opened #3242 "Transforms are updated to support the new return types"

[2022-10-31 18:03] josh146 commented on #3242
Link to subfeature: https://xanadu.productboard.com/feature-board/planning/features/15893914

[2022-10-31 18:05] trbromley commented on #3242
Closing - this was a test.

[2022-10-31 18:05] #3242 closed

[2022-10-31 21:59] PhilipVinc commented on #3218
@antalszava changing all `host callback` to `pure_callback(, vectorized=False)` gets vmap and jacobian to work with no further effort!

Though performance will be sub-optimal, because he'll be inserting a loop. But I think it's possible to make it work without switching to jvp...

[2022-11-01 01:01] antalszava commented on #3218
You're right! :tada: Tried it in #3244. We'll check how JAX's vectorized version could be wired in with PennyLane's parameter broadcasting.

As for the JVPs: it's a change we've been contemplating anyways because it allows both `jacrev` and `jacfwd` to work.

[2022-11-01 13:20] #2863 closed

[2022-11-02 14:26] cvjjm commented on #3169
Thanks!

[2022-11-02 14:26] #3169 closed

[2022-11-02 15:18] #2887 closed

[2022-11-02 18:36] antalszava opened #3251 "[BUG] JAX JIT interface incompatible with parameter-broadcasting (`tape.shape` requires info about batch dimension)"
### Expected behavior

Code that uses parameter broadcasting works with JAX Jit.

### Actual behavior

Errors are raised because the expected shape of the result is incorrect - the batch dimension is not being considered.

### Additional information

The JAX JIT interface relies on the `QuantumTape.shape` method. That method returns the expected shape of a tape. However, the method doesn't conside

[2022-11-03 14:12] #3101 closed

[2022-11-03 14:56] lillian542 opened #3256 "[BUG] Hamiltonian.compare example doesn't work"
### Expected behavior

The first docstring example suggests that it should return `True`.

### Actual behavior

It returns `False`.

### Additional information

_No response_

### Source code

[code]

### Tracebacks

_No response_

### System information

[code]

### Existing GitHub issues

- [X] I have searched existing GitHub issues to make sure the issue does not already exist.

[2022-11-03 19:40] #3218 closed

[2022-11-03 19:41] PhilipVinc commented on #3218
Can I open an issue to track properly vectorising the grad call when using the jax interface?

[2022-11-03 19:43] antalszava commented on #3218
For sure! Just wanted to leave a comment here, mentioning that although this issue is being closed, we'd like to track the improvements we discussed.

[2022-11-03 19:44] antalszava commented on #3218
@PhilipVinc could you also open an issue describing the improvements we could make to the parameter broadcasting UI?

[2022-11-03 19:47] PhilipVinc commented on #3218
Yes it's on my to do list. I have a deadline on monday so my eta is 10 days to be able to phrase something decently.

And thanks for implementing this thing. It's very helpful for us being able to work with Jax without worrying too much about how to work around issues..

[2022-11-03 19:47] antalszava opened #3259 "Skip using a callback for `default.qubit.jax` and `diff_method="parameter-shift"`"
### Feature details

Specifying `diff_method="parameter-shift"` and transforming the QNode with `jax.jit` results in applying the JAX JIT interface. When used with the `"default.qubit.jax"` device, computing the gradient involves using `jax.pure_callback`. Using `jax.pure_callback`, however, is not required with this device because it is meant to natively used with JAX data structures.

### Implem

[2022-11-03 19:52] #2632 closed

[2022-11-04 09:30] AlbertMitjans opened #3263 "Running `qml.probs(wires=[])` with `shots=None` raises an Error"
### Expected behavior

The attached code should return the probabilities of all the wires.

### Actual behavior

The following error is raised:
[code]

### Additional information

With `shots != None` this works as expected:
[code]
[code]
### Source code

[code]

### Tracebacks

_No response_

### System information

[code]

### Existing GitHub issues

- [X] I have searched existing GitHub issues

[2022-11-04 09:41] AlbertMitjans commented on #3256
You are right the example doesn't work.

I am not sure if this is a bug, or if it is only an inconsistency in the `Hamiltonian.compare` docstring. The warning says the following:
[code]
And in the example they are comparing a `Hermitian` observable with a linear combination of `Hermitian` observables, right?

[2022-11-04 09:42] AlbertMitjans commented on #3256
If it is an inconsistency we only need to update the docstring.

[2022-11-04 13:23] lillian542 commented on #3256
I believe it's only an inconsistency. Can I just replace that example with a random example that does work?

[2022-11-04 14:04] josh146 commented on #3263
@AlbertMitjans I'm surprised this works at all - `wires=[]` implies to me _no_ wires? Which as a user I would assume to not work?

[2022-11-04 14:55] AlbertMitjans commented on #3263
`qml.counts` has the same functionality:
[code]
[code]

I thought `wires=[]` was a way to choose all wires. With `qml.counts` one can call it without arguments, but doing this with `qml.probs` raises an error.

[2022-11-04 15:26] AlbertMitjans commented on #3256
Sure!

[2022-11-04 16:23] #3224 closed

[2022-11-04 16:23] #3225 closed

[2022-11-04 20:52] #3228 closed

[2022-11-07 13:57] erick-xanadu commented on #3226
I see, thanks @eddddddy! You can close this ticket then. :)

[2022-11-07 14:20] mlxd opened #3272 "[BUG] Issue with expval of SparseH not building correct sized matrix"
### Expected behavior

The following example should run to completion:
[code]

### Actual behavior

The internal representation does not build a sparse H of the correct size for application to the dense statevector:

[code]

### Additional information

This is in the most recent released and master branches of PennyLane.

### Source code

_No response_

### Tracebacks

_No response_

### System in

[2022-11-07 14:32] #3226 closed

[2022-11-07 16:00] astralcai commented on #3150
Hi, I have opened a pull request for this feature (https://github.com/PennyLaneAI/pennylane/pull/3271).

[2022-11-07 16:18] albi3ro commented on #3272
If `wires` aren't passed to `qml.utils.sparse_hamiltonian`, it assumes that the only wires are those in the `Hamiltonian`, which in this case is only two.

Providing wires to that function fixes the problem:
[code]

I'll add some validation in `qml.SparseHamiltonian` to check for this kind of error earlier.

[2022-11-07 16:39] astralcai commented on #3150
The original pull request was discarded because the new commit to master which re-organized the measurements module conflicts with my commit. I have re-organized my code and opened up a new pull request (https://github.com/PennyLaneAI/pennylane/pull/3275)

[2022-11-07 17:29] #3231 closed

[2022-11-07 21:56] albi3ro commented on #3272
Now validated.

[2022-11-07 21:56] #3272 closed

[2022-11-08 16:07] astralcai commented on #3139
Hi, I have created a pull-request for this feature (https://github.com/PennyLaneAI/pennylane/pull/3290). I also added support for measurement processes and QNode transforms, as they might be useful. There are non-trivial use cases of computing purity for a circuit state:
1. Computing the purity of a sub-system to determine if this subsystem is entangled with the rest of the circuit.
2. Computing t

[2022-11-08 16:15] AlbertMitjans commented on #3263
We (core team) decided to support calling `qml.probs()` without any arguments.

Should we also raise an error when using `qml.probs(wires=[])`?

[2022-11-08 16:33] josh146 commented on #3263
@AlbertMitjans I would not support this (e.g., raise an error) as to me it is ambiguous. If I was a user with a programmatic workflow to generate wires, I would assume `wires=[]` meant no wires

[2022-11-09 23:34] CatalinaAlbornoz commented on #3139
Hi @astralcai, thank you for creating a pull request for this feature! 🤩 Please add any questions you may have on the PR itself.

[2022-11-10 01:40] antalszava opened #3309 "[BUG] Single-precision raises error with the JAX JIT interface"
### Expected behavior

Users can have single-precision workflows.

### Actual behavior

Error is raised because internally somewhere results with double precision are created.

### Additional information

_No response_

### Source code

[code]

### Tracebacks

[code]

### System information

[code]

### Existing GitHub issues

- [X] I have searched existing GitHub issues to make sure the issue doe

[2022-11-10 02:43] josh146 commented on #3309
Nice catch @antalszava! Is this a new bug compared to v0.26?

[2022-11-10 21:51] KetpuntoG opened #3319 "gates block"
### Feature details

It would be great to be able to group gates under the same name so that they would be drawn as a single block in the drawer.
Possible implementations:

[code]

So if I now paint the circuit, I will not see the U gates but a block called "my block".
As a decorator it would also look very nice:

[code]

I have called it block but maybe it can be given another better name

### Im

[2022-11-10 23:34] josh146 commented on #3319
@KetpuntoG actually you could do this with operations!
[code]

[2022-11-11 05:09] #3251 closed

[2022-11-11 14:29] KetpuntoG commented on #3319
Oh okay, it works for me! Thanks :)

[2022-11-11 14:29] #3319 closed

[2022-11-11 16:05] timmysilv opened #3330 "[BUG] qml.matrix(op) and op.matrix() are different for Barrier and WireCut"
### Expected behavior

I expected them both to pass, or both to fail.

### Actual behavior

`qml.matrix(qml.Barrier(0))` passed, `qml.Barrier(0).matrix()` failed. Same for `qml.WireCut`.

### Additional information

Attached source code is for Barrier, but the same thing happens with WireCut.

### Source code

[code]

### Tracebacks

_No response_

### System information

[code]

### Existing GitH

[2022-11-11 17:02] lillian542 opened #3332 "Warning or useful error message if initializing Exp with swapped arguments"
### Feature details

When creating an `Exp`, the intention (and assumption of various class methods) is that the first argument is the base operator, and the second the coefficient.

No error or warning is raised when creating the operator if these arguments are switched, but trying to use the resulting operator raises errors later, with error messages that would be fairly cryptic to a user who ha

[2022-11-11 18:29] alt-shreya opened #3333 "[BUG]"
### Expected behavior

I was trying to draw a Basis state using the example [on your docs](https://docs.pennylane.ai/en/stable/code/api/pennylane.BasisStatePreparation.html).
I expected to visualise my circuit.

[code]

### Actual behavior

![Uploading image.png…]()

### Additional information

_No response_

### Source code

_No response_

### Tracebacks

_No response_

### System information

[c

[2022-11-11 18:52] lillian542 opened #3334 "[BUG] is_pauli_word returns incorrect output"
### Expected behavior

That a function called `is_pauli_word` checks if the operator is a Pauli word.

### Actual behavior

Currently it checks if all the operators are Pauli operators or Identity. *If* all the Pauli operators also target different wires, this is the same as checking if its a Pauli word. If the same wire is targeted by multiple Pauli operators, imaginary coefficient start popping

[2022-11-11 21:30] eddddddy commented on #3309
On Windows the error message is a lot more cryptic:
[code]

Enabling double-precision using `jax.config` gets rid of this error, but this should not be a permanent solution.

[2022-11-14 15:10] rmoyard commented on #3333
Hi @alt-shreya, I think you should do something like that for using the mpl drawer:

[code]

[2022-11-14 19:10] timmysilv opened #3349 "[BUG] testing github integrations"
### Expected behavior

I expect the integration to work!

### Actual behavior

only time will tell.

### Additional information

_No response_

### Source code

_No response_

### Tracebacks

_No response_

### System information

[code]

### Existing GitHub issues

- [X] I have searched existing GitHub issues to make sure the issue does not already exist.

[2022-11-14 19:20] #3349 closed

[2022-11-14 19:30] timmysilv opened #3350 "[BUG] lambda test"
### Expected behavior

blah

### Actual behavior

also blah

### Additional information

_No response_

### Source code

_No response_

### Tracebacks

_No response_

### System information

[code]

### Existing GitHub issues

- [X] I have searched existing GitHub issues to make sure the issue does not already exist.

[2022-11-14 19:33] #3350 closed

[2022-11-14 19:35] timmysilv opened #3351 "[BUG] idk"
### Expected behavior

idk

### Actual behavior

nothing.

### Additional information

_No response_

### Source code

_No response_

### Tracebacks

_No response_

### System information

[code]

### Existing GitHub issues

- [X] I have searched existing GitHub issues to make sure the issue does not already exist.

[2022-11-15 15:14] glassnotes opened #3358 "Add a `ControlledSingleExcitation` operation"
### Feature details

The controlled single-excitation is [universal for particle-conserving gates](https://arxiv.org/abs/2106.13839). It would be convenient to have it readily available without going through `qml.ctrl`.

### Implementation

Since we'd like this in the near-term for a project, I can implement it fairly quickly. I would just appreciate some guidance on how to structure the inheritan

[2022-11-15 15:22] glassnotes opened #3359 "Implement higher-order excitations and decompositon algorithm"
### Feature details

Further to #3358 , any higher-order excitation can be decomposed into controlled single-excitations; so if that gate is available, we could implement the algorithm described [here](https://arxiv.org/abs/2106.13839) to decompose them. The core of this feature would be defining a higher-order excitation operation, and its decomposition:

[code]

### Implementation

The implement

[2022-11-15 21:44] #3147 closed

[2022-11-16 15:29] albi3ro commented on #3358
Thanks for the suggestion @glassnotes .  Is the only thing not provided by `Controlled` the decomposition?

I've been thinking about how to better implement `Controlled` decompositions without needing custom operations for each case.  If this is a priority, I can start thinking about this again.

[2022-11-16 15:34] albi3ro opened #3368 "[BUG] Hamiltonian expansion with dynamic shots fails"
### Expected behavior

I expect that a Hamiltonian expectation value is expanded if the execution occurs with finite shots.

### Actual behavior

If the device has `shots=None` upon construction, but the circuit is dynamically executed with finite shots, Hamiltonian expansion does not occur.

This happens because the batch transformation occurs before the device shots are set in `qml.exeucte`.  We

[2022-11-16 15:40] albi3ro commented on #3368
I also have a local fix.

[2022-11-16 16:28] timmysilv opened #3370 "[BUG] trying automation"
### Expected behavior

new story

### Actual behavior

idk ?

### Additional information

_No response_

### Source code

_No response_

### Tracebacks

_No response_

### System information

[code]

### Existing GitHub issues

- [X] I have searched existing GitHub issues to make sure the issue does not already exist.

[2022-11-16 16:31] #3370 closed

[2022-11-16 16:32] timmysilv opened #3371 "[BUG] another automation test"
### Expected behavior

foo

### Actual behavior

idk new story

### Additional information

_No response_

### Source code

_No response_

### Tracebacks

_No response_

### System information

[code]

### Existing GitHub issues

- [X] I have searched existing GitHub issues to make sure the issue does not already exist.

[2022-11-16 16:34] #3371 closed

[2022-11-16 16:54] timmysilv opened #3372 "[BUG] a very real bug"
### Expected behavior

do not be deceived

### Actual behavior

it actually makes a story

### Additional information

_No response_

### Source code

_No response_

### Tracebacks

_No response_

### System information

[code]

### Existing GitHub issues

- [X] I have searched existing GitHub issues to make sure the issue does not already exist.

[2022-11-16 16:54] timmysilv commented on #3372
nvm it is ok

[2022-11-16 17:05] smokingroosters commented on #3372
all good

[2022-11-16 17:05] #3372 closed

[2022-11-16 19:50] astralcai commented on #2935
Hi, I just created a pull request (https://github.com/PennyLaneAI/pennylane/pull/3373) for this feature.

[2022-11-16 20:28] #3368 closed

[2022-11-17 14:39] albi3ro commented on #2935
Hello @astralcai and thanks for your pull request.  @KetpuntoG has added some more information about what he thought the enhancement would look like, but I would like to propose an another way for how we want this to behave.

Sorry about changing the constraints of the problem on you.

We want to be able to construct the QPE template from something other than matrices. The goal of PennyLane is to

[2022-11-17 15:05] toshi-koike-akino opened #3379 "AmplitudeEmbedding padding/normalization"
I encounter issues when embedding non-power-of-two features with AmplitudeEmbedding. Older version works, but v0.27.0 does not work.
When I see the source code, the change in padding is:
from
 feature_set = qml.math.concatenate([feature_set, padding], axis=0)
to
 feature_set = qml.math.hstack([feature_set, padding])

The error message is as follows:
python3.9/site-packages/pennylane/templates/embe

[2022-11-17 20:43] rmoyard commented on #3379
Hi @toshi-koike-akino thank you for reporting your problem! Indeed there was a change in this PR https://github.com/PennyLaneAI/pennylane/pull/3166. Could give an example of what do you mean by non-power-of-two features?

I tried that and still works:

[code]

[2022-11-17 20:51] toshi-koike-akino commented on #3379
I meant the case such as 3 features not 4(=2^2) features
  circuit(f=[15,15,15])
And, using 'pad_with' like
  qm.AmplitudeEmbedding(f, wires=range(2), pad_with=1, normalize=True)

[2022-11-18 17:18] #3330 closed

[2022-11-18 17:28] rmoyard commented on #3379
Thank you @toshi-koike-akino , @eddddddy opened a PR to fix that problem.

[2022-11-18 19:14] rmoyard opened #3395 "[BUG] `_obs_sharing_wires` not updated in original tape after expansion"
Rotations are queued  in the original tape each time expansion is called.

**Example:**
[code]
Before changes:
[code]
After changes:
[code]

[2022-11-18 20:02] #3379 closed

[2022-11-18 20:06] #3395 closed

[2022-11-21 05:01] MKSA0000 opened #3396 "[BUG] Tensor product of two pauliX is not equal to qml.Prod of them inside a circuit"
### Expected behavior

Circuit1, circuit 2, circuit 3, and circuit 4 yield the same statevector.

### Actual behavior

Only circuit 1 and 2 work fine. The pauli operators in circuit 3 and 4 vanish and the circuits are just the same as identity circuit

### Additional information

My issue could be related to issue #2866 , but the problem occurs not only when applying pauli gates to the same wire b

[2022-11-21 14:44] josh146 commented on #3396
Thanks for reporting this @MKSA0000! Having a look at the circuit diagrams for each circuit:

[code]

It appears that circuits 3 and 4 aren't actually queuing any operations, and so have empty circuits.

I believe there is currently work in progress to fix this:

1. Over the next release, the `@` operator will be modified to be an alias of `qml.prod()`. This will fix `circuit3`.

2. We are also lo

[2022-11-21 15:14] dwierichs opened #3398 "[BUG] Finite difference does not work with special object observable"
### Expected behavior

There is a [dedicated test](https://github.com/PennyLaneAI/pennylane/blob/dae6540be0ad78f258ebf7f342e4537c120addfc/tests/gradients/test_finite_difference.py#L357) for special observables that return some special object instead of a number and differentiating them with `finite_diff`.

### Actual behavior

Unfortunately, the test linked above for `diff_method="finite_diff"` do

[2022-11-21 15:56] josh146 commented on #3398
Thanks for catching this @dwierichs! Does this mean that special observables _do_ work with parameter-shift? Or is that also broken?

[2022-11-21 16:02] dwierichs commented on #3398
Yes, with parameter-shift there should not be any issue. The FD test is a copy of the PS test, as far as I can tell, and it passes :)
This is not a critical issue, because the changes required are actually that the `SpecialObject` is a bit more versatile than the test emulates, i.e. it is supposed to not only allow for `SpecialObject(value) * float` but also for `float * SpecialObject(value)`, as

[2022-11-21 21:32] antalszava opened #3403 "Allow skipping `QNode.construct` in `QNode.__call__` when QNode is already constructed"
### Feature details

Some functions in PennyLane (e.g., a few in qinfo) perform the following on a QNode object:
1. Construct the QNode;
2. Use the constructed QNode to do something (e.g., validation check like, is the measurement in the QNode `State`?)
3. Call the QNode

Calling a QNode involves construction, so in such a workflow the QNode is constructed twice. It would be great if this could be

[2022-11-21 22:53] antalszava commented on #2969
Hi @Amana-L, apologies for the delayed response here. What link would that be?

[2022-11-22 00:28] antalszava commented on #3094
Hi @anonymousr007, thank you for your interest! :slightly_smiling_face:

The idea here is that an object that is created by top-level functions that transform operations (e.g., `qml.s_prod`, `qml.prod`, and `qml.op_sum`) can have some simplification steps that may be performed. What the simplification step is, depends on the operation and the transform itself, but for example the original snippet

[2022-11-22 01:35] antalszava commented on #2558
Hi @tgag17, apologies for the late reply. Changes in the `master` branch have made the original snippet outdated and also seem to have made this issue be resolved (cc @albi3ro):
[code]
`(-1.0) [SparseHamiltonian0]`

[2022-11-22 16:47] #3396 closed

[2022-11-22 18:17] astralcai opened #3407 "[BUG] Operator.pow does not queue its constituents"
### Expected behavior

[code]

### Actual behavior

[code]

### Additional information

This can easily be reproduced.

### Source code

[code]

### Tracebacks

_No response_

### System information

[code]

### Existing GitHub issues

- [X] I have searched existing GitHub issues to make sure the issue does not already exist.

[2022-11-22 18:18] astralcai commented on #3407
To be fixed in https://github.com/PennyLaneAI/pennylane/pull/3373

[2022-11-22 18:23] albi3ro commented on #3407
Thanks for opening this bug report @astralcai .

[2022-11-22 21:01] albi3ro commented on #2939
Fixed in #3278

[2022-11-22 21:01] #2939 closed

[2022-11-22 22:10] astralcai commented on #3139
The pull request is merged, however this feature is still missing the measurement component. This is to be implemented after the refactor of the `measurement` module is complete. Do not close this issue yet.

[2022-11-22 23:31] eddddddy opened #3412 "[BUG] `qml.sample` produces incorrect results with shot vectors"
### Expected behavior

Consider the following QNode that is being run on a device with a shot vector:
[code]
Executing this QNode should produce an output like the following:
[code]

### Actual behavior

Instead, executing this QNode produces the following output:
[code]
Note that some of the samples are `[0, 1]` or `[1, 0]`, which should never occur given the QNode defined above.

### Additional

[2022-11-23 00:08] glassnotes commented on #3358
Adding it is mostly for convenience. I have to check the decomposition manually to see if there is a more efficient one than just applying a control to each gate in the normal decomp, as that would definitely affect things.

[2022-11-23 09:05] #3174 closed

[2022-11-23 15:40] #3103 closed

[2022-11-24 22:20] albi3ro commented on #2636
Links to relevant pieces of source code:

* [`QubitUnitary`](https://github.com/PennyLaneAI/pennylane/blob/6633fcb91a7d83900fce876295df60594a241e48/pennylane/ops/qubit/matrix_ops.py#L28)
* [`zyz_decomposition`](https://github.com/PennyLaneAI/pennylane/blob/6633fcb91a7d83900fce876295df60594a241e48/pennylane/transforms/decompositions/single_qubit_unitary.py#L39)
* [`two_qubit_decomposition`](https:/

[2022-11-24 23:34] CatalinaAlbornoz commented on #3139
Thanks for the heads-up @astralcai ! We won't close this issue yet.

[2022-11-26 18:12] astralcai commented on #3139
Hi @CatalinaAlbornoz,

Can you let me know when the refactor is complete? I'll open up a new PR for the purity measurement then.

Best,

Astral

[2022-11-26 19:44] ankit27kh commented on #3162
Hey @isaacdevlugt
I can work on this. My idea is to have a method for all gates (which don't have a decomposition method) to give their clifford+T decomposition. Then the transform can go through the tape, decompose the gates, and replace them with their clifford+T substitutes.
The decomposition can only be an approximation, the order of which will have to be decided.
Let me know.

[2022-11-26 20:17] ankit27kh commented on #3162
fixed decomposition will not work for parameterised gates. An algorithm will have to be used for such gates, which will generate the decomposition up to a threshold error

[2022-11-28 16:48] antalszava opened #3428 "[BUG] [Return-types] Some tests raise `VisibleDeprecationWarning` (perhaps due to param-shift)"
### Expected behavior

No test in `tests/returntypes` raises `VisibleDeprecationWarning` (or those that do have such warnings handled and caught).

### Actual behavior

Some tests do raise warnings, e.g., running `pytest tests/returntypes/test_jax_qnode_new.py --tb=short -s -x -k 'test_diff_multi_probs'` raises

[code]

### Additional information

It might be that the parameter-shift gradient tran

[2022-11-28 17:38] #3412 closed

[2022-11-28 19:15] albi3ro commented on #2636
@dwierichs updated and clarified for potential use as a technical assessment.

[2022-11-28 19:49] 12mB7693 commented on #3236
@albi3ro Thank you! Unfortunately, I am struggling a bit to create a "Work in Progress" pull request. I created a local branch, but I am not sure, how to push this to the pennylane repo in order to create a pull request. Maybe i missed something there, but I also could not find further details in the contribution guide.

[2022-11-29 01:17] CatalinaAlbornoz commented on #3236
Hi @12mB7693, I can help with that! I made a guide that can help with this part of the contribution process. My guess is that you haven't made any commits yet so this is why you're having trouble at the moment. Please let me know if you have any further questions!

[Guide - Contributing to PennyLane.pdf](https://github.com/PennyLaneAI/pennylane/files/10108861/Guide.-.Contributing.to.PennyLane.pdf)

[2022-11-29 17:57] albi3ro commented on #1176
Since so much of PennyLane has changed since the time this was opened, I'm going to go ahead and close this as it is a stale issue.

[2022-11-29 17:57] #1176 closed

[2022-11-29 17:58] albi3ro commented on #1119
`qml.adjoint` now works with `.inv`, and we are getting rid of `.inv()` soon anyway.  Issue is no longer an issue.

[2022-11-29 17:58] #1119 closed

[2022-11-29 18:01] albi3ro commented on #1120
No longer really relevant.  We no longer check the unitarity of `QubitUnitary`, and `@` is defined for all Operators.

[2022-11-29 18:01] #1120 closed

[2022-11-29 18:09] albi3ro commented on #966
Mentioning here we should just try to get rid of flatten and unflatten somehow.   I think it would be doable. They are only bring used in `QNGOptimizer`, rms prop, and rotoselect.

[2022-11-30 02:33] CatalinaAlbornoz commented on #3139
Hi @astralcai. The VnEntropy MP class in (#3326) has been merged. Was there another PR that you were waiting for? @antalszava, is there another PR that we should be aware of here?

[2022-11-30 21:33] #3398 closed