[2018-05-25 15:23] co9olguy opened #1 "Documentation-friendly technical details"
Currently we have some compiled literature and some internal notes on the subject of quantum gradient circuits. It's early days and this is also a research project, so things are still a bit unorganized.

Knowing that we are going to open source the software, let's begin to organize and clean these things up a bit. We will begin with establishing a document similar to the [conventions page](https:

[2018-08-01 15:40] smite opened #2 "Circuit templates for the plugins"
The plugins need better, more relevant circuit templates. The current templates are more or less just arbitrary gate sequences to have something to run tests on.

[2018-08-01 15:49] smite opened #3 "Demos and examples"
More demos should be added (in the examples directory). They should be self-contained Python scripts that use OpenQML to do something interesting and educational. The demos should have lots of comments in them, ideally explaining both what we are doing, and why we are doing it.

Ideas:

* Training a circuit to produce/approximate a state with given properties
* Training a quantum classifier circui

[2018-08-02 14:51] mariaschuld opened #4 "CV gradients - Heisenberg derivatives"
Hey everyone. Maybe we can move some of the discussions out of the paper and to here for now? At least as far as writing equations allows...

Christian, your comment on passing the derivative past a non-Gaussian circuit in the Heisenberg and "circuit" picture is very useful. I have not even thought about the case of U being non-Gaussian and something else than homodyne detection, I was more worrie

[2018-08-02 16:32] cgogolin opened #5 "Maybe throw `autograd` directly at variational circuits defined with the Fock backend?"
I only just now learned about `autograd`, so it may be a stupid (pre-)idea, but:

Why not define a variational quantum circuit with SF and and let `autograd` do all the differentiation?

This might seem total absurd a first, but I imagine that, as the Fock backend uses pretty basic operations internally, this has a finite chance of success, at least for the fully Gaussian case.

[2018-08-03 11:07] mariaschuld opened #6 "CV gradients - Projector decomposition of generators"
@cgogolin and @smite, great that you implemented Christian's idea with the projector decomposition. Is there any gate for which we can find a useful decomposition, so this becomes relevant for the code? In fact, either a decomposition of the generator into implementable projectors, or a decomposition of the generator into implementable unitaries (from there we could use some tricks I think). I tri

[2018-08-03 19:54] co9olguy opened #7 "Finalize CV gradients theory"
I'd like to set a deadline on this. For better or for worse, we need to know soon whether it is viable to add the CV gradients to v0.1 of openqml. I'm going to set the date of **Aug 12** for this.

If we do not have a very clear picture about how the code for this would look by then, we will go forward with only numerical differentiation for CV circuits.

[2018-08-13 16:45] #7 closed, assigned to smite, co9olguy, mariaschuld

[2018-08-13 16:46] #4 closed, assigned to nobody

[2018-08-13 16:48] co9olguy opened #8 "Implement CV Gaussian gradients"
Given our previous discussions and theoretical research results, we will implement automatic differentiation of *Gaussian CV circuits.* These are circuits that include Gaussian gate sets and measurements of the quadratures up to order 2.

[2018-08-13 16:49] #5 closed, assigned to nobody

[2018-08-14 10:26] mariaschuld opened #9 "Write more examples"
Here are some examples that might be interesting and promote some of our research:

Optimization
- elementary VQE (qubits)
- photon redirection (qmodes, done by Ville)

ML using simple 2-d data with a quadratic decision boundary
- QNN a la Farhi and Neven (qubits)
- CV QNN  (qmodes)
- IBM Kernel classifier (qubits)
- Squeezing Kernel classifier from our paper (qmodes)

What do you guys think? I'd

[2018-08-28 17:14] co9olguy opened #10 "OpenQML workflow"
Hi all, because of the nature of this project and our distributed team, it's become clear that we need to establish some more firm guidelines and best practices to make sure things move forward smoothly.

The number one priority is to _keep everything moving in sync_ as much as possible. This means that everyone should, as far as possible, work on orthogonal tasks. Discussion/suggestions are ok, b

[2018-08-29 08:57] josh146 opened #11 "The inputs and outputs of the quantum function circuit"
This issue is related to how we pass/call the quantum function associated with a `QNode`. As far as I can see, we want to provide maximum freedom to the user, but are constrained by autograd/design decisions/python decorators.

From @mariaschuld:

[2018-08-29 09:01] josh146 opened #12 "Optimization interface"
This issue reflects an interface change, away from a single `Optimizer` class which the user invokes with a keyword argument, towards something more akin to TensorFlow:

[code]
The `Optimizer` class would then wrap these individual methods/classes as a convenience to the user.

From @mariaschuld:

[2018-08-29 09:06] mariaschuld opened #13 "Make cost() not take "batched" as an argument"
I'm not sure whose level of influence this is (Ville? Josh?) but at the new_user_interface branch cost() requires the second argument "batched". Can we remove that easily?

This is related to the optimizer question, so we could also rewrite it in one go.

[2018-08-29 14:09] josh146 opened #14 "Branch pruning"
Hey everyone, Nathan and I have been going through the branches, to work out which to keep, which ones we can merge, which ones we can turn into issues, and which to delete. Here is the current list I have compiled:

• :negative_squared_cross_mark: `build_system`
 @cgogolin: Branches off `projectQ_plugin`. Simply adds a makefile. To delete.

• :negative_squared_cross_mark: `parameter_pass_on`
  @c

[2018-08-29 19:21] #13 closed, assigned to smite, josh146

[2018-08-29 19:32] #9 closed, assigned to mariaschuld

[2018-08-30 08:07] cgogolin opened #16 "Serving credentials to plugins"
OpenQML needs an infrastructure to pass on credentials (usernames, passwords, API tokens, ...) to plugins that require these to run code on external services. As we discussed on Slack, it is probably best to require the user to put these in a configuration file.

**Questions:**
- How shall a plugin react if it needs credentials but didn't get them?
- Maybe plugins should have a way of signaling to

[2018-08-30 09:59] cgogolin opened #17 "Comments and docstrings in device.py still refer to GateSpec"
As far as I understand the `GateSpec` class of the old interface is no longer used, so that should be changed.

[2018-08-30 11:37] cgogolin opened #18 "Suggestions for the plugin devloper side of the API"
I will collect suggestions on the API for plugin developers here:

- Currently `execute()` must be overwritten by plugins. In the overwriting function the result must be stored in `self._out`. This implementation detail should better be hidden from plugin developers, I think it would be better if the user function `execute()` were made "final" and plugins had to instead overwrite a function called

[2018-08-30 13:45] smite opened #19 "Verifying the CV circuit differentiation formulas"
I'd like some help with checking that the derivation of my CV differentiation formulas is correct. They produce gradients that match with the finite diff gradients, but it's better to be sure.

The formulas can be found in Appendix A5: "CV gates" in `formalism/openqml_formalism.tex` in the `master` branch. They are an extension of Table II.

I think the BS matrix in Table II has to be wrong, since

[2018-08-30 13:59] #10 closed, assigned to smite, josh146, cgogolin, co9olguy, mariaschuld

[2018-08-30 14:00] #8 closed, assigned to smite

[2018-08-30 18:38] cgogolin opened #20 "Call device.reset() only when necessary"
Maybe I am missing something, but to me it looks like `self.device.reset()` is called explicitely in [qnode.py](https://github.com/XanaduAI/openqml/blob/d22739a2f4b1cb3e09f1cc7910801d7fd4fbfbe8/openqml/qnode.py#L117) and then again during `__enter__()` in `Device`. This causes problems for me in the ProjectQ plugin.
Can we get rid of the explicite call to `reset()` in `qnode.py`, please?

[2018-08-31 12:44] #20 closed, assigned to josh146

[2018-08-31 13:46] cgogolin opened #23 "Support other termination cirteria than max_steps in Optimizer.train()"
It would be good training could also be stopped when the remaining cost is below a given value, for example.

[2018-08-31 14:05] cgogolin opened #25 "Logging in the optimizer"
The `Optimizer` should probably consistently use `log.info()` instead of `print()` for the status updates and debug output. This will already enabled the user (or a unit test author) to set the log level and suppress the messages, but maybe it would be nice to also offer an keyword argument to suppress log messages?

[2018-08-31 18:06] #6 closed, assigned to nobody

[2018-08-31 18:17] #2 closed, assigned to nobody

[2018-08-31 18:42] co9olguy opened #26 "Add tests for automatic gradient computation"
We should have standalone unit tests for each gate the supports automatic differentiation.

[2018-09-06 09:36] josh146 opened #27 "Circuit construction, and passing arguments to quantum nodes"
I'm currently looking at porting @smite's CV gradient code to the `new_user_interface` branch, but I've run into a bit of a problem.

The CV gradient code requires the ParRef/Variable to Operation mapping be known ahead of time, so I've been modifying the `QNode` to bring this in line with `master`.

**Old approach:**
In the previous approach, circuit construction (i.e. evaluating the quantum func

[2018-09-06 10:32] #14 closed, assigned to smite, cgogolin, co9olguy

[2018-09-06 10:53] cgogolin opened #29 "Meaning of PhaseShift Operation"
I do not understand the [`PhaseShift`](https://github.com/XanaduAI/openqml/blob/b632f08646d08b44b32243bfa91a993211ae8a8f/openqml/ops/builtins_discrete.py#L145) `Operation` in `builtins_discrete.py`.

Is that supposed to be a global phase shift? If so, why does it act on a subsystem?

[2018-09-06 13:44] cgogolin opened #30 "All builtin operations should have a formula in the docstring that defines them unambiguously."

[2018-09-06 13:45] #29 closed, assigned to nobody

[2018-09-06 13:47] co9olguy opened #31 "Misleading error messages from quantum circuits"
I've come across this situation several times: I am coding up a quantum circuit in openqml, something goes wrong, and I receive the error message:
```openqml.device.DeviceError: A qfunc must always conclude with a classical expectation value.```

Here is a MWE that causes the error:
[code]
Obviously the error is actually caused by a syntax error inside the `qfunc`, and not by the `expectation`, so

[2018-09-07 08:09] cgogolin opened #35 "Gaussian backend claims it can do operations that are not implemented"
Specifically this concerns:

- 'DisplacedSqueezed'
- 'TwoModeSqueezing'

At the same time, operations provided in `ops.py` are commented out, namely:

- 'XDisplacement'
- 'ZDisplacement'

I would fix it myself, but due to the move, I don't have the time this week, so I am at least taking a note.

I discovered these while working on general unit tests for the installed plugins [here](https://github

[2018-09-07 08:21] cgogolin opened #36 "Determine the number of subsystems a gate acts on"
While working on general unit tests for the plugins I ran into the following problem:

I wanted to implement a [test that would run all circuits consisting of one gate and one measurement](https://github.com/XanaduAI/openqml/blob/399bde6203837f552890bbe6bfaa0e670a159b80/tests/test_installed_plugins.py#L88). The problem is: While I can easily figure out how many parameters a gate/observable wants/n

[2018-09-07 08:26] cgogolin opened #37 "QubitUnitary in ProjectQ plugin"
This is just for me so that I don't forget while I am taking a break for the move:

I [turns out that ProjectQ has a way to implement an arbitrary qubit unitary gate](https://github.com/ProjectQ-Framework/ProjectQ/issues/268#issuecomment-419118888), this will allow to implement [`QubitUnitary`](https://github.com/XanaduAI/openqml/blob/8413859a540e9cb276966a3246efe3bb9b4d3c29/openqml-pq/openqml_pq/

[2018-09-07 15:35] co9olguy opened #38 "CV gradients of second-order operators"
At the moment, automatic gradients are coded up for first-order quadrature operators (x, p, etc). We still need to implement automatic gradients for 2nd-order observables (xx, xp + px, pp, n, etc) in a smart way.

Putting this issue here as a reminder to do this

[2018-09-07 21:09] smite opened #39 "Suggestion for circuit entry syntax: bar notation"
Currently the circuit input syntax takes the gate parameters and the wires/subsystems on which to apply the gate like this:

    qm.Gate(p1, p2, [wire1, wire2])

I'd propose using the vertical bar syntax, like we already do in Strawberrry Fields and ProjectQ:

    qm.Gate(p1, p2) | [wire1, wire2]

It's about as fast to write, in my opinion a bit easier to read, and maybe less error-prone.

[2018-09-10 13:25] #39 closed, assigned to nobody

[2018-09-10 20:25] #26 closed, assigned to josh146, co9olguy

[2018-09-10 20:45] #19 closed, assigned to co9olguy, mariaschuld

[2018-09-10 21:43] #27 closed, assigned to nobody

[2018-09-11 15:27] #16 closed, assigned to josh146, cgogolin

[2018-09-11 16:50] co9olguy opened #41 "Bugs for CV gradients"
I mentioned this to @smite already, but putting here to remember.

Currently some checks are performed to determine which differentiation method to use. One of these checks is to look at the number of parameters a gate has. If it does not have exactly 1 parameter, the differentiation method is set to be finite differences.
We would like to have the two-parameter CV gates compatible with automatic

[2018-09-13 14:07] #35 closed, assigned to nobody

[2018-09-13 14:09] #36 closed, assigned to smite

[2018-09-13 14:10] #31 closed, assigned to josh146

[2018-09-13 14:18] #25 closed, assigned to smite, josh146, mariaschuld

[2018-09-13 21:06] co9olguy opened #43 "Gradients vs Jacobians of higher-dimensional functions"
I just pushed a commit (af869129) which updates the vector-Jacobian product function so that it properly carries out this product in the case where we have higher-dimensional functions. Please correct me if I'm incorrect, but because the previous code was using the `__mul__` operator instead of `__matmul__`, it was broadcasting the gradient across the jacobian rather than taking the product. This

[2018-09-14 16:46] #18 closed, assigned to smite, josh146, cgogolin

[2018-09-14 16:52] #11 closed, assigned to smite, josh146, co9olguy, mariaschuld

[2018-09-14 16:55] cgogolin opened #44 "Some Operations and Expectations throw a module 'openqml' has no attribute error"
I didn't have the time to investigate the reason in all cases, but as can be seen from the `test_installed_plugins` unit test, some Operations, and Expectations throw this error, for example:
'Squeeze', 'CatState', and 'AllZ'.

[2018-09-16 13:36] josh146 opened #45 "New plugin API method name proposal"
Now that the suggested plugin API is merged (thanks @cgogolin and @co9olguy!), I propose a slight simplification of the method names:

`pre_execute_queued` → `pre_execute`

`execute_queued_with` → `execute_with`/`execution_context`/`execution_context_manager` (any preferences?)

`pre_execute_operations` → `pre_apply`

`post_execute_operations` → `post_apply`. Note that this can be merged with `pre

[2018-09-16 13:47] josh146 opened #46 "Operator_map and observable_map"
_Originally posted by @cgogolin in https://github.com/XanaduAI/openqml/pull/28#issuecomment-421408938_

[2018-09-17 08:06] mariaschuld opened #47 "Finalize optimizer API"
Being a bit behind from the vacation, I see that we still have the Optimizer.train() API. Can we change this into having a base Optimizer class from which we build AdamOptimizer, GradientDescentOptimizer, NelderMeadOptimizer...

The crucial function of those is "step" which updates the weights by one step. The Optimizer stores
-the cost,
-the gradient function,
-the current weights,
-some past gra

[2018-09-17 13:28] #47 closed, assigned to nobody

[2018-09-18 07:29] #46 closed, assigned to nobody

[2018-09-18 07:36] josh146 opened #50 "Measurement operations?"
While finishing off the SF plugin, I noticed that we don't have any measurement operations. For instance, including these would allow for circuits with expectation values conditional on previous measurements:

[code]

This would then open other possibilities, for instance we could pass post-select parameters as parameters, etc.

As a side note, does anyone have any thoughts about moving the `qm.ex

[2018-09-18 18:37] #12 closed, assigned to smite, josh146, co9olguy, mariaschuld

[2018-09-18 18:38] #23 closed, assigned to josh146, mariaschuld

[2018-09-18 18:41] #50 closed, assigned to nobody

[2018-09-19 08:13] mariaschuld opened #51 "Autograd seems to not compute correct gradient for SF plugin"
If you look on the examples_maria branch at examples/continuout_variable/photon_redirection.py, qm.grad() does not compute the right gradient. You find the observation in the printout. Does anyone have an idea why, before I go kneedeep into debugging?

[2018-09-19 08:44] #51 closed, assigned to nobody

[2018-09-19 08:57] mariaschuld opened #52 "Finalize supported gates for qubit.default device"
That would be nice to build slightly more complex algorithms in the base examples. Or should I use the ProjectQ plugin rather?

[2018-09-19 09:16] mariaschuld opened #53 "Fix Adam optimizer"
This is to remind myself that the Adam optimizer computes funny gradients, which seems to be a conceptual bug (code passes test).

[2018-09-20 04:48] #45 closed, assigned to nobody

[2018-09-20 09:30] mariaschuld opened #56 "Allowing multidimensional weight arrays?"
I am busy with larger supervised learning examples, and wanted to double check if we should allow for multidimensional weight arrays.

We could flatten and reshape the weights in the nuclear optimizers so that the user does not have to worry about it,

    def step(self, objective_fn, x, grad_fn=None):
        """Update x with one step of the optimizer."""

        x_shape = x.shape
        x_flat

[2018-09-20 09:36] #17 closed, assigned to smite, josh146

[2018-09-27 09:59] #37 closed, assigned to cgogolin

[2018-09-27 11:03] cgogolin opened #57 "GradientDescentOptimizer import"
The tutorials currently seem to have to import `GradientDescentOptimizer` as follows:

```from openqml._optimize import GradientDescentOptimizer```

This is rather ugly, no? Shouldn't it be possible to import from a "public" module without underscore, such as

```from openqml.optimize import GradientDescentOptimizer```

[2018-09-27 11:25] cgogolin opened #58 "Arguments of Device.__init__()"
Since recently `Device __init__()` requires `wires` and `shots` as positional arguments. I would argue that keyword arguments are better suited for such things as they will grant us greater flexibility with changes in `Device` without breaking our own and third-party plugins (the recent changes broke the ProjectQ plugin, because it was passing `shots` as a kwarg).

Related to that: Why does `Devic

[2018-10-01 12:46] #53 closed, assigned to nobody

[2018-10-05 08:44] cgogolin opened #61 "Support expectations that return more than one expectation value"
There are expectations that return more than one expectation value. On some platforms (like the IBM machine) supporting them is essential to unlock the full potential of the device. Only one measurement is possible there and if that is a single wire Z, then all the other Z expectation values, which could in principle be measured become inaccessible.

Currently qfuncs can return a single Expectatio

[2018-10-05 09:00] cgogolin opened #62 "Naming conventions: operation, ops, gate, expectation, observable,..."
Currently (and I think this is to a good extent also my fault) we are using a rather inconsistent naming convention for the quantum operations:

`Operation` is the "super class", but is is also used directly for what one would usually call a "gate". The class `Expectation` is used for what is normally called an "observable". Such `Expectation`s are defined in the sub-module `expectation`, but the

[2018-10-05 09:17] cgogolin opened #63 "Importing numpy"
Should numpy be consistently imported from openqml in all files and plugins? I understand that this version of numpy comes from autograd to enable differentiation. Would it be a problem if a plugin imported a plain vanilla local numpy version via `import numpy as np` and that version differs from the one provided by openqml? Probably yes? If so, this should be documented.

[2018-10-09 14:37] cgogolin opened #66 "Additional plugins"
This is for later, I suppose, but just to not forget: As we want to be platform agnostic it would be nice to have a plugin for a non-gate architecture. The recently released [D-Wave Leap](https://www.dwavesys.com/press-releases/d-wave-launches-leap-first-real-time-quantum-application-environment) looks like a natural candidate. This could be a nice Mater's thesis...

[2018-10-10 12:16] #38 closed, assigned to smite, co9olguy

[2018-10-10 12:24] #41 closed, assigned to smite

[2018-10-10 18:27] #57 closed, assigned to nobody

[2018-10-13 13:00] #56 closed, assigned to nobody

[2018-10-13 15:40] #44 closed, assigned to nobody

[2018-10-13 15:40] #52 closed, assigned to nobody

[2018-10-13 15:55] #43 closed, assigned to smite, josh146, co9olguy

[2018-10-13 17:42] co9olguy opened #76 "Clearer/consistent attribute names"
While going through pull requests related to plugins, I had some trouble parsing the use of `self.wires`. For clarify to plugin developers, we will change this throughout devices/plugins to `self.num_wires`.

[2018-10-15 14:59] #58 closed, assigned to nobody

[2018-10-15 21:29] #30 closed, assigned to smite, josh146, co9olguy

[2018-10-15 21:35] josh146 opened #81 "Some operations are missing gradient recipes"
**These include:**

~* Two-mode squeezing~
~* Controlled-addition~
~* Controlled-phase~

~these should be relatively easy to add.~ Added in #93

In addition, do we want to add gradient recipes to Gaussian state preparation? This kind of makes sense. Do we need to do anything to take into account that state preparations 'overwrite' previous operations on that wire?

(Also, does it make sense to hav

[2018-10-16 18:38] #76 closed, assigned to josh146, cgogolin

[2018-10-16 18:38] #62 closed, assigned to nobody

[2018-10-17 10:08] cgogolin opened #86 "Naming conventions in device.py"
We should change the naming conventions in device.py:

* gate should be renamed to operation (this appears in several variations, as method `gates()`, as parameter `gate_name`, in doc stirngs,...

* observable should be renamed to `expectation` (again this appears in a number of variations, we really want `expectation` here and not `expval`, as this should match the `Expectation` class.

Sorry, it

[2018-10-17 12:41] cgogolin opened #87 "Bug in Rot()"
While writing tests for the ProjectQ plugin I noticed what I think is an inconsistency between code and documentation of the `Rot()` gate in the default qubit plugin.

According to the doc `Rot(a,b,c)` applies first a Z-rotation up to angle `c`, then a Y-rotation up to angle `b` and then another Z-rotation around angle `a`.

The implemented code however does first a Z-rotation up to angle `a`, the

[2018-10-17 15:07] #63 closed, assigned to nobody

[2018-10-17 19:27] #86 closed, assigned to nobody

[2018-10-17 20:08] #87 closed, assigned to nobody

[2018-10-17 21:26] mariaschuld opened #92 "Optimizers only work with numpy weight arrays"
I implemented the nuclear optimizers so they assume everything is numpy. Need to relax this. On my Todo.

[2018-10-18 22:16] #81 closed, assigned to mariaschuld

[2018-10-20 18:18] #1 closed, assigned to smite, josh146, co9olguy, mariaschuld

[2018-10-25 14:02] co9olguy opened #97 "Best way for plugins to add their own ops/expvals?"
One final thing to decide before initial release is what pattern we want to establish for plugins to add their own operations and expvals for the users to use.

@cgogolin has proposed one method in PR #65

I'd like to have a quick discussion here about this, so we can decide how/when to include it in openqml.

(btw, there seems to be other stuff in that PR, e.g., classical simulator, but I think t

[2018-10-25 15:58] josh146 opened #99 "Test suite refactor"
**Suggestion**

We should move away from this sort of testing style, where we loop over all imported objects, and use branches to overwrite attributes:
[code]

and move towards this style of test (ignore the actual content), where there are no loops, and everything is as minimal and as explicit as possible:
[code]

While it removes some of the 'automation' from the test-suite, this is a good thing

[2018-10-26 14:59] cgogolin opened #101 "Short names and entry points of the ProjectQ plugin in the docs of core OpenQML"
I have seen that the core OpenQML documentation refers to the PQ plugin in some cases, e.g., the sample configuration file. Inside the plugin there was an inconsistency between the `entry_point`s and the `short_name`s of the three devices. I have now resolved this and am consistently referring to the devices as `simulator`, `classical`, and `ibm`. The names `classicalsimulator` and `ibmbackend` ar

[2018-10-28 17:55] #92 closed, assigned to nobody

[2018-10-29 02:12] #101 closed, assigned to cgogolin

[2018-10-29 07:56] mariaschuld opened #104 "Rename "vars" to "var" in all demos/examples/tuts and in the docs"
Although I cannot find it on the official lists, "vars" seems to be some keyword in python. That only shows in some editors I tried, but to avoid conflicts, let us always use "var" to refer to openqml variables.

I can do the refactor if you agree. The examples in the plugins have been or will be updated in this respect.

[2018-10-30 10:16] mariaschuld opened #105 "Can we support parameter tie?"
In principle we should be able to use the same variable multiple times and in different nodes. But do we have a test for this? If yes, we should mention it in the docs that this is possible!

[2018-10-30 10:22] mariaschuld opened #106 "How do we use the shots parameter R? And do we have an example for this?"
Another one of those insights (oh God).

For hardware it is crucial to set the number of shots R and to get the variance of the observable. But at the moment we are very silent about this. Is this feature still in pennylane? How can we advertise it?

[2018-10-30 13:23] #105 closed, assigned to nobody

[2018-11-01 11:23] #104 closed, assigned to nobody

[2018-11-01 19:16] #97 closed, assigned to nobody

[2018-11-01 19:21] #106 closed, assigned to nobody

[2018-11-02 11:06] cgogolin opened #108 "Sphinx xanadu_theme and pages with little content"
Sphinx (or at least the xanadu_theme) seems to not render pages with litte content well. This is for example visible on the "Plugins and ecosystem" page of core or the "How to cite" page of the ProjectQ plugin.

[2018-11-02 11:25] cgogolin opened #110 "Configuration() seems to load default config and that makes tests fail"
The core PennyLane test suit fails on my machine.

I have a configuration file under `/home/cgogolin/.config/pennylane/config.toml` and calling `Configuration()` without parameters seems to load that, but the tests seem to expect no configuration unless `Configuration()` is called with a parameter. As I don't know what the desired behavior is I am opening this issue instead of suggesting a fix...

[2018-11-02 15:08] #108 closed, assigned to nobody

[2018-11-04 22:28] co9olguy opened #112 "Top-level Jacobian only works with integer argnum (not list)"
This seems to be due to a bug in how we are interfacing with autograd, or -- less likely -- a bug in autograd itself.

If the user provides a quantum function `func` with multiple input arguments in its signature, we can only successfully call `qml.jacobian(func, argnum=0)`, `qml.jacobian(func, argnum=1)`, etc., but not `qml.jacobian(func, argnum=[0,1])` (raises some error inside autograd).

Since

[2018-11-05 06:41] mariaschuld opened #113 "Unifying usage of "parameters" and "variables"."
Shall we use a convention of how we call the things one can optimize with PennyLane? Josh and I decided to use "Variables", because there might be fixed "circuit parameters". Only downside, "vars" is a reserved keyword in python it seems.

[2018-11-05 07:28] #110 closed, assigned to nobody

[2018-11-07 06:12] #3 closed, assigned to smite, josh146, cgogolin, co9olguy, mariaschuld

[2018-11-08 05:57] mariaschuld opened #116 "Wanted? jacobian(circuit(), argnum=0) produces function that only takes numpy arrays."
Just came across this. Is this wanted behaviour? grad() seems to produce a function that can also take lists.

[2018-11-08 06:05] #116 closed, assigned to nobody

[2018-11-08 14:59] cgogolin opened #117 "Role of api_version"
The API overview docs state:

and indeed, in `__init__()` we have the following code:

[code]
But isn't it odd that the API version must match the PennyLane version exactly? This would mean that with every release of PL all plugins stop working.

I think the normal approach would be to "decouple" the PL version from the API version. The API version would then not increase with every release of PL

[2018-11-08 15:40] cgogolin opened #118 "Should _operation_map and _expectation_map really required be required in every plugin?"
Reading through `_device.py` and the overview of the Device documentation again, I get the impression that `_operation_map` and `_expectation_map` really shouldn't be required class attributes.

* It is odd to specify in an API how private memebers of a class should look like.

* Only the keys of these dictionaries are actually exposed to the user

* They are only used in `Device.operations()` and

[2018-11-09 10:32] #117 closed, assigned to nobody

[2018-11-09 20:37] co9olguy opened #123 "todos in codebase"
- [ ] doc/zreferences.rst: add uncited refs to docs?
- [ ] expval.cv.py:176: check for heisenberg rep of homodyne measurement
- [ ] ops/cv.py:537: put Heisenberg reps of state preparations in docstrings?

Other todos (not explicitly in docs):
- [x] update Development status

DAG related todos (future release):
- [ ] tests/test_qnode.py:125,567
- [ ] qnode.py:372,402,431,754

Other stuff for future

[2018-11-11 13:06] #118 closed, assigned to nobody

[2018-11-11 16:15] josh146 opened #125 "Tutorial Q1 incorrect description"
[Tutorial Q1](https://github.com/XanaduAI/pennylane/blob/master/examples/Q1_qubit-rotation.ipynb) states:

However, it appears to only use the `default.qubit` backend. Perhaps this should be changed to actually use ProjectQ?

[2018-11-12 00:19] #125 closed, assigned to co9olguy, mariaschuld

[2018-11-14 10:21] kareem1925 opened #127 "linear or non linear Regression"
can someone please suggest a way to do regression using this great library? thanks

[2018-11-14 18:59] chMoussa opened #128 "Example Variational Classifier no batching when learning parity"
Hello,

Just a quick fix. I noticed in the code example of the variational classifier that you do not batch for the learning of the parity function:

`for it in range(25):

    # Update the weights by one optimizer step
    batch_index = np.random.randint(0, len(X), (batch_size, ))
    X_batch = X[batch_index]
    Y_batch = Y[batch_index]
    var = opt.step(lambda v: cost(v, X, Y), var)
`

Just re

[2018-11-14 20:07] co9olguy commented on #128
Thanks for spotting the typo @chMoussa.
@mariaschuld can you take a look at this when you have a chance?

[2018-11-14 20:33] co9olguy commented on #127
Hi @kareem1925,
Thanks for your interest in the library.
Typically the github issues page isn't the best place to ask this sort of question (it's more for issues with the code/bugs, etc.), but we haven't yet set up a public forum for pennylane questions (should be coming soon).

I attach a brief toy example below for how to do linear regression in PennyLane. Hopefully it can be modified to suit yo

[2018-11-14 20:33] #127 closed

[2018-11-15 05:18] mariaschuld commented on #128
Thanks @chMoussa. Will push the fix asap.

[2018-11-15 07:59] #128 closed

[2018-11-15 16:20] chMoussa opened #130 "CV Expectation value NumberState for Classification"
Hello,

I want to write a CV classifier. To get probabilities in the context of binary classification,
we would need two expectation values. For instance, get the Fock probability of [0,1] and [1,0] outcomes and normalize like :
`p0 = qml.expval.cv.NumberState(np.array([1,0]),wires=[0,1])
 p1 = qml.expval.cv.NumberState(np.array([0,1]),wires=[0,1])
 return p1 / (p0+p1 + 1e-10)`

However, I am not

[2018-11-16 15:56] josh146 commented on #130
Hi @chMoussa. While QNodes can contain quantum functions that are constructed similarly to Python functions, there are some important restrictions:

1. Quantum functions must only contain quantum operations, one operation per line, in the order in which they are to be applied,
2. Quantum functions must return either a single or a tuple of expectation values, with one expectation value per wire,
3.

[2018-11-16 16:06] chMoussa commented on #130
Hi @josh146 I understand better now. Thanks.

[2018-11-16 16:06] #130 closed

[2018-11-16 23:39] josh146 commented on #130
Hi @chMoussa, just letting you know we now have a PennyLane discussion forum: https://discuss.pennylane.ai.

Feel free to post your PennyLane usage questions there, and we will aim to answer as soon as possible :)

[2018-11-16 23:39] josh146 commented on #127
Hi @kareem1925, just letting you know we now have a PennyLane discussion forum: https://discuss.pennylane.ai.

Feel free to post your PennyLane regression questions there, and we will aim to answer as soon as possible :)

[2018-11-21 11:55] mlxd opened #131 "Query: use of hardcoded values"
Hi, this is more of a general query, than anything else.

I noticed that in the `AdamOptimizer` class in `apply_grad` there was a hardcoded value (`1e-8`) added to the result of an operation (which I assume is to prevent values exploding in the division). Would it make more sense to use a machine epsilon value here, such as `np.finfo(float).eps` or `np.finfo(np.float32).eps`?

I don't expect it wo

[2018-11-21 18:38] co9olguy commented on #131
Hi @mlxd, yes that numerical value would be there to ensure that the denominator doesn't explode for small `s` values.
@mariaschuld can comment why that specific value was chosen, since she wrote that section of the code

[2018-11-22 16:35] co9olguy commented on #131
Closed with PR #132

[2018-11-22 16:35] #131 closed

[2018-11-23 18:49] cgogolin opened #133 "Supply templates for QML models"
It would be useful to provide users with templates for the most common QML modes in the form of functions that can be directly called in a qnode to construct the corresponding circuit.

[2018-11-23 18:59] cgogolin commented on #133
Maybe it would make the syntax nice to use Capital case for the models? This would make them better fit in with the existing Operations?

[2018-11-23 19:09] josh146 commented on #133
Yes, that makes sense. Something like this? (psuedo-code)
[code]

[2018-11-23 20:32] cgogolin commented on #133
I can also make it a class and implement `__init__()`?

[2018-11-23 22:16] co9olguy commented on #133
While I generally favour the idea, I'm having trouble seeing which models this might apply to. Things like `Classifier` and `QGAN` are themselves not single models, but large *model classes*. These classes will cover a wide range of possible architecture choices. And there will be no obvious canonical "best" choice, because "best" depends on the data/task, and also because these models are still l

[2018-11-23 22:44] cgogolin commented on #133
Yes, that is exactly what I was aiming at.

[2018-12-06 16:54] kareem1925 opened #139 "Weight Initialization"
Hi,
In this [Notebook](https://github.com/XanaduAI/pennylane/blob/master/examples/CV2_quantum-neural-net.ipynb) you initialized the weights in shape of (4,7) actually I tried to modify this many times but none were good as your implementation's output. Is there a way to find a general way of initializing weights? there are many ways in deep neural networks but do they fit in for quantum?
my guess

[2018-12-06 17:33] josh146 commented on #139
Hi @kareem1925. The GitHub issue tracker is for reporting bugs and issues with PennyLane. For discussion over machine learning approaches and techniques, the best place is the [PennyLane forums](https://discuss.pennylane.ai).

I'm closing this issue here. Feel free to copy your question over to the discussion forums, and I'll see if @mariaschuld can take a look.

[2018-12-06 17:33] #139 closed

[2018-12-06 17:44] kareem1925 commented on #139
Server error :cry:
![image](https://user-images.githubusercontent.com/30449261/49601739-5797b600-f98f-11e8-86d3-03a7a256c430.png)

[2018-12-06 17:46] kareem1925 commented on #139
I'm sorry for any disturbance

[2018-12-06 17:47] josh146 commented on #139
That is strange - it appears to be working fine on my end!

Can you try copying your text, refreshing the page, and trying to post it again?

[2018-12-06 17:49] kareem1925 commented on #139
i've done that already but nothing happened
any way i opened an old topic and mentioned you
thanks for response ^_^

[2018-12-13 16:40] cgogolin opened #142 "Nested lists of unequal length work as circuit parameters when given as lists but not as np.arrays"
This is a consequence of them being treated differently during (un)flatten() in util.py. I will look into this and suggest that we should either raise a more useful Exception or also deal with np.arrays of non-uniform row length.

[2018-12-16 21:36] josh146 commented on #142
Good catch. Let's update the exception now to be more useful in the meantime

[2018-12-20 14:02] cgogolin commented on #142
It turns out that this is much more difficult than I thought: There is no easy way to test whether a nested `np.array()` is ragged or not. One can check the `dtype` to exclude that it is ragged, but if it is `object` then one has to recursively walk through all sub-arrays compare their length. This completely defeats the advantage of using the more efficient numpy way of (un)flattening such arrays

[2019-01-10 19:31] cgogolin opened #146 "DisplacedSqueezedState() and issues with complex parameters"
The documentation of [DisplacedSqueezedState](https://pennylane.readthedocs.io/en/latest/code/ops/cv.html?highlight=displacedsqueezed#pennylane.ops.cv.DisplacedSqueezedState) suggests that `DisplacedSqueezedState()` takes a complex parameter as its first value. One would this expect that the following code should work:
[code]
but it doesn't: `TypeError: DisplacedSqueezedState: Real scalar paramete

[2019-01-11 03:14] josh146 commented on #146
Good catch. Since we already support magnitude and phase in most other cases (i.e. `Displacement(r, phi)`, my preference is just to do the same here, i.e.,

[code]

(argument names TBD). @co9olguy, any preferences?

[2019-01-11 15:47] co9olguy commented on #146
Agreed @josh146

[2019-01-12 02:08] josh146 opened #147 "Hermitian conjugate/inverse of operations"
Currently, there is no user-facing method in PennyLane of specifying the Hermitian conjugate of a quantum operation. This is perhaps not a big issue for a majority of the CV operations, and even some of the qubit operations, where we can often simply negate the gate parameter, but is useful in a few cases (one that comes to mind is the S gate).

It would be nice to provide this functionality. By b

[2019-01-12 02:10] josh146 commented on #147
My personal preference is option 2. Note that this wouldn't necessarily need to _do_ anything in PennyLane core, apart from simply set an attribute on the operation so that the plugin knows to implement the Hermitian conjugate.

[2019-01-12 10:16] cgogolin commented on #147
Option 2 seems to be the best in terms of readbility, but for simplicity I would like to suggest to make it a property, i.e, `qml.Gate(wires=2).dagger`.

For real unitaries inverse and dagger are obviously the same, but on an simulator (think Fock) they are not. Does that provide a reason in favor of either `inverse()` or `dagger()`?

[2019-01-12 10:20] josh146 commented on #147
A property looks good. My thinking was that `inverse` would be useful for custom unitaries used in `QubitUnitary`, and may result in more efficient decompositions in some frameworks as defining the inverse unitary matrix manually is avoided.

But I'm on the fence, happy to hear your thoughts on this!

[2019-01-14 19:00] co9olguy commented on #147
I like either 2 or 3. For 2, I think a property is cleanest (like you you can do a.T in numpy)

Which is actually easiest to code up given the way we structure QNode?

[2019-01-14 19:11] josh146 commented on #147
I think option 3 is the easiest (since the `Operation` 'adds itself' to the queue, it can simply also set this value on initialization).

But, I do prefer option 2 (as you say it's similar to a.T in NumPy), so it would be nice if this could be implemented.

[2019-01-15 16:59] cgogolin commented on #142
I have made good progress getting to the root of this in the ` flatten_ragged_arrays` branch, but even with the improvements there, one can still not run the following simple program:

[code]

[2019-01-15 17:53] cgogolin commented on #142
I think I got it fixed, except, probably, for special cases involving tuples. The code is quite an abomination, but once finishe it will come with extensive tests.

[2019-01-15 22:28] kmckiern opened #150 "Specifying a wire as a fixed qnode parameter is not supported"
I am trying to construct circuits where the wires are specified by a variable. Per [this](https://pennylane.readthedocs.io/en/latest/tutorials/advanced_usage.html?highlight=parameter#keyword-arguments) section of the docs, I see that the way to go about this is to specify this fixed parameter via a keyword argument. However, when I try the following:
[code]

the wire is of type `Variable`, and the

[2019-01-15 23:36] josh146 commented on #150
Thanks for pointing this out @kmckiern.

Oddly enough, we hadn't considered the case where a wire might be passed as a keyword argument, so wires as `Variable` objects weren't supported. This is now fixed in the ` feature/support_Variable_wires` - you can use this branch directly, or wait until #151 is merged into master.

[2019-01-16 16:17] #146 closed

[2019-01-16 18:05] josh146 commented on #150
#151 is now merged into master (with a few additional bug fixes since my last message, so it is worth updating)

[2019-01-16 18:05] #150 closed

[2019-01-22 16:49] cgogolin opened #154 "Improve the check for whether _heisenberg_rep() is implemented"
Having to construct parameters to be able to call self._heisenberg_rep() and then actually construcitng the rep is not a very elegant way of checking whether a heisenberg rep is in principle supported. Can one not do something like `Operation._heisenberg_rep == type(self)._heisenberg_rep` to test whether the method was overwritten?

This litte example suggests this should be possible:
[code]
Outpu

[2019-01-22 18:02] cgogolin commented on #142
This will not be addressed in this release, but there is a partial solution and insights into what still needs to be fixed in https://github.com/XanaduAI/pennylane/tree/flatten_ragged_arrays_2

[2019-01-22 18:02] cgogolin commented on #154
I will do that tomorrow

[2019-01-23 11:32] cgogolin commented on #154
fixed in #155

[2019-01-23 11:33] #154 closed

[2019-01-23 16:50] cgogolin opened #156 "Shape/size of qnode parameters cannot change from call to call"
The construction of the "model" for (un)flattening is done when a qnode is fist called, because only then can the shape and size of its arguments be known.

This however means that the following will fails:
[code]
This should be explained in the docs, the resulting error message should be improved and in the long run this should be fixed.

[2019-01-23 16:51] josh146 commented on #156
A short-term solution would be the following:

[code]

i.e. set to zero the parameters you would like to ignore

[2019-01-23 21:57] co9olguy commented on #156
What use-case can you imagine where we'd want to change the shape of a model/circuit's parameters like this?
Even in regular python (ignoring any PL constructions), if you have a function that has an array argument, then indexes into those arguments, then providing it with an input of the wrong/changed shape will throw an error

[code]

[2019-01-23 22:39] josh146 commented on #156
@co9olguy, I tend to agree

[2019-01-23 23:03] #156 closed

[2019-01-24 09:16] cgogolin commented on #156
I ran into this while writing tests for `Interferomerter()`. This now allows the last list of rotation angles to either be of length N-1 (sufficient for universality) or of length N (more symmetric circuit diagram). The parameters are obviously to be passed arguements to a qnode, but after callint that qnode once with either N or N-1 rotation angles, the other doesn't work anymore.

I am wondering

[2019-01-24 12:00] cgogolin commented on #142
The problem with strings is now fixed in 399e62ff8ffdc1dc74d83d8a7134a60fca73eab7

[2019-01-24 23:36] #133 closed

[2019-01-25 19:28] artix41 opened #158 "Setter to change the learning rate of optimizers on the fly"
## Enhancement request
A common technique in ML, called *learning rate scheduling*, is to change the step size after a certain number of iterations. It's possible to do it with Pennylane with `op.stepsize=new_stepsize`. However, it's not very clean and having a method `op.set_stepsize(new_stepsize)` would make the code cleaner (IMO)

[2019-01-25 19:57] co9olguy commented on #158
Thanks Arthur, this looks like an easy enhancement that we can likely sneak in before the next version release :+1:

[2019-01-28 02:54] #158 closed

[2019-01-28 21:16] co9olguy opened #160 "Test issue"
test

[2019-01-29 11:09] cgogolin opened #161 "Get rid of `do_queue`?"
The `Operation` class has in its `__init__()` the slightly obscure `do_queue=True` parameter. It not only clutters the docs (unless manual docstrings are given) but it is also not very well documented and the feature should be irrelevant (and thus hidden, imo) from the user.

As far as I can tell, this option is actually set to `False` only in two places:

The first one, in `default_gaussian.py` i

[2019-01-29 16:49] josh146 commented on #161
The history of `do_queue` is that it was added for the purposes of being able to unit test the base `Operation` class, as well as all inherited operations in the `ops` module, without the added overhead of interfacing through a QNode.

I'm undecided what the best approach is for the unit tests - some way of instantiating the operations outside of QNodes are needed for good atomic unit tests, but u

[2019-01-29 17:24] cgogolin commented on #112
But `qml.jacobian()` could still be enabled to allow `argnum` to be a list. `jacobian(func, argnum)` is anyway already a shallow wrapper around the actual autograd `jacobian` that we import as `_jacobian`. This wrapper could just return a lamda function that can call `_jacobian` for all elements or `argnum`.

The way things are at the moment, this is a bug, because the documentation claims that `a

[2019-02-01 15:39] #112 closed

[2019-02-21 06:43] josh146 opened #166 "Add PyTorch/TensorFlow/Keras custom nn modules for various QML templates"
In PennyLane v0.2, we introduced the [QML Templates](https://pennylane.readthedocs.io/en/latest/code/template.html) submodule, containing several variational quantum circuit templates, each composed of various quantum layers.

Now that we have PyTorch and TensorFlow support, it would be nice to also provide custom `torch.nn.Module`/`tf.keras.layers` that implement the same or even additional QML t

[2019-02-21 10:17] josh146 commented on #113
As the docs are now much more stable, I am closing this issue - feel free to reopen/make a new issue if inconsistencies remain.

[2019-02-21 10:17] #113 closed

[2019-02-21 10:17] #66 closed

[2019-02-28 21:01] mariaschuld opened #167 "Add more templates and make docs user-friendly"
The CVNeuralNet template could be improved by:

- Making clear that it is not a full quantum neural net template, but just for the circuit. (Maybe rename to CVNeuralNetLayers)?
- Improve description of parameters to feed in. Currently the CVNeuralNetLayer requests 9 lists of parameters, but in practice it needs actually 11 (see test).
- Clarify what "length N arrays of squeezing amounts " means in

[2019-02-28 21:03] mariaschuld commented on #167
\

[2019-03-01 13:02] josh146 commented on #167
@mariaschuld, could you make the recommended changes in a PR? I agree that the `CVNeuralNet` template has a very confusing docstring, and it would be a massive improvement to help clarify this.

This is a very good idea, and I recommend a separate PR for this feature.

[2019-03-07 01:36] josh146 opened #168 "Jax interface for classical machine learning"
The lead developer of [Autograd](https://github.com/HIPS/autograd) is now developing a new classical machine learning framework, [Jax](https://github.com/google/jax).

While the interface and API remain very similar to Autograd, Jax has a couple of advantages:

* It is very actively maintained
* It uses XLA to compile and run your NumPy programs on GPUs and TPUs

It would be great (and should be r

[2019-03-07 04:58] josh146 opened #169 "Convert the QNode queue to a DAG"
At the moment, the QNode creates a simple temporal queue of quantum operations/expectations to be applied to the device when executed.

In the case of CV devices, analytic gradients are currently not supported when the gate to be differentiated is succeeded at some point by a non-Gaussian quantum operation (i.e., the Kerr gate or the cubic phase gate). Thus, in the case of a temporal queue, the pr

[2019-03-07 05:01] josh146 commented on #123
Closing this issue as it is outdated. Current TODOs can be viewed by running pylint on the pennylane folder, or by viewing [ignored issues on CodeFactor](https://www.codefactor.io/repository/github/xanaduai/pennylane/ignoredissues?page=1).

[2019-03-07 05:01] #123 closed

[2019-03-07 08:25] #61 closed

[2019-03-07 08:32] josh146 opened #170 "Support broadcasting single wire operations and expectations to more than one wire"
Currently, all quantum operations and expectation values in PennyLane act on a single wire; for example, if you wish to return Pauli-Z expectations for three wires, you would have to do

[code]

It would be useful to also allow **local** (single wire) operations and expectation values to apply to more than one wire, i.e.,

[code]

This should be a relatively simple modification. For example, the `

[2019-03-07 14:25] co9olguy opened #171 "Add single-shot measurements"
Machine learning libraries allow for ops that return samples from a distribution (rather than averages/expectations). This is also a common occurance in quantum algorithms. This might be a helpful feature to add to PennyLane to expand the scope of what it can do.

Of course, these operations will not be natively differentiable (which is also the case in e.g., TensorFlow), so we will need to throw

[2019-03-08 00:29] co9olguy commented on #171
A use-case to keep in mind is where a circuit is trained in a differentiable way (using expvals), but later we want to sample the fullly trained circuit in a single-shot fashion

[2019-03-09 04:53] josh146 commented on #171
My thinking on this:

1. We actually already support single shot measurements at the device level, for instance by specifying the keyword argument ``shots=1``. So what you could do is create two separate 'devices': one for expectation values/training, and one for single shot samples, and use them where required:
[code]
    Note that `qnode_sample` is still 'differentiable' by the rules of PennyLan

[2019-03-21 15:58] mariaschuld opened #174 "Restructure templates"
My suggestion is the following:

* Make templates a folder/module with submodules
* distinguish templates.layers (for what people so far use as layered ansatze) and templates.embeddings (following the literature on input embeddings)
*   For each template we have a template.utils function that generates random parameters of the right shape
* We make sure that every template uses only square arrays

[2019-03-22 22:19] josh146 opened #175 "Support multi-wire expectation values for qubits"
*Note: this is a separate but related issue to #170 (Support broadcasting single wire operations and expectations to more than one wire)*

A feature that would be very useful in PennyLane is the ability to return an expectation value corresponding to the tensor product of various single qubit observables; i.e., multi-wire expectation values. In the qubit case, this is a trivial change (see [this d

[2019-03-26 09:15] Raycosine opened #176 "Support QubitUnitary() with more than two wires"
Similar to #170 & #175.
It's better for simulation to support arbitrary quantum gates with more than two wires(CSWAP for example), though impractical for plugins about quantum devices to some extent.

the [source code](https://pennylane.readthedocs.io/en/latest/_modules/pennylane/plugins/default_qubit.html#DefaultQubit.apply) implies that more than two wires are not allowed:

[code]
and just copy

[2019-03-26 13:31] josh146 commented on #176
Hi @Raycosine! The reason the `default.qubit` plugin only supports one- and two-qubit gates is because it is designed to be a very simple and basic reference plugin, provided mostly as a guide for plugin developers (and a useful reference to run our unit tests against). As a result, it is not optimized for high performance, and only supports limited features (i.e., maximum of two-qubit operations/

[2019-03-26 13:31] #176 closed

[2019-03-26 13:40] co9olguy commented on #167
Docs changes done in #173

[2019-03-26 13:47] #167 closed

[2019-03-26 13:48] co9olguy commented on #167
Is the "add more templates" part not still an open issue?

[2019-03-26 13:50] josh146 commented on #167
I feel this gets subsumed into #174

[2019-03-26 15:15] Raycosine commented on #176
Thanks @josh146 ! It's my fault never trying those plugins lol.

[2019-03-26 15:20] mariaschuld commented on #174
@co9olguy and @josh146, can we take a vote on the suggestions?

[2019-03-26 15:26] josh146 commented on #174
I agree. Not only will this make it easier to document, it will be cleaner to work with, write unit tests for, and also easier for people to add to/modify in PRs.

Agree here as well. Any reason behind choosing `templates.embeddings` instead of `templates.encodings`?

I agree. This should also help with TF compatibility.

I think the reasoning behind this was so that it kept the same convention as

[2019-03-26 15:33] co9olguy commented on #174
No issue with any of the proposals. In fact, I'd even be in favour of changing *all* quantum operations to lowercase (better matches with numpy, pytorch, tensorflow notation, etc.). I think the reason they were uppercase originally is because the simplest ops (gates, measurements) were all named after operators (`CNOT`, `Hadamard` etc).

[2019-03-31 21:21] josh146 commented on #99
A quick update. We should aim for the following:

* Replace unittest with pytest, which is much more flexible, more maintained, and the preferred python testing tool

* Each test is a single function, which is explicit and only tests a single thing, no loops.

* For tests that do need to be parameterized, the pytest parameterize decorator is used.

For an example of what I consider a clearer and m

[2019-04-02 16:41] josh146 commented on #175
After thinking about it some more, this should also be easy to support on the hardware backends, following a similar procedure as done in the rigetti/pennylane-forest package (see [here](https://pennylane-forest.readthedocs.io/en/latest/usage.html#arbitrary-hermitian-observables)).

For example, consider a 2 wire observable O:

1. Take the eigenvectors of the multi-wire observable O to get a unita

[2019-04-03 20:48] artix41 opened #177 "Operations on parameters inside qnodes"
Is there a way to make the following code work?

[code]

For the moment, it returns:
`TypeError: unsupported operand type(s) for /: 'Variable' and 'int'`

[2019-04-03 21:19] josh146 opened #178 "For exact analytic expectations, use shots=None"
_Originally posted by @msohaibalam in https://github.com/rigetti/pennylane-forest/pull/4_

I tend to agree in this case; at the expense of allowing `shots` to accept a non-numeric argument value, `shots=None` makes more sense on face-value than `shots=0`.

Thoughts on making this change?

[2019-04-03 21:45] josh146 commented on #177
Hi @artix41, I've created a new pull request (see #179) to implement parameter division.

In the meantime, scalar multiplication of parameters is already supported, so replacing `/2` with `*0.5` will work:

[code]

[2019-04-04 01:38] artix41 commented on #177
Great, thanks!

[2019-04-04 16:11] co9olguy commented on #178
yep, seems sensible

[2019-04-04 22:30] quantshah commented on #99
Hi, I am trying to re-write some of the tests with pytest and numpy testing. Is there a reason why we should not be using things such as `numpy.testing.assert_array_almost_equal` ? E.g.,

This runs with any test module and independently as a python file too. The `BaseTest`class is also implementing this check with loop and `np.all` anyways in this [line](https://github.com/XanaduAI/pennylane/blob/

[2019-04-04 22:35] quantshah opened #180 "scipy import bug"
#### Issue description
When calling `pennylane.ops.cv.Rotation._heisenberg_rep([phi])` if one does not explicitly import the block_diag function via `from scipy.linalg import block_diag` there is an error.

[code]

This is not a bug in scipy as it is a design choice not to import top level components such as `linalg` as they are not sub-modules but directories. Read this [discussion](https://group

[2019-04-04 22:39] quantshah opened #181 "Add a pennylane.about() function to easily get relevant system and installation info"
We request users to give system information when posting issues. This can be made easier by writing a pennylane.about() function which gathers all this and prints it out. Performing all these checks manually can get tiring every time one posts a bug or issue.

QuTiP has something called `qutip.about()`with an output looking like this which we can use perhaps:
[code]

[2019-04-04 22:40] josh146 commented on #180
Very good catch, this should be changed to `from scipy.linalg import block_diag` wherever it occurs.

Interestingly enough, I have noticed that some Python/SciPy installations allow this, and others do not, and I have not been able to figure out what the deciding factor is.

[2019-04-04 22:40] josh146 commented on #181
Great idea, sounds like a good candidate for a short PR

[2019-04-04 22:45] josh146 commented on #99
We have been slowing porting over the Strawberry Fields tests to pytest, see https://github.com/XanaduAI/strawberryfields/tree/master/strawberryfields/backends/fockbackend/tests for some examples.

Since pytest enforces the idea that tests functions should be short, clear, and simply use `assert` for testing, we have settled on the pattern of using `assert np.allclose(a, b, atol=tol)` to test arra

[2019-04-04 22:52] quantshah commented on #180
Okay. I will try to figure out where such imports are and make a PR

[2019-04-04 22:57] quantshah commented on #99
This is great. I will continue with the refactoring then. I need to update my knowledge of pytest though. Seems pretty neat with the different decorators.

Thanks.

[2019-04-04 23:29] josh146 commented on #99
Useful ones I've found so far:

* `@pytest.fixture` - fixtures are great!
* `@pytest.mark.parametrize` - for looping the same test with lots of different test data/parameters, without needing to create specific loops/duplicate the test
* `@pytest.skip("message")` to skip a certain test from within the test itself
* `@pytest.mark.skipif(condition, reason="message")` - to skip a test given a certain

[2019-04-06 14:31] kareem1925 opened #182 "pennylane-sf backend"
hi, when I'm trying to use pennylane-sf backend on google colab i get his error

![image](https://user-images.githubusercontent.com/30449261/55670832-42715c00-5889-11e9-8485-20fa0c820d1c.png)

I tried to reset the environment but in vain
the code was:
`!sudo pip install strawberryfields-gpu strawberryfields pennylane pennylane-sf --upgrade`

`dev_fock = qml.device('strawberryfields.fock', wires=2,

[2019-04-06 14:33] kareem1925 commented on #182
it works fine on my device but not on google colab

[2019-04-07 16:15] quantshah commented on #182
Hi, I tried to reproduce this with
[code]
and it works. Could you try this simple snippet and let me know if this works. If you have to uninstall stuff from colab you can use

[code]

[2019-04-07 21:00] kareem1925 commented on #182
same error
[notebook](https://colab.research.google.com/drive/1ZgxoApzXbzjcETL19Rhnb8dYocA_j2mi)

[2019-04-07 22:57] josh146 commented on #182
Hi @kareem1925, after you have installed PennyLane plugins, you will need to restart the Google Collab runtime in order for the newly installed devices to become available.

You can do this by clicking `Runtime` -> `Restart Runtime`, or by using `ctrl+m` on your keyboard.

As this is not a PennyLane issue, but a Google Collab issue, I am closing this issue. Feel free to ask further questions on ou

[2019-04-07 22:57] #182 closed

[2019-04-08 18:11] #180 closed

[2019-04-15 22:02] josh146 opened #187 "Remove logic which allows wires to be passed to operations as a positional argument"
Currently, you can specify the wire the operation acts on by positional argument (`qml.RX(0.43, wires=0`), or by positional argument (`qml.RX(0.43, 0)`). The latter case works as the `Operation` class always treats the final positional argument as a wire if the `wires` keyword argument is not passed.

We should remove the latter case, and only allow wires to be passed as a keyword argument.

This

[2019-04-24 12:08] mariaschuld commented on #174
Picking this up again. I will keep upper case convention for now.

No strong opinion on embeddings or encodings, but embeddings carries more meaning towards a feature map into Hilbert space...Any preference @co9olguy ?

[2019-04-24 12:09] mariaschuld commented on #174
We can simply discuss wording in the code review, I will make a proposal for now.

[2019-04-25 22:41] #187 closed

[2019-04-25 22:41] #181 closed

[2019-04-25 23:10] #177 closed

[2019-05-02 07:34] mariaschuld opened #191 "Implement initialization strategy for addressing barren plateaus"
#### Issue description

A strategy to circumvent the "barren plateaus" problem when training quantum circuits has been proposed here: https://arxiv.org/abs/1903.05076. It would be great to implement this as part of the templates.

* *Expected behavior:* In the simplest case, templates have to get the option of encoding a double block strategy to allow for the "identity" trick laid out in the paper

[2019-05-02 21:46] co9olguy commented on #191
Definitely a useful feature to have, great suggestiong @mariaschuld!

Do you foresee any difficulties/issues in implementing this? How general is it? Would it work for every template?

[2019-05-03 08:20] mariaschuld commented on #191
In theory one just needs to initialise with parameters that set a layer to the identity. That could be trivially done in the templates.utils module, whose functions return initial parameters for a template.

The paper suggest to set up every layer as a block of a circuit and its inverse, so putting in the same parameters sets the layer to the identity. That would be conceptually more difficult.

I

[2019-05-03 13:30] quantshah commented on #170
Okay, I dug a little deeper into this and discussed with @josh146. It seems that trying to support broadcasting to multi-wires leads to some ambiguity which might not be desirable in the long term.

E.g., if we take `expval.PauliX(2)` vs `expval.PauliX([0, 2])`, it seems that broadcasting is convenient. But what about a two or three qubit gate? Do we do `expval.Toffoli([(1, 2, 3), (5, 6, 7) ])`.

[2019-05-03 13:56] josh146 commented on #170
I tend to agree, single wire gate broadcasting would simply be a convenience for the user, and not introduce any new or additional functionality. At the same time, it has the chance to cause some confusion with multi-wire gates.

Taking into account #175, which would be a significant feature addition, my current thinking is to close this issue and treat list comprehension as the preferred method f

[2019-05-03 14:25] quantshah commented on #175
This needs a bit of a different approach for two-qubit vs > 2-qubit gates, e.g., Toffoli.

Consider something like `pennylane.expval.Toffoli(wires=[1, 5, 6])`. Let us say that the backend plugin `default_qubit` has an `expand_multi` method which expands the operator. Now we have to be careful as the wires specified are not in order and can be anything. The same applies to any Hermitian operator if

[2019-05-06 15:36] frederikwilde commented on #177
This is related to the above issue, but not the same.
Is there a reason why one can't add or multiply arguments within qnodes?

[code]
gives:
`TypeError: unsupported operand type(s) for /: 'Variable' and 'int'`
in line 174 `return expm(-1j * theta/2 * Z)` in plugins/default_qubit.py

[2019-05-07 12:20] artix41 opened #193 "Add Parity as an observable"
## Enhancement

Some algorithms use the parity operator (-1)^N, where N is the number operator, as an observable, for instance [1] to measure non-linear functionals of CV states. It could also be interesting to test it on QNN for classification since the values are naturally constrained between -1 and 1.

I don't see any trivial way to obtain this observable on Pennylane using the existing operato

[2019-05-07 13:08] co9olguy commented on #193
Thanks for the suggestion @artix41! There is no current plan to add new CV operators to PennyLane, since such changes would have to be put into Strawberry Fields first (since it is the only plugin for PennyLane which supports CV operations). Might be a good PR candidate for SF though

[2019-05-08 09:25] josh146 commented on #177
Hi @frederikwilde. The main reason we don't support this is technical.

In PennyLane, all free parameters passed as QNode arguments are wrapped in a `Variable` object, in order to allow us to keep track of which operations depend on which parameters, which is required for things such as parameter fan-out.

Limited scalar operations on `Variable` objects, such as `theta/2` as discussed above, simpl

[2019-05-08 09:35] frederikwilde commented on #177
Ah, I see. Thanks for explaining :-)

[2019-05-12 14:07] #170 closed

[2019-05-15 14:28] AroosaIjaz opened #198 "Installation docs: add link to the github page and explaining cloning"
1. having a link to pip (https://pypi.org/project/pip/)

2. mentioning that the install command needs to be written in the terminal and where one can find the terminal for Windows/Linux

3. second install option of "installing from the source code" can seem vague. We can have the link to pennylane github page here, explain how to clone the repository and install from it step by step separately for

[2019-05-15 15:10] josh146 commented on #198
Hi @AroosaIjaz! Thanks for your comments. We're always looking for how to make PennyLane easier to install and use via our documentation

`pip` is currently pre-installed with all modern Python installations, so this may confuse the user (especially since the linked page says to use `pip install pip` to install pip)

While we want to ensure the installation instructions are as complete as possible

[2019-05-16 07:38] josh146 opened #199 "Remove test data for loops from test_templates_layers"
Instead of having a for loop inside `test_templates_layers.py`, it is better to define the two quantum functions outside the test function, and parametrize the test data:

[code]

That way, if only one of them fails, pytest will show the failing case in the terminal traceback

_Originally posted by @josh146 in https://github.com/_render_node/MDE3OlB1bGxSZXF1ZXN0UmV2aWV3MjM1OTY2MTAw/pull_request_re

[2019-05-17 21:23] AroosaIjaz commented on #198
Thanks a lot for your detailed review! :)

[2019-05-20 14:47] co9olguy opened #205 "Fix the `Device.supported` method, adding a keyword argument to switch between expvals and operations, and remove the set union."
_Originally posted by @co9olguy in https://github.com/XanaduAI/pennylane/pull/203#issuecomment-494018853_

[2019-05-22 11:45] frederikwilde opened #207 "Logging does not work with pennylane"
It seems that importing pennylane prevents the ```logging``` module from writing log entries to a file. When executing the following
[code]
no file ```logfile.log``` is created in the current directory, and if such a file exists already nothing is written to it. However, after commenting out the first line, everything works fine.

#### System information

* **Operating system:** macOS Mojave, Vers

[2019-05-22 13:24] co9olguy commented on #207
Thanks for the bug report @frederikwilde! We'll take a look and see if we can figure out what the root of the problem is.

[2019-05-22 16:10] josh146 commented on #207
HI @frederikwilde, I've merged in #208, which cleans up the internal logging in PennyLane, and removes logging configuration - so it should no longer clash with user specified log configs.

However, it is still recommended to import and set up logging before importing PennyLane:
[code]

This is because there are some messages that may be logged (regarding configuration files) on import.

[2019-05-22 16:10] #207 closed

[2019-05-23 08:33] frederikwilde commented on #207
@josh146  That was quick. Thanks a lot!

[2019-05-23 20:21] #198 closed

[2019-05-23 20:27] co9olguy commented on #198
Any reason why this was closed? I think there are some suggestions here that we could definitely incorporate

[2019-05-23 20:41] AroosaIjaz opened #210 "Bug: QubitStateVector function for qubit state preparation"
Hi,
There is some bug or inconsistency in this function. see the file jupyter notebook attached.
[code]
output look like this for the function call:
[code]
Checking the state using
[code]
gives the putput:
[code]

Q: Is the dev2._state function only showing the real part of the wavefunction.

Q. The expectation values are not correct. The normalization factor of the input state is throwing it off.

[2019-05-23 20:52] co9olguy commented on #210
Thanks @AroosaIjaz, definitely looks like a bug. We'll get on it and try to fix

[2019-05-23 20:56] AroosaIjaz commented on #198
I already added these suggestions to the new documentation.

[2019-05-24 16:20] #210 closed

[2019-05-28 14:15] quantshah opened #212 "Tensor operations"
In case of multi-partite quantum systems, we would ideally like to define operators acting on the larger Hilbert space for more than one qubit. I am starting this thread to discuss this and possibly implement it in Pennylane if it is interesting.

With the addition of new features following #175 , we can now calculate expectation values of multi-wire operators by defining the Hermitian matrix corr

[2019-05-28 17:11] smite commented on #212
If you want to use operator overloading to implement the tensoring operation, I'd suggest `__mul__`, because it seems more appropriate than `__add__` (direct sum?) or `__matmul__`.

[2019-05-28 17:58] josh146 commented on #212
One solution would be to restrict this to `PauliX`, `PauliY`, `PauliZ`, and `Identity` for now.

I assume this logic can be taken into account in the `TensorProduct(Operations)` subclass?

[2019-05-28 20:08] co9olguy opened #214 "Add licenses to examples"
Just something I noticed while reviewing #200. Do we want to add licenses to all the python files in the `examples` folder?

[2019-05-28 20:18] josh146 commented on #214
It is discussed (in the context of Stack Overflow) here: https://meta.stackexchange.com/questions/18883/what-license-should-be-on-sample-code

The consensus seems to be no, but it's not a hard concensus. I had a look at several other repos (pyQuil, NumPy, Matplotlib), and none have explicit licenses in their example folder/files, but it could be implicit somewhere.

[2019-05-29 13:52] johannesjmeyer commented on #205
The solution to this issue requested here would be something along the lines of
[code]
or
[code]

I have to admit that I don't like either one of those solutions. If you use a keyword argument then you can easily have typos, and in the second example you are free to not give anything which is also a possible misuse.

Clearly, expectations and operations are treated as two different things here and

[2019-05-29 14:02] johannesjmeyer commented on #205
I actually have another idea, but that would be a deeper change. What about
[code]
This would require to add a `name` field to the `Operation` base class. Or are all the operation class names identical to their string names?

What do you think?

[2019-05-29 14:15] mariaschuld opened #215 "Ensure backwards compatibility with old templates suite"
#### Issue description

The templates restructure (see PR #195 ) has two minor feature-breaking changes:

* CVNeuralNet is replaced by CVNeuralNetLayers, which takes arguments differently
* StronglyEntanglingLayer(s) argument 'periodic' is dropped

We should make these backwards compatible. I have the changes locally, but not tested.

[2019-05-29 14:37] josh146 commented on #205
Currently, this is already the case: check out line 252 in `operation.py`:
[code]
This programmatically sets the name field to the same as the operation class. However, this causes the issue where `qml.PauliZ` and `qml.expval.PauliZ` have the same name. Perhaps, instead of adding 'expectation' or 'operation' as an additional argument, the internal `device.supported` logic can be altered to take th

[2019-05-29 14:56] johannesjmeyer commented on #205
This could be done in the following way, first you check `isinstance(input, Expectation)` and treat it as an expectation, then you check if it `isinstance(input, Operation)` and then act accordingly. The question is if one should allow for string input, but that would again be ambiguous.

[2019-05-30 03:44] josh146 opened #221 "Support devices that allow for parametric quantum programs"
When we first started building PennyLane, most of the quantum frameworks didn't have the ability to do parametric compilation (hence the QNode having the ability to abstract this away). However, as variational quantum circuits suddenly became much more in vogue, this shifted, and now there is some level of support from several low level frameworks.

Currently, the QNode contains a dictionary (`QNo

[2019-06-01 21:24] co9olguy opened #223 "Implement optimizers based on "Quantum circuit structure learning" paper"
The paper "[Quantum circuit structure learning](https://arxiv.org/abs/1905.09692v1)" proposes two new algorithms for optimizing parameterized quantum circuits, `Rotosolve` and `Rotoselect`.

These work by recognizing that, if all other parameters are frozen, then the optimum value of a single parameter can be written as a simple sine function, with terms determined by certain circuit evaluations a

[2019-06-06 19:54] quantshah commented on #212
- Could this be confused with a multiplication between the matrices denoting the operators? We can start with the list syntax and then overload the operators.

- I agree with @josh146 on this that the `TensorProduct(operations)` subclass can do these checks but what if someone does this?

[code]

- Will the `op1` and `op2` be already queued? In this case, we do not even reach the `qml.expval.Tenso

[2019-06-06 19:55] quantshah commented on #212
I agree. I like `Tensor(Gate1(params, wires), Gate2(params, wires))` better for the long run.

[2019-06-06 21:13] AroosaIjaz commented on #223
I agree. I would love to contribute to this effort

[2019-06-06 21:28] AroosaIjaz opened #225 "Bug: StronglyEntanglingLayer template"
Hi, I am not sure if this template is working correctly.

The following implements a one layer strongly entangling circuit  from the paper "Circuit-centric quantum classifiers" with G0=G2=H gate and G1=G3=Identity gate.

The state at the end of the circuit is:
1/2 [ |00>|00> + |01>|11> + |10>|01>  + |11>|10> ]

The output of the expected value of PauliZ measured on subsystems qubit 0,1 and qubit 2

[2019-06-06 21:31] josh146 commented on #225
There are two recent changes that could be the cause of this bug:

1. The change to allow multi qubit expectation values #175

2. The new template functions #195

@mariaschuld, I'll look into the first one if you want to look into the second.

[2019-06-06 21:31] co9olguy commented on #225
What is your expected output for `circuit` and `dev._state`?

[2019-06-06 21:39] AroosaIjaz commented on #225
expected output for `circuit`  should be `array([0, 0])`

expected output of `dev._state` should be:
[code]

[2019-06-07 03:06] josh146 commented on #212
I did get a bit overexcited - let's leave operator overloading out for now.

The queuing actually takes place inside the `Operation` class initialization. See line 297 of `operation.py`; `Operation.init()` calls `self.queue`:

[code]

Because queueing takes place on operation _initialization_, this doesn't allow a pattern like
[code]
because the queuing will take place on initialization/assignment

[2019-06-07 07:38] mariaschuld commented on #225
Strange: My calculations say that the script is running perfectly fine. Can you confirm @AroosaIjaz ?

Starting in |+>|0>|+>|0> (after rotations) the SEC layer does these steps

CNOT (0,1) -> (|00> + |11>) |+> |0>
CNOT (1,2) -> (|00> + |11>) |+> |0>
CNOT (2,3) -> |00> (|00> + |11>) +  |11> (|00> + |11>)
CNOT (3,0) -> |0000> + |1011> +  |1100> +  |0111>

which is the state

``array([0.5+0.j, 0. +0.

[2019-06-07 07:55] quantshah commented on #212
I like this, and will try to formulate what we need to get this working if everyone agrees with this syntax.

`return qml.expval.Tensor(H(A, wires=[0, 1]), Y(0))`

We could assume that
[code]
will always queue the operation. It is also not clear why this should not queue the operation anyways.

[2019-06-07 12:50] AroosaIjaz commented on #225
Yes the function is working fine but it does not follow the formula in the paper.

Josh and I have an idea where this confusion might be coming from:

- in the software, `imprimitive(wires=[wires[i] , wires[(i + r) % num_wires]])` where wire[i]=0,1,2,3
- in the paper, `imprimitive(wires=[wires[(i + r) % num_wires] , wires[i]])` where wire[i]=3,2,1,0

This completely changes the state you can get a

[2019-06-07 17:48] smite commented on #212
* In principle you could explicitly turn all queuing off using e.g. an Operation class variable, construct the Operations, call `Tensor()`, and then turn queuing back on, but this would be ugly and error prone so I would advise against it.

* Another not-so-awesome option is to set the `do_queue` argument of `Operation.__init__()` to False, which prevents the queuing of that single Operation, but

[2019-06-07 18:46] josh146 commented on #175
See #212 for up to date discussions

[2019-06-07 18:46] #175 closed

[2019-06-07 18:47] #214 closed

[2019-06-07 18:47] #174 closed

[2019-06-07 18:55] josh146 commented on #215
Do the feature-breaking changes lead to better usability? If so, I would argue that we have the freedom (since version number is <1) to make a breaking change without ensuring backwards compatibility.

[2019-06-07 18:55] josh146 commented on #191
Hey @mariaschuld, what is the status of this issue?

[2019-06-07 22:15] co9olguy commented on #212
I haven't thought about this enough atm to hold any strong opinions, but syntactically it seems less than ideal to have `Tensor(expval1, expval1)`, since the tensor appers *outside* the expectation values (at least it appears this way upon reading).

The whole point of naming it `expval` is to reinforce to the users that they will be taking expectation values, not single-shot measurements. Somethi

[2019-06-07 22:21] josh146 commented on #212
Amazingly, this is exactly the same proposal Shahnawaz and I discussed this morning, pretty amazing.

This has a lot of advantages:

1. It makes a lot more sense. We would have a separate `qml.ops` (for unitaries) and `qml.obs` (for Hermitian observables). Then, you either specify `qml.expval(obs1)`, `qml.var(obs1)`, or `qml.measure(obs1)`

2. It makes the `qml.expval(qml.tensor(op2(wires=1), op3(

[2019-06-08 05:36] mariaschuld commented on #191
Haven't taken this up yet. Think it is a nice self-contained project for anyone who is interested.

[2019-06-08 05:48] mariaschuld commented on #215
Yes, I'd say they do lead to more consistency and better usability of pytorch integration...

[2019-06-08 06:00] mariaschuld commented on #225
Oh I see, you were talking about the paper as a comparison!

That is true, Christian wrote the function and I didn't check with the formula... But the implementation is consistent with the doc strings. My proposal would be to just say it is inspired by the paper, and the user has to then refer to the docstrings. The PL implementation is a bit simpler I feel...

[2019-06-08 14:59] AroosaIjaz commented on #225
ok I will change the function then.

**Also**, the documentation of `interferometer_uniform` and `interferometer_normal` is a bit confusing.  It says:

`The shape of the arrays is either (n_wires,) or (n_wires*(n_wires-1)/2,)`

The use of either/or is strange here. The output is two  arrays of `(n_wires*(n_wires-1)/2,)` and one array of (n_wires,).

I could not understand the output when I tried t

[2019-06-08 16:59] co9olguy commented on #225
This is a separate discussion than the `StronglyEntanglingLayer`. If you feel the docs for the interferometers can be improved, it is better discussed in a separate issue (and, even better, with a PR suggesting a fix :) )

[2019-06-08 17:47] AroosaIjaz commented on #225
okay thanks! I will  make a separate PR for that.

[2019-06-08 17:47] #225 closed

[2019-06-08 23:44] josh146 commented on #215
In which case, I would suggest it's fine to close this issue (@co9olguy?)

[2019-06-08 23:44] #215 closed

[2019-06-10 15:11] quantshah opened #226 "Make `expval`, `measure` and `var` function abstrations"
This issue is for discussing a clean refactoring of the expectation `pennylane.expval`, single shot measurement, `pennylane.measure` and variance `pennylane.var` functions. This follows #212 where we were discussing the issue of adding a `Tensor(op1, op2)` function for tensor products. The problem is that right now, the operators and the expectation functions are tied together as `qml.expval.Pauli

[2019-06-10 15:13] co9olguy commented on #226
A clear and worthwhile refactor. How do you foresee that CV measurements/expvals would be different from qubit?

[2019-06-10 15:14] josh146 commented on #226
I concur with @quantshah's approach.

I suggest merging the existing `qml.expval` submodule with `qml.ops` as follows:

* `ops/`

  - `qubit.py` - contains all qubit unitaries and observables
  - `cv.py` - contains all CV unitaries and observables

In addition, we would now have to define two new class attributes for each operation:

* `unitary = True`

* `observable = True` (or maybe `Hermitian =

[2019-06-10 15:18] quantshah commented on #226
Actually, the little knowledge I have about CV, I only know observables such as `mean photon number` or `parity` measurements which have a matrix representation so they do not seem so different from qubit operators. But what about Homodyne measurements? We need to discretize the values for such operators (x or p) and I do not know how this is implemented in SF or PL.

[2019-06-10 15:28] co9olguy commented on #226
@quantshah how does the representation of the operators influence the planned refactor of `expval` into a separate function rather than a submodule?

We already have all the machinery in place to represent CV expectation values and evaluate them on a PennyLane plugin, so at a first glance, I don't think anything new has to be added about the nitty-gritty of how measurements are implemented, just h

[2019-06-10 15:53] quantshah commented on #226
@co9olguy Thanks for the comment which makes it clearer now. We do not need to go into the details of how the expectation is computed since the plugins take care of it. I always confuse myself thinking that pennylane is a circuit simulator which calculates the expectations, but actually, the plugins do that and we just have to make the interface.

[2019-06-10 17:02] quantshah commented on #226
Okay, so I started thinking about how this will work. I am assuming that we do not want to break `qml.expval.PauliX()` right now. Do we add a deprecation warning and slowly remove it. E.g., we somehow find a way to keep both working simultaneously by wrapping the old `expval.PauliX()` around the new `expval` by making it a class which has methods `expval.PauliX()` etc.

Also, thanks @josh146 for t

[2019-06-10 17:17] josh146 commented on #226
@co9olguy, feel free to chime in here, but since we are at version number < 1, we have the freedom to make breaking changes.

In this case, I would propose not keeping the old behaviour, simply to make the refactor easier and avoid code complexity (as well as design decisions that would have to be taken to allow backwards compatibility).

[2019-06-10 17:25] co9olguy commented on #226
Yep, I think it's ok to change the interface with sufficient info given in docs. Anyway, the pattern is pretty clear to pick up, so users will probably catch on after the first time they see it

[2019-06-11 02:17] josh146 commented on #212
Note: this issue will be addressed once #226 has been addressed.

[2019-06-11 02:50] ycchen1989 opened #227 "Backend on IBMQ devices"
Although it is possible to run PennyLane program on IBMQ public version, it seems currently not able to run on IBMQ services that are exclusively to institution subscriptions!
According to the attached link, when we want to access the institute-exclusive IBMQ services, it is not only token but also URL are needed to login. Is it possible to extend this capability to the plugin?
ref:
https://qiskit

[2019-06-11 08:36] quantshah commented on #227
Hi, are you using this plugin: [https://github.com/carstenblank/pennylane-qiskit](https://github.com/carstenblank/pennylane-qiskit)? It needs some updates and I am looking into it.

They have instructions on how to use your token to run the institute exclusive services:

You can see the documentation here:
[https://pennylane-qiskit.readthedocs.io/en/latest/gettingstarted.html](https://pennylane-qi

[2019-06-11 08:39] quantshah commented on #227
We could have something like:

[code]

and make a check in the __init__ for the device being "qiskit.ibmq".

[2019-06-11 08:44] ycchen1989 commented on #227
From IBMQ document, the institute exclusive service should login in the following format:
`
from qiskit import IBMQ
IBMQ.save_account('MY_API_TOKEN', 'MY_URL')
`
it seems there is currently no fields in pennylane-qiskit to fill the "MY_URL".

[2019-06-11 15:04] co9olguy commented on #227
Thanks @ycchen1989 for the report of this missing functionality. We will work with IBM to get the appropriate information necessary to remedy it as soon as possible.

[2019-06-11 16:04] josh146 commented on #227
Hi @ycchen1989. Apologies, I'm not so familiar with the IBMQ institutional access. I had a look on the link you posted, and it looks like once you save the token and URL in your Qiskit configuration, it should be automatically used the next time Qiskit has loaded:

![Screenshot_20190611_113038](https://user-images.githubusercontent.com/2959003/59285675-58f6b380-8c3c-11e9-8b4e-9e659dc7ffe0.png)

Ju

[2019-06-11 18:02] quantshah commented on #227
Also, I think you have to enable the account:

[code]

Right now I am facing some issue with connecting to the server even though I have accepted the license online.

[code]

[2019-06-11 18:35] quantshah commented on #227
It seems after following these steps, one can use the new URL login API.

1. Install qiskit and run the followig code (before runnign the pennylane plugin) to enable your token and url on the machine (I still do not know where IBM stores these).

[code]

2. Go to the folder from which you want to run pennylane-qiskit code and set the path variable IBMQX_TOKEN as,

[code]
This should make the penny

[2019-06-11 18:52] quantshah commented on #226
@josh146 when you say the following, you still mean that there will be expval.py function which accepts any `pl.ops` such as `PauliX(Operation)` and calculates the expectation value?

I was thinking of the following code structure, and removing the `expval` submodule and replacing it with a top level `expval.py` function/class.

pennylane
    - ops
        - qubit.py
        - cv.py
    - optimize

[2019-06-11 21:01] josh146 commented on #226
Yes, exactly. When I say 'merge the expval and ops modules', I mean more make sure any observables defined in `expval/qubit.py` and `expval/cv.py` but *not* in their `ops/` equivalent are moved over.

The `expval` function could be done in several ways. Here is one approach (feel free to suggest others):

* The `Expectation` class is currently very sparse; it inherits from `Operation` and adds onl

[2019-06-11 21:01] josh146 commented on #226
You may find that the `expval`, `measure`, and `var` functions are small enough that they could all be in one file - `output.py`?

[2019-06-13 12:24] quantshah commented on #226
I am facing some issue now with the queuing. The `expval` function could have the following signatures and only one of them could work now which needs a way for the QNode context to be available to the expval function.

- This could work **`pl.output.expval(PauliX, wires=[0])`** but then we need to somehow pass the expval function the QNode context or the quantum function to really make it compute

[2019-06-14 13:04] ycchen1989 commented on #227
I just tried this. However, when I ran the first part to save the account, it show the license issue which should not be because I already clicked such things in the IBMQ web console. I am wondering whether it send authentication to correct remote servers since that message do not appear when I use pure qiskit.

The following is the code I used with my pure-qiskit code and can run without any issu

[2019-06-18 18:17] sam-stromswold opened #234 "keyword arguments cause a NoneType is not subscriptable error"
I seem to be running into issues with the use of keyword arguments. I've recreated the problem using the small code snippet below:
[code]
which produces the following error:
[code]
However, when I tweak the program to use the global variable by changing line 10 to,
[code]
I get the correct result:
[code]
I did some digging into the backtrace of the thrown error, and I think I suspect that the issu

[2019-06-18 18:22] josh146 commented on #234
Hi @sam-stromswold! Thanks for the bug report. This is currently fixed in pull request #209; until it's merged into master, you can install this PennyLane branch directly:

[code]

Let me know if that fixes the issue!

[2019-06-18 18:46] sam-stromswold commented on #234
Thanks, that seemed to fix it!

[2019-06-18 18:48] josh146 commented on #234
Awesome :slightly_smiling_face: I'll leave this issue open until the PR mentioned above is merged in

[2019-06-19 02:55] josh146 commented on #234
#209 is now merged.

[2019-06-19 02:55] #234 closed

[2019-06-19 13:42] quantshah commented on #227
Even I faced this issue. There was a different (perhaps older site) where you had to login and accept it:
https://quantumexperience.ng.bluemix.net

Could you try this and see if it works. It did for my case.

[2019-06-21 18:18] co9olguy commented on #226
All previous `expval`s are now `observables`, and the `qml.expval` function was added in #232

[2019-06-21 18:18] co9olguy commented on #226
Leaving open since we will still need to add `qml.var` and `qml.measure`

[2019-06-21 19:28] co9olguy opened #242 "Clean up docs to reflect recent refactors"
Leaving this issue open so that we remember to scan through the docs to reflect recent refactors, especially the change in the `expval` formulation and the addition of `var`

[2019-06-21 19:31] josh146 opened #243 "Some observable names don't make sense after the refactor"
Now that #232 has been merged, some of the CV observable names don't make sense any more --- they reflect expectation values/measurements rather than observables. In particular, we should rename:

* `qml.MeanPhoton` -> `qml.NumberOperator`

* `qml.Homodyne` -> `qml.QuadOperator`

The remaining observables are all fine, as they reflect the name of the observable (`qml.P`, `qml.X`, `qml.NumberState`

[2019-06-21 22:38] josh146 opened #244 "Measuring the same wire multiple times"
On hardware devices, measuring an observable on a wire gives you information about both the expectation values and the variance; i.e., you get variance for 'free'. However, currently the QNode doesn't allow the same wire to be measured twice.

We should update the QNode rules to allow the same wire to be measured twice, as long as it is the same (or perhaps a commuting) observable being measured:

[2019-06-22 18:01] co9olguy commented on #171
Note: this will be implemented as a follow-up to the `expval` refactor #232

[2019-06-22 18:06] co9olguy commented on #212
With the refactor of how observables work, we should be able to implement tensor product observables with a simple
```return qml.expval(op1(wire1), op3(wire3)), qml.expval(op2(wire2))```
There isn't even a need for a direct `tensor` function now, as it reads pretty directly from the above

If we want to get even crazier, we could overload basic arithmetic, and support something like
```return qml.

[2019-06-22 18:09] co9olguy commented on #244
This kind of stuff would be a big win for users. They wouldn't have to create separate circuits which differ only in the measurement done. However, we'd have to be cautious to make it always obvious and transparent what is going on, in particular with regards to linearly independent observables on the same wire

[2019-06-24 11:33] RohitMidha23 opened #245 "Broken Link"
#### Issue description

![pennylane_error](https://user-images.githubusercontent.com/38888530/60015575-76e30000-96a1-11e9-80fd-ee9b3ffb742c.PNG)

* *Expected behavior:* This is a screenshot from the [documentation](https://pennylane.readthedocs.io/en/latest/tutorials/qubit_rotation.html) and if you notice, the hyperlink for supported expectations doesn't work.

* *Actual behavior:* No hyperlink.

[2019-06-24 14:17] co9olguy commented on #245
Good catch @RohitMidha23! Indeed, the expval behaviour has just been refactored in the code. A PR to fix this would certainly be appreciated :+1:

[2019-06-25 07:51] RohitMidha23 commented on #245
@co9olguy just a suggestion, but maybe move the `CONTRIBUTING.md` to the main repo as well. Another thing would be too add a slightly more comprehensible guide with instructions on setting up the repository, etc. Just a small suggestion. If you approve I can work on that as well 😄

[2019-06-25 17:11] RohitMidha23 commented on #245
@co9olguy closing this issue now. Please do give those suggestions a look through though. Thanks 😄

[2019-06-25 17:11] #245 closed

[2019-06-25 19:37] AroosaIjaz opened #247 "Gradient recipe notation is confusing in gate docstrings"
### Issue description

Whilst making a PR on controlled rotation gates, I realized that the gradient recipe for Rx, Ry and Rz does not seem to be correct in the documentation. I do not have access to how it was coded, though.

current gradient recipe

`\frac{d}{d\phi}R_x(\phi) = \frac{1}{2}\left[R_x(\phi+\pi/2)+R_x(\phi-\pi/2)\right]`

right gradient recipe

`\frac{d}{d\phi}R_x(\phi) = \frac{1}{4}

[2019-06-26 01:25] josh146 commented on #247
Hi Aroosa! There is a slight subtlety to remember here, which is that when the docs refer to the gradient of gates, it means 'gradients of gates with respect to expectation values'.

So while it is written in the docs as
![image](https://user-images.githubusercontent.com/2959003/60143930-3398a680-97f3-11e9-9a00-c79aca373be6.png)

what we are instead referring to is not the derivative of the unitar

[2019-06-26 01:36] josh146 commented on #245
@RohitMidha23, if you think the documentation on getting started with PennyLane development can be improved in anyway, please feel free to make a PR! We're always looking for ways to improve our documentation 🙂

[2019-06-26 13:54] co9olguy commented on #245
Hi @RohitMidha23, we welcome any pull requests that can improve the library in some way. We are refactoring the docs at the moment (see a number of related PRs #216, #222, #235, #236, #237, #238). The goal is for these to be merged in next couple weeks, so now is exactly the right time to suggest improvements to docs :) )

[2019-06-26 13:55] AroosaIjaz commented on #247
Oh. Thanks @josh146 for answering in detail!

I will close this issue and make a PR for controlled rotation gates then :)

I do not know how to code them on the backend, however. Can you share the code from the original rotation gates (maybe on slack) ?

Thanks

[2019-06-26 13:55] co9olguy commented on #247
Hi @AroosaIjaz, all code is open-source, and available directly in this github repo :)

[2019-06-26 14:00] co9olguy commented on #247
@AroosaIjaz, I can see why anyone would get confused reading those, the gradient recipe in those docstrings is misleading

[2019-06-26 14:03] co9olguy commented on #247
We should also fix the apparent typo in the "+" sign

[2019-06-26 14:05] josh146 commented on #247
@AroosaIjaz, what docs page did you see the typo on?

[2019-06-26 14:05] co9olguy commented on #247
I believe she was referring to here: https://pennylane.readthedocs.io/en/latest/code/ops/qubit.html

[2019-06-26 14:18] AroosaIjaz commented on #247
It should be `-` on the right hand side between the two evaluations

![Screenshot from 2019-06-26 10-17-36](https://user-images.githubusercontent.com/44415402/60187546-c0476280-97fb-11e9-8b9f-7962a502f318.png)
.

[2019-06-26 14:29] AroosaIjaz commented on #247
I can make a PR for this quickly.

[2019-06-26 15:14] AroosaIjaz opened #249 "Missing code snippet in docs on measurement module"
#### Issue description

in https://pennylane.readthedocs.io/en/latest/code/measure.html, it says "For example, the following QNode returns the expectation value of observable PauliZ on wire 1, and the variance of observable PauliX on wire 2."

The code snippet is not displayed, however.

![Screenshot from 2019-06-26 11-11-45](https://user-images.githubusercontent.com/44415402/60192161-6f3b6c80-980

[2019-06-26 15:18] co9olguy commented on #249
Thanks @AroosaIjaz, can you suggest a fix?

[2019-06-26 15:22] josh146 commented on #249
Hi Aroosa, it might be referring to the code snippet in the decorator.py docstring - you can copy it here as well if you think that will fix it.

[2019-06-26 15:28] AroosaIjaz commented on #249
there is no code snippet that measures variance in decorator.py

[2019-06-26 15:33] AroosaIjaz commented on #249
I checked the `measure.py` file. The code snippet is just NOT being displayed. Let me see how to fix that.

[2019-06-26 15:35] josh146 commented on #247
I agree, definitely not clear (it even confused me for a second before I remembered). One thing that makes it even more muddled is that the gradient recipe in CV _does_ apply/work with the Gaussian symplectic matrices.

[2019-06-26 15:44] AroosaIjaz commented on #249
we just need to specify `python` with the `.. code-block::` command.

Will make a PR for this too.

[2019-06-26 15:46] josh146 commented on #249
Good catch @AroosaIjaz!

[2019-06-26 16:05] mariaschuld opened #250 "RandomCircuit template rebuilds circuit every time qnode is used"
As of v0.4 of PennyLane, circuits are not cached any more, which means every time a qnode is called the quantum circuit is rebuilt from the quantum function. That means that random choices in the architecture get redone with every run.

* *Expected behavior:* A template circuit architecture is fixed for a node

* *Actual behavior:* See above

***********************
While caching could in principl

[2019-06-26 16:08] josh146 commented on #250
Off the top of my head, I can think of maybe a couple of options (@co9olguy may have more):

1. You could have a keyword argument in the function signature that sets the seed

2. You could have the docstring specify (maybe using `.. important::`) that `cache=True` if using `RandomCircuit`. I don't personally like this approach though.

[2019-06-26 16:36] mariaschuld commented on #250
I would also not do 2., and my concern with 1. is that usually random functions show random behaviour if a seed is not given, and deterministic one otherwise. But agreed, this would be definitely an option.

[2019-06-26 17:25] co9olguy commented on #249
reopening until PR is merged

[2019-06-26 17:37] josh146 commented on #250
Alternatively, you could modify RandomCircuit to return a _function_, that is created with random parameters BUT identical each time it is called. To generate a new RandomCircuit, you must call the top level wrapper to generate a new function.

Similar to the idea of how decorators are coded/structured.

[2019-06-26 17:39] #249 closed

[2019-06-27 12:02] mariaschuld commented on #250
I'm not sure I understand..something like:

def _randomcirc(...):
     <<construct random circuit, using np.random>>
    return ???

def RandomCircuit(...):
   _randomcirc(...)

[2019-06-27 14:48] josh146 commented on #250
Something like this:

[code]

Then, I suppose the user would have to 'initialize' a random circuit function before using it inside the QNode. Every time the 'initialized' function is called, it will use the same random value:

[code]

Not sure if it is an ugly solution or not though.

[2019-06-29 18:36] co9olguy commented on #226
`qml.var` added in #240

[2019-07-02 19:48] mariaschuld opened #255 "Unclear for user that "QubitStateVector" only acts on all wires of device"
When using QubitStateVector() (i.e., in AmplitudeEmbedding template), but one attempts to only use a subset of wires, one gets an error about the state not having 2**num_wires entries. However locally, both variables "state" and "wires" at that point have the correct size, so it's very hard to trace the reason.

I assume this is because QubitStateVector() can only deal with all wires at this stage

[2019-07-03 05:22] josh146 commented on #255
Right.

At the moment, all operations are defined simply by inheriting the `Operation` class, and defining class attributes. I'm in favor of removing the `wires` argument from operations that only apply to the entire subsystem; two ways of doing this are:

* Manually overwritting `__init__` in `QubitStateVector`. Ugly, would look out of place with other operations, but would be straightforward and

[2019-07-04 14:01] co9olguy commented on #255
How come overwriting `__init__` would be ugly?

[2019-07-04 14:20] josh146 commented on #255
Because we structured the `ops/` module such that no overwriting of `__init__` should ever be necessary --- all operations are simply classes with attributes. E.g.,
[code]

So ugly in the sense that it is (a) inconsistent with all other operations, and (b) would show up in the user facing 'supported operation' documentation page.

---

My preference would be to modify the `Operation` base class di

[2019-07-04 14:24] co9olguy commented on #255
makes sense, especially if we add in more operations which cover all wires in future

[2019-07-06 04:13] JiahaoYao opened #257 "Can not create QVMDevice"
I am following the notes from the introduction, [link](https://pennylane.readthedocs.io/en/latest/tutorials/pytorch_noise.html).
[code]

However, I encountered this problem, and do not know why?

[code]
Can anyone tell me what to do or is this a bug?

[2019-07-06 04:19] josh146 commented on #257
Hi @JiahaoYao. We've recently released a new version of PennyLane. We've also updated PennyLane-Forest on GitHub, but have not yet updated the `pip` release yet.

This should be done within the coming week; for now, could you update your installed version of PennyLane, and install PennyLane-Forest from the GitHub repository:

[code]

Let me know if that solves the issue for you - I'll keep this op

[2019-07-06 04:21] JiahaoYao commented on #257
Thanks for quick reply~ Many thanks!

[2019-07-06 04:21] #257 closed

[2019-07-09 09:48] johannesjmeyer opened #260 "Implementation of device.expval and device.var"
While working on PR #256, which is the implementation of `device.sample`, I redid the implementation of `device.expval` and `device.var` in `default.qubit`.

The new implementation is basically `device.sample(...).mean()` and `device.sample(...).var()` if one is not in analytic mode. What do you think of making this the default implementation in the `device` baseclass?

Of course, there are cases

[2019-07-10 08:59] johannesjmeyer opened #261 "Improve UI for circuits, expvals, variances and samples"
After a discussion with @josh146, I would want to start a (admittedly lengthy) discussion on the implementation of circuits and expvals. Please express your thoughts on this.

### Status Quo
Currently, a circuit with an application will look something like this:
[code]
where using the circuit happens like this
[code]

### Problems (or features)
With the introduction of var (#240) the user can now

[2019-07-10 11:31] josh146 commented on #261
Note that NumPy _does_ support ragged arrays; with the caveat that they will have `np.object` datatype:

[code]

(i.e., they will be similar to a Python nested list). Since returning samples will break autodiff anyway, this shouldn't cause any side effects.

---

From my point of view, I don't actually mind the following:

[code]

I like:

1. it is explicit

2. naturally allows for tensor products

[2019-07-10 14:52] johannesjmeyer commented on #261
Fair enough! I should have thought of this.
___
I think this is also what I'm going to implement for now in the case of sampling.
___
I also think this is the most elegant way of doing it, because it is light in terms of syntax and still quite understandable.

Do I understand correctly that it would have to be
[code]
instead of
[code]
to interface properly with autograd?

I'm not very deep into th

[2019-07-10 22:18] mariaschuld commented on #261
I also like Josh's idea. @josh146 do I understand correctly, the user defines what is returned, and can return as much as he/she wants?

@johannesjmeyer Thanks for taking this daunting task on!

[2019-07-14 14:50] johannesjmeyer commented on #261
@co9olguy told me that there is also talk about allowing the user to define _multiple_ measurements for his circuit, which could be good in case of simulator backends where the whole circuit need not be evaluated twice to obtain multiple measurements per wire. This should definitely be taken into consideration here.

I have some preliminary ideas on how one could implement this:
##### a)
The user

[2019-07-16 08:53] mariaschuld commented on #261
This might be a very vague comment, but from programming another QML library I know that one regrets very quickly if one sets a restricted framework (for example the shape or type of return statements). Especially in a scientifically evolving platform.

In that spirit, is there any possibility the qnode could just return anything? And when objects are generated in a qnode that need gradients, they

[2019-07-16 12:15] josh146 commented on #261
I agree :100:, perhaps ragged NumPy arrays with dtype=object is the best way to go.

[2019-07-18 10:16] johannesjmeyer commented on #261
I was talking with @mariaschuld yesterday and we're now both convinced that format
[code]
with usage
[code]
would be the best [pending that it can be integrated with autograd]. We are not loosing any flexibility in this approach, but we gain readability. Furthermore, it separates circuit definition from post-processing and makes the nature of the result you treat explicit.

We should even be able

[2019-07-19 18:14] johannesjmeyer commented on #223
After having had a look at the paper I think that this only works for VQC. If the objective function is a more complicated function of the inputs I don't see how to implement that approach, essentially because it is gradient free and just minimizes the expectation of the circuit. But in general optimization this must not give the optimal cost.

[2019-07-19 20:50] AroosaIjaz commented on #255
I can do a PR on this. Also, the grad_method for QubitStateVector is the "F" method. Should it not be "None"? This is a state preparation method and should not depend on any parameters in principle, no?

[2019-07-20 07:22] johannesjmeyer commented on #227
Interestingly, I encountered the same problem when using the Qiskit plugin yesterday, and as @quantshah mentioned, this seems to be due to the new IBM Q Experience platform. But if I remember it correctly, then calling `IBMQ.save_account('MY_API_TOKEN', 'MY_URL')` before I load the device did the job.

I think this could be solved by simply introducing a kwarg for the url and an entry for it in th

[2019-07-21 10:19] josh146 commented on #227
Is this now fixed in XanaduAI/pennylane-qiskit#39?

[2019-07-21 14:06] johannesjmeyer commented on #261
I think the autograd integration will work, because only certain functions (like Function instances in Torch or primitives for autograd) will make it to the computational graph. In this way we can just construct a wrapping that enables the above notation, similar in spirit to what I proposed earlier.

I cooked up a MWE of such an architecture. In this case I implemented a function `expval` that ha

[2019-07-21 21:28] quantshah commented on #212
Hi, I would like to continue the discussion on the PR. At the moment, let us restrict to only allowing tensors of single-qubit observables. Since we have the new `pl.expval()´ API I think it is natural to have the syntax that @co9olguy suggests, `pl.expval(PauliX(0), PauliZ(1)). A hacky way to do this quick now would be to convert a list of observables into a multi-qubit Hermitian observable and t

[2019-07-22 13:23] AroosaIjaz opened #268 "QubitUnitary does not act on all wires"
#### Issue description

Description of the issue - In the documentation, QubitUnitary operator:
1. is stated to act on `all wires` in the system. I tested it and it can act on subsytem of wires.
2. is said to support finite difference as its gradient recipe. This can not be right as we can only input a fixed, non-differentiable matrix to this operator. So the gradient recipe should be `None`.

I a

[2019-07-22 20:22] co9olguy commented on #268
Thanks @AroosaIjaz

[2019-07-22 20:41] co9olguy commented on #212
Hi @quantshah, what you suggest sounds reasonable, I wouldn't even consider it hacky. Basically the `expval` function should count the number of arguments it receives, and, if more than one, combine them into a new Hermitian observable that is placed in the queue. For two qubits, we might even want to pre-generated all pairs of Pauli matrices

[2019-07-23 14:10] co9olguy opened #270 "Amplitude encoding should check if features are normalized"
See [this user report](https://discuss.pennylane.ai/t/valueerror-p-1-when-playing-with-the-numbers-of-shots/184/4) on pennylane discussion forum.

It appears that the `default.qubit` plugin code which performs approximate expectation estimation with finite shots can lead to probabilities which are invalid (greater than one). This leads to an exception when `numpy.random.binomial` is called. At the

[2019-07-23 15:15] johannesjmeyer commented on #244
I think the most straightforward approach is to allow the user to return a 2D array of measurements:
[code]
In the QNode implementation we would check the type of the return:
* Returns expval -> nothing changes
* Returns Iterable of expvals -> nothing changes
* Returns an Iterable of Iterables of expvals -> Multi-measurement

Each element of the multi-measurement would then be treated and sanity-c

[2019-07-23 15:29] johannesjmeyer commented on #244
I see two ways of implementing the measurement of commuting observables on the same wires:

#### a)
Group commuting measurements that act on the same wires together in a tuple
[code]
Advantage: Makes the use of the commuting observables explicit by grouping them together.
Drawback: We would have to flatten the output and in this way the actual output structure would not match the output structure

[2019-07-23 15:35] josh146 commented on #244
I'm not sure I see the reason for having an iterable of iterables; having
[code]
is more straightforward for users, does not enforce rules on particular return shape, and should still be doable mostly by the plugin, with minimal changes within the QNode

[2019-07-23 15:36] josh146 commented on #244
(this doesn't preclude allowing a nested list of multiple measurements in addition)

[2019-07-23 16:02] johannesjmeyer commented on #270
I'll have a look at how the sampling is implemented, maybe I'll spot something right away.

Also note that I changed the sampling behaviour in #256, _maybe_ this will already solve this.

[2019-07-23 16:08] johannesjmeyer commented on #244
The reason why I would prefer to have an iterable of iterables is that I want to force the user to group the measurements together that he is interested in. For example, consider
[code]
In this case you could measure the first two things at the same time, then the second two. Then you would probably run the circuit again to measure the fifth thing -- which you could have already done in the first

[2019-07-23 19:31] co9olguy commented on #270
It seems from the user's feedback that this bug may be coming from something further upstream, but only manifests during this step because numpy checks for normalized probabilities. I don't know if merging in the changes to sampling will solve or just mask the original source of the issue :thinking:

[2019-07-23 19:33] co9olguy commented on #247
I believe all the issues discussed here have now been dealt with and merged into master

[2019-07-23 19:33] #247 closed

[2019-07-23 20:04] johannesjmeyer commented on #270
Maybe it is related to the following fact in `AmplitudeEncoding`:

`The absolute square of all elements in ``features`` has to add up to one.`

I can imagine that if that was not the case we could get problems downstream. If this is correct, then we should implement some sanity check in this or better the underlying routine.

[2019-07-23 20:44] co9olguy opened #271 "Make more clear which ops are supported by plugins"
Currently if a user wants to determine if a particular operation is supported on a device from the documentation (e.g., in the [`default.qubit` plugin](https://pennylane.readthedocs.io/en/latest/plugins/default_qubit.html)), they will find a bunch of gates/operations/observables listed, but under different names than found in PennyLane. This may be confusing to users. We should state very clearly

[2019-07-23 21:00] co9olguy commented on #270
Good find. I agree on all suggestions

[2019-07-23 21:09] co9olguy commented on #244
What if we had some additional MetaOperations, which can be used by advanced users to group together multiple things, e.g., observables that cannot be measured simultaneously?
e.g.,
```qml.expval(qml.CommutingObservables(Op0(wire0), Op1(wire0)))```

[2019-07-23 21:21] johannesjmeyer opened #272 "Implement sampling in default.gaussian"
The default.gaussian plugin could provide sampling support quite easily, except for the `FockStateProjector` observable. In the other cases it just comes down to sampling a multivariate Gaussian.

[2019-07-24 05:09] josh146 commented on #271
:+1:

This definitely needs updating, good catch.

---

Something I've been thinking about for a while; the two docs pages

* https://pennylane.readthedocs.io/en/latest/plugins/default_qubit.html
* https://pennylane.readthedocs.io/en/latest/plugins/default_gaussian.html

are not user facing; there are too many layers of abstraction between the `Device` class and the QNode for any of the documentat

[2019-07-24 05:16] josh146 commented on #244
I like this, it means less internal logic required by the QNode, more explicit, and a future higher-level abstraction layer could make use of this declarative approach to 'automate'  operations known to commute.

It would be nice to have a more concise way of writing it though.

[2019-07-24 13:35] johannesjmeyer commented on #270
I am actually somewhat dissatisfied with the function `AmplitudeEncoding`. Right now it's 98% percent superfluous because it has no advantage about using `QubitStateVector` directly (only that it has a speaking name).

We could probably beef up this function a bit -- by allowing a feature vector that has less than 2^n elements (we would then pad them with zeros) and allowing that the squares don't

[2019-07-24 13:43] josh146 commented on #270
Rather than discuss `AmplitudeEncoding` here, best to make a new issue regarding it with a descriptive title.

[2019-07-24 13:57] johannesjmeyer commented on #270
Okay, coming back to the error, maybe we should also have a sanity check in default.qubit that checks if the internal state is valid?

[2019-07-24 13:59] johannesjmeyer opened #273 "Support AmplitudeEncoding on hardware"
Right now, the function `AmplitudeEncoding` is purely a wrapper around `QubitStateVector`. This is somewhat dissatisfying because it forces the user to basically transform his data into a quantum state _himself_.

We could probably beef up this function a bit -- by allowing a feature vector that has less than 2^n elements (we would then pad them with zeros) and allowing that the squares don't sum

[2019-07-24 17:06] AroosaIjaz commented on #273
I agree, that would be a nice addition to this function. Thanks, @johannesjmeyer :) I will work on this asap.

[2019-07-24 17:31] AroosaIjaz commented on #271
I agree! I also noticed this and found it confusing when adding more gates to Pennylane.

I can add this in the tutorials.

I agree. As a new user, I found the `Reference Plugin` section redundant and did not understand that it is meant for developers.

This looks pretty good :)

[2019-07-24 20:52] co9olguy commented on #261
Finally got around to reading all the way through. I don't really have any conclusive opinions at the moment, but I do want to make a few general comments:

1. I seem to remember that `autograd` gave a big barrier to implementing some of our earlier ideas. The reason some things ended up the way they did in PennyLane is specifically because of what autograd let us do easily (and we could figure ou

[2019-07-24 21:30] co9olguy commented on #260
I believe @josh146 had some thoughts on this. Would be good to state them here for posterity

[2019-07-24 22:17] co9olguy commented on #271
@josh146 I don't think that plan matches the reality. As you know, while the default qubit plugin was meant to be a reference for developers, it actually ends up being used by pretty much every user (partially our fault, since it is used as example in all tutorials). To reflect this reality, we should create a user-focused doc page for this plugin (we can also keep a less obvious developer page)

[2019-07-25 02:46] josh146 commented on #271
I agree 💯, we should have a page in the docs for using the default qubit (and gaussian) plugin. However, as Aroosa mentioned, it shouldn't be the existing `default_qubit.rst` page that is autogenerated via sphinx.

This docs page will contain all methods of the `DefaultQubitDevice` class, such as `apply`, `pre_measure`, `expval`, that are never accessible by the user, so it is very confusing (henc

[2019-07-25 02:58] josh146 commented on #271
I think we're in agreement, the plan I discussed above was just what to do with the existing autogen page, and not the plan for an upcoming user facing device page :laughing:

[2019-07-25 12:51] AroosaIjaz commented on #271
I think @josh146 , you know better how to separate the developer part of the current plugin page into a separate one. So, I will only take care of adding something on `dev.operations` and `dev.observables` to the tutorials.

[2019-07-25 15:49] AroosaIjaz commented on #270
You are right. The test that checks if `features` used by  `AmplitudeEncoding` is normalised was missing. I added one now in the PR #275 . I dont know if this fixes the error our user has, however.

[2019-07-26 12:00] #268 closed

[2019-07-26 12:03] #242 closed

[2019-07-26 12:04] josh146 commented on #171
This is done now that #256  is merged.

[2019-07-26 12:04] #171 closed

[2019-07-26 12:38] #243 closed

[2019-07-26 12:40] josh146 commented on #226
Complete now that #256 has been added

[2019-07-26 12:40] #226 closed

[2019-07-26 14:46] josh146 commented on #255
I'm working on the full solution currently :)

[2019-07-28 16:38] mariaschuld commented on #273
Carsten Blank (who helped with the IBM plugins) has qiskit code for an implementation of AmplitudeEmbedding using gates based on a paper from Mottoennen et al: https://github.com/carstenblank/dc-qiskit-algorithms/blob/master/dc_qiskit_algorithms/M%C3%B6tt%C3%B6nenStatePrep.py

He kindly agreed that we can just rewrite the code as a PennyLane Template!

[2019-07-29 04:57] josh146 commented on #273
This sounds awesome @mariaschuld; this would allow `AmplitudeEmbedding` to work on hardware! We had a request for this the other day (https://discuss.pennylane.ai/t/amplitudeembedding/169/8)

[2019-07-29 10:07] johannesjmeyer commented on #161
I'm in favour of patching `Operation.queue` in this case. I think it is suboptimal to have parameters that exist purely for test-purposes in the codebase, especially when it is easily achievable otherwise.

I don't know exactly how to do it, but I'm pretty sure that one could implement a `suppress_queuing` fixture or, even better, a context manager that supresses queuing in its context by patching

[2019-07-29 12:04] johannesjmeyer opened #280 "Make Operation.return_type an Enum"
Currently, Operation.return_type has string values (`"expval", "sample", "variance"`). It would be good to have a typesafe alternative to this, like the Enum used in #277.

This should be a very small change to implement.

[2019-07-29 16:07] josh146 commented on #260
I've thought about this a lot, and decided that this is a Good Idea™

[2019-07-30 07:22] #270 closed

[2019-07-31 14:38] #255 closed

[2019-07-31 14:41] josh146 commented on #161
@johannesjmeyer, since last discussion on this issue, we have noticed use cases for `do_queue` outside of unit tests. For example, there are some optimizers that may need to modify the QNode queue dynamically.

One solution is to remove the exception that is raised if an operation is used outside of a QNode.

Queueing now becomes implicit if inside a QNode, and the operation does nothing outside o

[2019-08-01 07:30] johannesjmeyer commented on #161
Could you point me to an example?

Yeah, that definitely makes sense!

[2019-08-01 08:12] johannesjmeyer opened #282 "Convert QNode._op_successors parameters to observable/operation scheme"
During refactoring of test_qnode.py I stumbled about the method `_op_successors` that uses `'G'` to mark operations and `'E'` to mark observables. This should be fixed to be consistent with the new naming.

This is very minor and should be done with quickly.

[2019-08-01 11:17] quantshah commented on #161
If we can make sure that the queuing happens only when called inside the QNode and not inside `expval(PauliX(0))` then we can get rid of the need to `QNode._current_context.queue.remove(ops)` inside the `expval.__call__` method. I do not know if there can be a selective check like that to stop queuing if called inside the `expval` function.

Also makes sense to make it implicit.

[2019-08-01 11:24] johannesjmeyer commented on #282
And we should use the opportunity to replace the string parameters with enums.

[2019-08-01 16:57] #221 closed

[2019-08-02 14:06] josh146 commented on #282
It's a shame there isn't a `StrEnum`, to complement the `IntEnum` (though a separate package exists for this).

Note that, while I am generally in favour of replacing internal and developer-facing magic interger/string parameters with enums, the one place I am more resistant is in user-facing functions. For example, out of the following two options:

[code]

[code]

the latter is much cleaner, mag

[2019-08-04 08:23] johannesjmeyer commented on #282
According to the docs, you can simply implement it as
[code]
So we can have
[code]

___

Totally on your page here! I think user-facing code magic strings are the way to go.

[2019-08-04 08:25] #205 closed

[2019-08-04 08:34] johannesjmeyer commented on #99
A note on the files that are still due to refactor:
* `test_default_gaussian.py`
* `test_default_qubit.py`
* `test_operation.py`
* `test_optimize.py`
* `test_quantum_gradients.py`

[2019-08-04 10:48] josh146 commented on #282
Nice find with the `StrEnum` definition!

[2019-08-04 21:39] AroosaIjaz opened #286 "Make sure all state preparation functions are compatible with all plugins"
#### Issue description

We need to make sure all functions are supported in a compatible manner on all plugins.

For example, qubit plugins other than `default.qubit` support the state prep function `BasisState` acting on ANY number of subsystems. `default.qubit` requires it to act on ALL wires. So the documentation for the function says `wires=Any` but produces an error when we use this function

[2019-08-05 02:32] josh146 commented on #286
Thanks Aroosa! This is definitely something we want to double check and ensure consistency, especially where it concerns the default plugins.

Unfortunately, there may still be cases where different frameworks have different restrictions, for example Qiskit vs. PyQuil. In cases like this, we should probably pick the most permissive value of `num_wires`, and any plugin that is more restrictive shou

[2019-08-05 04:14] josh146 commented on #286
Operations we should double check:

- [ ] `BasisState`- ?

- [ ] `QubitStateVector` - `default.qubit` should be modified to allow state initialization on subsets of wires

- [ ] `QubitUnitary` - currently, `default.qubit` and Forest support arbitrary unitaries, Qiskit only suports single-qubit unitaries

[2019-08-05 04:38] josh146 commented on #227
This should now be fixed in XanaduAI/pennylane-qiskit#44

[2019-08-05 09:18] johannesjmeyer commented on #169
Actually, I think that using a DAG could also be advantageous for `default.qubit`. Consider the following circuit on 4 wires:
[code]
As we always start from the 0-state, which is a product state, we could evolve the first modes all separately which means that we have way smaller matrices to multiply. After the two CNOTs, we can still evolve the pairs [0,1] and [2,3] separately until the final CNOT

[2019-08-05 09:35] johannesjmeyer commented on #244
Independent of how the UI will turn out -- have you ideas how to implement this in the plugin-interface?

What about adding some parameter `multirun=(False|True)` or `run=(0|1|2|...)` to `pre_apply` and let the plugin return a value that indicates if the `apply` part should be skipped? This could be a Flag like
[code]
that would be used like
[code]

[2019-08-05 09:55] josh146 commented on #169
The improvements made by @co9olguy to default qubit (#239) has already replaced all large dense multiplication with a much faster `tensordot` approach, so I feel like most of the speed improvement has already been made wrt matrix multiplication.

[2019-08-05 13:29] AroosaIjaz commented on #286
We should explicitly mention this restriction somewhere. Maybe as a `Note` in the documentation. The plugin documentation only mention the added operations on top of pennylane operations so the pennylane documentation has to be complete. What do you think?

[2019-08-05 13:37] josh146 commented on #286
My thinking is that the best place is the plugin readme. Every plugin should list the operations they support, as well as any changes/restrictions.

It will be too difficult to try and keep the PL documentation up to date with the rate the plugins are changing.

[2019-08-05 13:56] AroosaIjaz commented on #286
oh! that is a better suggestion :)

[2019-08-05 14:02] josh146 commented on #286
Easier to update the readme if the plugin code ever changes as well, since they're in the same repo :)

[2019-08-06 12:49] AroosaIjaz opened #287 "Recheck the gradient recipes of CV state-preparation functions"
#### Issue description

The gradient methods for all CV state-preparation functions are set to `F`.

* *Expected behavior:*
The gradient method should be `None`. A state preparation method does not depend on any parameters in principle. What do you guys think?

[2019-08-06 21:22] co9olguy commented on #147
This doesn't appear to be a high-priority feature at the moment. Closing, but we can reopen if the need arises in future.

[2019-08-06 21:22] #147 closed

[2019-08-06 21:23] #227 closed

[2019-08-07 03:55] josh146 commented on #147
:+1: Since creating this issue, I've decided a better short terms solution is to create a separate `S` and `Sdg` operation to be applied. This is mirrors how it is done in Qiskit (but not PyQuil or StrawberryFields).

[2019-08-08 18:08] co9olguy commented on #169
@smite left a few pointers in code about where exactly we need to make changes to implement DAGs.

wrt `default.qubit`, could there be some potential advantage in recognizing gates which can act synchronously (e.g., on different wires at the same time), and sending these as one combined matrix multiply (albeit a slightly larger matrix)?

[2019-08-08 18:12] co9olguy commented on #244
My thinking is currently leaning towards leaving the low-level core as-is, with the "one function = one circuit (including measurements)" pattern, but having higher-level classes which can be used to manage several different (possibly non-commuting) final measurement options for the same circuit

[2019-08-08 19:16] co9olguy commented on #287
Definitely worthwhile to check all these. For discussion purposes, can you remind what are the meanings of the different enumerations?
e.g., `F` means "use finite-difference" and `None` means "not differentiable", correct?

[2019-08-08 19:49] AroosaIjaz commented on #287
Yes.

[2019-08-11 18:33] johannesjmeyer commented on #169
I've seen those, they will prove helpful I think.

I think that would probably help. But it would also mean to change the internal structure of the default.qubit plugin significantly: We then would use `apply` to collect all the operations into a DAG and use `pre_measure` to do the actual computation. If this would be implemented, we could in the future give (simulation-) plugins access to the int

[2019-08-11 19:11] johannesjmeyer commented on #244
I agree that this is desirable, but you have to find a sensible way to do it.
___
Probably one could do it like this
[code]
What I don't like about it is that the return type (which would probably just be the concatenation of the results of the measurements) is not obvious from the code.

[2019-08-14 22:18] antalszava opened #294 "Change default value of the 'parameters' argument in Device.execute()"
The 'parameters' argument for the Device.execute() method has an empty dictionary as a default value which is mutable in nature.

A mutable as a default value in a method can lead to errors and unwanted behaviour hence is not a good practice.

The following is an example of how the test suite might be affected by a change (in this case the default value was simply removed):
[code]

[2019-08-15 06:08] josh146 commented on #294
Ah, good find, @antalszava!

We previously had discussion over this here: https://github.com/XanaduAI/pennylane/pull/283#discussion_r309700735

Something to note is that this keyword argument is never modified, instead we use `dict.update()` to safely copy its contents into a new dictionary:
https://github.com/XanaduAI/pennylane/blob/1788fc4831a50570589c5fc6ccfffee1a41ec0ca/pennylane/_device.py#L2

[2019-08-15 16:50] co9olguy commented on #294
Do we have a good reason why the default is `{}`?

[2019-08-15 16:58] josh146 commented on #294
The only reason I can think of is readability.

[2019-08-15 17:38] co9olguy commented on #294
Then I see no reason to not implement option 2

[2019-08-19 15:21] nquesada commented on #273
Would it make more sense to implement directly ```MöttönenStatePrep``` in ```QubitStatePrep``` and have ```AmplitudeEncoding``` call it?

[2019-08-19 15:29] josh146 commented on #273
I think this is a very good question, that doesn't have a clear answer. Some plugins (such as Qiskit) support arbitrary state preparation, and have their own code for decomposition. Others, such as Forest, don't, so would benefit from having this in PennyLane.

At the same time, we don't currently have a good framework to allow both options in PennyLane. Ideally, it would work as follows:

1. User

[2019-08-19 17:53] co9olguy commented on #273
Honestly, it sounds like something that would best fit within the plugins themselves, since it is their responsibility to translate top-level circuits into hardware-compatible circuits.

If included as part of core PennyLane, we need to have a way to make clear to the user when there is a decomposition happening behind the scenes. If their circuit gives completely different results on two differen

[2019-08-19 21:00] #250 closed

[2019-08-19 23:31] josh146 commented on #273
I just woke up and had the exact same thought @co9olguy, but you vocalised it before I had a chance 😆 This is something we should add to the plugins, which are designed to map PL operations to specific hardware frameworks.

[2019-08-20 04:39] mariaschuld commented on #273
Also agree that the implementation of QubitStateVector is up to the plugins, but would still like to see a proper state preparation routine in the Embedding. The reason is that for all practical purposes we need to prepare the state on a subregister of qubits, which QubitStateVector cannot do (at this stage).

[2019-08-20 12:55] johannesjmeyer commented on #273
Maybe it would be a good idea to have the MöttonenStatePrep somewhere (maybe in the templates) so that if you develop a plugin that has no direct support for state preparations you would not have to cook that code up for youself but you can then just call the MöttonenStatePrep (e.g. for the forst plugin).

[2019-08-20 15:23] johannesjmeyer opened #297 "Add matrices, eigenvectors and eigenvalues to operators"
We should probably add the corresponding matrices, eigenvalues and eigenvectors to certain selected operators (mostly the Paulis), because they tend to pop up in quite a few places. It was needed for the GradientTensorOptimizer and currently I also need it in the Cirq plugin.

Maybe the implementation could be delegated to the plugins where you are sure what convention is used.

[2019-08-20 15:29] co9olguy commented on #297
Nice idea @johannesjmeyer. I see no reason why we can't keep basic "meta-data" as simple attributes of these classes

[2019-08-20 15:46] josh146 commented on #297
I agree :+1:

On the other hand, I'm surprised that you need access to the matrices in the Cirq plugin - from my experience with the other plugins, this has never been the case. Can I ask what is the use-case here?

[2019-08-20 16:01] johannesjmeyer commented on #297
The same issue as in the Qiskit-plugin. In simulation mode, Cirq will only give me the state from which I have to calculate the expectation values by hand. Technically, I only need the eigenvalues of the matrices to convert it back but I still need the information.

[2019-08-22 13:11] mariaschuld opened #298 "Improve user documentation"
After refactoring the docs, the "User documentation" section is convoluted and not always logically flowing. Improvements include:

- Write a landing page that summarises all functionality a user has available in PennyLane
- Adapt docstrings of different sections/modules to be consistent and precise

[2019-08-22 14:53] co9olguy commented on #298
Fully supported!

[2019-08-23 09:56] josh146 commented on #142
Closing this issue for now, as it does not appear to occur in user interactions.

[2019-08-23 09:56] #142 closed

[2019-08-23 10:01] josh146 opened #299 "Investigate alternate matrix pseudo-inverse functions"
The QGT optimizer makes use of the matrix pseudo-inverse, via the `scipy.linalg.pinv` function. However, there are several alternative functions we could also use:

* https://docs.scipy.org/doc/scipy/reference/generated/scipy.linalg.pinv.html
* https://docs.scipy.org/doc/scipy/reference/generated/scipy.linalg.pinv2.html
* https://docs.scipy.org/doc/scipy/reference/generated/scipy.linalg.pinvh.html

[2019-08-23 10:03] josh146 opened #300 "Unify import shortcuts used in the library and tests"
Currently, we have unified mostly around

[code]

However, there are a few places where this is not the case. These include:

* `qnode.py` (`import pennylane` and `pennylane.operation`)

* `test_operation.py` (`import pennylane.ops as oo`)

These should be changed (as well as any additional cases) to `import pennylane as qml`.

[2019-08-23 17:01] co9olguy opened #302 "Black codebase"
Currently files are getting `black`ed on the fly, i.e., if they are modified as part of an incoming PR. It would make more sense to just have a single PR which `black`s the entire codebase (or module-by-module) to make code review easier.

[2019-08-26 23:16] smite commented on #302
I'd go as far as "don't run black on a file if you also make other modifications to it", since otherwise it's very time-consuming for the reviewers to decide which changes they should be looking at.

[2019-08-27 20:04] AroosaIjaz opened #304 "Missing docstring for function `sample`"
#### Issue description

There is no docstring or explanation of the function `sample` in the measurement module:

https://pennylane.readthedocs.io/en/latest/code/measure.html

[2019-08-28 04:57] mariaschuld commented on #304
Thanks, I'm on it in the user docs refactor!

[2019-08-28 04:57] mariaschuld commented on #304
@co9olguy, the expval inconsistency is due to the fact that it is a Factory, not a function...

[2019-08-28 09:52] johannesjmeyer commented on #302
I agree that this is a good idea, but to do this no other PRs should be on hold, because after merging the blacking merging the other PRs will be a pain in the ass.

Also, just running black -l 100 on the whole codebase might give some suboptimal results. For example, I intended to black `test_default_qubit.py` after the refactor (the whole code has changed too much anyways), but I refrained from

[2019-08-28 10:08] johannesjmeyer opened #305 "Use `dev.shots` to modify the number of returned samples from a QNode"
While working on the Cirq plugin I also implemented the sample function. This was not as straightforward as it should be due to the variable number of samples (I know I came up with this, but right now I'm not so sure anymore): I ended up looping over all given observables and collecting the maximum number of samples requested and if it exceeded the number of shots given for the device I let the d

[2019-08-28 10:09] johannesjmeyer commented on #305
This would also supersede issue #178

[2019-08-29 05:02] mariaschuld commented on #304
Yes, just importing them via a general :members: directive (not explicit :members: expval,...) does the job. Let me do a quick pull request to fix this one.

[2019-08-29 06:47] mariaschuld commented on #304
It turns out, making expval consistent with a function docstring is more complicated since it is a ExpvalFactory object. Will open a separate issue and discuss with @johannesjmeyer.

The missing sample docstring is fixed in PR#307.

[2019-08-29 06:52] mariaschuld opened #308 "Make docstring for expval consistent with other functions in pennylane.measure"
#### Issue description

Since the expval measurement outcome is coded as a factory, the docstring is rendered inconsistently to other measurements such as `var`:

![Screenshot from 2019-08-29 08-49-20](https://user-images.githubusercontent.com/23052011/63917043-f5f60b00-ca39-11e9-976d-394065966e0a.png)

It would be great to hide this complexity from the user, for example by wrapping expval by a fu

[2019-08-31 05:59] #304 closed

[2019-08-31 07:34] josh146 commented on #308
The only reason `expval()` is coded as a class factory is to support both the new `qml.expval()` interface and deprecated `qml.expval.Obs` interface.

The best solution here is to fully deprecate the `qml.expval.Obs` interface, and convert it into a simple function similar to `sample` and `var`.

Any objections to removing the factory for the 0.5.0 release? Alternatively, any arguments for _keepin

[2019-08-31 08:41] josh146 commented on #302
I agree - I have been sitting on this, waiting for the number of existing PRs to reduce so that the black PR could be made. Hopefully leading up to the next release.

You can add `# fmt: off` before the code section that shouldn't be blacked, and `# fmt: on` afterwards. I also do this around large NumPy matrices; black oftens formats them like JSON datastructures.

[2019-08-31 10:24] josh146 commented on #305
thumb

thumb

thumb

I've never really seen the use case for specifying `n` in the `samples` function. It goes against the device abstraction, and adds significant complexity to the code.

[2019-08-31 20:00] AroosaIjaz commented on #308
I agree to fully eliminating `qml.expval.obs`.

[2019-09-02 12:35] mariaschuld commented on #308
Me too, but can we catch people using  the old way with an exception?

[2019-09-02 12:36] josh146 commented on #308
Not a custom one, they will get a standard `AttributeError: name does not exist` exception from Python though

[2019-09-04 01:32] co9olguy commented on #308
No objections

[2019-09-04 01:35] co9olguy commented on #305
DIsagree about not allowing a user to specify the number of samples. I've mentioned before the use case of wanting to compare performance of the same circuit/model/optimizer with different sample numbers. It makes much more sense to just swap out a single argument in `sample` than to instantiate an entirely new device

[2019-09-04 02:23] josh146 commented on #305
I agree that's a very valid use case.  But instead of just swapping out a single argument in `sample`, the user can instead just swap out a single argument in `qml.device`? They won't need to instantiate a new device, in the same way they won't be creating a new QNode.

In terms of the abstraction and the code base, it ends up working a lot better, and avoids the ambiguity of a user requesting QNo

[2019-09-05 10:14] johannesjmeyer commented on #305
I think if you would want to compare performance of different numbers of shots I would do something like this:
[code]
So, just sample once, but a lot and then use only subsets to see when your statistics get good.

If we remove the number of shots as an argument from `device.sample` we can also just do this:
[code]

[2019-09-05 10:44] johannesjmeyer commented on #282
Should be done after #306 is merged.

[2019-09-10 16:10] #280 closed

[2019-09-10 23:51] josh146 commented on #260
I'm closing this for now, as it is a very change that can likely be re-evaluated once #178 is implemented.

[2019-09-10 23:51] #260 closed

[2019-09-10 23:53] josh146 commented on #261
Closing this issue, as the consensus seems to be the status quo - returning a tuple as defined by the user. We can re-open in the future if anything changes.

[2019-09-10 23:53] #261 closed

[2019-09-10 23:54] josh146 commented on #178
This has been superceded by #305.

[2019-09-10 23:54] #178 closed

[2019-09-10 23:56] josh146 commented on #305
I like the suggested approach, but I would use a setter rather than an attribute:

[code]

[2019-09-13 09:16] johannesjmeyer commented on #305
Very good, let's do it like that then.

[2019-09-17 19:41] AroosaIjaz opened #324 "Missing plot lines in VQE tutorial"
#### Issue description

The second and third plots in the VQE tutorial do not show the plot line of the gradient descent. The legends are shown, however.

Is this problem coming from making this file a "run" file?

https://pennylane.readthedocs.io/en/latest/tutorials/pennylane_run_variational_quantum_eigensolver.html#vqe

* *Expected behavior:*

The plots should show the gradient descent on top of

[2019-09-17 20:14] josh146 commented on #324
@AroosaIjaz, does the example produce the correct plot when run manually? i.e.,
[code]

[2019-09-18 12:27] mariaschuld commented on #324
Yes the bug is also in the .py file...The line is somehow obscured by the contour plot. When you add a much larger offset to the z-values you suddenly see the lines.

[2019-09-18 16:10] #324 closed

[2019-09-18 23:21] #305 closed

[2019-09-18 23:22] #272 closed

[2019-09-18 23:25] #300 closed

[2019-09-23 13:38] therooler commented on #299
Hi, I have some results with regards to this issue.

I compared the mean execution time of calculating the pseudo-inverse of 100 random symmetric matrices of size n by n for `pinv`, `pinv2` and `pinvh`. There seems to be a significant speedup when using `pinvh`, especially when the matrices get larger. See the figure below for the results.
![pennylane_pinv_perf](https://user-images.githubuserconte

[2019-09-23 13:45] josh146 commented on #299
Thanks @therooler, this is great analysis! So it looks like the best course of action is to use `pinvh` in the QNG optimizer

[2019-09-23 13:47] #299 closed

[2019-09-23 19:20] angusjlowe commented on #223
I'm currently working on a tutorial for these algorithms; hopefully it can serve as a guide for implementing them as optimizer classes or something similar. As long as the cost function is a linear sum of expectations I think they work fine.

[2019-09-25 14:32] therooler commented on #166
Is this still something you would like to see implemented? I have some experience with writing custom TensorFlow layers that use PennyLane, so I would be happy to pick this up.

[2019-09-25 14:32] AroosaIjaz opened #334 "Device 'Shots=0' argument breaks down for the SF plugin"
#### Issue description

The SF plugin has not been updated with PL Device reconfiguration where the user is not explicitly required to give 'shots=0' argument anymore. This produces the following bug when running files that use SF plugin:

```pennylane._device.DeviceError: The specified number of shots needs to be at least 1. Got 0.```

[2019-09-25 15:08] co9olguy commented on #334
Seems to be better to track this issue in `pennylane-sf`. Can you post this issue there?

Is the issue happening with latest `pip` release of PL? or with github master branch?

[2019-09-25 16:37] josh146 commented on #334
Yes, please post this in https://github.com/XanaduAI/pennylane-sf/issues :)

[2019-09-25 16:37] #334 closed

[2019-10-01 18:05] #169 closed

[2019-10-01 23:23] AroosaIjaz commented on #286
@josh146 I have asked Angus to work on this issue as I have been a bit busy with the other project :)

[2019-10-02 16:31] josh146 opened #339 "Add support for inverse operations"
Currently, PennyLane has no concept for inverse operations. In general, this is not an issue, as common gates are either Hermitian (Pauli matrices, Hadamard), or can be inverted by negating the parameter (e.g., `qml.RX(0.6).H` == `qml.RX(-0.6)`).

However, there are some non-Hermitian non-parametrized gates, such as the `S` gate, which sometimes require inversion.

I suggest we add the following s

[2019-10-03 16:45] antalszava opened #340 "Add S and T gates"
Implement the S and T gates that are currently unavailable in Pennylane. They could simply be applied just as other gates:
[code]
Their inverses could also be used, see #339 .

[2019-10-03 20:02] angusjlowe commented on #286
Alright so after checking the behaviour of these functions on most of the plugins, I am thinking of proceeding as follows:

1. Currently, qubit `BasisState` docstring says `num_wires=All`, but the actual operation has attribute `num_wires=Any`. Most plugins, besides default qubit, allow `BasisState` preparation on subsets of qubits.

      - suggestion: Change qubit operations docstring to reflect

[2019-10-03 20:19] josh146 commented on #286
This looks great, thanks Angus! I agree with all your suggestions.

[2019-10-04 15:55] angusjlowe commented on #286
`BasisState` on other plugins can only be applied as a first operation - is this what we'd want default qubit to do as well?

[2019-10-04 20:50] angusjlowe commented on #286
Update: I am making the default qubit `BasisState` replicate the first operation restriction from other plugins, and making the default qubit `QubitStateVector`obey this rule as well, despite other plugins being more flexible.

[2019-10-07 20:51] #340 closed

[2019-10-09 17:18] co9olguy commented on #161
Suggested simple fix:

- If an op is created outside of context managers, then it is not added to any `queue` (similar to what happens when `do_queue=False`)
- If an op is created inside a relevant context manager, it is automatically added in the corresponding circuit queue (similar to current default behaviour)
- If an op is created inside a relevant context manager, but the user does not want t

[2019-10-09 18:09] josh146 commented on #161
In addition, it feels hacky to pull ops out of the queue just to update return_type, then put them right back. There are three potential solutions, which differ in scope:

* Re-think the queuing behaviour across the board (probably too hard)

* Remove queuing from just observables (since it is not needed), and have the expval/sample/var functions perform the queuing

* See if it's possible to find

[2019-10-09 18:12] josh146 opened #349 "Clarify the distinction between Operation.parameters and Operation.params"
In the `Operation` class, `.params` is used for the unevaluated parameters (so could contain Variable instances), while `.parameters` are evaluated.

The QNode always queries `Operation.params`, while the device always queries `Operation.parameters`.

A good solution would be to rename `Operation.params` to make it clear that these are potentially _unevaluated_ parameters.

[2019-10-09 19:14] #212 closed

[2019-10-10 13:38] AroosaIjaz opened #350 "missing documentation for the change in Device class"
The `Device` class documentation has not been updated after the addition of the new argument `analytic`.

[2019-10-10 15:59] angusjlowe commented on #350
This is specific to the default qubit subclass, isn't it?

[2019-10-12 01:32] joeymach-ca commented on #182
Similar error! Thanks!

[2019-10-12 20:07] ycchen1989 opened #351 "Torch interface in Class?"
Hello everyone,
When I implemented the quantum circuits into Class, it seems that the torch interface not working properly. The same code works fine when it is not in a Class. Just wondering if anyone has the same problem?
Thanks a lot!

`

	def _layer(self, W):
		""" Single layer of the variational classifier.

		Args:
			W (array[float]): 2-d array of variables for one layer
		"""
		qml.CNOT(wir

[2019-10-14 20:57] co9olguy commented on #351
@ycchen1989 Can you share the part of your code where you use a class? The code you posted only contains functions

[2019-10-14 21:05] ycchen1989 commented on #351
The complete Class is,

`

class VariationalQuantumClassifierBinary:
	def __init__(
			self,
			var_Q_circuit = None,
			var_Q_bias = None):

		self.var_Q_circuit = var_Q_circuit
		self.var_Q_bias = var_Q_bias
		self.dev = qml.device('default.qubit', wires=10)

	def set_params(self, var_Q_circuit, var_Q_bias):
		self.var_Q_circuit = var_Q_circuit
		self.var_Q_bias = var_Q_bias

	def _layer(self, W

[2019-10-15 16:13] antalszava commented on #351
Hi @ycchen1989, thanks for submitting your issue!

In the version that you have posted in function ```_circuit(angles)``` the weights used for each layer are obtained by ```weights = self.var_Q_circuit```. Therefore ```weights``` is going to contain ```Tensor``` objects.  To use Pennylane's PyTorch interface and hence to be able to pass ```Tensor``` objects to circuits, you'll need ```weights``` i

[2019-10-16 03:44] ycchen1989 commented on #351
It works! Thanks a lot!

[2019-10-16 13:48] #351 closed

[2019-10-16 13:51] antalszava commented on #351
Great! Feel free to reach out, should you have further questions/concerns! :)

[2019-10-16 21:09] AroosaIjaz commented on #350
Taking it to the new tutorials repository. we can just update the tutorials

[2019-10-16 21:09] #350 closed

[2019-10-18 14:48] #282 closed

[2019-10-18 14:57] co9olguy opened #360 "In-place modification of operations in the queue"
In addition, it feels hacky to pull ops out of the queue just to update return_type, then put them right back. There are three potential solutions, which differ in scope:

* Re-think the queuing behaviour across the board (probably too hard)

* Remove queuing from just observables (since it is not needed), and have the expval/sample/var functions perform the queuing

* See if it's possible to find

[2019-10-18 14:59] co9olguy commented on #161
Closed by #359

[2019-10-18 14:59] #161 closed

[2019-10-18 15:06] josh146 commented on #360
@smite noted in a PR that queuing of observables prior to calling the measurement function has one advantage: it provides validation and allows us to raise an error if an observable is used like a quantum operation. Otherwise, option (2) would cause observables within the operation queue to go 'un-noticed' and do nothing.

Option 3 (modifying in-place) would in that case be preferable.

[2019-10-18 20:58] josh146 opened #362 "Documentation cleanup"
A checklist of things we need to do to clean up the documentation:

- [x] Need to rewrite `index.rst` to better match its position as a documentation landing page. Something like https://www.tensorflow.org/tutorials/ ?

- [x] PyTorch and TF logos need to be updated to the new version

- [ ] Decide what module docstrings to re-add to the source code

- [ ] The TF interfaces doc page used to have TF

[2019-10-19 15:41] josh146 commented on #362
Also, I've noticed two sphinx bugs:

1. 'Contents' shows up on pages with no local contents

2. Search is broken (but this has been broken for a while, it got mentioned back during CDL but fell of the radar)

[2019-10-19 18:30] co9olguy opened #365 "AmplitudeEmbedding normalization not behaving as expected"
This simple example:
[code]
gives the error
[code]

This seems to be due to the normalization check within the definition of `AmplitudeEmbedding`.

As a further point, the normalization check is probably too strict. Instead of checking if the normalization is exactly not equal to one, we should allow for some small numerical tolerance by using np.allclose()

[2019-10-21 01:49] josh146 commented on #223
This is now implemented over at https://pennylane.ai/qml/app/tutorial_rotoselect.html

[2019-10-21 01:49] #223 closed

[2019-10-21 02:08] mariaschuld commented on #365
I agree, ran into the problem of normalisation condition being too strict too. Will replace norm == 1 check with isclose check.

With regards to the error, is it wanted behaviour that amplitude encoding encodes trainable parameters?

[2019-10-21 02:17] josh146 commented on #365
That's a good point. In my (limited) experience I would expect it to encode raw data only, and so would then have to pass it via a keyword argument to avoid the `Variable + Variable` error @co9olguy got.

[2019-10-21 03:12] mariaschuld commented on #365
A use case where variables have to be encoded is if there is classical pre-processing that scales the inputs by trainable parameters. So @co9olguy is right, we need to consider Variables beeing fed in.

[2019-10-21 07:46] mariaschuld commented on #365
I will work on it!

[2019-10-21 20:43] AroosaIjaz commented on #365
@mariaschuld Let me know if I can help in any way.

[2019-10-22 12:14] mariaschuld commented on #365
Fixed in PR #376

[2019-10-24 23:58] #298 closed

[2019-10-26 20:59] AroosaIjaz opened #383 "Issues with the templates random_layers_normal and random_layers_uniform"
#### Issue description

There is some issue with the initialization template for random layers `random_layers_normal` and `random_layers_uniform`. see the simple code below:

[code]

[code]
[code]
The shape of the output is wrong. it should be (2,2) array.
so when `RandomLayers` template wants to break this down to get weights for each layer:

[code]
[code]
it gets the whole array. this means that

[2019-10-26 21:07] AroosaIjaz commented on #383
This could be because the init functions do the following:

[code]
To avoid the issue above, we can use:

`return np.asarray(params)`

[2019-10-26 21:17] AroosaIjaz commented on #383
I have not checked all other initialization templates but it may hold for others too.

[2019-10-26 23:01] smite commented on #360
Another related issue is that currently some Observables are also Operations, PauliX for example. I think it would be cleaner to split it into two classes, PauliX_as_a_gate and PauliX_as_an_observable. This has the advantage that every Observable instance would be an actual observable, and the queuing would get simpler.

[2019-10-26 23:29] AroosaIjaz commented on #383
I see a similar issue when I tried to use `StronglyEntanglingLayer`. I will make a PR on this.

[2019-10-28 01:40] josh146 commented on #383
Hi @AroosaIjaz, thanks for looking into this. A couple of things I noticed while working on the templates last week:

* Having the initialization functions return `[params]` is intentional, as it allows the discrete variable templates to match the CV templates (which have more than one argument, i.e., `Interferometer(theta, phi, varphi, wires=[0, 1])`. After you initialize parameters, you then pas

[2019-10-28 02:32] AroosaIjaz commented on #383
@josh146 , Thank you for the detailed response.

Ah yes, I just noticed the use of a single layer in the template introduction page!

The docs of the initialization functions do not mention this 'packing' and state that they return an array of shape (n_layers, n_rots).

Agreed. The PR #384 takes care of this, right?

Agreed. I will wait for @mariaschuld 's feedback on this and then add this to the

[2019-10-28 02:36] AroosaIjaz commented on #383
knowing this would have saved me a couple of hours yesterday :D

[2019-10-28 05:52] mariaschuld commented on #383
Yes, we took the decision for a counterintuitive "[...]", but in favour of having all templates act the same.

I think this is another nudge to sit down and simplify the templates, especially before we systematically fill the modules with more circuits. It's on my todo list in the medium/short term.

Since this isn't (at this stage) a bug in the code, shall we just fix the example in the docs and

[2019-10-28 16:50] johannesjmeyer opened #386 "Assure that state preparations only happen at the beginning of a circuit"
Right now, state preparations, e.g. `QubitStateVector` and `BasisState`, can in principal be used everywhere in a circuit. That they are not used after an operation is checked in the plugins, resulting in code that is not very elegant: Usually, plugins track if apply was called the first time when a state preparation is applied.

I would suggest to move the check if the state preparations are the

[2019-10-29 15:28] AroosaIjaz commented on #383
sound good @mariaschuld. The docstrings and the example in the intro can be updated for now.

[2019-10-30 15:02] johannesjmeyer opened #389 "np.asscalar(a) is deprecated since NumPy v1.16"
Running the test suite spits out an enormous number of warnings due to `np.asscalar(a)` being depreceated. It should be replaced with `a.item()` in current numpy versions.

[2019-10-30 15:04] johannesjmeyer commented on #389
Note  that this change is also backwards-compatible (I backtracked it to at least numpy 1.10)

[2019-10-30 18:32] co9olguy commented on #389
Is this warning caused by pennylane itself, or one of the dependencies?

[2019-10-31 10:44] johannesjmeyer commented on #389
Thanks for pointing this out. This was actually caused by pytest itself in `pytest.approx`. Was fixed by me simply updating pytest.

[2019-10-31 10:44] #389 closed

[2019-10-31 11:43] johannesjmeyer commented on #360
As the API is laid out right now, you won't be able to do option (2) simply because of what @smite mentioned. As the measurement functions (e.g. `qml.var`) are called after the initialization of the Observable, we simply can not know at the time of initialization if a `PauliX` is used as an Observable or an Operation.

Note that I am still against having `PauliX` and `PauliXObservable` as separate

[2019-10-31 16:32] AroosaIjaz commented on #383
Let us keep this open as a reminder until we update the templates.

dear @mariaschuld,  will you be taking care of this? or should I make a PR? :)

[2019-10-31 17:50] josh146 commented on #166
Hi @therooler, if it is something you would like to look into that would be a great contribution :) Even if it begins in the form of a tutorial or script to explore the integration between `keras`/`torch.nn` and PennyLane.

[2019-10-31 17:55] josh146 opened #393 "`qml.about()` function broken with latest `pip` update"
The latest version of pip, 19.3, contains a significant refactor, and as a result the `pip._internal.main` function has been moved/removed(?). This causes the following line in `pennylane.about()` to fail:
[code]
Currently, this can be solved by downgrading to pip v19.2, but it would be nice to fix this in a way that is compatible with both versions of pip.

[2019-11-02 00:09] #362 closed

[2019-11-04 14:07] mariaschuld commented on #383
Could you do a quick fix? Thanks!!

[2019-11-05 07:59] mariaschuld commented on #271
Wanting to revive this discussion after the docs refactor. It would be very useful to have a table on the "plugins" [landing page](https://pennylane.ai/plugins.html) listing all core operations against all plugins, with ticks if the operation is supported by the plugin.

In addition to that, it would be cool to have icons of the supporting plugins in the[ list of operations](https://pennylane.read

[2019-11-05 18:13] smite commented on #287
Is this issue still current? The CV state preparations do depend on parameters, and I think all but `FockState` (which has `grad_method = None`)   actually are differentiable using the finite difference method, right?

[2019-11-05 18:22] AroosaIjaz commented on #383
@josh146, @mariaschuld should I go ahead and add a line to each template function docstring that we have to unpack the parameters? Is that still ok or are we changing this feature to make them compatible with TensorFlow as discussed in the meeting today?

[2019-11-05 18:25] smite commented on #386
Doesn't the `vis_check` feature in `qnode_new.qnode.QNode._construct` solve this issue, if we give state preparations no incoming edges when the DAG is built?
This way the visibility check will raise an error if an Operation X is entirely shadowed by a state preparation (i.e. there is no directed path between X and an observable).

[2019-11-05 19:14] AroosaIjaz commented on #287
@smite, yes. I did not get time to test every function separately though in order to confirm this. If you have some time, you can go ahead and test this :) we can then update the docs. Thanks

[2019-11-05 22:27] co9olguy commented on #287
I think @smite is right here. If the state preps depend on continuous parameters, the finite-difference rule applies for estimating gradients.

[2019-11-05 22:27] #287 closed

[2019-11-06 05:24] josh146 commented on #383
@AroosaIjaz: @mariaschuld is currently working on an ADR regarding the templates, so let's wait until that is merged in 🙂

[2019-11-06 08:03] mariaschuld commented on #383
@AroosaIjaz If the templates ADR gets approved quickly we can just do the proper update. If it takes longer I would kindly ask you to do exactly that.

[2019-11-06 08:28] johannesjmeyer commented on #386
That would work, yes. But this would require us to run the construct with `vis_check = True` for all QNodes, something we did not intend to do, because people might deliberately choose to have unused wires.

We could already raise an error at time the state preparation is queued, and this is what I think we should do.

[2019-11-07 13:20] tobeyOguney commented on #393
Hi josh146!
The `pip._internal.main` function was moved in pip 19.3, and is now `pip._internal.main.main`.

[2019-11-07 15:49] co9olguy commented on #386
Seems like the simplest solution is to just ensure that, when we see a state prep in the queue, check to ensure that none of its wires have been used yet by previous ops

[2019-11-08 00:54] smite commented on #386
`vis_check` does not complain about unused wires, it only raises an error if it encounters invisible Operations.

One can certainly also enforce that state preps are the first Operations on each wire, either during the queuing or alternatively when the CircuitGraph is built.

However, eventually there might be valid use cases for using another state prep on a wire in the middle of the circuit, e.g

[2019-11-08 13:52] co9olguy commented on #386
Allowing state preps in the middle of a circuit is certainly doable (and there are use-cases from a quantum information perspective). However, previous experience indicates that this is much more complex to maintain, so probably not worth it

[2019-11-08 14:59] johannesjmeyer commented on #386
I think this is a very low-prio feature. If people want to do this they can just have more wires.

And I still think that vis_check is the wrong way to go, even if you can have empty wires. If people want to have lone PauliX gates that don't influence the result of the computation they should have them. I think we can build vis_check into a feature for circuit analysis and as such it will be reall

[2019-11-13 09:03] mariaschuld opened #421 "Further improve templates tests"
#### Issue description

While refactoring the templates test, I made a list of issues that should be addressed in the longer term:

* Add unit tests for `pennylane.templates.layers._strongly_entangling_layer` and `pennylane.templates.layers._cvqnn_layer`. Can get inspiration from tests for `pennylane.templates.layers._random_layer`.

* Replace fixed values for expected returns in `test_templates_s

[2019-11-13 09:07] mariaschuld opened #422 "Add "how to add a template" sections to docs/developers"
#### Issue description

After the templates refactor, the new design decisions should be communicated to developers via the docs.

This includes:

* understanding the submodules
* using consistent signatures
* using systematic input checks
* understanding the type of arguments inside a qnode
* how to add a template to integration tests
* how to write unit tests for the template

[2019-11-13 09:21] mariaschuld commented on #421
* Reduce code duplication in `test_init.py`

[2019-11-13 10:38] #286 closed

[2019-11-13 12:11] mariaschuld commented on #421
* Check return values in tests in `test_templates.py` (currently just executing a circuit, implicitly checking for errors)

[2019-11-13 13:57] mariaschuld commented on #421
* Use only single test case in interferometer tests. Sometimes several things are checked

[2019-11-13 13:59] mariaschuld commented on #421
* Outsource the bulk of input checks in templates to separate functions. Enforce coder defined error messages, rather than allowing the coder to use a standard message in all `_check` functions.

[2019-11-13 17:44] #339 closed

[2019-11-13 17:46] co9olguy commented on #297
This feature would be nice to have whenever we are implementing sampling in simulator plugins. Currently every simulator has a hand-coded matrix representation, and all the xanadu-maintained plugins use singular value decompositions to get the eigenvectors/eigenvalues. Since these never change, it would be good to somehow just query one spot in pennylane core where this information is saved.

[2019-11-13 17:48] co9olguy commented on #199
I believe this should be closed by latest version of template tests. If I'm incorrect, feel free to reopen

[2019-11-13 17:48] #199 closed

[2019-11-13 19:37] johannesjmeyer commented on #297
I agree, this is also mentioned (at least partly) in the ADR concerning the plugin functionality that should go to PL core.

[2019-11-14 03:19] josh146 opened #423 "Support non-consecutive wire ordering in QNodes"
When working with physical hardware, it is useful to provision 'devices' with non-consecutive qubit numbers, for instance if a user has reserved a sub-lattice of a larger chip, and wants to ensure that multiple runs are executing on the same physical qubit.

Currently, PennyLane works only with consecutive wire numbering, so if a user has provisioned a lattice with qubits numbers 1, 4, 7, they wil

[2019-11-14 03:47] antalszava opened #424 "Test device and converter entrypoints"
Currently, when a device is selected or a quantum circuit is loaded from a supported plugin, Python's entrypoints are used. These entrypoints are specified in the ``setup.py`` of the plugin.

In ``pennylane/__init__.py`` there are utility functions work based on the entrypoints that were found. However, there are no tests provided for these functions.

It would be nice if basic tests would ensure

[2019-11-14 03:57] mariaschuld commented on #421
* Set all wires of the device as a template for `wires` in all templates

[2019-11-14 11:26] mariaschuld commented on #421
* Simplify the unit tests for templates (i.e. test_templates_layers.py, test_templates_embeddings.py...)

[2019-11-15 22:53] msohaibalam commented on #423
As an example, Rigetti QPUs are shaped as connected octagons. When a user reserves e.g. 5 out of 8 qubits from an octagonal lattice, those 5 qubits are not necessarily qubits 0-4, but rather some connected subset of qubits and could be e.g. qubits 2-6. Currently, PennyLane would complain about having a qubit "6" on a 5q lattice.

Moreover, qubit numbers on Rigetti lattices also carry info about th

[2019-11-16 19:50] #383 closed

[2019-11-16 19:52] co9olguy commented on #191
We've been trying to implement this for a while (as a demo, not a feature), but can't get it to work. Have also heard from others that they had a similar experience. Closing until it becomes more clear this is possible to implement

[2019-11-16 19:52] #191 closed

[2019-11-16 19:53] co9olguy commented on #168
Should now be possible with new (experimental) tensornet device

[2019-11-16 19:54] josh146 commented on #168
Note that this is slightly different then what is provided by the experimental tensornet device. Separately, a new `pennylane.interfaces` function will be required to add JAX support to the front-end UI.

[2019-11-23 16:47] smite commented on #423
I think this is nicely handled by remapping subsystems. A program/quantum func can act on qubits 0-3, for example, and when it is executed on a device the user can pass along an injective mapping, for example `{0:0, 1:4, 2:5, 3:6}`. Or indeed initialize the device with the mapping so every program executed on it will use that same mapping.

[2019-11-23 17:09] smite commented on #308
Fixed in PR #267 (probably) by removing the deprecated interface, certainly by version 0.6.0.

[2019-11-23 17:10] #308 closed

[2019-11-23 22:40] josh146 commented on #423
I'm thinking this might make more sense. This way, a particular device with a known qubit numbering can provide the mapping directly to the QNode. Perhaps via a class attribute?

[code]

The wire mapping can also be determined programmatically if supported by the target framework.

[2019-11-27 20:41] ycchen1989 opened #436 "Classical preprocessing before Amplitude Encoding"
#### Issue description

Description of the issue - include code snippets and screenshots here
if relevant. You may use the following template below

* *Expected behavior:* (What you expect to happen)
I placed a pytorch classical node before the quantum node.
In the classical node, there is just a scaling on the input, while the scaling parameters are subject to optimization process. The scaled cla

[2019-11-27 21:22] mariaschuld commented on #436
Thanks for reporting @ycchen1989 .

Would you mind also posting how you "run" VQE and "ClassicalScaling" exactly, i.e. in what way you invoke the loss.backward() statement?

At the moment your code only shows the two classes and the initial parameters. It would be really helpful to have a minimum code example that reproduces the error when I run it.

Thanks!

[2019-11-28 18:25] ycchen1989 commented on #436
minimum code example:

`
import os
import argparse

import pennylane as qml
from pennylane import numpy as np
# import numpy as np
# from pennylane.optimize import NesterovMomentumOptimizer

import matplotlib.pyplot as plt
from datetime import datetime

import torch
import torch.nn as nn
from torch.autograd import Variable

import pickle

dtype = torch.cuda.DoubleTensor if torch.cuda.is_available(

[2019-11-28 22:50] mariaschuld commented on #436
Thanks @ycchen1989 !

I see that in your code you using a rather old version of PennyLane. Would you mind installing the latest one first and see if it resolves the issue? That might save me the time it takes to turn your code into a minimum example and start debugging.

Also check the latest templates functions in the [API](https://pennylane.readthedocs.io/en/stable/code/api/pennylane.templates.e

[2019-11-28 22:52] mariaschuld commented on #436
Note, tf you run your code with the latest PennyLane version, you will have to change ``qml.expval.PauliZ(k)`` to ``qml.expval(qml.PauliZ(k))``, which is the new signature

[2019-11-29 00:03] ycchen1989 commented on #436
Thanks for replying.
I just install the latest version of pennylane(v0.7) and modify the expectation value to
[code]
and also change the
[code]
to
[code]
but the error messages persist.

[2019-11-29 20:33] mariaschuld commented on #436
Thanks for trying, I will have a proper look asap then.

If you can shorten the example to a few lines I will be much faster in helping you, and I would be extremely grateful. It is difficult to dig through 200 lines of code that I have not written...

[2019-11-30 04:18] ycchen1989 commented on #436
Thanks for replying. I tried to shorten the code to about 100 lines. Hope it helps.

[code]

[2019-12-02 10:30] soudy commented on #436
@ycchen1989 I think I've bumped into this problem before as well. What I think is happening is that PennyLane is trying to optimize the `angles` argument to `_circuit` because it's not passed as a keyword argument. Changing `angles` to a keyword parameter should fix it:
[code]

[2019-12-02 12:42] ycchen1989 commented on #436
But if i set the angle to keyword argument, the classical scaling part won't be updated by gradient descent.

[2019-12-02 14:32] soudy commented on #436
I'm not sure then, I managed to get mixed classical and quantum parameter optimization working by extending `nn.Module` and defining `self.quantum_parameters = torch.nn.Parameter(self._generate_quantum_parameters())` in the constructor. I then just initialize the optimizer as `optim.SGD(model.parameters(), ...)`.

[2019-12-04 15:07] mariaschuld commented on #436
@ycchen1989 first of all, thanks for your patience, and thanks @soudy for pointing out that a keyword argument would solve the problem.

@ycchen1989, I think I can reproduce your problem with the following minimum working example (please reduce your code in future to something as small :) ):

[code]

The issue is that computing gradients with respect to the features of ``AmplitudeEmbedding`` is no

[2019-12-04 19:30] mariaschuld commented on #436
Another Update: Looking deeper into this, ``MottonnenStatePreparation`` uses a lot of postprocessing to compute angles and gates for the state preparation circuit. It is very unlikely that we can make this differentiable (and even if we did, it would involve a huge computational graph).

To summarize, ``AmplitudeEmbedding`` circuits are under the hood so complex that computing gradients with respe

[2019-12-17 17:22] #393 closed

[2020-01-02 21:21] antalszava opened #456 "Include type casting to list for wires passed to Hermitian"
#### Issue description

When using ``Hermitian``, if the ``wires`` parameter is not specified as a list, an error seems to arise.

* *Expected behavior:* (What you expect to happen)
Any type of ``Sequence`` to be accepted as ``wires``.

* *Actual behavior:* (What actually happens)
If ``tuple`` is passed, there are certain cases when errors arise.

* *Reproduces how often:* (What percentage of the

[2020-01-04 08:19] ycchen1989 commented on #436
Hello, I reviewed some of my previous codes, I found that I can do the gradient as I mentioned in this post with version 0.4.0 pennylane!

[2020-01-04 20:18] josh146 commented on #436
Thanks for the update @ycchen1989! At some point since v0.4.0, the gradient computation of `AmplitudeEmbedding` must have broken. Does the error message return for v0.5.0?

[2020-01-05 00:12] ycchen1989 commented on #436
It can only run successfully on 0.4.0. I tried on 0.5.0 but failed.

[2020-01-07 17:38] antalszava opened #460 "Test edge cases for the eigenvalues returned by Tensor"
Certain edge cases might cause errors for returning eigenvalues for a ``Tensor`` when using ``Hermitian`` ([see the following TODO in the related PR](https://github.com/XanaduAI/pennylane/blob/c3120a547bc9cd6bd287849ef065d54d309bd3e5/pennylane/operation.py#L803)).

It would be nice to have these cases covered as well by the logic.

[2020-01-09 18:14] SatyaKuppam commented on #166
@josh146 If nobody is working on this, I can pick this up.

[2020-01-10 20:41] co9olguy commented on #166
@SatyaKuppam Cool, it would be great to see what you can code up :smile:

[2020-01-13 15:44] #273 closed

[2020-01-13 15:45] #302 closed

[2020-01-13 22:43] antalszava opened #468 "Refactor statistics methods containing rotate_basis"
#### Issue description

Description of the issue - include code snippets and screenshots here
if relevant. You may use the following template below

* *Expected behavior:* (What you expect to happen)
None of the statistics methods (``expval``, ``var``, ``sample``) needs to call on ``rotate_basis`` (as this has already been carried out) in the ``QubitDevice`` class.

* *Actual behavior:* (What actu

[2020-01-24 18:47] #468 closed

[2020-01-24 18:49] #297 closed

[2020-01-24 18:50] josh146 commented on #294
Closing this, as Device is now deprecated in favour of QubitDevice

[2020-01-24 18:50] #294 closed

[2020-01-30 18:57] trbromley commented on #423
This would be a great feature to add!

[2020-02-12 11:10] mrosenkranz opened #502 "KeyError: 'model' with Rigetti Forest plugin"
Pennylane 0.8 throws `KeyError: 'model'` when using the Forest plugin. `dev.capabilities()` is an empty dict. Perhaps this has to do with the new `QubitDevice` and an old pennylane-forest (which is at its most recent version 0.6)? The qvm and quilc are running, and it also happens for the `forest.wavefunction` device.

[code]

[code]

[2020-02-12 15:05] antalszava commented on #502
Hi @mrosenkranz , thanks for your question!

Could you check if you are indeed pulling PennyLane from the same place as the `print(qml.about())` command is referring to?

In the traceback that you have provided the path seems to refer to `/usr/local/lib/python3.6/dist-packages/` which indicates a Python 3.6 version whereas in the output of `print(qml.about())` you have `Python version:          3.

[2020-02-12 15:52] mrosenkranz commented on #502
Thanks @antalszava for looking into this. Sorry, I copied the exception from Colab and the `qml.about()` output from my local installation. For completeness, I've added the exception from my local installation below. The error remains.

I think I've tracked it down to missing `_capabilities` in the `ForestDevice` in pennylane-forest 0.6. This was first added with https://github.com/rigetti/pennyla

[2020-02-12 16:17] josh146 commented on #502
Hi @mrosenkranz, unfortunately we've hit a small bump with releasing the updated PL-Forest, but we're working on it ASAP!

In the meantime, you can install the plugin from GitHub where the fix has been made:

[code]

[2020-02-12 17:24] antalszava opened #504 "Dask breaks the TF gradient tape for parallel=True"
#### Issue description

One of the tests for `dask` in the `test_qnode_collection.py` behaves differently than expected.

* *Expected behavior:*
The [tests for grad_tf](https://github.com/XanaduAI/pennylane/blob/719e27c7d046e7d488b8c68685fe803f4f5afa9f/tests/collections/test_qnode_collection.py#L243) are currently expected to raise an `AttributeError` both for `parallel=False` and `parallel=True`.

[2020-02-12 20:09] antalszava opened #506 "Include unit tests for auxiliary methods of BaseQnode"
#### Issue description

Following up on the https://github.com/XanaduAI/qml/issues/36 issue, the output of the object created at https://github.com/XanaduAI/pennylane/blob/719e27c7d046e7d488b8c68685fe803f4f5afa9f/pennylane/qnodes/base.py#L429 was outputted. In this case, the signature of the method inspected is `def circuit(gammas, betas, edge=None, n_layers=1)`.

* *Expected behavior:* (What you

[2020-02-12 20:23] antalszava opened #507 "Improve the condition when caching Variables for mutable QNodes"
#### Issue description
As per https://github.com/XanaduAI/pennylane/pull/505, an improved caching condition was introduced when using Variable instances in mutable Qnodes. It would be desirable to align this check:
* with keyword arguments
* cases similar to the one outlined at https://github.com/XanaduAI/pennylane/pull/505#issuecomment-585444220
* *(any potential further edge cases)*

Furthermore

[2020-02-12 21:22] smite commented on #506
It's not an interpretation, it's how different kinds of function parameters are defined in Python.
https://docs.python.org/3.7/library/inspect.html#inspect.Parameter.kind

Specifically, there are no "keyword arguments" in a function signature. Instead there are POSITIONAL_OR_KEYWORD, KEYWORD_ONLY and VAR_KEYWORD parameters, all of which can be inputted using the `keyword=value` syntax.

On the oth

[2020-02-12 22:42] smite commented on #506
I think the logic in `BaseQNode._make_variables` (and  maybe `BaseQNode._determine_structured_variable_name`) needs to be partially rethought to solve #505, so I'd postpone adding any unit tests until this is done.

[2020-02-13 00:47] antalszava commented on #506
Thanks for the description and the links @smite, it's really helpful! Overall the focus of this issue would rather be to mend the functionality of `_make_variables`. As far as my understanding goes, the `kwargs` provided to  `_make_variables` would eventually still be included either in the `arg_vars`
 or `kwarg_vars` returned. Currently, this seems not to be the case with the signature in the ori

[2020-02-13 20:51] josh146 commented on #502
Hi @mrosenkranz, the updated version of PennyLane-Forest is now on PyPI, and can be pip installed :)

[code]

[2020-02-13 20:51] #502 closed

[2020-02-16 00:13] josh146 commented on #504
Note: the pytorch gradient tape appears to work properly when using Dask; this issue is specific to TensorFlow. Specifically, using Dask in threaded mode seems to cause unconnected gradient errors.

[2020-02-18 06:01] mariaschuld commented on #436
Closing this, since the warning has been added to the documentation, and differentiating AmplitudeEmbedding's feature input is no longer intended behaviour.

[2020-02-18 06:01] #436 closed

[2020-02-25 05:20] mariaschuld opened #521 "Make templates.utils._check_wires() fail if wire indices are repeated"
So far a user could pass a list of wires like [1, 1, 2, 3] to the templates, which can cause two-qubit gates to fail since they get applied to one and the same wire.

*Expected behavior:* There is no use case where a template should get a repetition of a wire. If the user wants to implement an exotic structure, she could code up the repeated application to a wire in the gate sequence.

*Solution:*

[2020-02-25 14:31] co9olguy commented on #521
More broadly, since this is something that is important in many parts of PennyLane, I have been thinking up that we should encode a single standard "wire-checking" function that exists in core Pennylane and should be used by all parts of the codebase

[2020-02-29 05:36] josh146 opened #527 "Add function decomposing Hamiltonian to Pauli observables"
We should add a function that allows users to easily decompose their Hamiltonian into Pauli operators. This is implemented in the following function:

[code]

[2020-03-03 02:48] josh146 commented on #527
At the moment, this function should likely go in `pennylane/utils.py`, with the tests in `tests/test_utils.py`.

[2020-03-05 07:19] josh146 opened #531 "`default.qubit` returns analytic probabilities when `analytic=False`"
Currently, when `qml.probs()` is returned from a QNode, the `QubitDevice.probability()` abstract method is returned directly to the user.

For hardware-like devices that don't support analytic mode, this should behave as expected; the probability will be computed on the device by binning the generated computational basis samples.

However, for _analytic_ devices, such as `default.qubit`, care must

[2020-03-06 03:04] rahul1704 commented on #527
Hey Josh,
I was reading the code and I have a small doubt about the second if condition. When only 1 matrix is identity the 'obs' variable is appended by the respective Pauli matrix,  but would this not create a dimension mismatch?
The appended PauliX would be (let's say for N=2) would be (2,2) but the Identity*Identity would be (4,4).
Am I missing something?

[2020-03-06 04:29] antalszava opened #532 "RandomLayers does not work with the Qiskit plugin as NumPy native integers are passed as wires instead of Python ints"
#### Issue description

* *Expected behavior:*

No problem with using `RandomLayers` with the Qiskit plugin.

* *Actual behavior:*

As `RandomLayers` uses `numpy` specific functions to generate `wires`, `numpy` native integers are returned as `wires` instead of values of type `int`. This results in a Qiskit error when using devices from the Qiskit plugin as per the following known bug and open iss

[2020-03-06 04:44] josh146 commented on #527
Hi @rahul1704! There is no dimension mismatch, because what we're doing is converting from a numeric/matrix representation to a _symbolic_ representation, using PennyLane observables. Since the output is symbolic, PennyLane has internal logic for interpreting the observable list.

For example, consider the following output, to be measured on a circuit with 3 wires:

[code]

PennyLane can correctly

[2020-03-06 05:28] rahul1704 commented on #527
I figured that it was being done to save time, but the mismatch was confusing me. Thanks for your reply @josh146.

[2020-03-06 14:19] cvjjm opened #533 ".inv() not correctly inverting `Operation.decomposition()`"
Update: I thought this would only be a problem in the drawer but also the circuit does not yield the expected result.

A user (like myself) might want to define their own `Operation` and start from one of the PennyLane Operations, e.g., `Rot`.

Now, If I just copy the definition of `Rot` to my module and rename it to `MyRot`, then the operation is no longer natively supported by, e.g., the `defaul

[2020-03-06 15:49] antalszava commented on #533
Hi @cvjjm, thanks so much for opening an issue for this! :blush:

Could you please provide more details on how exactly the definition of `MyRot` looks like in your case? In specific, was it decorated with `@template`?

[2020-03-06 16:17] antalszava opened #534 "Normalization tolerance checks not consistent between core and Qiskit plugin (np.isclose vs math.isclose)"
**Specific problem**
Most of the checks in PennyLane use the `numpy.isclose` function. In contrast to this, Qiskit has a normalization check using `math.isclose`.

The significance of the two functions is described more in details in the following issue:
https://github.com/numpy/numpy/issues/10161

The main issue with this situation in our case is that there might be certain cases where `np.isclos

[2020-03-06 18:48] co9olguy commented on #532
I think we should be able to fix this issue, #456, and #423 at the same time. I'm thinking a single bookkeeping `Wires` or `WireMap` class (name provisional) which is responsible for all this, and which is called by all other parts of the software as needed

[2020-03-07 10:01] josh146 commented on #533
It sounds like `MyRot` is not a template, but a custom operation, can you confirm @cvjjm? It might be useful if you could post your minimal (non)-working example 🙂

It sounds like this could be a bug in how either PennyLane or the `default.qubit` simulator is treating the inverses of *decomposed* operations!

[2020-03-07 11:25] josh146 commented on #534
Thanks @antalszava for catching this. I agree with your first point - it would be great to have an integration test suite package in PennyLane core, where integration test cases can be programmatically loaded and run. For example, maybe `pennylane.testing` (akin to `numpy.testing`).

I might caution against changing to `math.isclose()` everywhere for two reasons:

* `np.isclose()` works well with

[2020-03-07 15:38] anonym0305 opened #536 "OSError: variational_classifier/data/parity.txt not found."
#### Before posting an issue

Search existing GitHub issues to make sure the issue does not already exist:
https://github.com/xanaduai/pennylane/issues

If posting a PennyLane issue, delete everything above the dashed line, and fill
in the template.

If making a feature request, delete the following template and describe, in detail,
the feature and why it is needed.

For general technical details

[2020-03-07 16:59] co9olguy commented on #536
Hi @anonym0305,

Thanks for reporting this. The data you're looking for can be downloaded from [here](https://github.com/XanaduAI/qml/blob/master/demonstrations/variational_classifier/data/parity.txt). Once downloaded, you should the `np.loadtxt()` line it to load from the location you have placed the file on your local computer (putting it in the same folder that you execute the script from is a

[2020-03-07 17:00] #536 closed

[2020-03-08 14:05] anonym0305 opened #537 "ValueError: could not convert string to float: '<!DOCTYPE'"
Hi Nathan: I've followed your instructions.

"Once downloaded, you should the np.loadtxt() line it to load from the location you have placed the file on your local computer (putting it in the same folder that you execute the script from is a good bet)," but am still getting an error **(ValueError: could not convert string to float: '<!DOCTYPE')**.

I downloaded the file to my Github account and ex

[2020-03-08 14:12] co9olguy commented on #537
Hi @anonym0305,

It looks like you put the URL (the website address) for the data into `np.loadtxt()`. You'll need to put in here instead the location you have placed the file on your local computer (e.g., if you've placed it in the same folder where you're running this python script from, you can just put `np.loadtxt("parity.txt")` (assuming you haven't changed the file name)

[2020-03-08 14:18] anonym0305 commented on #537
I'm running the script through https://nbviewer.jupyter.org/using the github weblink for the ipynb file https://github.com/.../.../blob/master/tutorial_variational_classifier.ipynb 

Shouldn't the parity.txt file also be on my github account ?

[2020-03-08 14:25] anonym0305 commented on #537
works. thanks.

[2020-03-08 14:25] #537 closed

[2020-03-09 07:56] cvjjm commented on #533
I agree that for what I originally wanted to achieve I could just as well define a template, but I then found it more convenient to subclass Operation (for example because I can define num_params and num_wires) and in this way discovered what I think is indeed a bug in how PL (or default.qubit?) treats the inverse of decomposable operations. Inv on operations that need to be decomposed doesn't see

[2020-03-09 08:31] josh146 commented on #533
Indeed looks like a bug in `Operation.decomposition()`! Thanks for alerting this to us @cvjjm

[2020-03-10 19:56] co9olguy opened #541 "Qubitunitary causes bug with complex matrix"
#### Issue description

Issue posted by user `max` on the [forums](https://discuss.pennylane.ai/t/errors-in-passing-quantum-matrix-operators-to-qnode-object/362)

* *Expected behavior:* The following circuit containing `QubitUnitary` should function without errors:
[code]

* *Actual behavior:* When provided with the matrix `np.array([[1, 0], [0, 0.70710678 + 0.70710678*1.j]])`, an exception is rai

[2020-03-10 20:05] co9olguy commented on #541
Note that if we use a real `matrix`, the circuit executes without complaint

[2020-03-11 03:11] josh146 commented on #541
I think two things are happening here.

**Ideally, we want the following behaviour:**

- Arrays/matrices should always be passed as auxiliary arguments, simply so pennylane knows they are not differentiable. This is independent of them becoming `Variables` or not.

- Arrays/matrices passed as positional arguments should still evaluate on the forward pass, but fail on the backward pass.

However, w

[2020-03-11 12:50] johannesjmeyer commented on #541
I actually prefer solution (2), just have
[code]
In that way, gates will still complain when the parameters are complex.

Note that passing arrays as parameters is totally within scope in pennylane (e.g. `weights` for templates). In this particular case, the problem is that the parameter `matrix` is used in a place where it can not be differentiated.

[2020-03-11 12:53] johannesjmeyer commented on #271
I guess with the `decomposition` feature, this is nothing people have to worry about anymore, don't they?

[2020-03-11 12:56] josh146 commented on #271
Yep. Not only that, but the new QubitDevice brings support to all observables as well.

[2020-03-11 12:57] johannesjmeyer commented on #386
I propose to revive this. Now, with the CircuitGraph infrastructure in place this should be easy to do. I would like to implement this via an additional mixin `StatePreparation` that is used in e.g. `BasisStatePreparation` or `FockStatePreparation`. What do you think about this?

[2020-03-13 10:41] johannesjmeyer commented on #532
Maybe this should be an ADR though. I think it should be done at the level of the device, i.e. like
[code]
We can just overload the wires argument in the following way
[code]
I don't even think we have to change so much in the rest of the code. Only the device itself will have some kind of `WireMap` that maps the wires given to the physical qubits that are available.

[2020-03-13 23:41] co9olguy commented on #386
I'm not opposed. @josh146 any thoughts?

[2020-03-15 02:15] josh146 commented on #532
I agree! This is what I have been envisioning as well. Simpler for the user (in that they don't need to learn a new object/new methods), and fits the existing paradigm really well.

[2020-03-15 12:56] josh146 commented on #386
Go for it, as long as the existing operation names don't change (just the inheritance) I'm happy!

Note: @antalszava has also discussed this, and the thinking so far is that:

1. State preparations are validated when the circuit graph is constructed.

2. The `CircuitGraph.preparations` returns any state preparations in the graph

3. Potentially, `QubitDevice.execute` is modified so that state prep

[2020-03-16 02:07] antalszava commented on #534
Having given this another thought, one thing we could do is have `math.isclose` only for the cases where we are performing normalization in PennyLane (this is the case on the `math_isclose` branch). This way it will certainly pass the PL test suite (`math.isclose` being stricter than `np.isclose`) and will also avoid any plugins failing due to normalization taking place in PL core.

One thing to n

[2020-03-16 03:56] josh146 commented on #534
More so this is an issue with array broadcasting I believe; `np.isclose` works on arrays of all shapes/dimensions, but `math.isclose` likely only works with scalars. Not too much of a issue, but requires probably maintaining our own array-supporting wrapped version of `math.isclose()`.

I agree, I think this is the best solution at the moment. Let's use `math.isclose()` anywhere normalization is b

[2020-03-16 10:28] johannesjmeyer commented on #533
Hi @cvjjm, this was fixed in PR #543. You can use the new functionality when directly installing the latest master branch of PennyLane.

[2020-03-16 10:28] #533 closed

[2020-03-16 10:37] cvjjm commented on #533
Thank you very much for fixing this so fast!

[2020-03-16 11:11] johannesjmeyer commented on #349
What do you think about removing `Operation.parameters` entirely? I think this is super confusing. And from an encapsulation point of view, the VariableRef instances themselves should hold the current value, shouldn't they?

[2020-03-16 11:16] josh146 commented on #349
`Operation.parameters` is currently used in a lot of places, from plugin devices, to utilities, to tests. It encapsulates the flattening/indexing/unflattening required for operations that take arrays as arguments. On the other hand, `Operation.params` is barely used (at all) outside of the operation.

Perhaps we just make `Operation.params` a private attribute?

[2020-03-16 12:41] co9olguy commented on #349
Simplest step is to just rename it to avoid confusion, second would be to make it private

[2020-03-16 16:12] johannesjmeyer commented on #349
I propose to rename it to `Operation._raw_parameters`. Other ideas? Should we keep `params` for now and put a DepreceationWarning?

[2020-03-16 16:47] co9olguy commented on #349
I don't even think a deprecation warning is needed, since it's only really developer-facing

[2020-03-16 16:47] co9olguy commented on #349
maybe `Operation.data` to indicate that it is raw numerical values?

[2020-03-18 11:37] Chapa1 opened #553 "qubit hamiltonian creation"
Hello,
I have a question concerning 'qml.Hamiltonian' implementation.
When I try to create hamiltonian using 'H=qml.Hamiltonian(coeffs, obs)', I have an error 'AttributeError: 'Hamiltonian' object has no attribute 'name''.

Here is the snippet reproducing the error:

[code]

If I replace by 'return qml.expval(obs[0])' within the function "circuit", it is working.
However, for example 'return 0.2*q

[2020-03-18 11:52] josh146 commented on #553
Hi @Chapa1! Thanks for reporting this --- using the PennyLane `qml.Hamiltonian` object is not currently supported within QNodes; however this is something we will look into supporting.

In the meantime, what you can do is create a collection of QNodes, each one corresponding to an observable in your `obs` list, and then perform the dot product with the coefficients:

[code]

This method has a few

[2020-03-18 14:08] Chapa1 commented on #553
I have another issue about VQE.

Here I create curcuit

[code]
 and implement optimization procedure

[code]
the result is -1.099 instead of an exact -1.4
[code]
gives [ 1.4, -0.8,  0.4, -1. ,  0.8, -1.4,  1. , -0.4]

I tried various circuits and initial parameters, but the result is the same.  I didnt manage to use