[2021-03-16 12:03] sassan72 commented on #1140
thanks for your clarification.

[2021-03-16 12:10] mariaschuld commented on #1140
Oh wait, I misread your main point, you are applying `AmplitudeEmbedding` to different wires!

I think in principle we could support the efficient, simulator-compatible implementation of `QubitStateVec` to allow for this, but it would require a little work.

Will the `MottonnenStatePreparation` trick work for you in the meantime?

[2021-03-16 12:30] sassan72 commented on #1140
Yes. I just wanted to investigate different encoding methods.

[2021-03-18 06:35] josh146 commented on #386
Closing this issue as this is now the behaviour of PennyLane in the new core. In fact, it is maybe _too_ zealous - multiple initial state preparations on different wires are not allowed, see #1140.

[2021-03-18 06:35] #386 closed

[2021-03-18 06:36] josh146 commented on #680
@Lucaman99 @mariaschuld just checking to see if this issue is still valid?

[2021-03-18 06:37] josh146 commented on #691
This issue is now superseded by https://github.com/PennyLaneAI/benchmark

[2021-03-18 06:37] #691 closed

[2021-03-18 06:38] josh146 commented on #667
@Lucaman99 - now that we have `qml.state()`, this should pave the way for easily coding this up?

[2021-03-18 06:39] josh146 commented on #787
Since the cause of this bug was not determined, I will close this issue for now @dnnagy. Feel free to re-open, or create a new issue, if you have more information/details!

[2021-03-18 06:39] #787 closed

[2021-03-18 06:40] #920 closed

[2021-03-18 06:43] josh146 commented on #997
@trbromley I might close this issue for now, as we made the decision not to support ragged input arrays for differentiation going forward.

[2021-03-18 06:43] #997 closed

[2021-03-18 06:43] josh146 commented on #1044
@Thenerdstation would this be relatively trivial to do now?

[2021-03-18 06:45] josh146 commented on #1068
How about just `(0.8) [Hermitian0,1,2]`?

[2021-03-18 06:47] josh146 commented on #1085
@antalszava could this is due to the derivative of `abs` not being defined at `0`? This could be happening either in your cost function, or the mottonen state prep. If so, then we have two options:

- Re-write the Mottonen state prep logic to avoid `abs`
- Consider this an issue with autograd, and close this issue.

[2021-03-18 06:48] josh146 commented on #1092
@mariaschuld is this change to the QNode logic already made in #1079? Or will it still need to be made?

[2021-03-18 06:49] josh146 commented on #1101
would be great to have this available prior to the next PL release :D

[2021-03-18 06:50] josh146 commented on #1118
@Thenerdstation I think this can be closed now - feel free to re-open if not the case.

[2021-03-18 06:50] #1118 closed

[2021-03-18 08:00] mariaschuld commented on #1092
No, I think it still has to be made. Maybe best to make a separate PR to track this change after.

[2021-03-18 10:18] mariaschuld commented on #680
I think if we don't have user requests for this we should close it?

[2021-03-18 10:21] josh146 commented on #680
Yep, we can always re-open down the line.

[2021-03-18 12:59] trbromley commented on #1085
@DSGuala is working on a PR (https://github.com/PennyLaneAI/pennylane/pull/1144) that tweaks Mottonen when the input state is real-valued. The tweak is to remove an extra unnecessary entangling block at the end, but we may run across and potentially look at solving this issue in the PR.

[2021-03-18 13:27] cvjjm opened #1145 "Relax pennylane-qchem dependence on PySCF version?"
PennyLane-QChem currently depends on pyscf==1.7.2 (I think this was because of [the bug mentioned here](https://github.com/PennyLaneAI/pennylane/pull/700#issuecomment-647500768)). From a few superficial tests it seems that this can now be relaxed to pyscf>=1.7.2 or pyscf==1.7.

Exact pinning to minor versions takes away a lot of flexibility.

[2021-03-18 13:28] cvjjm commented on #1145
This is certainly not a bug :-)

[2021-03-18 13:54] josh146 commented on #1145
I think the bot saw that you used the word 'bug' and got excited 😆

[2021-03-18 13:56] josh146 commented on #1145
@cvjjm regarding the comment you link to:

At the time, we discovered the bug was still not fixed, and pyscf>1.7.2 would not install alongside SciPy (or something along those lines). It might be fixed now though, so worth giving another try!

[2021-03-18 14:45] antalszava opened #1146 "[unitaryhack] Add the ISWAP operation"
*This issue has been tagged for contributions during [unitaryHACK](https://unitaryfund.github.io/unitaryhack/participating-projects.html)*

**Context**
We would like to define a new operation called `ISWAP`, see [further details here](https://qiskit.org/documentation/stubs/qiskit.circuit.library.iSwapGate.html).

**Steps to take**

This would involve the following steps to be completed:

*A. Addin

[2021-03-18 15:07] antalszava opened #1147 "[unitaryhack] Add the CPhase operation"
*This issue has been tagged for contributions during [unitaryHACK](https://unitaryfund.github.io/unitaryhack/participating-projects.html)*

**Context**
We would like to define a new diagonal operation called `CPhase`, see [further details here](https://qiskit.org/documentation/stubs/qiskit.circuit.library.CPhaseGate.html).

**Steps to take**

This would involve the following steps to be completed:

[2021-03-18 15:41] #680 closed

[2021-03-18 15:47] antalszava opened #1148 "[unitaryhack] Add the ZZ operation"
*This issue has been tagged for contributions during [unitaryHACK](https://unitaryfund.github.io/unitaryhack/participating-projects.html)*

**Context**

We would like to define a new diagonal operation called `ZZ`, as [defined in the PennyLane-Braket plugin](https://github.com/aws/amazon-braket-pennylane-plugin-python/blob/257eb99d62122e3a83c380ab240d6e166b2b9257/src/braket/pennylane_plugin/ops.py

[2021-03-18 15:50] antalszava opened #1149 "[unitaryhack] Add the XX operation"
*This issue has been tagged for contributions during [unitaryHACK](https://unitaryfund.github.io/unitaryhack/participating-projects.html)*

**Context**

We would like to define a new operation called `XX`, as [defined in the PennyLane-Braket plugin](https://github.com/aws/amazon-braket-pennylane-plugin-python/blob/257eb99d62122e3a83c380ab240d6e166b2b9257/src/braket/pennylane_plugin/ops.py#L394).

[2021-03-18 16:57] antalszava opened #1150 "Allow using multiple QubitStateVector operations if acting on different wires"
**Context**

PennyLane allows a single state preparation to be included in a quantum function. Any state preparation that is not the first in the circuit, will raise a `DeviceError`.

[code]
[code]

At times, multiple state preparations could be used in a circuit. An example is when the state preparations are at the beginning of the circuit and there are no shared wires that they act on.

This is,

[2021-03-18 17:00] antalszava commented on #1140
Opened a new issue https://github.com/PennyLaneAI/pennylane/issues/1150 for adding the feature to allow using multiple `QubitStateVector` operations if acting on different wires. As this is more so a new feature we'd like to add to PennyLane, rather than a malfunction in how PennyLane works at the moment, removing the bug label.

Perhaps another near-term solution could be to concatenate the input

[2021-03-18 17:07] co9olguy commented on #1150
With this one, we should be a bit careful, because doing those checks might require us to create part of the circuit graph, which may increase overhead.

[2021-03-18 17:12] josh146 commented on #1150
We could take the middle ground, and only check it on the tape.

So allow
[code]

but disallow

[code]

[2021-03-19 07:18] josh146 commented on #1133
Thanks @cvjjm!

[2021-03-19 19:17] anthayes92 opened #1154 "QNGOptimizer returns TypeError when step method called"
* *Expected behavior:* Returns a `list` of updated parameters

* *Actual behavior:* Returns a `TypeError`

* *System information:*
Platform info:           Linux-5.8.0-45-generic-x86_64-with-glibc2.29
Python version:          3.8.5
Numpy version:           1.19.5
Scipy version:           1.4.1

#### Source code and tracebacks
[code]

[2021-03-19 19:22] co9olguy commented on #1154
Thanks @anthayes92, could you also share the relevant part of the traceback?
I suspect maybe an issue with `ExpvalCost`

[2021-03-19 19:24] anthayes92 commented on #1154
Sure thing, here's the traceback:
[code]

[2021-03-20 15:07] josh146 commented on #1154
Hey @anthayes92! I think there are two separate things happening here.

1. Autograd does not like differentiating nested lists.

Instead of

[code]

you can write

[code]

This fixes the autograd error you are getting in the exception above.

However, that leads us on to the second problem:

2. The metric tensor is only defined for the quantum circuit gate arguments, while the optimizer is instead

[2021-03-22 14:09] albi3ro opened #1155 "Outdated interface introduction"
*This issue has been tagged for contributions during [unitaryHACK](https://unitaryfund.github.io/unitaryhack/participating-projects.html)*

In the [interface introduction](https://pennylane.readthedocs.io/en/stable/introduction/interfaces/torch.html), the section on [converting an existing QNode](https://pennylane.readthedocs.io/en/stable/introduction/interfaces/torch.html#converting-an-existing-q

[2021-03-23 15:01] josh146 commented on #1101
I've tracked this down: the offending module is `pennylane.qnn`. I'm not sure there is a workaround for this without changing existing behaviour; here, we _need_ to import TensorFlow at the module level, since `KerasLayer` inherits from `tf.keras.Layer`. I cannot think of a way of patching this without messing up the documentation or other UX pitfalls.

The cleanest, safest thing to do is simply r

[2021-03-23 16:19] Thenerdstation commented on #1101
I think your first solution is the correct one. Updating docs is relatively easy vs metaprogramming.

[2021-03-23 16:48] trbromley commented on #1101
I'm all for the simple solution, but have a bit of reluctance because it's a breaking change - `KerasLayer` is fairly commonly used on the forum so we might anticipate questions going forward from users on why their code isn't working.

Is there a way we could give a warning if users try
[code]
?

[2021-03-24 16:26] Thenerdstation opened #1161 "Standardize transform return types."
We currently have 3 methods that could be considered transforms on `Operations`: `decompose`, `adjoint` and `_controlled`. `decompose` returns a list of operators and always queues to the tape context, `adjoint` returns a single operator with an optional `do_queue` argument, and `_controlled` doesn't return anything, and instead queues it's controlled ops to the tape context.

While not a big deal

[2021-03-24 16:53] josh146 commented on #1161
👍

Note that `decompose` is deprecated, and being (slowly) replaced with `expand`, which instead returns a tape containing the operations (and iirc doesn't require queuing).

[2021-03-24 19:41] co9olguy commented on #1101
This is a classical case for a one-release-cycle deprecation warning

[2021-03-25 10:26] cvjjm opened #1164 "Please expose device._shot_vector via public property"
This is a features request: Please expose the shot vector via some public and documented property of the device. Thank you!

This is inspired by me needing to predict the output shape of certain QNodes and in case of a non trivial shot vector and all observables being owned by an `expval` the shape is
[code]
(where self is a tape).

[2021-03-25 16:04] josh146 commented on #1164
Thanks @cvjjm!

We should also update the `tape` logic to better predict the output shape.

[2021-03-25 16:42] co9olguy commented on #1101
@trbromley just wanted to make sure you saw the suggestion above about a deprecation warning, since it seems #1162 is just ripping the bandaid off

[2021-03-25 20:17] Thenerdstation commented on #1164
Are you doing something with JAX? I'd be interested in hearing more about it.

[2021-03-26 17:04] #1133 closed

[2021-03-26 19:45] DSGuala opened #1171 "[BUG] Drawing a ControlledQubitUnitary returns TypeError"
#### Issue description

Trying to use the circuit drawer with `qml.ControlledQubitUnitary` raises the error `TypeError: unsupported format string passed to numpy.ndarray.__format_`

[code]

* *Expected behavior:*
`circuit.draw()` returns a string representing the circuit

* *Actual behavior:*
`circuit.draw()` raises the error `TypeError: unsupported format string passed to numpy.ndarray.__format_`

[2021-03-26 20:57] antalszava commented on #1171
Thanks @DSGuala for catching this! Will post a fix shortly. :)

[2021-03-29 08:16] cvjjm commented on #1164
No, this was independent of JAX. #1168 looks good to me. Thanks!

[2021-03-29 12:14] josh146 commented on #970
An update on this issue: @mariaschuld rightly points out that a concept of a generator only makes sense for gates of the form `U(t) = e^{i G t}` (e.g., one-parameter gates).

For the adjoint and fisher information, we don't need the generator so much as we need the *partial derivative of the operation*, for each parameter, evaluated at parameter=0.

So perhaps we should not conflate these, and ins

[2021-03-29 12:28] dwierichs commented on #970
Yeah, that's of course true!

Why is the derivative only ever needed at 0? If a multi-parameter gate does not consist of successively applied single-parameter gates, but for example `U(s,t)=e^{i (sG + tH)}`, this might be more complicated, right?

[2021-03-29 16:41] #1164 closed

[2021-03-29 16:59] #1171 closed

[2021-03-30 07:54] lmondada opened #1176 "Circuit execution suffers a 4x slowdown for tensorflow interface"
First of all, thank you very much for all your work! I have been having a lot of fun using Pennylane.

#### Issue description

Changing from the default `autograd` interface to `tensorflow` comes with a huge slowdown of circuit simulation times when using the `default.qubit` or `default.qubit.tf` plugins. A speed penalty is also observed for other simulator, albeit to a lesser extent.

This table

[2021-03-30 07:57] josh146 commented on #1176
Hi @lmondada! Thanks for posting the data here, that is super helpful.

There is one more variable that would be important to know in the benchmarking, particular for the 'gradient' column, which is the differentiation method. Are you using `diff_method="parameter-shift"` for all, or `diff_method="backprop"` for supported combinations?

[2021-03-30 08:01] lmondada commented on #1176
Hi @josh146 !

Thanks for your quick reply. `diff_method` is left to default, which I believe defaults to `backprop` wherever possible -- I should have set that explicitly...

That being said, the main column I am looking at is the circuit evaluation column. Gradient computation seems to have very similar performance throughout.

[2021-03-30 10:20] lmondada commented on #1176
Just realised that the execution times of gradients were incorrect, so I removed them. As mentioned above, I am mostly looking at circuit evaluation times anyway.

[2021-03-30 17:00] josh146 commented on #1176
@lmondada, would you be able to post the QNode you are using in the benchmarking? This is just a guess, but we have previously seen very large slowdowns in the TensorFlow interface if iterating over the elements in a TensorFlow tensor. This could be happening inside a template if you are using one.

[2021-03-30 17:22] co9olguy opened #1180 "QubitDevice creates circuit graph on every call to `execute`"
To keep speeds quick, we'd like to remove construction of graph representations of circuits (aka a "CircuitGraph") from the default code execution paths for constructing and running a circuit. Instead, access should be provided via optional calls, to be invoked only when needed.

It seems however, that `QubitDevice` always creates a circuit graph when `execute` is called:

https://github.com/Penny

[2021-03-30 17:37] antalszava commented on #1180
Two things come to mind:
* Apart from caching, the circuit hash is also used to compare circuits during parametric compilation in PennyLane-Forest
* If the same `circuit` object is being passed to `execute`, the cached `CircuitGraph` object will be used as per:
https://github.com/PennyLaneAI/pennylane/blob/528db6b315e7c0466424fbef2675eb797b0d92d8/pennylane/tape/tape.py#L900

How about introducing

[2021-03-31 16:02] co9olguy commented on #1180
Adding a new keyword argument seems like overkill here.

If this step is only needed by one plugin, we shouldn't force it to be the default behaviour. There's nothing stopping the PL-Forest plugin from doing the graph construction itself, its a one-line call to an already existing method.
And since the other use-case is already covered by an existing keyword argument (`cache`), there's no need to

[2021-03-31 16:03] co9olguy commented on #1180
@antalszava any ideas how we could obtain a circuit hash more cheaply? Hashes are supposed to be low-overhead bookkeeping mechanisms, it feels unnatural to go through graph construction just to obtain a hash

[2021-03-31 20:25] antalszava commented on #1180
That's a good question! Circuit hashes are used to uniquely identify quantum circuits and give a basis for comparison in situations where we can use intermediary results from a circuit execution. It comes down to what the use case is because circuit equivalence could depend on the use case.

*Caching*

My understanding is that here the circuit equivalence is strict: we compare two circuits by buil

[2021-04-01 04:53] josh146 commented on #1180
@antalszava, correct me if wrong, but I feel that generating the hash from the tape (not the circuit graph) will be fine for most use-cases. True, there are cases where two tapes will have different hashes but result in equivalent circuits, e.g.,

[code]

and

[code]

However, tape construction in PL should be fairly deterministic, and should always result in the same order of operations on the ta

[2021-04-01 12:55] antalszava commented on #1180
Agreed! Considering the order of operations and symbolic parameters should suffice.

Maybe we could note in the docs that the order of operations is being considered rather than circuit equivalence. One edge case that comes to mind is when the underlying `QuantumTape` would be swapped for some reason: though this is an unlikely and non-user facing case.

[2021-04-05 16:14] antalszava opened #1187 "Create a hash property of the `QuantumTape` by using the `_ops` attribute"
A quantum circuit represented by a `QuantumTape` can have a hash computed. This is used for features like circuit caching and parametric compilation, where quantum circuits are compared (see the discussion in #1180). The hash is created by building the circuit graph of a `QuantumTape`, serializing this circuit graph and using the built-in `hash` function.

Instead of this approach, we would like t

[2021-04-05 19:34] albi3ro opened #1188 "`num_wires` attribute for a general qml.Hermitian object"
When creating a new arbitrary `Hermitian` observable,

[code]

the attribute `num_wires` isn't automatically calculated and defaults to this:

[code]
even though `num_wires` is a required attribute for both `Observable` and `Operator`.

I see one of two solutions:
1) use a different way to create a new generic Hermitian operator
2) automatically calculate `num_wires` in the `__init__` method of ei

[2021-04-06 06:55] josh146 commented on #1188
Thanks @albi3ro! Can I ask how you caught this -- was this causing an exception during other logic?

[2021-04-06 13:09] albi3ro commented on #1188
I was finally going back to the Hamiltonian printing to try and clear it from my backlog I had been ignoring.

The test uses operators created with `qml.Hermitian(matrix, wires)`, but these terms weren't getting sorted according to how many wires they were using.  In that situation, I could just use `op.wires.__len__()` instead.

[2021-04-07 07:21] mariaschuld opened #1191 "Unexpected behaviour when using BasisStatePreparation after other gates"
Consider the following example:

[code]

* *Expected behavior:* (What you expect to happen)

The user would expect that after a state preparation routine, the state is in `|1,0, 0>`. Note that this is in some sense unphysical (since it disposes of the state before state preparation), and a better behaviour would be to throw an error.

* *Actual behavior:* (What actually happens)

At the end of the

[2021-04-07 17:01] albi3ro commented on #1191
On further thought, what if a user wanted to apply one state preparation on a portion of the the wires, and a different state preparation on a different section of the wires?
They wouldn't overlap and would both be state preparations, just one would occur after the other. A state preparation only needs to be the first operator on _those wires_ , not on the device as a whole.

[2021-04-07 17:52] albi3ro commented on #1188
Given I used a workaround where this was causing an issue, I'm going to close this issue.

[2021-04-07 17:52] #1188 closed

[2021-04-07 17:58] mariaschuld commented on #1191
Yes, true. This discussion is actually a larger issue we had before - to make the "first operation" check consider the wires. But that would not only touch this template.

[2021-04-07 18:18] aglitoiu commented on #1149
Hello! I would like to solve this issue

[2021-04-07 19:34] albi3ro opened #1193 "[unitaryhack] update docstring for permute template"
*This issue has been tagged for contributions during [unitaryHACK](https://unitaryfund.github.io/unitaryhack/participating-projects.html)*

In the [permute template](https://github.com/PennyLaneAI/pennylane/blob/master/pennylane/templates/subroutines/permute.py), the example code chunks use initial `qml.RZ` gates to ensure `tape.draw()` uses the correct ordering of wires.

One case:

[code]

[The

[2021-04-07 20:03] antalszava commented on #1149
Hi @aglitoiu, that's great to hear, thanks for your interest! :slightly_smiling_face: Feel free to go for it and open a draft PR in the process. We could have a look even during it's being worked on or go for a review whenever ready.

[2021-04-07 20:31] Miru19 commented on #1148
Hello! I would like to solve this issue :) Thank you

[2021-04-07 21:33] co9olguy commented on #1191
One thing to think about here (that we visited before in SF) is that it is relatively straightforward to do the bookkeeping to determine whether some wires have already been "used" before (and hence valid targets for state preparations), but doing so may introduce some extra overhead (whose magnitude depends on the implementation details).

Generally I'm in favour of allowing state preps to be mor

[2021-04-07 22:27] aglitoiu commented on #1149
Created the draft PR and made some commits. I would like and advice on where should I search for the decomposition "formulae"

[2021-04-08 01:47] antalszava commented on #1148
Hi @Miru19, that's great to hear! :) Feel free to start with it and open up a draft PR that's work in progress if you'd like. Don't hesitate to post any questions here.

[2021-04-08 02:35] antalszava commented on #1149
Sure! For the decomposition there are two possibilities to explore:
1) Either going with the one that's [provided in the Braket plugin](https://github.com/aws/amazon-braket-pennylane-plugin-python/blob/257eb99d62122e3a83c380ab240d6e166b2b9257/src/braket/pennylane_plugin/ops.py#L426).
The decomposition can be verified by computing <img src="https://render.githubusercontent.com/render/math?math=XX_{

[2021-04-08 07:53] josh146 opened #1195 "[unitaryhack] Deprecate `qml.inv`"
*This issue has been tagged for contributions during [unitaryHACK](https://unitaryfund.github.io/unitaryhack/participating-projects.html)*

Currently, PennyLane has two functions for inverting quantum operations:

* [`qml.inv()`](https://github.com/PennyLaneAI/pennylane/blob/4ece39acb42dacafd5b5cc566c4d3f0512dfa6fb/pennylane/utils.py#L236) accepts a list of operations, unqueues them from the tape,

[2021-04-09 17:33] co9olguy opened #1201 "Allow BasisEmbedding to be applied at any point in a circuit"
The functionality of `BasisEmbedding` and `BasisStatePreparation` seems to do the same thing. Favouring a cleaner codebase, and recognizing that the term "embedding" might be better suited for floating-point-valued data, we should consider removing `BasisEmbedding`

[2021-04-09 17:34] co9olguy commented on #1201
@mariaschuld might have some thoughts here

[2021-04-09 18:06] mariaschuld commented on #1201
In principle I am not against keeping the duplicity, since the embeddings may get different functionality over time, for example checking the inputs more rigorously, or not having restrictions of being the first ops in a circuit (since a feature map could also be applied to a non-zero initial state, and a kernel estimator may require the evaluation of inverse embeddings after other operations). Al

[2021-04-10 07:50] SaashaJoshi commented on #1201
Would it be a good idea to keep one of the two functions as first-only (refer to Issue#1191) and transform the other to be applied at any depth in the circuit?
I guess @mariaschuld says the same.

[2021-04-12 15:58] trbromley commented on #1180
Thanks @antalszava! Closing this issue since the circuit graph is no longer built for every call to `execute` (thanks to #1182). We still need to think about making hashing more efficient, as described in #1187.

[2021-04-12 15:58] #1180 closed

[2021-04-12 15:59] trbromley commented on #1187
Note that #1180 contains some useful discussion on efficient hashing.

[2021-04-13 12:41] sassan72 commented on #1150
has problem been fixed with amplitude embedding?

[2021-04-13 12:56] mariaschuld commented on #1150
Hey @sassan72, no, unfortunately `AmplitudeEmbedding` calls `QubitStateVector`, so the same problems persist. However, another template, [MottonenStatePreparation](https://pennylane.readthedocs.io/en/stable/code/api/pennylane.templates.state_preparations.MottonenStatePreparation.html) defines a circuit for `AmplitudeEmbedding` which can be applied anywhere. The circuit is quite long, but for now i

[2021-04-13 16:57] josh146 opened #1208 "Allow the JAX interface to work with additional return types"
Currently, the JAX interface supports QNodes that return single expectation values and single variances.

It would be great to extend this to returning:

- states
- density matrices
- probabilities
- QNodes with multiple expvals/vars

[2021-04-13 17:09] trbromley opened #1210 "Repeated applications of the torch interface result in an error when using templates"
Consider the following code:

[code]
Here, we are creating a QNode that contains `BasicEntanglerLayers` - an operation that was previously a tape (changed in https://github.com/PennyLaneAI/pennylane/pull/1138/). We then evaluate the QNode using `qnode(weights)`, which will cause the contained quantum tape to be converted to the Torch interface. Finally, we convert again to the torch interface in t

[2021-04-13 17:12] trbromley commented on #1210
@mariaschuld, adding you since this is related to the template-to-ops refactor. Although, I wonder if this is a problem more generally for operations that are expanded because of not being supported on the device :thinking:

[2021-04-13 17:13] josh146 commented on #1044
I believe this is closed via #1111

[2021-04-13 17:14] josh146 commented on #1044
Nevermind, I misread the issue title!

[2021-04-13 17:30] trbromley commented on #1210
Once this is fixed, it would be good to revert the changes of https://github.com/PennyLaneAI/qml/pull/247.

[2021-04-14 05:50] mariaschuld commented on #1210
Interesting...

In principle, the only difference between `BasicEntanglingLayers` and any other operation in `ops/qubit.py` is that we directly define the `expand()` function, instead of defining `decomposition` which is called in the parent classes `expand()` function. But this does not seem to be the issue: I changed the `BasicEntanglingLayers` to define a decomposition instead and the same erro

[2021-04-14 06:13] mariaschuld commented on #1210
Next update: another difference is that templates sit in another folder, but that does not seem to be the problem either - I moved `QFT` to the template folder, changed the `decompose` to an `expand` function and the code example runs fine... But for another template like `StronglyEntanglingLayers` the error persists.

It must be a very strange edge case.

Actually, another difference between temp

[2021-04-14 07:57] sassan72 commented on #1150
thanks a lot. No problem. I think Mottonen state preparation is better to work with. As you said, i can use it anywhere in the circuit.

[2021-04-14 21:54] antalszava opened #1215 "[unitaryhack] Add a custom gate application for Toffoli in default.qubit"
*This issue has been tagged for contributions during [unitaryHACK](https://unitaryfund.github.io/unitaryhack/participating-projects.html)*

`DefaultQubit` uses a custom implementation for certain gates. These gates are contained in the [`_apply_ops` dictionary](https://github.com/PennyLaneAI/pennylane/blob/2450d8c40859b2a3a28f587aafe60e2b5caec267/pennylane/devices/default_qubit.py#L141) of the dev

[2021-04-15 12:52] glassnotes opened #1218 "Unable to directly queue operations multiple times for tape transform"
#### Issue description

* *Context:* Trying to implement a tape transform that performs CNOT pair insertion, i.e., replacing every CNOT on a tape with multiple copies of that CNOT.

* *Expected behavior:*  When performing a tape transform, running `op.queue()` on an operation `op` multiple times, I expected it would add that operation to the queue multiple times.

* *Actual behavior:* Operations a

[2021-04-15 12:56] josh146 commented on #1218
Thanks for catching this @glassnotes! I'll have to digest - I agree with you that the expected behaviour is that calling `op.queue()` multiple times will re-queue.

However, I fear this is expected behaviour, since an object can only exist in the queue once (and merely the annotations of that object in the queue are updated).

@co9olguy, any thoughts?

[2021-04-15 13:08] glassnotes commented on #1218
Haha I had a feeling that this was the case :sweat_smile:

Would it make sense to have an `op.queue_multiple()`, or pass an argument like the below?

[code]

That said, this is a pretty limited use case and probably something that can just be cleared up with documentation.

[2021-04-15 15:32] co9olguy commented on #1218
In general, I'd like us to get away from users or developers ever having to manage queueing. So my reaction here is less "it's a bug that we can't queue multiple times" but rather "why do we allow calling `op.queue`?"

[2021-04-15 15:39] josh146 commented on #1218
The queuing ADR recommended added `qml.apply(op)` as a end-user replacement for `op.queue()`, we are definitely due for it.

[2021-04-15 16:47] glassnotes opened #1221 "`Permute` not supported on `default.qubit` when run on manually constructed tape."
#### Issue description

I'm updating the [quantum volume demo](https://pennylane.ai/qml/demos/quantum_volume.html) to work with PennyLane 0.15. In this demo, the tapes are exposed due to the nature of the algorithm. As of v0.15,  applying the `Permute` template in the context of a tape raises an error that the operation is not supported on `default.qubit`.

* *Expected behavior:* `Permute` should

[2021-04-15 16:51] josh146 commented on #1221
@glassnotes I realize now what has happened. This is due to the recent change where templates have become operations.

This means that templates are no longer directly decomposed; it continues to work inside QNode's because QNode's actively decompose/expand all operations not supported by the device.

In this case, I _think_ the following should work for you:

[code]

[2021-04-15 16:53] glassnotes commented on #1221
Yes, that did the trick! Thanks @josh146

[2021-04-15 17:16] glassnotes commented on #1221
Will close this for now, as it is not a bug.

[2021-04-15 17:16] #1221 closed

[2021-04-16 08:04] lmondada commented on #1176
Hi,
Apologies for the long silence! The qnode in this example is a single ˋStronglyEntanglingLayersˋ, with 2 layers and 10 wires.
Looking at its source code, it does loop over the parameters to insert the gates of the ansatz.

Wouldn’t any ansatz have to follow a similar structure? Is there a way to avoid this?
Thank you @josh146 for your help!

[2021-04-16 08:08] josh146 commented on #1176
From what I recall of our exploration, the following caused a significant slowdown in TensorFlow:

[code]

However, I believe the following change can lead to significant improvement:

[code]

[2021-04-16 10:33] lmondada commented on #1176
Hmmm, looking at the `qml.templates.broadcast` code, this seems to be fixed already, so the issue must be somewhere else.

Just for reference the QNode I have been using:
[code]

[2021-04-16 12:03] josh146 commented on #1176
Oh perfect, thanks @lmondada! Do you also have the parameters and the number of wires you were using to benchmark?

[2021-04-16 12:22] josh146 commented on #1210
Removing the QNode, to make the non-working example even more minimal:

[code]

[2021-04-16 12:48] josh146 commented on #1210
I solved the issue in #1223 - it turns out this wasn't related to the templates refactor, the templates refactor just caused this edge case to occur 🙂 Applying the torch interface twice would error with _any_ expanded/decomposed operation.

[2021-04-16 12:53] glassnotes opened #1224 "Hamiltonians created within QNodes get added to operation queue"
#### Issue description

* *Expected behavior:* Creating a Hamiltonian within the context of a QNode should not affect the outcome of the QNode as a whole. (Example use case when this might occur is when creating a Hamiltonian in a QNode based on the QNode input parameters and using it to perform something like `ApproxTimeEvolution`).

* *Actual behavior:* Terms in Hamiltonians created within a QNo

[2021-04-16 12:57] josh146 commented on #1224
Thanks @glassnotes! This should be fixed in #1142, could you try running this code in that branch and see if it works?

[2021-04-16 13:11] glassnotes commented on #1224
It does! (My bad, searched issues but not PRs). Shall we close this then, or leave it open as a reminder / searchability?

[2021-04-16 13:16] lmondada commented on #1176
Sure! This is what I used
[code]

You can find the entire code that generated those timings [here](https://gist.github.com/lmondada/4e5cbbda2404669248487590ff227a39)

[2021-04-16 14:27] josh146 commented on #1224
Since this isn't fixed in master, best to keep it open :)

It might also be worth porting just the bugfix out of #1142 to a separate PR so that it is fixed without waiting for that PR to be complete.

[2021-04-16 14:36] #1210 closed

[2021-04-16 15:21] co9olguy opened #1225 "[unitaryhack] Create a quantum simulator in PyTorch"
*This issue has been tagged for a $100 bounty during [unitaryHACK](https://unitaryfund.github.io/unitaryhack/participating-projects.html)*

PennyLane can currently perform quantum simulation (in a backprop-compatible way) using autograd, jax, and tensorflow. The notable exception is PyTorch. This has been hampered in the past by the fact that PyTorch did not support matrix multiplication or gradie

[2021-04-17 02:36] albi3ro opened #1230 "drawing operations on tapes"
PennyLane supports drawing tapes, like
[code]
[code]

But if such a tape includes non-fundamental operations, like templates,

[code]
Attempting to draw fails.  The above example raises

[code]

The particular issue is at [pennylane/circuit_drawer/representation_resolver.py#L421](https://github.com/PennyLaneAI/pennylane/blob/a3def612368879169cbc7c8e318375901ab681e7/pennylane/circuit_drawer/represe

[2021-04-17 03:43] albi3ro opened #1231 "Executing a `QNodeCollection`"
In the documentation for [`QNodeCollection`](https://github.com/PennyLaneAI/pennylane/blob/master/pennylane/collections/qnode_collection.py), the docstring gives the example of executing multiple qnodes at the same time:

[code]

I get ```ValueError: all input arrays must have the same shape```.

In the docstring, this is supposed to return
[code]

[2021-04-19 07:34] josh146 commented on #1230
@albi3ro this is a good catch, and a relatively important bug now that templates do not expand by default.

Note that this however doesn't affect *QNode* drawing, since when drawing a QNode, the bound device is always taken into account:

[code]

So since this isn't very user-facing, I suggest we go with the long-term solution:

A nice approach would be to support drawing 'unknown' operations, by

[2021-04-19 08:24] mariaschuld commented on #1230
Seconded...in the long term it would be nice if a user had control over what gates to expand in the drawer, for example by passing a list of gates to expand.

[2021-04-19 16:28] anthayes92 commented on #1176
Hi @lmondada, we have had a look into profiling and comparing the `default.qubit`  in the `tensorflow` and `autograd` interfaces. It looks as though there is a `dispatch` wrapper being called on the `tensorflow` side which contributing to slowing down performance here.

Thanks for raising this issue, we will look into this further. And thanks again for sharing your insightful results!

[2021-04-19 17:13] albi3ro opened #1236 "`TypeError` in jax device docstring example"
Upon executing the example code in [the jax device docstring](https://github.com/PennyLaneAI/pennylane/blob/8e55e3dafa16e3f68e3717459e1ce176db9b602c/pennylane/devices/default_qubit_jax.py#L83),

[code]

I am getting ``TypeError: unsupported operand type(s) for *=: 'int' and 'NoneType'``.

Any ideas? @Thenerdstation

[2021-04-19 17:21] albi3ro commented on #1236
Still occurs when I remove the jit decorator.

The error output is:

[code]

[2021-04-19 17:39] albi3ro commented on #1236
With `qml.sample`, the number of shots must be specified.  The docstring is getting updated with a finite number of shots for the device, and the jax device should throw a better error in this situation.

[2021-04-19 22:16] albi3ro opened #1239 "`QNGOptimizer` docstring raising errors"
The example in the docstrings for the [QNGOptimizer](https://github.com/PennyLaneAI/pennylane/blob/86bac0063f1c56b09b1ea7437420fa45812c251e/pennylane/optimize/qng.py#L106) raises ``TypeError: can only concatenate tuple (not "list") to tuple``

The code is

[code]

The full traceback is:
[code]

[2021-04-19 22:53] albi3ro commented on #1239
Needed to use `init_params = np.array([0.011, 0.012])`.

All good now.

[2021-04-19 22:53] #1239 closed

[2021-04-20 00:34] albi3ro opened #1240 "`tape.inv` execution contradicts documentation"
Local execution of the docstring for [`tape.inv`](https://github.com/PennyLaneAI/pennylane/blob/6c5868b5232e80166684ae75871c99edda7e65e3/pennylane/tape/tape.py#L563) gives different behaviour.

[code]
Here when we ask for the parameters, we get them in this order:
[code]
After inverting the tape:
[code]

The gate parameters should be shifted in location according to the new order of operations of

[2021-04-20 02:42] albi3ro commented on #1236
Fixed by PR #1238

[2021-04-20 02:42] #1236 closed

[2021-04-20 04:08] josh146 commented on #1240
Hey @albi3ro, strangely I'm not able to reproduce this 🤔

[code]

After inverting it:

[code]

[2021-04-20 14:08] albi3ro commented on #1240
When I tried it again this morning I got very confused, as the above code was working as expected!

But it still doesn't work, I just didn't write all the steps, because I didn't think the step would have changed anything.  The problem occurs when the trainable parameters are set.  Here's the actual example:

[code]

[2021-04-20 15:12] Thenerdstation commented on #1044
I would consider this fixed by #1111

[2021-04-20 15:12] #1044 closed

[2021-04-20 16:07] EliasCombarro opened #1242 "Inverse circuit not computed correctly in pennylane 0.15.0"
#### Issue description

I do not know if it has to do with this other issue https://github.com/PennyLaneAI/pennylane/issues/1240 but it seems that in version 0.15.0 the inverse of a circuit is not computed correctly. I noticed it while executing the kernel classifier from https://pennylane.ai/qml/demos/tutorial_kernel_based_training.html

In fact, when executing

[code]

I obtain 0.151909440369124

[2021-04-20 17:31] josh146 commented on #1242
Thanks for catching this @EliasCombarro! This is certainly a concerning bug, we'll look into this and see if we can uncover what is happening.

[2021-04-20 17:39] josh146 commented on #1240
@albi3ro could you check if this works as expected in v0.14.1? This might be the cause of #1242

[2021-04-20 17:48] EliasCombarro commented on #1242
My pleasure

[2021-04-20 17:53] albi3ro commented on #1240
Looks like it's still happening when I checked out v0.14.1, but might still be the source of the problem anyway.

[2021-04-20 17:55] josh146 commented on #1240
Oh, odd. In #1242, the `qml.inv()` buggy behaviour is not present in 0.14.1 --- something else must have changed in-between the two versions 🤔

[2021-04-21 12:58] josh146 commented on #1242
@EliasCombarro, a quick update: I believe I have found the issue and fixed it in #1243

[2021-04-21 13:00] josh146 commented on #1240
It turns out that this is unrelated to #1242. My guess is that this bug has always existed, but likely does not affect current behaviour (since, I'm guessing, that the edge case of setting the trainable parameters inbetween inversion never occurs in the code base?)

[2021-04-21 14:35] EliasCombarro commented on #1242
Thanks! Just a quick question: what should I use instead of qml.inv()?

[2021-04-21 14:46] mariaschuld commented on #1176
We stumbled across a tensorflow slowdown that changed the results of [this demo](https://pennylane.ai/qml/demos/tutorial_backprop.html), which is supposed to show that backpropagation speeds up the calculation of gradients. But somehow it does not when using tensorflow.

I wanted to open a new issue, but it is likely related to this threat.

This is a small example:

[code]

[2021-04-21 14:51] mariaschuld opened #1244 "Gradient computation with backpropagation slower than param-shift with TensorFlow interface"
We stumbled across an unexpected TensorFlow slowdown when computing a gradient with a backpropagation qnode.

For example, the problem changed the results of [this demo](https://pennylane.ai/qml/demos/tutorial_backprop.html), which is supposed to show that backpropagation speeds up the calculation of gradients. But somehow it does not do so any more when using TensorFlow. Rewriting the demo using

[2021-04-21 15:28] josh146 commented on #1244
Thanks @mariaschuld! Will look into this more when I get a chance. Out of curiosity, was this change picked up by ASV?

[2021-04-22 06:57] mariaschuld commented on #1244
I haven't looked systematically at results in a while, but when I ran the benchmarks on branches around the introduction of the switch to backpropagation I was super puzzled that I couldn't reproduce the speedup. I pinged @albi3ro and put it onto my todo list, but haven't had time to tackle it yet.

Maybe there is something really deep going on here, if all of these issues are connected?

[2021-04-22 11:38] anthayes92 opened #1247 "Superfluous nodes appearing when drawing networkx graphs with nodes that are tensor objects"
#### Before posting an issue

Search existing GitHub issues to make sure the issue does not already exist:
https://github.com/xanaduai/pennylane/issues

If posting a PennyLane issue, delete everything above the dashed line, and fill
in the template. If the issue is a bug, start the title of the issue with [BUG].

If making a feature request, delete the following template and describe, in detail,
t

[2021-04-22 11:38] #1247 closed

[2021-04-22 11:53] anthayes92 opened #1248 "Superfluous nodes in graph plot when graph built with tensor objects as graph nodes"
When building a networkx graph with nodes that are tensor objects, the plot of the graph will display double the amount of nodes

* *Expected behavior:* Graph displayed with prescribed number of nodes and edges

* *Actual behavior:* Additional unwanted nodes are displayed around the graph, these additional nodes are not connected by edges.

* *Reproduces how often:* Every time a graph is defined w

[2021-04-22 12:22] josh146 commented on #1248
Hey @anthayes92; this is due to the fact that `edge_weights[i]` returns a PennyLane tensor rather than a NumPy array. As a result, NetworkX treats it like a separate node, since NetworkX hashes nodes based on *object hash*, not object value.

This could be fixed as follows:

[code]

This is expected behaviour, and not a PennyLane bug. Note that to avoid issues with external frameworks, we recommen

[2021-04-22 12:35] anthayes92 commented on #1248
Hey @josh146, thanks for quickly clearing this up! Using the standard numpy import certainly solve this.

[2021-04-22 12:35] #1248 closed

[2021-04-22 13:36] josh146 commented on #1242
Hey @EliasCombarro!

If you install PennyLane from the branch in the PR,

[code]

then you should be able to use either `qml.inv()` or the new `qml.adjoint()` function to invert your templates 🙂

Note that, while `qml.inv()` is still present, it has been *deprecated*, and will long-term be replaced with `qml.adjoint()`.

[2021-04-22 13:45] anushkrishnav commented on #1225
I would love to work on this.
Can you please share some guide or sample for me too look into and prep

[2021-04-22 16:29] ryanhill1 commented on #1155
Hey there, I just started working on this issue. I'm getting an error trying to use the `forest.wavefunction` device:

[code]
But my `pennylane` installation seems to be working fine. For example, running
[code]
raises no errors. Do you have an idea why this is?

[2021-04-22 17:25] albi3ro commented on #1155
Thanks for taking a look :)

It looks like you don't have the [`"forest.wavefunction"`](https://pennylane-forest.readthedocs.io/en/latest/) device installed.  We should either:
* add a note that the forest plugin needs to be installed for that device
* switch `dev2` to another in-built simulator, like maybe `default.mixed`

Other "in-built" devices technically still require additional dependencies

[2021-04-22 17:59] co9olguy commented on #1155
Agreed @albi3ro, the forest device is notoriously hard to install, so probably not the best example to use

[2021-04-22 18:21] ryanhill1 commented on #1155
@albi3ro @co9olguy thanks for your input! I'll go ahead and switch `dev2` to `"default.mixed"` as you suggested.

[2021-04-22 18:35] albi3ro opened #1252 "Update NumPy random module wrapping"
Currently, PennyLane wraps the arrays created by `np.random` method, such as `np.random.random`.

But, in current NumPy, that way of creating random arrays is legacy.  NumPy instead [recommends](https://numpy.org/doc/stable/reference/random/index.html?highlight=random#module-numpy.random) creating random arrays by:
[code]

`rng` is a [`np.random.Generator`](https://numpy.org/doc/stable/reference/r

[2021-04-23 07:39] josh146 commented on #1252
Nice catch @albi3ro! In addition, we will need to update demos that use `np.random`.

[2021-04-23 12:12] josh146 commented on #1242
no worries @EliasCombarro!

[2021-04-23 13:59] co9olguy commented on #1225
Hi @anushkrishnav,
Awesome that you want to work on this :tada:

Just a reminder that we've tagged it for [unitaryHACK](https://unitaryfund.github.io/unitaryhack/), which is running May 14-30th, so if you time your solution to come in during that period, and your PR is accepted, you can snag a bounty (and some street cred :sunglasses:)

If you want to prepare, the best places to start are:
- take

[2021-04-23 22:42] glassnotes commented on #1145
I think we should revisit this as it causes issues in Python 3.9(.4). Specifying `pyscf==1.7.2` yields a BLAS linking error and the message
[code]
For Python 3.9 one needs to specify at least version 1.7.6. (In Python 3.8, 1.7.2 it installs without issues. Both cases verified for Python 3.8 and 3.9 on both a Mac and Linux).

[2021-04-23 23:11] antalszava commented on #1145
Indeed, fails on Ubuntu too. On the bright side, this indeed seems to [have been solved in PySCF](https://github.com/pyscf/pyscf/commit/88aa846aff5ed6696dce2028b1855360c810412f) after we've done the [strict pinning](https://github.com/PennyLaneAI/pennylane/pull/926).

Opening a PR that will ease the requirement.

[2021-04-26 15:39] mariaschuld opened #1256 "Two operations named `Interferometer`"
*This issue has been tagged for contributions during [unitaryHACK](https://unitaryfund.github.io/unitaryhack/participating-projects.html)*

The new design of the templates turned them into just another kind of operation.

This causes an issue for the [Interferometer](https://pennylane.readthedocs.io/en/stable/code/api/pennylane.templates.subroutines.Interferometer.html) template, since it gets mix

[2021-04-26 15:44] antalszava opened #1257 "Change the order of the covariance matrix and the vector of means internally in `default.gaussian`"
The covariance matrix and the vector of means are used in the CV case to represent Gaussian states. The order of the covariance matrix and the vector of means in `default.gaussian` differs internally from how Strawberry Fields uses these quantities. This caused issues with how the `GaussianState` was documented and used previously:
* https://github.com/PennyLaneAI/pennylane-sf/issues/67
* https://

[2021-04-26 17:22] albi3ro commented on #1244
For the data below, I used a different circuit with more variables:

[code]

but otherwise performed similar timing.

You just used `min(t)` in your example.  You get very different information if you instead use `max`:

[code]

We get a lot more information when we plot the `t` variables coming out from `timeit`:

![image](https://user-images.githubusercontent.com/6364575/116123966-47c8bb80-a689-

[2021-04-27 08:53] cvjjm opened #1258 "Problems with the parameter shift hessian"
The parameter shift Hessian does not seem to work reliably in all cases. It is difficult to come up with a very minimal example demonstrating the problem as I do not yet fully understand what what is going wrong. But I managed to condense it down to the following "minimal" example that demonstrates the main bug and shows a few minor problems. Hopefully, e.g.,  @josh146  can take it from there and

[2021-04-27 10:51] josh146 commented on #1258
Hi @cvjjm -- good catch.

Yes, this is most likely it; the parameter-shift rule for Hessians was adapted from [Estimating the gradient and higher-order derivatives on quantum hardware](https://arxiv.org/abs/2008.06517), which predates the 4-term rule!

We are soon to release a bugfix 0.14.1 version, including fixes for #1242. Perhaps the best plan is therefore:

- Include a hot fix so that the con

[2021-04-27 11:11] cvjjm commented on #1258
Replacing `qml.CRY` with `qml.CRY.decomposition` in the above code works around the problem, which is corroborating the suspicion that the non-standard shift rules are the culprit. It would be good to add a test that covers this case.

Also please have a look at the other two issues I pointed out above.

[2021-04-27 14:57] josh146 commented on #1258
Definitely, will do this ASAP.

Will investigate this further!

[2021-04-29 03:22] josh146 commented on #1256
I would say the upcoming release, v0.16 🙂

Is the plan the following?

- `qml.Interferometer` -> `qml.InterferometerUnitary`
- `qml.templates.Interferometer` remains as is

[2021-04-29 04:09] #1145 closed

[2021-04-29 05:43] #948 closed

[2021-04-29 06:18] josh146 commented on #1244
Thanks @albi3ro! Great detective work, that really helps pin down the issue.

I understand now what is happening. This is related to the change introduced in #1110, whereby the Jacobian and Hessian matrices are cached within the `tf.custom_gradient` decorator. This was done due to an inefficiency in how PennyLane integrates with the machine learning frameworks: rather than returning the VJP or VHP

[2021-04-29 06:23] mariaschuld commented on #1244
Nice, happy this is solved. We will have to make sure that our benchmarks elsewhere take this into account!

[2021-04-29 06:25] josh146 commented on #1244
Yep. I think the takeaway is that we need to be more careful with how we benchmark interfaces. In this particular example, benchmarking just `qml.grad()` vs. TensorFlow's `tape.gradient()` is not equivalent, since the former involves more computation.

Previously, this was not obvious because the backward pass always drowned out the forward pass, but the caching makes it more obvious!

[2021-04-29 06:41] #1242 closed

[2021-04-29 06:41] #1244 closed

[2021-04-29 07:25] EliasCombarro commented on #1242
Thank you!

[2021-04-29 08:05] mariaschuld commented on #1256
Yes, that was my plan. I'll put it on the todo list.

[2021-04-29 12:30] mariaschuld commented on #1231
@albi3ro has this been fixed? I cannot find the code in the [docstring](https://pennylane.readthedocs.io/en/stable/code/api/pennylane.QNodeCollection.html?highlight=qnodecollection#pennylane.QNodeCollection)...

[2021-04-29 12:47] josh146 commented on #1258
Hi @cvjjm! I've had some time to explore this more deeply, here are my findings:

In the specific case of the controlled rotation gates, the implementation of the parameter-shift Hessian is hardcoded to follow the results from https://arxiv.org/abs/2008.06517. One short-term solution could be to expand the tape around the controlled rotation gates inside the parameter-shift Hessian logic. Unfortun

[2021-04-29 14:41] albi3ro commented on #1231
Oh, yeah... This still needs to be fixed.  I just temporarily edited the docstring to an example that wasn't broken.

[2021-04-30 22:02] ixfoduap opened #1264 "Analytical gradients for excitation operations"
The new [SingleExcitation](https://pennylane.readthedocs.io/en/stable/code/api/pennylane.SingleExcitation.html) and [DoubleExcitation](https://pennylane.readthedocs.io/en/stable/code/api/pennylane.DoubleExcitation.html) operations support analytical gradients through a decomposition into a product of two gates that satisfy the usual parameter-shift rule.

However, since these gates are actually su

[2021-05-01 06:05] aemccoy opened #1265 "Inconsistent type returned by <class 'pennylane.vqe.vqe.Hamiltonian'> property ops"
#### Issue description

When vqe.Hamiltonian contains terms consisting of a single qubit operator, e.g., H=2*Z0,  `H.ops` returns a list of operators whose type depends on whether Hamiltonian is constructed directly from pennlylane pauli operator `2*qml.PauliZ(0)` or if Hamiltonian is converted to vqe.Hamiltonian from openfermion QubitOperator using `qml.qchem.convert_observable`.

* *Expected beh

[2021-05-01 06:27] aemccoy opened #1266 "`qml.qchem.convert_observable` converts complex coefficients in openfermion `QubitOperator` to real without warning or error"
[bug]

#### Issue description

* *Expected behavior:* Error when QubitOperator with complex coefficients are passed to `qchem.convert_observable` since vqe.Hamiltonian does not currently support complex coefficients.

* *Actual behavior:* No error arrises and complex part of QubitOperator is zeroed out.

* *Reproduces how often:* Always

* *System information:* (post the output of `import pennylan

[2021-05-02 12:45] Slimane33 commented on #1225
Hello, I am also interested to work on that. I was just wondering what was the general interest of building other `default.qubit` objects based on `tf`, `jax` or `torch` ? Is it to enable GPU running ?

[2021-05-02 20:02] nguyentq7 commented on #937
Hello @josh146 . I believe I'm getting this same error, where my loss function is a sum of Pauli observables using qnode and tf backprop. My code worked for <7 qubits, but I got the error for >=7 qubits. Have you been able to fix it?

[2021-05-03 06:04] josh146 commented on #937
Hi @nguyentq7! As far as I can tell, a PR was made to TensorFlow to enable broadcasting for more than 6 dimensions (see https://github.com/tensorflow/tensorflow/pull/14997), however it was closed without being merged. Let me explore this further, perhaps there is an approach we can take that avoids broadcasting for a large number of qubits.

[2021-05-03 06:05] josh146 commented on #1265
Thanks for noting this @aemccoy! This is definitely something we can fix to make more consistent.

[2021-05-03 06:07] josh146 commented on #1266
Thanks @aemccoy! Just to confirm -- for your current workflow, would you prefer that attempting to convert a Hamiltonian with complex coefficients raises an error? Or, alternatively, would you like a way to represent a (potentially) non-Hermitian linear combination of Pauli terms?

[2021-05-03 06:11] josh146 commented on #1225
Hi @Slimane33, yes! In particular, having a device written using TensorFlow/JAX/Torch has several advantages, since the entire computation is end-to-end written natively using the aforementioned framework.

As a result,

- The entire computation is end-to-end differentiable using native backpropagation,
- The computation can take advantage of specific runtime features of the framework, such as GPU

[2021-05-03 06:14] josh146 commented on #1264
Thanks @ixfoduap! Note that this will be solved by moving tape expansion to the device. The logical flow will look as follows:

1. The QNode constructs the tape, using `SingleExcitation` and `DoubleExcitation` operations.
2. `default.qubit` is in control of expansion, and understands these operations natively, so does _not_ decompose them for the forward pass/classical backpropagation.
3. The para

[2021-05-03 06:48] mariaschuld commented on #1264
This will be so clean! :)

[2021-05-03 12:24] josh146 commented on #1242
Hi @EliasCombarro - we just realized a bugfix version of PennyLane, v0.15.1, that fixes this bug 🙂 The kernel demo on the website should now also be returning the correct result

[2021-05-03 15:03] EliasCombarro commented on #1242
Great! Thanks so much

[2021-05-03 22:32] ryanhill1 commented on #1155
I have a quick question regarding line 28 of [docs/introduction/interfaces/torch](https://github.com/PennyLaneAI/pennylane/blob/master/doc/introduction/interfaces/torch.rst):

"The :ref:`QNode decorator <intro_vcirc_decorator>` is the recommended way for creating..."

On the [webpage](https://pennylane.readthedocs.io/en/stable/introduction/interfaces/torch.html#construction-via-the-decorator), thi

[2021-05-04 13:57] albi3ro commented on #1155
I'm not the best at rst files either, so take what I say with a grain of salt and check the documentation build when you make a PR.

Looks like the reference for "Creating a quantum node" is `_intro_vcirc_qnode`, so a link would be `:ref: Creating a QNode (or some other text) <intro_vcirc_qnode>`.  Check [here](https://www.sphinx-doc.org/en/master/usage/restructuredtext/roles.html#cross-referencin

[2021-05-04 14:42] ryanhill1 commented on #1155
Ok, gotcha. In general where I can find those references? I see for this one it was used at the top of [doc/introduction/circuits.rst](https://github.com/PennyLaneAI/pennylane/blob/master/doc/introduction/circuits.rst#quantum-circuits), but if it hadn't previously been used where could I find it?

[2021-05-04 20:54] trbromley opened #1272 "Incorrect multiplication of Hamiltonians"
#### Issue description

PennyLane can incorrectly multiply Hamiltonians:

[code]
The expected result is `2 * I + 2 * X1`. Note that the coefficients are different, this is not an issue with insufficient simplification.
The problem appears to be due to terms in the Hamiltonian sharing the same wire. This replicates some of the discussion in these issues:
- https://github.com/PennyLaneAI/pennylane/i

[2021-05-04 21:03] trbromley commented on #1272
Looking at the tests [here](https://github.com/PennyLaneAI/pennylane/blob/8fe31ad619222e2992130c5d036571f6ef7ab51c/tests/test_vqe.py#L380), I think it's maybe known that the two Hamiltonians can't share terms acting on the same wire :thinking: But I still think we should either raise an error or fix, because it's an easy thing to get caught out on.

[2021-05-04 22:58] aemccoy commented on #1266
The ability to represent a potentially non-Hermitian linear combination of Pauli terms would be ideal.  Thanks!

[2021-05-05 04:19] josh146 commented on #1155
Hey @ryanhill1! Just a bit more context for internal linking with ReST files.

### Cross-references

Cross references are created by adding a label above section headings, like so:

[code]

So in order to create a cross-referenced link elsewhere, a label must first be created at the target location.
A link can then be created that points towards this section heading as follows:

[code]

By default

[2021-05-05 12:41] glassnotes opened #1274 "Allow QNodes to support `diff_method=None` option"
As discussed in #1271 , add the option for `diff_method=None` to QNodes. This would create QNodes that accept NumPy input, return NumPy output, but cannot be differentiated.

[2021-05-05 14:15] antalszava opened #1275 "Define decomposition for single and double excitation operations"
More elementary operations for single and double excitation functions have been added recently #1121 #1123.

These operations are supported by the `default.qubit` device. However, other devices from external plugins may not have support directly for these operations. In such cases, PennyLane turns to the decomposition of operations.

We would like to therefore add decomposition for the following o

[2021-05-05 16:03] #1252 closed

[2021-05-06 04:41] #1101 closed

[2021-05-06 11:51] #1272 closed

[2021-05-06 14:59] #1266 closed

[2021-05-06 15:10] dwierichs commented on #1264
Both excitation gates satisfy the four-term parameter shift rule, so we could use that one :)
I talked to Josh and I am excited about the split up of the differentiation pass, but for these gates we might get away with it.

[2021-05-06 17:34] oumjunior opened #1281 "Fully parametrized gate"
Any gate (unitary 2x2 matrix) is fully determined given 4 parameters
![image](https://user-images.githubusercontent.com/32430632/117337998-5b043400-ae9e-11eb-8a21-66e9cb00050f.png)
This "raw" format is used in qml circuits (for instance https://arxiv.org/pdf/1804.00633.pdf). Although the aforementioned format can be decomposed into RzRyRz with a relative phase, it would be handy to have it especia

[2021-05-07 03:15] vsrikrishna07 opened #1285 "Anaconda"
How to install pennylane in conda environment?? I was not able to install in Conda base packages. Kindly help.

[2021-05-07 06:07] josh146 commented on #1285
HI @vsrikrishna07 - what error message were you receiving?

[2021-05-07 06:19] josh146 commented on #1281
Hey @oumjunior! Have you tried using the [`qml.Rot`](https://pennylane.readthedocs.io/en/stable/code/api/pennylane.Rot.html) gate? This gate is not decomposed on built-in simulators such as `default.qubit` (it is only decomposed when required, such as on hardware devices), and appears equivalent (up to a global phase factor) with the `G` gate above.

In particular, from having a look at the conven

[2021-05-07 06:21] josh146 commented on #1264
@dwierichs we should probably add the 4-term rules sooner rather than later, as I am struggling to split up the forward and backward expansions 😆 It was not as straightforward as I thought it would be.

[2021-05-07 18:21] co9olguy commented on #1281
Note that experimentally extractable outputs do not depend on the global phase, so there would be no observable difference in, e.g., the final expectation values when using `G` and `Rot`.

One could observe a global phase if looking at `qml.state`. However, we do not enforce self-consistency of global phases in the gate decompositions, so the global phase you would see may not necessarily be the s

[2021-05-08 14:58] adamglos92 commented on #1107
@antalszava perhaps you could be interested in solving this issue through a QIntern 2021 event? https://qworld.net/qintern-2021/. I'm pretty sure there will be people interested in contributing to Pennylane :)

[2021-05-09 03:42] vsrikrishna07 commented on #1285
Hi, I was not able to add the package on my anaconda base root itself. Can you guide me through it? Is there any command for conda prompt??

[2021-05-09 03:51] vsrikrishna07 commented on #1285
Hi, I solved the issue on my own. Thanks and Cheers.

[2021-05-09 03:51] #1285 closed

[2021-05-09 19:05] tchaton opened #1288 "PyTorch Lightning Example"
Dear people from PennyLaneAI,

First of all, this framework looks absolutely amazing ! Congratulations !!!

I was wondering if you would be willing to collaborate with the
PyTorch Lightning Team to add a PyTorch Lightning example to this repo as PyTorch seems to be supported.

It would make https://pennylane.ai/qml/demos/tutorial_quantum_transfer_learning.html simpler and we could promote your awe

[2021-05-10 00:22] antalszava commented on #1107
@adamglos92 that's a nice idea, thank you for the heads-up! We'll consider it :)

[2021-05-10 04:00] josh146 commented on #1288
Hi @tchaton! It would be great to add an example using Lightning with PennyLane (this is something that has been previously requested by users). In fact, the website you link to is open source and built by the https://github.com/PennyLaneAI/qml repository (the particular tutorial linked in your post [here](https://github.com/PennyLaneAI/qml/blob/master/demonstrations/tutorial_quantum_transfer_lear

[2021-05-10 04:54] zzh237 opened #1290 "Torchlayer error when running on GPU - Tensor is on CPU, but expected it to be on GPU"
Hi, the below code throws errors if I run on GPU,

[code]

Error message:
[code]

If I change the code to the code like below, then it works! So could you change the code? Thanks.
[code]

[2021-05-10 06:11] mariaschuld commented on #1290
Hey @zzh237. I am a bit confused about this issue. You seem to refer to some previous thread (i.e., what do you mean by "it still throws the error"?)...

Could you please edit your message, explaining what you run, what you expect to see, and what the unexpected behaviour is? Information on your system and PL version will also help speeding up support. I tried to fix your formatting a bit already,

[2021-05-11 13:19] antalszava opened #1292 "Create a separate requirements file for the CI"
The `requirements.txt` file has packages unpinned. This is contrary to the convention of pinning packages in the `requirements.txt` file. The reason for this is that the CI installs the environment from this file, and it helps catching bugs/issues when there are dependency upgrades. ([See this comment](https://github.com/PennyLaneAI/pennylane/pull/1202/files#r619266008))

We would like to have a s

[2021-05-11 14:55] cvjjm opened #1293 "Calculation of circuit depth"
I think it would be a nice feature to expose functions to the user to conveniently compute the circuit depth of a `QNode` for a given device (and after PennyLane has done its just in time circuit compilation).

In principle this seems already possible via something like
[code]
but it would be nice if PennyLane could provide a `QNode` property (maybe `.circuit_depth`) to access this information. Id

[2021-05-11 19:26] ixfoduap opened #1296 "Add search bar for navigating tutorials"
The collection of PennyLane demos is amazing! Yet as it continues to grow, it's becoming difficult to find specific demos. We have a nice structure organizing them into categories, and useful filters for specific topics, both of which are very helpful. Yet it often still takes time to locate specific tutorials.

Adding a search bar to the page would make it much easier to navigate and to quickly i

[2021-05-12 07:43] mariaschuld commented on #1201
@co9olguy did we convince you, or shall we keep this issue open?

[2021-05-12 10:46] zzh237 commented on #1290
Hi @mariaschuld , thank you so much for the format! I have updated that.

[2021-05-12 11:02] mariaschuld commented on #1290
Let me try to understand...

You run some PennyLane code (please post this code too as a minimum working example - I can only guess that you are using PyTorch?) and the code is supposed to be executed on your GPU. But when you run the code you get an error, which you can fix by changing those lines you show, i.e. by sending an object in the vjp calculation to the GPU? (I am not an expert on this,

[2021-05-12 11:22] zzh237 commented on #1290
Here is the code:

[code]

24
    loss.backward()
25
  File "/usr/local/lib/python3.6/dist-packages/torch/tensor.py", line 245, in backward
26
    torch.autograd.backward(self, gradient, retain_graph, create_graph, inputs=inputs)
27
  File "/usr/local/lib/python3.6/dist-packages/torch/autograd/__init__.py", line 147, in backward
28
    allow_unreachable=True, accumulate_grad=True)  # allow_unreach

[2021-05-12 11:44] mariaschuld commented on #1290
Ah, perfect, thanks! Let me get back to you on this.

[2021-05-12 11:57] ADITYA964 commented on #1290
I am also facing this same problem when using penny lane and pytorch.

[2021-05-12 12:03] arshpreetsingh opened #1299 "Device does not exist. Make sure the required plugin is installed."
-------------------------------------------------------------------------------------------------------------

#### Issue description

Description of the issue -  I am using default device, "default.qbit" and using Quick-Start Example given below.

[code]

* *Expected behavior:* (What you expect to happen)
it is supposed to run circuit.

* *Actual behavior:* (What actually happens)

[code]

* *Rep

[2021-05-12 12:46] co9olguy commented on #1299
Hi @arshpreetsingh, the built-in simulator device is named `"default.qubit"`; if you fix that and it still doesn't run, let us know :slightly_smiling_face: .
May I ask where you got the alternate name `"default.qbit"`?

[2021-05-12 13:36] arshpreetsingh commented on #1299
@co9olguy  Oh Sure! Actually it was some third-party tutorial, Thanks closing the issue.

[2021-05-12 13:36] #1299 closed

[2021-05-12 16:14] co9olguy commented on #1201
Thinking about it, I think it does make sense to be able to consider embeddings to take place at any place in a circuit, not just the start, whereas state preparations would be restricted to be the beginning

[2021-05-12 17:16] #1215 closed

[2021-05-13 00:31] antalszava opened #1304 "[unitaryhack] Define decomposition for `qml.SWAP`"
*This issue has been tagged for contributions during [unitaryHACK](https://unitaryfund.github.io/unitaryhack/participating-projects.html)*

Each PennyLane operation defines a decomposition. The decomposition of an operation is an ordered list of other operations. Applying this list of operations evolves quantum states the same way as applying the operation itself does. In most cases, this list inc

[2021-05-13 00:38] antalszava opened #1305 "[unitaryhack] Define decomposition for `qml.Toffoli`"
*This issue has been tagged for contributions during [unitaryHACK](https://unitaryfund.github.io/unitaryhack/participating-projects.html)*

Each PennyLane operation defines a decomposition. The decomposition of an operation is an ordered list of other operations. Applying this list of operations evolves quantum states the same way as applying the operation itself does. In most cases, this list inc

[2021-05-13 00:43] antalszava opened #1306 "[unitaryhack] Define decomposition for `qml.CSWAP`"
*This issue has been tagged for contributions during [unitaryHACK](https://unitaryfund.github.io/unitaryhack/participating-projects.html)*

Each PennyLane operation defines a decomposition. The decomposition of an operation is an ordered list of other operations. Applying this list of operations evolves quantum states the same way as applying the operation itself does. In most cases, this list inc

[2021-05-13 05:50] #1201 closed

[2021-05-13 14:39] mariaschuld commented on #1290
Hey @zzh237 and @ADITYA964. It looks like while ironing out how PennyLane can fully run on GPUs is on our near-term to-do list, this will be a bigger effort. If you are keen to contribute, feel free to discuss solutions here and make a PR once we decided on a way forward!

I wonder if in the meantime the fixes in [the PR you mentioned](https://github.com/PennyLaneAI/pennylane/issues/709) could hel

[2021-05-13 15:11] ADITYA964 commented on #1290
@mariaschuld understood. For those people that have problem like me and @zzh237  , downgrade the version of pennylane .

pip install pennylane==0.14.1

It works perfect using this version.

[2021-05-13 17:30] wongwsvincent opened #1308 "`StronglyEntanglingLayers` applies the entangling gate twice when applied to two qubits"
#### Issue description

When ```qml.templates.layers.StronglyEntanglingLayers``` is called with two wires only, the 2-qubit gate (defined by the _imprimitive_ argument) is applied twice per layer. It would be nice to treat the special case of two wires only differently, like the ```qml.templates.layers.BasicEntanglerLayers``` feature for consistency.

Simple code for illustration:
[code]
When ```S

[2021-05-13 18:39] mariaschuld commented on #1290
That is an important piece of information, thanks @ADITYA964!

@josh also tagging you here to keep this in mind going forward.

[2021-05-13 18:42] mariaschuld commented on #1308
Thanks for moving this from the discussion forum to an issue. I would be in favour of implementing this change, but don't know how to go about it: strictly speaking it would change the results of code that uses this template, but optimisation should be faster and I doubt the results in most application will differ much.

@co9olguy, shall we just implement the change and add a special "note" to the

[2021-05-14 01:26] wongwsvincent commented on #1308
I have also just noticed that the custom _rangers_ option is never available for users to define. (```self.rangers``` is not defined if the argument ```rangers``` is not ```None```)
Please see [here](https://github.com/PennyLaneAI/pennylane/blob/master/pennylane/templates/layers/strongly_entangling.py#L89) for the relevant lines of code.

The implementation of user-defined rangers would require so

[2021-05-14 06:41] charmerDark commented on #1306
Hey! I would like to have a crack at this.
What gates can I decompose the CSWAP into? Can I use the Toffoli or would you rather I break it down to Hadamard,CNOT and T gates? Also any tips on writing the tests?
Thanks for the opportunity!

[2021-05-14 12:50] josh146 commented on #1306
Hi @charmerDark - you can have a look at some of the decomposition tests we have in [`test_qubit_ops.py`](https://github.com/PennyLaneAI/pennylane/blob/9687c130b7c4f758238859f2fe0dbb811a07825a/tests/ops/test_qubit_ops.py#L613). Essentially, the idea is to:

1. Decompose the operation
2. Multiply together the matrix representations of each operation in the decomposition
3. Make sure it agrees with

[2021-05-14 14:29] glassnotes opened #1313 "Add utility functions for matrix construction of controlled gates on non-adjacent wires"
When writing the tests for `SingleExcitation` and `DoubleExcitation` decompositions in #1278 and #1303 , we either hard-coded or wrote utility functions to construct the matrix representations of controlled operations on either
 - non-adjacent wires
 - adjacent wires, buit in reverse order
 - (more trivially, multi-qubit matrices with a gate applied to a single qubit and identity on the rest).

Th

[2021-05-14 14:38] glassnotes commented on #1275
This can be closed following the merge of #1303! :tada:

[2021-05-14 14:38] #1275 closed

[2021-05-14 16:12] co9olguy commented on #1306
Another possible landing spot (and reference) for gate tests:

https://github.com/PennyLaneAI/pennylane/blob/7680a48a8a93c5a2f24acd7204b8de83e41bc02e/tests/test_operation.py#L1034

[2021-05-14 17:05] #1146 closed

[2021-05-14 19:16] tgag17 commented on #1195
Hi! Is this issue an open issue or has it already been assigned?

[2021-05-14 20:23] tgag17 commented on #1305
Hi! I would like to work on this issue. Would it be a good idea to decompose the Toffoli gate to a list of Hadamard, CNOT and T gates?

[2021-05-14 20:26] antalszava commented on #1305
Hi @tgag17, that's great :tada: Yes, using the Hadamard, CNOT and T gates for the decomposition would work nicely. :slightly_smiling_face:

Feel free to open up a PR (even if it's still a work in progress) and ask any questions that you may have.

[2021-05-14 20:33] antalszava commented on #1195
Hi @tgag17, it's still an open issue. :slightly_smiling_face: (The assignment was from a while back.)

[2021-05-14 20:38] tgag17 commented on #1193
Hi! Is this issue still open? I am not sure but I think a relevant PR has already been merged which solves this issue.

[2021-05-14 20:39] tgag17 commented on #1305
Great! Thank you.

[2021-05-14 23:01] co9olguy commented on #1193
Hi @tgag17, good catch! I had a quick look and it does seem that that PR already solved the issue, but it was forgotten to close the issue. I guess this one is off the table then :slightly_smiling_face:

[2021-05-14 23:01] #1193 closed

[2021-05-14 23:22] m-pedro commented on #1288
Hi Josh, I just emailed Christian - can you tell him about this? Many thans, Peter.

[2021-05-15 00:09] nahumsa commented on #1147
Hi! I would like to work on this issue.

[2021-05-15 00:13] antalszava commented on #1147
Hi @nahumsa, great! :slightly_smiling_face: Thank you for your interest :tada:

Feel free to go for it and open a work in progress pull request whenever you have a draft version. Also, feel free to ask any questions along the way! :slightly_smiling_face:

[2021-05-15 00:16] nahumsa commented on #1147
Sure! Thanks for the quick reply!

[2021-05-15 01:36] nahumsa commented on #1147
I was looking at the `pennylane/ops/qubit.py` and looked that there is an implementation of [ControlledPhaseShift](https://github.com/PennyLaneAI/pennylane/blob/f92c36ea632f450908de915fb01ebb314a68e3fa/pennylane/ops/qubit.py#L859-L911) that looks exactly like the CPhase gate.
Does it need to be reimplemented or would just add an alias for the CPhase command?

[2021-05-15 08:59] m-pedro commented on #1288
@josh146 can you do this?

[2021-05-15 15:03] tgag17 commented on #1195
Hi! I have been working on this issue. An integral part of the issue is to rename the qml.adjoint() transform to qml.inv(). I had some doubts about the same.
- Shouldn't the data type of the argument change too when the renaming is done as qml.adjoint() takes a function while qml.inv() takes an operation list.
- There would be a drawback as the existing codes that use qml.adjoint() will become red

[2021-05-15 15:41] josh146 commented on #1147
Hey @nahumsa, great catch, thanks for pointing this out! Indeed, it seems that this gate already exists. @antalszava was there a difference you had in mind?

[2021-05-15 15:43] josh146 commented on #1195
Hi @tgag17 this is a great point, thanks for pointing it out. Perhaps we should modify this issue --- instead, we could keep `qml.adjoint` as is, and mark `qml.inv()` for deprecation (with a deprecation message that informs users to switch to `qml.adjoint`).

[2021-05-15 15:48] nahumsa commented on #1147
I added the `CPhase` gate on a PR because just in case, but I could easily convert the PR to become an alias of the `ControlledPhaseShift`, or delete it if necessary.

[2021-05-16 08:17] tgag17 commented on #1195
Yes! That seems like a good option 👍

[2021-05-16 13:37] Yash-10 commented on #1116
Hello @josh146,

I was trying to implement this. I found a line in the description of [`scipy.sparse.linalg.eigsh`](https://docs.scipy.org/doc/scipy/reference/generated/scipy.sparse.linalg.eigsh.html) which says:

Since the current implementation of `numpy.linalg.eigh` assumes a dense matrix, it could compute all the `n` eigenvalues and eigenvectors, but it seems that for sparse matrices, we could

[2021-05-16 14:31] santoshkumarradha commented on #1116
@Yash-10 that is indeed correct, an outcome of ARPACK. A temporary (although not best) fix might be to convert it to `.toarray()` right before calculating eigenvals and use `np.linalg.eigvals()`. Although this won't speed up the calculation of eigvals, this might at least partially support the use of sparse matrix as input.

[2021-05-16 17:10] Yash-10 commented on #1116
Thanks for your comment @santoshkumarradha !

I think due to the way `scipy.sparse` works, converting it into a numpy array might still yield numerical inaccuracies since it is tailored for sparse ones while `numpy` assumes dense matrices. Infact, the inaccuracies might very well go beyond tolerance and hence unacceptable for use.

Hence I am unsure of a way to solve this.

[2021-05-17 06:30] josh146 commented on #1116
@Yash-10; this is a good point, I was unaware of the eigenvalue/eigenvector restrictions when I made my original comment.

If possible, we should avoid an implementation where a sparse Hamiltonian is converted into a dense matrix, since this likely negates the advantages of keeping the Hamiltonian sparse in the first place!

There are two ways I can see of doing this:

- Computing (dense) eigenvec

[2021-05-17 06:32] josh146 commented on #1147
Thanks @nahumsa! To avoid the code duplication, I think it would make sense to have it be an alias (as you rightly point out in the PR!)

[2021-05-17 06:52] josh146 commented on #1195
@tgag17 feel free to tackle this --- I will edit the title of this issue 🙂

[2021-05-17 12:54] trbromley commented on #1308
Thanks @wongwsvincent! Good point regarding the two-qubit version of `StronglyEntanglingLayers`. I agree that it might have been nicer to design it so that only one CNOT is applied as a special case for two qubits. However, now that we've been using the two-gate version for a while, I'm not sure there is much of an advantage to change now. The two-qubit setting is quick to simulate so the increase

[2021-05-17 13:44] antalszava opened #1324 "Explore native support for the `Permute` operation in `default.qubit`"
The `Permute` operation permutes the order of qubits used within a circuit. This operation decomposes into `qml.SWAP` operations, if a device doesn't support it.

We would like to explore if by adding native support for `Permute`, applying this operation could be made more performant on `default.qubit`. See [this comment](https://github.com/PennyLaneAI/pennylane/pull/1318#pullrequestreview-6603679

[2021-05-17 14:58] cvjjm commented on #1109
PR is here #1291

[2021-05-17 14:58] #1109 closed

[2021-05-17 15:30] cvjjm opened #1326 "Drawing fails for (a) qubit-wise commuting observables, and (b) QNodes with no operations"
Consider the following minimal example in which a QNode returns multiple qubit wise commuting obeservables:
[code]

Problem 1: While executing the circuit works, drawing it leads to the error
[code]
Commenting out the active return line line of the QNode and instead uncommenting one of the other two shows that PennyLane can draw with both observables individually, but not with both.

Problem 2: Tr

[2021-05-17 16:04] albi3ro opened #1327 "Device random number generation"
Currently, PennyLane devices use legacy numpy random number generation, see [NumPy documentation](https://numpy.org/doc/stable/reference/random/index.html?highlight=random#quick-start) and PR #1267.  In particular, this random number generation occurs on [`_qubit_device.py` Line 484](https://github.com/PennyLaneAI/pennylane/blob/2107490ba0ea196b62656d89bff7bc5b8a4205a0/pennylane/_qubit_device.py#L

[2021-05-17 16:17] josh146 commented on #1326
Thanks @cvjjm for catching this. The first is definitely a bug --- when we added support for qubit-wise commuting observables within a single QNode, we did not update the drawing code, which was an oversight.

Re: the second error, I am surprised we never considered this edge case! This is indeed something we should add.

[2021-05-17 16:30] co9olguy commented on #1155
Hi @ryanhill1 just wondering if you're still working on this issue?

We've flagged it for [unitaryHACK](https://unitaryfund.github.io/unitaryhack/), which means you'll be eligible for swag if you register and it is merged during next two weeks. (but it also means someone could scoop the issue sooner :wink:)

[2021-05-17 16:43] antalszava opened #1328 "[unitaryHACK] Test issue for auto labeling"

[2021-05-17 17:40] ryanhill1 commented on #1155
Hey! Yeah I saw that I got caught up with some other work for a minute there but I'll be submitting a pull request for this sometime tomorrow!

[2021-05-17 19:11] #1304 closed

[2021-05-17 19:34] wongwsvincent opened #1330 "User-defined range hyperparameter of ```StronglyEntanglingLayers``` not working"
#### Issue description

The ```ranges``` argument of ```qml.templates.layers.StronglyEntanglingLayers``` cannot be set by the user, as there is a bug in the code (```self.ranges``` is not defined if the argument ```ranges``` is not None)

* *Expected behavior:* ```ranges``` can be defined by the user. The range value should be checked to ensure that it's not zero or divisible by the number of wire

[2021-05-17 19:38] wongwsvincent commented on #1330
I am happy to submit a PR for the fix if everyone agrees that the expected behavior described above is how we should implement it.

[2021-05-17 19:50] wongwsvincent commented on #1308
Thanks @trbromley for the feedback! I myself (naively) don't see an advantage in expressivity for one over the other case. I brought the issue up purely for the cleanness of code and consistency with other functions, so I'm also fine if we prefer minimizing the number of insignificant changes and keeping it this way.

Regarding the custom range option, I have opened a new issue for it here: https:

[2021-05-17 21:32] brs96 commented on #1120
Hi, reading through I don't see anything in Operator class _matrix method which prevents a non-self-adjoint matrix to be defined...? Did I miss sth?

[2021-05-17 21:40] antalszava commented on #1120
Hi @brs96, the Operator._matrix method raises a NotImplementedError, as certain subclasses define this method for more specific cases. We would like to remove this error and allow creating Operator objects that are not necessarily an instance of other special classes (like Operation or Observable).

To give a basic idea, we'd like something like
[code]
to work well, where we do not pose any constr

[2021-05-17 21:45] brs96 commented on #1120
Got it, thanks, will give it a try.

[2021-05-18 06:56] josh146 commented on #1330
Hi @wongwsvincent! Thanks for making a separate issue for this.

Your solution above makes sense, a PR with a fix would be very appreciated!

[2021-05-18 07:38] josh146 commented on #1109
Thanks @cvjjm!

[2021-05-18 08:25] mariaschuld commented on #1308
Hey @wongwsvincent. We had an internal discussion and favour to keep the behaviour of `StronglyEmbeddingLayers` as it is (of course, except from the `ranges` fix - thanks for making a PR).

The reason is that the improvement is arguably small, but it is used a lot and we do not want to change the behaviour in everyone's code, even if the change would be for the better.

I will close the issue for

[2021-05-18 08:25] #1308 closed

[2021-05-18 09:44] #1195 closed

[2021-05-18 14:51] #1305 closed

[2021-05-18 15:49] #1147 closed

[2021-05-19 12:06] dwierichs opened #1336 "Raise exception or warning when `qml.adjoint` is used on operation list instead of function."
The newer `qml.adjoint` function does not have any effect when acting on operation lists like in the following example:
[code]
Users might try this, because it worked like this with `qml.inv` which `qml.adjoint` is replacing. Therefore, we should raise
an exception whenever this is attempted by checking for the input to be `callable`. Alternatively, a warning could be raised, but
the behaviour dif

[2021-05-19 13:14] nahumsa opened #1337 "Noise channels do not validate parameter values, leading to errors"
#### Issue description

Description of the issue - include code snippets and screenshots here
if relevant. You may use the following template below

* *Expected behavior:* Raise an error showing that the probability (or sum of probabilities) are not compatible with the expected channel behaviour.

* *Actual behavior:* Raises a `RuntimeWarning` for an invalid value encountered in sqrt.

* *Reproduc

[2021-05-19 14:47] josh146 commented on #1337
Thanks for reporting this @nahumsa!

Could you post the code that created this error? It will help us track down the noisy channel that is causing this bug.

(and if you already have a solution, feel free to make a PR!)

[2021-05-19 15:04] mariaschuld commented on #1336
Is there no way to make the above work?  I remember that there was a good reason, but it would be so nice and intuitive!

For example, the transform could make a function for the gate?

[2021-05-19 15:16] nahumsa commented on #1337
Hi @josh146. Actually, all noise channels have this error, thus maybe the solution can be on the `Channel` base class.  I have added the code sample to reproduce the error.

I plan on making a PR for this issue later this week. 😄

[2021-05-19 15:16] josh146 commented on #1336
Unfortunately I don't think so, since Python always evaluates 'inside out' - it will evaluate `qml.templates.AngleEmbedding(params)` before any `adjoint logic is ever executed.

This is one of the reasons that `qml.inv()` was so nasty internally; it was performing a lot of queuing hacks to make the above work. In fact, `qml.inv()` showing up in the 'files changed' tab in a recent refactor was one

[2021-05-19 15:21] josh146 commented on #1337
Nice, great to hear 🙂

[2021-05-19 18:26] ryanhill1 commented on #1155
@albi3ro @co9olguy, yesterday I started a draft that addresses this issue. I made revisions to the PyTorch and TensorFlow introductions but held off on the Jax introduction for now until I know the first two look ok. I just had a few questions about some links/references and top-level outputs that were previously there, which I pointed out with a few comments. Could you take a look when you have a

[2021-05-19 23:26] co9olguy commented on #1336
@josh, by "the above" do you mean something like
[code]
?

[2021-05-20 03:03] MaldoAlberto commented on #1306
Hi @antalszava  I send a Pull requests about this issue, but I forgot to add the Unitaryhack label, is there any problem or should I resend it?

[2021-05-20 04:15] josh146 commented on #1306
Hi @MaldoAlberto, I can add the label for you :)

[2021-05-20 04:38] josh146 commented on #1336
@co9olguy, yes, exactly. This is the UX that is consistent across other functional libraries, c.f. both Autograd and JAX, and slowly also TF, since it results in very intuitive composability due to the transform acting on _functions_, rather than objects:

[code]

It is also a UX that is not out of place in PennyLane (`qml.grad(fn)(params)`, `qml.draw(qnode)(params)`).

Here, we just need to get u

[2021-05-20 04:51] josh146 commented on #1155
thanks @ryanhill1!

[2021-05-20 06:23] mariaschuld commented on #1336
Just a crazy thought - could we turn operations into functions or wrap them in functions?

[2021-05-20 15:28] antalszava opened #1344 "Change `default.qubit` to compute the inner product for `qml.Hermitian`"
The `QubitDevice` class provides a [standardized way for computing the exact expectation value](https://github.com/PennyLaneAI/pennylane/blob/8f8205f18044fb8479fe50f040d6db7aa7e78f44/pennylane/_qubit_device.py#L739) of a specific observable. For observables that are not diagonal in the computational basis, diagonalizing gates are applied at the end of the requested circuit. To compute the expectat

[2021-05-20 15:36] josh146 commented on #1344
To add some context:

- The current method was chosen because it is hardware compatible.
- On simulators, there is very little overhead for statistics of Pauli words
- However, the overhead for `qml.Hermitian` is significant, because diagonalizing it requires computing the eigenvalues of a large dense matrix.

Therefore, it is worth modifying `default.qubit` to avoid diagonalization in the special

[2021-05-20 15:41] antalszava commented on #1344
Yep, good point, was also considering that! Though this is a method specific for state vector simulators, so maybe it could be more general? 🤔 we have the condition `if self.shots is None`

[2021-05-20 18:08] arjundavis commented on #1256
Hi, me and @maldoalberto are working on this as our first issue. We found the class interferometer in ops.cv and have changed it's name to InterferometerUnitary along with other parts.
Which other files are using this interferometer? We assume in the default_gaussian and in representation_resolver.

[2021-05-20 22:11] albi3ro opened #1345 "Adjoint differentiation method fails with jax interface."
With the jax interface, the `adjoint` differentiation method produces incorrect results.  The jax interface does not have tests for adjoint diff as well; hence this has fallen through the cracks. The jax interface still works fine with other differentiation methods.

Here is the example that reproduces the problem.

[code]
[code]

[2021-05-20 23:21] albi3ro commented on #1345
Upon further investigation, the problem arises [here](https://github.com/PennyLaneAI/pennylane/blob/411c3d52cd87f612a1378467a6049d6b5fbdf17c/pennylane/interfaces/jax.py#L106), where the interface makes a copy of the tape.  The `tape.jacobian_options` does not get duplicated in the copy.

First question: why does the tape need to be copied? @Thenerdstation

Second question: should [tape.copy](https

[2021-05-21 00:20] #1148 closed

[2021-05-21 00:20] #1149 closed

[2021-05-21 00:35] antalszava opened #1347 "Add the `IsingYY` operation"
**Context**

We would like to define a new operation called `IsingYY`, with the gradient recipe:
[code]
The operation is [defined in the PennyLane-Braket plugin](https://github.com/aws/amazon-braket-pennylane-plugin-python/blob/257eb99d62122e3a83c380ab240d6e166b2b9257/src/braket/pennylane_plugin/ops.py#L449).

**Steps to take**

*A. Adding the operation*

1. Adding the `IsingYY` class and its attr

[2021-05-21 06:07] josh146 commented on #1345
Good catch @albi3ro. `tape.copy` is defined here: https://github.com/PennyLaneAI/pennylane/blob/master/pennylane/tape/tape.py#L1178. So a quick fix would probably be adding the following to `JacobianTape`:

[code]

Long term, an approach where we could avoid copying altogether would be nice.

[2021-05-21 09:06] mariaschuld commented on #1256
Great that you picked this up!

Actually there are two steps to a deprecation. The first step (or the first PR) would just be to add a deprecation warning (at the moment we use `UserWarning`, you can find them elsewhere in the code`) to the current `ops.cv.Interferometer` class. If someone uses this gate, the warning should tell them that it will be renamed. This change will be there for one relea

[2021-05-21 15:12] albi3ro commented on #1345
Finite diff also fails with the jax interface, even after I have gotten the adjoint method to work.  Investigating that now.

[2021-05-21 17:25] josh146 commented on #1345
Nice, definitely shows there are quite major holes in our test suite still 🤦

[2021-05-21 17:33] albi3ro commented on #1345
Float64 has to be manually enable for JAX, and float32 is too imprecise for finite differences. I'm writing in a `UserWarning` if the user tries to use finite-diff and jax together without enabling float64 support.

[2021-05-21 19:49] albi3ro opened #1352 "[unitaryhack] QNodes no longer display readable info when printed"
*This issue has been tagged for contributions during [unitaryHACK](https://unitaryfund.github.io/unitaryhack/participating-projects.html)*

The [QNode](https://github.com/PennyLaneAI/pennylane/blob/0965bb0c97c4de2dc2408751ca3a61dd47074264/pennylane/qnode.py#L34) currently does not display useful information when printed out:

[code]

We should add `__str__`  and `__repr__` methods to the class to

[2021-05-21 23:46] wongwsvincent commented on #1059
Hello! I have just started working on this issue and created a [PR#1356](https://github.com/PennyLaneAI/pennylane/pull/1356).
So far I have a brief draft that works for default.qubit, and I will still need to include checks to ensure correct inputs and tests for the Projector observable.
Do you have any tips on what tests I should include? I only have input tests in my mind.
And can you point some

[2021-05-22 06:02] josh146 commented on #1059
Thanks @wongwsvincent! Let us know by leaving a comment when it is ready for review 🙂

Regarding supporting multiple devices: one thing that could potentially be done is add support for this new observable directly in the parent `QubitDevice` class, in a hardware compatible manner. This way:

- All devices that inherit from `QubitDevice` will *automatically* support this new observable in a way th

[2021-05-22 06:14] #1306 closed

[2021-05-22 06:26] josh146 commented on #1352
Thanks @albi3ro! For both the `__repr__` and the `__str__`, I would be in favour of something simple like

[code]

This matches how it used to display, and I would almost consider it a bug that this changed.

Note: if we don’t define `__str__`, Python will automatically default to `__repr__` when `print(qnode)` is called.

[2021-05-22 23:47] nahumsa commented on #1347
Hi! I would like to solve this issue! 😄

Should I also add `IsingXX` to other devices as well, or just implement for `default.qubit`?

[2021-05-23 14:48] paniash commented on #1347
Hi! I would like to try my hand at this issue as well. :-)

[2021-05-23 14:55] josh146 commented on #1347
@nahumsa for this issue, adding it to `default.qubit` is sufficient, but feel free to add it to additional devices!

@paniash great to see such enthusiasm 🙂 Definitely feel free to give it a go, or you could also join up with @nahumsa if you would like to tackle it as a team.

[2021-05-23 15:02] paniash commented on #1347
@josh146 Thanks a lot! @nahumsa Would you like to team up? I've made a draft PR for the same [here](https://github.com/PennyLaneAI/pennylane/pull/1358).

[2021-05-23 16:33] nahumsa commented on #1347
@paniash sure, that would be awesome! :)

[2021-05-24 04:15] paniash commented on #1352
Hi! I'd like to try my hand at this. Any pointers for this? (pretty new to OOP in python). Thanks. :-)

[2021-05-24 09:06] josh146 commented on #1352
Hi @paniash! This should be as simple as defining the QNode’s `__repr__` method, and having it return the string to be displayed.

In fact, you could have a look at the previous implementation:

https://github.com/PennyLaneAI/pennylane/blob/4fffb1bb08bee0569c259e05f5ba59c0d2db103c/pennylane/qnodes/base.py#L207

[2021-05-24 09:09] paniash commented on #1352
@josh146 Thanks! I've already made a PR. Could you check it and let me know if it's alright? (I've only written the `__str__` method though)

[2021-05-24 09:48] paniash commented on #1352
Do we need to have both `__str__` and `__repr__` methods? I feel like both try to achieve the same thing.

[2021-05-24 15:19] josh146 commented on #1352
Hey @paniash, there is a subtle difference between the two.

For example, consider

[code]

* `__repr__` is used in interactive or console environments, such as the Python console, IPython, or Jupyter notebooks. This is what is displayed if you press enter after a command or a variable:

[code]

  It is a concise, unambiguous representation of the object, that can usually be used to reconstruct th

[2021-05-24 15:30] paniash commented on #1352
@josh146 Gotcha. Thanks for the explanation! I'll make the changes accordingly in the PR. :-)

[2021-05-25 11:23] mariaschuld opened #1361 "Ensure that `MottonenStatePreparation` is fully differentiable"
#### Issue description

At the moment, the `MottonenStatePreparation` template that prepares a quantum state whose Dirac vector encodes some specified vector, is not fully differentiable. This is why the [test class for differentiability/interfaces](https://github.com/PennyLaneAI/pennylane/blob/e0928abb1e413356848499cf0799037fc2082518/tests/templates/test_state_preparations/test_mottonen_state_pre

[2021-05-26 01:03] wongwsvincent commented on #1059
Sorry, @josh146 . I am a bit lost with your suggestion about implementing this under the ```QubitDevice``` class.

If I understand you correctly, you are saying we could add a function in ```pennylane/_qubit_device.py``` as a function of the ```QubitDevice``` class, like the functions ```marginal_prob```. But I thought we were going to implement the ```Projector``` class as an observable class lik

[2021-05-26 04:30] josh146 commented on #1059
Hi @wongwsvincent, let's move the discussion over to your PR, it will provide me with better context as to the changes you have made. I'll give it a preliminary review 🙂

[2021-05-26 17:53] glassnotes opened #1363 "Precision issues when using JAX interface"
#### Issue description

The default precision in JAX is `float32`. Using the JAX interface in backprop mode causes non-trivial deviation in the results of variational circuits.

* *Expected behavior:* Evaluating QNodes with the JAX interface in all contexts should match precision of other interfaces.

* *Actual behavior:* Evaluating QNodes with JAX yields differences greater than the standard tole

[2021-05-27 02:02] #1326 closed

[2021-05-27 02:51] albi3ro commented on #1363
I was looking into a similar issue with `finite-diff` and jax, see PR #1349 .  The jacobian tape itself uses numpy and float64, where the initial parameter enters as float32, and the jax device uses float32.  I found a way to fix the finite-diff case at least.

We should edit the devices to allow users to specify datatype where possible.  Sometimes users want 1e-8 accuracy, and sometimes users wan

[2021-05-27 03:55] josh146 commented on #1363
💯 🙏

[2021-05-27 11:21] #1288 closed

[2021-05-27 12:46] glassnotes opened #1365 "Change order of technical description and list of functions in documentation"
Three modules, [`kernels`](https://pennylane.readthedocs.io/en/latest/code/qml_kernels.html), [`grouping`](https://pennylane.readthedocs.io/en/latest/code/qml_grouping.html), and [`qaoa`](https://pennylane.readthedocs.io/en/latest/code/qml_qaoa.html) have their module documentation ordered such that there is first a lengthy description of the theory, and the actual list of functions comes after. W

[2021-05-27 18:58] albi3ro opened #1366 "Developer documentation for testing"
Hitting full code coverage does not guarantee that new code is actually properly tested. Remembering all the different potential cases is difficult. So instead of leaving it to the developer and code reviewers to try and remember the variety of cases each time, we should have guidelines enumerating the cases that can appear.

I propose two new pages in the [developer documentation](https://github.

[2021-05-28 04:06] paniash commented on #1361
Fixed in [`be3c88d`](https://github.com/PennyLaneAI/pennylane/commit/be3c88d320ee48a0f3fb761c981356137de20027).

[2021-05-28 04:08] paniash commented on #1352
Fixed in [`be3c88d`](https://github.com/PennyLaneAI/pennylane/commit/be3c88d320ee48a0f3fb761c981356137de20027).

[2021-05-28 06:01] #1352 closed

[2021-05-28 06:04] #1337 closed

[2021-05-28 10:05] #1059 closed

[2021-05-28 18:42] albi3ro opened #1369 "Matrix-valued parameters, ragged nested sequences, and tapes"
In attempting to fix a failing test on a PR, I have been bumping up against unexpected behaviour and a deprecation warning.

This code modified from a device test

[code]
raises

[code]

due to [a line in `JacobianTape.jacobian`](https://github.com/PennyLaneAI/pennylane/blob/23b194ea61dd4158478ce06ef7f4719105f20b57/pennylane/tape/jacobian_tape.py#L515) that casts the parameters to a numpy array.

[2021-05-28 21:09] antalszava commented on #1369
@albi3ro I'm not so sure we ended up adding support for differentiating `qml.Hermitian`. Historically, with the old core, it was not differentiable. So I'd think we need `requires_grad=False` here, though quite likely @josh146 will be able to verify and extend on this.

[2021-05-29 04:38] josh146 commented on #1369
Yep @antalszava that's correct. Currently, the PennyLane `autograd` interface assumes `requires_grad=True` by default. So that is why the `A` matrix ends up being considered a parameter on the tape.

@albi3ro, this can be fixed for now by simply being explicit and stating `A_ = np.array(..., requires_grad=False)`.

Long term, the best solution here is to change to assuming `requires_grad=False` by

[2021-05-30 12:45] arshpreetsingh opened #1372 "[New-Feature]Adding Docker Support to Pennylane"
#### Issue description
Just wanted to know if Docker-Support is in Check-list, I would be able to add Docker-Support for Pennylane.

Adding Dockerfile to Build penylane using Docker.

* *Expected behavior:*
Build and entire system using Docker.

## To build from source

``` docker build -t pennylane:docke_build . ```

## To Run Python script using pennylane

``` docker run -it --rm -v $PWD:/tmp -w

[2021-05-31 05:30] AlaricCheng opened #1373 "[BUG] `qml.sum()` and `qml.dot()` do not support the jax interface"
Hello,

It seems that `qml.sum()` and `qml.dot()` do not support the jax interface. When I run the following codes,
[code]
it gives a ValueError:
[code]

A similar error occurs when I use `qml.dot()` instead.

After checking the source code, I think this could be fixed by simply adding a conditional expression for jax. For example, for `sum.py`, the source code can be changed to
[code]

Above, I u

[2021-05-31 06:22] josh146 commented on #1373
Thanks for catching this @AlaricCheng! If you are interested, it would be greatly appreciated if you would like to make a PR with the fix you suggested above :)

Otherwise, a member of the team will get on to this shortly.

[2021-05-31 06:24] josh146 commented on #1372
Hi @arshpreetsingh, docker support would be great :)

Do you have docker support for PennyLane already working locally?

[2021-05-31 11:41] arshpreetsingh commented on #1372
Hi @josh146  This is the dockerfile working for me(Although have not tested thoroughly)
https://github.com/arshpreetsingh/pennylane/blob/docker-support/Dockerfile

To build an Image, keep dockerfile into pennylane root and run following:
``` docker build -t pennylane . ```
to test pennylane after image build run following.
``` docker run -it --rm pennylane python -c "import pennylane; print(pennyl

[2021-05-31 13:59] albi3ro commented on #1369
We could rethink `Hermitian`.  If we don't want `Hermitian` to ever be differentiable, we can set the passed variables as something other than `parameters`, like `op._matrix`.  We would just need to re-write the constructor.

Something like:

[code]

[2021-05-31 14:04] albi3ro commented on #1372
We could create dockerfiles for different sets of additional packages, like plain pennylane, pennylane+tensorflow, all interfaces packages, or pennylane-qchem plus all qchem packages.

[2021-05-31 15:33] #1155 closed

[2021-05-31 15:49] josh146 commented on #1372
Thanks @arshpreetsingh!

This would be great. Although, would there be a downside to providing a dockerfile with _all_ interfaces/plugins? Akin to the CI environment.

[2021-05-31 17:25] albi3ro opened #1375 "First-order finite-diff differentiation with float32 parameters results in floating-point errors"
Currently, parameters of type `float32` will incur floating-point errors with finite-diff gradients.  The JAX interface defaults to `float32`, so the issue is most prominent there, but the problem could occur with any interface.

Inside `JacobianTape.numeric_pd`, the relevant parameter does get converted to `np.float64` when [the shift is added](https://github.com/PennyLaneAI/pennylane/blob/23b194

[2021-05-31 18:48] albi3ro commented on #1372
Size.  Tensorflow and torch can be pretty large.

[2021-05-31 22:46] albi3ro opened #1379 "operation adjoint and inverses"
Right now, we have two separate ways for inverting/ adjoint-ing an operation:

* `op.inv()`: toggle `op._inverse` boolean for `op` instance
* `op.adjoint()`: returns a new class instance determined on a per-op basis

I would expect that these two things should be the same for unitary operations:

[code]

For already inverted operations, they are not.  No implementation of `adjoint` takes into acco

[2021-05-31 22:48] albi3ro commented on #1345
Closes with #1349  merge.

[2021-05-31 22:48] #1345 closed

[2021-06-01 00:40] MaldoAlberto commented on #1256
In case I want to support this issue and others independent of unitaryHACK is it possible?

[2021-06-01 05:17] josh146 commented on #1256
Hi @MaldoAlberto, yes any issue tagged [`good first issue`](https://github.com/PennyLaneAI/pennylane/labels/good%20first%20issue%20%3Ahatching_chick%3A) is a good one to open a contributing PR for!

[2021-06-01 05:30] josh146 commented on #1379
Nice catch @albi3ro!

[2021-06-01 09:08] josh146 commented on #1375
I think your fix makes sense, especially if we are already converting the parameters to `float64`.

I am willing to make that assumption, yes. I believe a lot of our abstractions will break if we consider a non-scalar as a 'differentiable parameter'.

I think it should be as simple as editing the failing test in `default.mixed` to ensure that the Hermitian matrix created has `requires_grad=False`.

[2021-06-01 12:18] arshpreetsingh commented on #1372
@albi3ro  Agree with Size, Will be raising PR shortly for Docker-implementation.
@josh146
Wanted to confirm one thing before going further, Should docker builds be handled from Makefile? like ``` make build docker-pennylane``` or for TensorFlow, Pytorch etc something like ``` make build docker-pennylane-tf ``` or ``` make build docker-pennylane-torch```

with this docker-builds could be handled fr

[2021-06-01 12:38] josh146 commented on #1372
Hi @arshpreetsingh, it certainly sounds nice to include in a makefile!

Before jumping straight into the PR, perhaps it might make sense to explore how other open-source projects with similar range of dependencies integrate docker support?

For instance, I had a look at the PyTorch repo, and they have:

- A top level `Dockerfile` that includes all optional dependencies as far as I can tell: https:

[2021-06-01 12:59] albi3ro commented on #1379
I wanted to used 'adjoint' mainly for readability and reducing potential for sneaky errors.

When using 'op.inv()', you have to remember to return it to its original form through another application of 'op.inv()'.

Also, while it's inverted, the name of the op is still just 'op'. For readability, it'd be nice to see, "here i'm using the inverted operation" clearly by having a variable 'op_inv'.

T

[2021-06-01 13:03] josh146 commented on #1379
Yes, this is a good point - `op.adjoint()` is definitely advantageous in that it does not modify the device in-place, it just returns a new one.

Do you think this suggestion is the way to go?

[2021-06-01 14:01] albi3ro commented on #1379
I like the idea of having one method edit the op in-place and one method returning a new instance that's inverted.

I do wonder though about the names for `inv` versus `adjoint`. Those terms don't make clear which one is which.  For most gates, these two will be equivalent. `op.matrix` even calculates an inverted matrix by performing `op_matrix.conj().T`, which is technically taking the adjoint in

[2021-06-01 14:45] josh146 commented on #1361
The following discussion forum post provides a bug fix to get differentiability working with PyTorch: https://discuss.pennylane.ai/t/hybrid-network-not-differentiating/1079/3

[2021-06-01 14:50] albi3ro commented on #1379
Thinking about it more, we could have just one method, `op.inv`, but have a keyword `inplace=True`.  If the user specifies `op.inv(inplace=False)` then it returns a new instance with opposite `op._inverse` value leaving `op` untouched.

[2021-06-02 04:49] arshpreetsingh commented on #1372
Hi @josh146  Thanks for great ideas! I was also thinking about referencing Pytorch's Docker-implementation as guidance, Yes Dockerfiles from TensorFlow are partially generated programmatically (which comes with Broad-Range of GPU and OS support).
But I feel we can start with Simple implementation first. I was thinking of Following implementations.

1. **Simple-Pennylane** : Docker build using Offi

[2021-06-02 06:27] josh146 commented on #1372
Thanks @arshpreetsingh! I think that sounds like a great plan, especially re-using existing TF and Torch images.

With respect to the interfaces, I think it makes sense to have separate docker files, since in most cases users will only be using a single ML framework, which is their framework of choice.

For plugins, however, it is a little more complicated:

- Build requirements will depend on the

[2021-06-02 09:16] josh146 commented on #1361
In particular, here is the relevant git diff:

[code]

[2021-06-02 09:37] josh146 commented on #1379
Oh, cool idea. I have to admit, I'm on the fence:

- On the one hand, I like it; it streamlines everything down to a single access point.
- On the other hand, I'm a bit uneasy having a single method that performs such different logic depending on a keyword argument?

[2021-06-02 19:09] #1375 closed

[2021-06-02 19:14] albi3ro commented on #1379
To me, they seem like they're doing the same thing. The only thing that's different is in place versus return modified copy.

Most of the time people will probably just continue using the in-place version, but for some special cases, people may just find it easier to work with an inverted copy.  Like how I want an inverted copy for the adjoint method.

[2021-06-03 13:42] albi3ro commented on #1372
At some point, we should also consider doing this for `pennylane-qchem` and all the qchem dependencies.

[2021-06-03 13:54] arshpreetsingh commented on #1372
@albi3ro  Well I have completed pennylane-plain, Pennylane-TF and Pennylane-Torch docker images,  Will be able to share those by tomorrow for review.

As I can see Qchem has script for dependencies installation(https://github.com/PennyLaneAI/pennylane/blob/master/qchem/install-dependencies.sh) which could be easily reused for creation of Dockerfile for   pennylane-Qchem.

[2021-06-03 14:25] #1373 closed

[2021-06-04 06:04] josh146 commented on #1372
Nice, I think having qchem dockerfiles is a great idea

[2021-06-04 22:19] albi3ro opened #1385 "Copying `qml.ControlledQubitUnitary`"
The `Operator` base class defines a `__copy__` method for operators.  For almost all `Operator`'s, this method works fine to duplicate a given instance.

But `qml.ControlledQubitUnitary` has a more complicated set of data, and copying it does not work fully.

[code]

Error
[code]

To remedy this problem, I propose that this class defines its own `__copy__` method.

We should also test `op.__copy__

[2021-06-07 11:29] josh146 opened #1386 "Ensure that the IsingXX and IsingZZ gates are differentiable"
Recently, two new operations were added to PennyLane:

- `qml.IsingXX` in #1194
- `qml.IsingZZ` in #1199

These operations are both supported by default in the `default.qubit` device (that is, they are listed as native operations, so `default.qubit` will not attempt to decompose them).

As a result, the following forward pass evaluates fine:

[code]

However, evaluating the backward pass/gradient

[2021-06-07 16:27] KetpuntoG opened #1389 "Hamiltonians created via addition produce incorrect results with `ExpvalCost(optimize=True)`"
Good afternoon,
I was having problem with vqe when I set the flag: optmize = True . I noticed that there were errors when entering Hamiltonians of the form Z1@Z2 + Z2@Z1. We know it is the same as 2.Z1.Z2 but the optimizer seems to have some kind of problem with this kind of Hamiltonians (vqe with optimize = False works correctly in this situation).
Although by preprocessing the Hamiltonian we avo

[2021-06-07 18:11] josh146 commented on #1389
Thanks for reporting this @KetpuntoG! Someone from the team will help investigate and pin down this bug shortly 🙂

[2021-06-08 19:44] antalszava commented on #1389
Hi @KetpuntoG,

Thank you for drawing our attention to this! :slightly_smiling_face: Could you perhaps post a non-working example?

I attempted to reproduce the error, though, with a naive example, the `optimize=False` and the `optimize=True` cases seem to produce the same results:
[code]
[code]
When checking the terms of the Hamiltonian that is the sum of `H1` and `H2`, it seems that we get the r

[2021-06-08 20:13] KetpuntoG commented on #1389
Hi! Here is part of the code. In the first part I am creating a 19 qubit Hamiltonian with random coefficients:

`
import pennylane as qml
from pennylane import numpy as np
from time import time

prob = 0.5
size = 19
shots = 1000
obs = []
for j in range(size):
    if np.random.rand() < prob :obs.append(qml.PauliZ(wires = j))

    for i in range(size):
        if np.random.rand() < prob :obs.append(

[2021-06-09 12:59] antalszava commented on #1389
Hi @KetpuntoG, thank you! Definitely something odd going on, we'll be investigating this. Thanks again for catching and reporting it. :)

[2021-06-09 18:02] co9olguy opened #1397 "Display `id` of gates when printing with `qml.draw`"
With the new functionality to assign "names" to gates, it might be worthwhile to have this information propagate to the printed circuit of `qml.draw`. I'm thinking something like
[code]

We could add an keyword argument to `qml.draw` to expose or suppress this info during printing

[2021-06-09 20:25] albi3ro opened #1399 "More informative QNode `diff_method`"
Currently, QNode's have an attribute `diff_method` that captures the user-provided `diff_method` keyword or the default `"best"`.

If `diff_method=="best"`, then the class will determine which differentiation method to use based on a combination of various things like device and interface.

But the attribute `diff_method` is not updated with this choice. To find which method actually got used, we

[2021-06-09 21:11] #958 closed

[2021-06-10 02:32] josh146 commented on #1399
Great idea, this will also help a lot with testing and debugging

[2021-06-10 03:26] albi3ro opened #1401 "Rendering of ``QubitParamShiftTape`` docstring"
The math in the [docstring for ``QubitParamShiftTape``](https://pennylane.readthedocs.io/en/latest/code/api/pennylane.tape.QubitParamShiftTape.html) does not render properly.

The docstring is located in the code [here](https://github.com/PennyLaneAI/pennylane/blob/92c0ae7dd1824d72c6cf68a9309231a70676aa16/pennylane/tape/qubit_param_shift.py#L32).

[2021-06-10 08:12] arshpreetsingh commented on #1372
@josh146  @albi3ro  PR is Ready!
Able to create Following builds.
1. Base-Pennylane
2. Pennylane+Tensorflow
3. Pennylane+torch
4. Pennylane+Jax
5. Pennylane_Tensorflow+GPU support
6. Pennylane_Torch+GPU support
7. Pennylane_Jax+GPU support
8. Qchem! (at last but not least :) )
Looking for reviews on that.

[2021-06-10 13:50] trbromley commented on #1372
Thanks @arshpreetsingh, we have linked https://github.com/PennyLaneAI/pennylane/pull/1391 so that it will automatically close this issue once merged :smile:

[2021-06-11 00:26] #1401 closed

[2021-06-11 14:58] antalszava commented on #1389
Hi @KetpuntoG, thanks again for catching this! We now have a PR addressing the issue.

There are two relevant points that are unrelated to the bug:
* The Hamiltonian in the example has terms that appear multiple times with different coefficients. Before passing a Hamiltonian to `ExpvalCost`, it is suggested to call it's `simplify` method, which will consider these equal terms and add them up.
* Th

[2021-06-11 17:50] #1389 closed

[2021-06-15 22:19] antalszava commented on #1256
Hi @arjundavis and @MaldoAlberto, any update on this one? :slightly_smiling_face:

[2021-06-16 01:54] albi3ro commented on #1092
I'd like to say that neither adjoint nor reversible are on the list of things that can be possible selected if the user provides "best".

It goes:
* device
* backprop
* parameter shift
* numeric

Adjoint is only a semi-device method. It goes not count in this situation.

[2021-06-16 12:21] dwierichs opened #1408 "Log the number of shots a device used"
In addition to counting the number of qnode calls/executions of a device via `num_executions`, it would be nice to count the number of shots a device used overall.
While this can easily be obtained via `num_shots=device.num_executions * device.shots` if the same number of shots was used for all executions, it is currently not possible to access the same quantity if `device.shots` was altered at so

[2021-06-16 12:38] albi3ro commented on #1408
I've got a device tracker as a work in progress. In addition to tracking executions and shots, it can track any additional information relevant to a specific device and record the information on a per execution basis. Record being silent, print to console, or logging as the user chooses.

Stay tuned!

[2021-06-16 12:42] dwierichs commented on #1408
Amazing, thanks! Sorry, I only checked the issues and not the PRs.

[2021-06-16 12:42] #1408 closed

[2021-06-17 09:23] rmoyard opened #1412 "Jax with diff_method "parameter-shift", "finite-diff" and non-trainable parameters"
`####` Issue description

When using Jax with diff_method "finite-diff" or "parameter-shift" with a non-trainable parameter in the circuit e.g. `QubitStateVector `(see below), Python crashes. It is probably due to the fact that you cannot specify `requires_grad` attribute to an array in Jax numpy e.g. `init_state = jnp.array([psi_0, psi_1, psi_2, psi_3])` like you would do it in pennylane numpy `i

[2021-06-17 22:30] thisac opened #1415 "Copy and deepcopy of a non-parametrized operation only references `op.matrix`"
#### Issue description

When copying a non-parametrized operation, e.g. CNOT, the matrix is only copied as a reference. This is the case when using both `copy.copy` and `copy.deepcopy`. The following:

[code]
outputs:
[code]

* *Expected behavior:* (What you expect to happen)
I would expect at least deepcopy to make a deep copy of all the internal data.

* *Actual behavior:* (What actually happens

[2021-06-18 06:39] josh146 commented on #1415
@thisac I believe this was intentional, however for the life of me, I cannot remember the reason 🤔

Perhaps to avoid having to copy large numpy arrays in memory?

[2021-06-18 06:59] josh146 commented on #1412
Thanks for catching this @rmoyard!

For `finite-diff` and `parameter-shift`, the JAX interface gets applied. This performs the following logic:

1. Input JAX `DeviceArrays` are unwrapped into NumPy arrays, and are marked as trainable
2. The forward and backward pass are computed using NumPy arrays
3. The output is converted back into `DeviceArrays`

For `backprop`, the interface _is not applied_.

[2021-06-18 08:53] josh146 commented on #1092
@albi3ro yes, you're right - `adjoint` is not yet chosen by the 'best' logic, since it is not up to feature parity. However, it will be included in the 'best' logic at some future point.

Just an update for those reading this issue: more discussion has taken place in #1406, and I suggest we instead _allow_ finite-shots within the adjoint method, by sampling the statevector inner-products computed

[2021-06-18 12:51] co9olguy commented on #1415
I seem to remember that things also just did not work if a deep copy was made. Something to do with the dependency graph for tracking differentiation maybe?

[2021-06-18 15:23] #1386 closed

[2021-06-18 21:46] antalszava opened #1418 "Allow finite-shots within the adjoint method"
We would like to allow finite-shots within the adjoint method, by sampling the statevector inner-products computed by the adjoint method. Care should be taken to ensure that the shots statistics match the parameter-shift shot statistics!

Further details can be found in #1092 and #1406.

[2021-06-18 21:46] antalszava commented on #1092
Closing this as the original bug was resolved, but opened another one dedicated to the last point.

[2021-06-18 21:46] #1092 closed

[2021-06-21 06:14] josh146 opened #1419 "`default.tensor` does not return correlated samples"
Consider the following QNode:

[code]

The end state of this device is `|00> + |11>`, so the output samples on each wire should be correlated; either both should be -1, or both should be 1:

[code]

However, `default.tensor` currently samples from each wire independently, resulting in no correlation:

[code]

This issue would be resolved by porting `default.tensor` to `QubitDevice`, which has supp

[2021-06-21 13:55] #1385 closed

[2021-06-22 07:59] dwierichs opened #1424 "Parameter-shift Hessian of multi-observable circuits incorrect"
#### Issue description

Consider a circuit with an iterable of `qml.expval`s returned and a cost function that sums this iterable (using the PennyLane version of numpy):

[code]
Now evaluate the second order derivative of this circuit, once via manual finite difference, once via parameter shifts:
[code]
We consistently find the latter output to be twice the correct value. When switching to `diff_m

[2021-06-22 15:38] albi3ro commented on #1424
Taking a look.

[2021-06-22 19:07] albi3ro commented on #1424
Pretty sure the problem is on [interfaces/autograd.py Line 262](https://github.com/PennyLaneAI/pennylane/blob/25284ed58880fa6658676d2184eff5dd4503d699/pennylane/interfaces/autograd.py#L262).

But I never quite understood that line in the first place, so I'll try and work out what that line is supposed to be.

[2021-06-23 02:48] ChrisW918 opened #1428 "Feature Request for Additional Ansatzes in Quantum Chemistry"
I tried to test VQE algorithm for calculating the ground state energy of an arbitary molecule, using UCCSD as ansatz and existing Optimizer in NumPy interface.

And I would like to apply for additional ansatzes such as _UCCS_, _Hardware efficient_, and _UCCD_ to compare the results with.

Since intuitatively UCCS may contribute to more accurate energy in some Hydro-based models, and it appears the

[2021-06-23 07:43] josh146 commented on #1424
Ah, I can provide some insight, but not all unfortunately.

* In the case that the QNode simply returns a scalar, then `dy == [1]`, and the vector-Hessian product is simply `ddy @ hessian`.

* If the QNode instead returns a _vector_, then this section of the code will be called twice. The first time with `dy = [1, 0]` (I believe), and the second time with `dy = [0, 1]`. Hence why we contract with

[2021-06-23 08:11] rmoyard opened #1429 "Some `Qchem` tests are failing due to new release of `H5Py` 3.3.0 which is used in `PyScf`"
#### Issue description

Some `Qchem` tests are not passing due to the new release of `H5Py` 3.3.0 which is used in `PyScf`. The quick fix is to use an older version of `H5Py` when installing dependencies in the test environment until `PyScf` has introduced a fix.

#### Source code and tracebacks
A failed test example:

[code]

[2021-06-23 12:58] josh146 opened #1431 "Add support for returning raw samples from QNodes"
Currently in PennyLane, if you want to return samples from a QNode, you must specify the observable to sample. For example,

[code]

When requesting samples of observables, the `QubitDevice` class will extract the raw samples from the device (for qubit-based devices, these are the computational basis samples 0 or 1), and post-process them according to the observable in question. In this example, t

[2021-06-23 14:19] albi3ro opened #1432 "Temporarily setting shots for gradient"
Currently, you can temporarily set the number of shots for a circuit execution by passing in the keyword `shots`:

[code]

We should be able to do the same thing for a parameter-shift gradient calculation:

[code]

Currently, this only alters the first circuit execution, before reverting to the default for the parameter-shift executions.  It may be useful to alter the shots information for the ent

[2021-06-23 14:20] josh146 commented on #1432
Good catch, I remember @mariaschuld and I discussing this during the shots refactor!

This is one of those cases where TF/Torch need to be treated more carefully than Autograd and JAX, since the backward pass can be performed independently of the forward pass.

[2021-06-23 20:44] ixfoduap commented on #1428
Hi @ChrisW918, thank you for this suggestion.

Our team has indeed been looking at new templates for quantum chemistry, although we are pursuing different ansatze than the ones you are suggesting.

More recently, we added the [AllSinglesDoubles](https://pennylane.readthedocs.io/en/stable/code/api/pennylane.templates.subroutines.AllSinglesDoubles.html) ansatz, which is similar to UCCSD, but much mo

[2021-06-24 02:28] ChrisW918 commented on #1428
That's great! @ixfoduap Thanks for reply.

[2021-06-24 10:07] #1224 closed

[2021-06-25 02:04] #1428 closed

[2021-06-28 14:29] #1290 closed

[2021-06-28 14:29] Jaybsoni commented on #1431
Hi Josh, thanks for the feature request ! I had a chance to look over some of the source code last night and I just wanted to confirm my understanding and run some questions by you before I start implementing a solution. (As this is part of the technical assessment, feel free to not answer some of my questions if you want me to figure them out myself.)

Below I describe my current understanding of

[2021-06-28 15:20] josh146 commented on #1431
Hi @Jaybsoni!

Your understanding is spot on 🙂

Just to expand a bit, the reason I avoid saying 'computational basis samples' is that in PennyLane we _also_ support photonics/continuous-variable devices, that return samples from the Fock space.

Yes, I lean towards this as well. The main reason I also suggested a separate `qml.basis_samples` is that, since it would be self-contained, it might be e

[2021-06-30 05:52] Jaybsoni commented on #1431
Hi @josh146,

Thanks for the clarification! I have begun implementing a solution. Here is a quick status update for you:
(you can find the code at: https://github.com/Jaybsoni/pennylane/tree/raw_samples)

**Updates:**
- Updated `sample(op)` in measure.py:
      -  to accept `op=None` and added optional argument `wires`
      - updated documentation to describe the new functionality
- Updated `Qubi

[2021-06-30 06:13] josh146 commented on #1431
Hi @Jaybsoni, awesome to hear!

Could I get you to open a work-in-progress PR here in the PennyLane repo with your branch? Simply prepend the title with `[WIP]` 🙂

That way, if you have any questions or issues, you can simply leave a comment at the specific code line and tag me in it.

[2021-06-30 13:23] Jaybsoni commented on #1431
Hey @josh146, I have opened a work-in-progress PR:  #1441

I don't think I have any specific questions for you yet. I want to spend some more time looking through the error messages before I reach out for help.

I do have a clarification question:
- I have only updated the sample code in the `QubitDevice` class, but I think you want this update to apply to any device that pennylane can interface w

[2021-06-30 13:57] antalszava opened #1443 "Update the resolution of the `qml.CY` operation when drawn"
**Context**

When drawing a circuit that contains a `qml.CY` operation, there is no distinction between the control and target qubits, both qubits are represented with the `CY` string. This is in contrast with how other controlled operations are drawn. As examples, for the `qml.CNOT` and `qml.CZ` operations, a `C` character represents the control qubit and an `X` or `Z` character represents the ta

[2021-06-30 17:01] josh146 commented on #1431
While all qubit devices inherit from `QubitDevice`, all other devices (including the CV devices) inherit from the parent `Device` class 🙂

For example:

- `default.gaussian`, a Gaussian photonic simulator built-in to PennyLane, inherits from `Device`
- `strawberryfields.fock`, a Fock-space photonic simulator provided by the PennyLane-SF plugin, inherits from `Device`.

I don't think `default.gauss

[2021-07-01 14:53] #1424 closed

[2021-07-02 15:34] #1296 closed

[2021-07-03 01:35] santoshkumarradha commented on #1116
Closed with Pennylane 0.16.0

[2021-07-03 01:35] #1116 closed

[2021-07-05 12:06] rmoyard opened #1447 "All controlled operations should belong to the class `Controlled`"
#### Issue description

Most of controlled gates are not in the `ControlledOperation` class, therefore you cannot easily check if an operation is controlled and you cannot access the control wires directly if you don't know the operation. Because of this behavior, it is complicated to write algorithms that use the fact that certain gates are controlled or not. Every controlled operation should be

[2021-07-05 15:23] KetpuntoG opened #1448 "QFT adjoint operator does not work"
#### Issue description

When I try to perform the inverse of the QFT operator, it does not include it in the circuit (and no error appears).

#### Source code and tracebacks

[code]
This is the output:

 0: ─────╭QFT──╭┤ State
 1: ──X──╰QFT──╰┤ State

[ 5.00000000e-01+0.000000e+00j  3.06161700e-17+5.000000e-01j
 -5.00000000e-01+6.123234e-17j -9.18485099e-17-5.000000e-01j]

[2021-07-05 20:05] PCesteban opened #1449 "`qml.fourier.coefficients` won't work with more than one expectation value"
#### Issue description

When I try to calculate the Fourier coefficients with the new module `qml.fourier` if the circuit has more than one measurement an error appears.

#### Code:
[code]
#### Output:
[code]

[2021-07-05 22:16] antalszava commented on #1449
Hi @PCesteban, thank you for posting! We'll have a look at it.

[2021-07-05 23:24] antalszava commented on #1448
Hi @KetpuntoG, thanks for reporting this! :100: We'll take a look. :slightly_smiling_face:

[2021-07-06 00:12] #1347 closed

[2021-07-06 08:01] mariaschuld commented on #1449
@PCesteban I am curious what your use case is here? If I am not mistaken, a Fourier series is only defined for a function (in the mathematical sense), which is a map from inputs to a scalar output.

I made a PR to be more clear in the docs that a QNode must return a scalar for this to work, which is intended behaviour.

[2021-07-06 09:49] josh146 commented on #1415
Yes, this could be the case. I'm tempted to label this as 'won't fix', because:

- The current behaviour is expected behaviour. If it is surprising, it should be better documented in the developer documentation.
- I'm unsure there is a use-case where copying the operations requires parameters to be copied. @thisac correct me if I'm wrong - was there an issue in a PR that uncovered this issue, or w

[2021-07-06 14:26] PCesteban commented on #1449
Hi @mariaschuld,  I was just checking the new features and trying different things, and I thought it would be possible to calculate the coefficients for two expectation values of the same circuit since this can be done separately and the result is different for each case.

Just to clarify, if I want to see the representation of a complete quantum model in Fourier series, to calculate the coefficie

[2021-07-06 14:31] PCesteban commented on #1449
Hi @mariaschuld,  I was just checking the new features and trying different things, and I thought it would be possible to calculate the coefficients for two expectation values of the same circuit since this can be done separately and the result is different for each case.

Just to clarify, if I want to see the representation of a complete quantum model in Fourier series, to calculate the coefficie

[2021-07-06 15:15] glassnotes commented on #1449
Hi @PCesteban ,

Yes that's correct - the expectation value could be something like `qml.expval(qml.PauliZ(0) @ qml.PauliX(1) @ qml.PauliY(2)...)`, the only restriction is that there is just the one. As Maria mentioned this is just a consequence of how the Fourier series/transform is defined; the circuit plays the role of the multi-input function, and the measured expectation value is the scalar o

[2021-07-06 15:59] PCesteban commented on #1449
I see... Thank you @glassnotes !! 🙏

[2021-07-07 05:51] mariaschuld commented on #1449
@PCesteban let us know if you pick up anything else, your feedback is very valuable!

[2021-07-07 14:37] thisac commented on #1415
This is not connected to any issues. I found it slightly unexpected, or at least potentially misleading

I fully agree with this! I have no strong feelings about this at all, but I'm thinking that it could lead to confusing bugs (although I can't really see that this would happen often). Would it be good to add a warning if a user attempts to deepcopy an operation? Especially if other things might

[2021-07-07 15:10] glassnotes commented on #1218
This can be closed now that #1433 is merged :tada:  :tada:

[2021-07-07 15:10] #1218 closed

[2021-07-07 15:10] josh146 commented on #1415
I lean towards not, since we can't properly distinguish between PL itself performing deepcopies or users performing deepcopies. The core itself might create deepcopies, which would result in a cascade of warnings appearing to unexpected users 😆

[2021-07-07 15:29] albi3ro commented on #1415
For the CNOT case, the matrix is a class variable, so even independent objects have correlated `matrix` values:

[code]

[code]

[2021-07-07 16:53] albi3ro opened #1452 "Parameters in MultiControlledX"
As I was inspecting the `MultiControlledX` gate, I noticed how it printed out:

[code]

And was quite confused as to where the array came from.  It turns out `MultiControlledX` inherits from `ControlledQubitUnitary` with the Unitary matrix as an X gate. This makes `MultiControlledX` a parametrized gate.

Worse yet, that gate is trainable:

[code]

This further indicates to me that how we treat nev

[2021-07-07 18:02] PCesteban commented on #1449
Sure!, I will.

[2021-07-08 13:23] #1449 closed

[2021-07-08 16:00] albi3ro opened #1454 "Divide `qubit.py` into multiple shorter files"
The [ops/qubit.py](https://github.com/PennyLaneAI/pennylane/blob/master/pennylane/ops/qubit.py) file holding all qubit ops is 3412 lines long.  While usually I just search for the operation I want, the file is still too unwieldy.

I propose dividing this file up into multiple files by:
* non-parameterized basic ops
* parameterized basic ops
* Chemistry ops
* Observables
* Arbitrary unitary type op

[2021-07-08 16:04] josh146 commented on #1454
💯

[2021-07-08 16:31] glassnotes commented on #1454
This would be amazing! We could do it for the tests as well, it'd make things a lot cleaner :star:

[2021-07-08 19:10] antalszava commented on #1454
Maybe also good to include an `__init__.py` file where the names are imported, so that the `ops.qubit` references across the docs & potentially plugins will continue working.

[2021-07-09 16:25] #1448 closed

[2021-07-09 20:54] tgag17 commented on #1452
Hi! Can I work on this issue?

[2021-07-12 05:28] josh146 commented on #890
Closing this now that Hessian support is built in to PennyLane

[2021-07-12 05:28] #890 closed

[2021-07-12 05:28] josh146 commented on #1068
@albi3ro has there been work on fixing this bug?

[2021-07-12 05:29] josh146 commented on #1293
@albi3ro, can we close this with the addition of [`qml.specs`](https://pennylane.readthedocs.io/en/stable/code/api/pennylane.specs.html)?

[2021-07-12 05:31] josh146 commented on #1281
Hey @oumjunior, did using `qml.Rot` solve this issue for you? Since these gates are equivalent (up to a global phase), I will close this issue for now. Feel free to re-open, or create a new one, if you have any more issues!

[2021-07-12 05:31] #1281 closed

[2021-07-12 05:32] josh146 commented on #1264
Closing this, as the 4-term shift rules have been added.

[2021-07-12 05:32] #1264 closed

[2021-07-12 05:32] josh146 commented on #1187
@antalszava what is the status of this PR? Has it since been updated?

[2021-07-12 05:33] josh146 commented on #1429
@rmoyard in the meantime has PySCF released an update to support h5py 3.3?

[2021-07-12 12:09] antalszava commented on #1187
This specific issue has not been updated or addressed by a PR since it's been opened.

[2021-07-12 12:59] albi3ro commented on #1293
Yep.

[2021-07-12 13:00] #1293 closed

[2021-07-12 13:25] albi3ro commented on #1068
I don't get a KeyError when calling the above code. As you said above, the KeyError was probably an older version pre-fix thing.

  Are we switching `0'1` to `0,1`?

[2021-07-12 13:37] albi3ro commented on #1452
Thanks @tgag17 ! 👍

I assigned you the issue.  Feel free to ask any additional questions here or when you open a PR.

[2021-07-13 16:10] glassnotes opened #1457 "[BUG] Error when applying `qml.adjoint` outside a tape context"
* *Expected behavior:* (What you expect to happen)
The documentation for `qml.adjoint` includes the example
[code]
  I expect this to produce the gate that is the adjoint.

* *Actual behavior:* (What actually happens)
The following error is thrown, related to there not being an active tape context:
[code]
* *Reproduces how often:* (What percentage of the time does it reproduce?)

Always, and for a

[2021-07-16 14:04] as3232cornell opened #1459 "WireError being thrown whenever running circuits where wire names are given explicitly"
I have recently run a clean install of Pennylane in a new environment, and now when I run circuits where the wires are provided explicitly, for example

[code]

I get the following error

[code]

This never happened previously. Can someone help me debug?

My python version is 3.9.5, and here are the installed packages:

# Name                    Version                   Build  Channel
_libgcc_mut

[2021-07-16 19:41] thisac commented on #1459
Hi @as3232cornell. Thanks for letting us know about this. It seems to be an issue with PennyLane casting non-tensor positional arguments to `pennylane.numpy.tensor` objects, which, in your example, tries to apply the gate to wire `tensor(0)` instead of wire `0`. This fails since there's no `tensor(0)` wire.

To solve this you could pass the wires range as a keyword argument, which would be interpr

[2021-07-19 11:05] #1257 closed

[2021-07-19 14:15] glassnotes opened #1462 "Add a transform `get_unitary_matrix` to obtain matrix representations of circuits"
As suggested in #1458, it would be useful to have a transform to obtain the matrix representation of a quantum function. The transform should look and behave like the following pseudocode (similar to the `draw` or `specs` transform):

[code]

This transform should be able to process *all* operations, including controlled gates on non-adjacent wires or wires in reverse order.

Note: this was writte

[2021-07-19 14:17] glassnotes commented on #1313
Closing in favour of #1462.

[2021-07-19 14:17] #1313 closed

[2021-07-19 15:37] josh146 commented on #1462
Oh! Actually, should we have both? The QNode function can just call this qfunc transform and pass the device wires as an argument.

This feels more flexible, since then you can use it even if you don't have a device

[2021-07-19 15:48] glassnotes commented on #1462
Yes, great idea! :100:

[2021-07-20 07:25] #1431 closed

[2021-07-21 08:49] antalszava commented on #1068
This is indeed solved with the latest version of PennyLane.

It seems, that using a comma is more intuitive to us when extending the OpenFermion convention to Hermitian.

*Current convention*
[code]
*With a comma as separator*
[code]

Produced by
[code]

I think it's worth doing that, yes.

[2021-07-21 09:16] antalszava commented on #1068
Opened #1465, but can close/refine if there are any objections to this change.

[2021-07-22 11:36] cvjjm opened #1468 "Generalize qml.probs() to compute probabilities with respect to an eigenbasis"
This is a whish list item. It would be nice if qml.probs() would accept an optional Hermitian array and would then return the probabilities with respect to the eigenstates of that observables. On state based simulators this could be achieved by using the logic that is currently in Hermitian to rotate into the eigenbasis of an observable and then the usual probs() logic would compute the correspond

[2021-07-22 14:45] #1068 closed

[2021-07-22 15:57] tlubowe commented on #1468
Hi Christian, thank you for the feature request, we'll look at adding this in the future.

[2021-07-23 15:38] antalszava commented on #1459
Hi @as3232cornell, just another update on this issue. We're considering a long term solution here, though it seems that a more fundamental change will be required in PennyLane.

Having the change in will likely take some time, hopefully, it will make it into a future release. While we're at it, let me remove the bug label here, the workaround that Theodor posted should work well.

Let us know if w

[2021-07-23 15:45] as3232cornell commented on #1459
Ok, thank you!

On Fri, Jul 23, 2021 at 11:38 AM antalszava ***@***.***>
wrote:

--
Abhijat Sarma

Physics, College of Arts and Sciences

Cornell '24

***@***.***

7326049133

[2021-07-23 17:07] josh146 commented on #1447
@glassnotes correct me if wrong, but I believe this issue is still open?

[2021-07-23 17:08] glassnotes commented on #1447
Yes! I didn't expect the PR to close it.

[2021-07-23 19:56] anushkrishnav commented on #1452
It's been 2 weeks already is someone working on it or can I contribute?

[2021-07-24 11:51] tgag17 commented on #1452
Hi @anushkrishnav! I am working on it. Actually I was busy with some exams last week and am planning to make a PR this week.

[2021-07-25 20:53] santoshkumarradha commented on #1468
+1 this would be a great feature !

[2021-07-26 14:59] albi3ro commented on #1452
Thanks for the update @tgag17 .

@anushkrishnav , we have multiple other [good first issues](https://github.com/PennyLaneAI/pennylane/contribute) and are adding more all the time. If you don't see something promising right now, you can check back later and maybe we'll have added something.

[2021-07-26 15:10] albi3ro opened #1477 "Make QFT a template instead of an operation"
The [QFT operation](https://github.com/PennyLaneAI/pennylane/blob/459b5cd9be57c228c115c9e534aa23e564f582d2/pennylane/ops/qubit/non_parametric_ops.py#L993) fits better as a template rather than a core operation.  It can accept any number of wires and adjusts accordingly.  While it has a matrix, we think of it more as a combination of gates.

Moving it would involve:
* Creating a new file in the [su

[2021-07-26 22:11] #1372 closed

[2021-07-27 12:12] antalszava commented on #424
We now have a test for the `qml.refresh_devices` function: https://github.com/PennyLaneAI/pennylane/blob/e5f9b53e93d708c9a2121dd1fbd4ce8f782b9df4/tests/test_device.py#L808

One thing where we could improve is testing the `device` function too:
https://github.com/PennyLaneAI/pennylane/blob/master/pennylane/__init__.py#L132

[2021-07-27 17:13] albi3ro commented on #1452
@tgag17 I'd just like to let you know about the pending reorganizing of the qubit operations in PR #1467 .  Currently, `MultiControlledX` will be moved to the `matrix_ops`.  Once it no longer inherits from `ControlledQubitUnitary`, it can be moved to the `non_parametric_ops.py` file.

[2021-07-27 20:43] trbromley opened #1480 "[BUG] Incorrect shot batching behaviour in ExpvalCost when optimize=True"
### Expected behavior

Suppose we want to evaluate the expectation value of a Hamiltonian:
[code]
We want to do this using batched-shots
[code]

To do this in PennyLane, we use `ExpvalCost`. There are options based on the `optimize` flag, which sets whether to group commuting observables:
[code]

Evaluating the result with `optimize=False` gives the expected output shape:
[code]

### Actual behavi

[2021-07-27 20:47] trbromley commented on #1480
Do we need to edit the template to automatically format to Python? See below:
![image](https://user-images.githubusercontent.com/49409390/127224841-1128d7f7-73a8-424e-884b-061f2f2c565d.png)

Otherwise, template was fun to use! The "System information" felt a bit unnecessary for this post, but I can understand why it's there as a required field.

[2021-07-28 13:09] trbromley opened #1481 "[BUG] Using finite shots with a backprop device should raise an error"
### Expected behavior

Suppose we load a backprop-compatible device with a finite number of shots specified:
[code]
We then bind that device to a QNode with the backprop diff_method:
[code]

My expectation would be to raise an error at this point, since I believe the backprop diff_method only makes sense when operating in analytic mode.

### Actual behavior

We fall into [this](https://github.com/

[2021-07-28 13:57] mariaschuld commented on #1480
@trbromley we are busy finding a better way to integrate `shot_batch`. Basically, it will always be ambivalent if we set it in the device, but use the device to do all sorts of things. The solution we are exploring is to do the grouping and shot distribution when creating the Hamiltonian (otherwise using a default).

So I personally suggest fixing this with the new VQE design!

[2021-07-28 14:45] #1001 closed

[2021-07-28 14:48] #1161 closed

[2021-07-28 14:50] #1231 closed

[2021-07-28 14:51] #1240 closed

[2021-07-28 17:13] PabloAMC commented on #1288
Hi everyone! I made a small example of creating a VQE Pytorch Lightning module: https://colab.research.google.com/drive/1vtJuYNnmZJFv5BLyslF0OpQ4FNiHZ2J0?usp=sharing
It still needs some debugging though, specially with the weight_shape parameter in the torch_layer @josh146

[2021-07-28 20:14] trbromley commented on #1288
Thanks @PabloAMC, looks exciting! Regarding the `weight_shapes` dictionary, every key should match one of the arguments of your `circuit` function, except for `inputs`. So you could either define a single shape for `weights` (though not sure if that makes sense in this case) or have `phi` and `psi` as the argument names in `circuit`.

Note however that returning `qml.ExpvalCost` is not supported -

[2021-07-28 22:41] PabloAMC commented on #1288
Hey @trbromley I think I am close to making it work. I am however having trouble with
[code]
It seems it is not adapted to broadcasting a batch

[2021-07-29 00:18] m-pedro commented on #1288
This looks awesome, thanks @PabloAMC.
@tchaton - take a look!

[2021-07-29 17:49] #1454 closed

[2021-07-29 20:27] trbromley commented on #1288
Hey @PabloAMC! If I understand correctly, you would like to evaluate
[code]
where `coordinates` might be a batch of coordinates? Right now, the `molecular_hamiltonian()` function doens't support batching so you may have to adapt into a `for` loop if you have multiple coordinates. [This](https://pennylane.ai/qml/demos/tutorial_chemical_reactions.html) tutorial has an example of iterating over multi

[2021-07-30 15:48] glassnotes commented on #1363
Can we close this now that #1485 was merged?

[2021-07-30 15:52] josh146 commented on #1363
I believe so, yes. Might be good to test the code in the description to make sure it now works on master!

[2021-07-30 15:57] glassnotes commented on #1363
Yup, we're good to go! :tada:

[2021-07-30 15:57] #1363 closed

[2021-07-31 18:46] arshpreetsingh opened #1488 "[Quantum-Cloud] Helm Chart for easy deployment of API-Server to "Deploy and Serve" Hybrid Models"
### Feature details

**Benefits of Deploying and Serving Hybrid Model using REST API:**
* End User would be able to get model results on any device, even inside Android/IOS applications if required.
*  Hybrid models will be easy to use and test inside other applications/Models without much hassle.
* An ecosystem for hybrid models.
* Each model's results could be easily tested for different goals a

[2021-08-03 12:21] tgag17 commented on #1452
Hi @albi3ro! I have been recently facing technical difficulties and thus haven't made a PR yet. I would not like to keep this issue on hold till the problem is fixed and would be happy if the issue is handed over to anyone who is interested in solving it. If the issue remains open after the problem is solved I would make a PR ASAP.
Sorry for the inconvenience.

[2021-08-04 04:50] antalszava commented on #1488
Hi @arshpreetsingh, thank you for the interesting feature description!

From my side, I'd further be curious about some implementation details.

In specific:

- There are several components noted in the implementation section. Would all of them be required to stand up the service?
- Just to double-check: the volume Node would be long running on Kubernetes, correct?
- Any further details on the imp

[2021-08-04 17:16] antalszava opened #1496 "Add validation check for options passed to the `qml.qnode` decorator and to `qml.QNode`"
### Feature details

It would be nice to have a validation check for keyword arguments passed to `qml.qnode` and `qml.QNode`. Options that are unrecognized should raise a warning.

Consider e.g., the following:
[code]
As the keyword for choosing the differentiation method is `diff_method` instead of `grad_method`, the above snippet would execute well, although the `'qulacs.simulator'` device doesn

[2021-08-05 08:51] ankit27kh opened #1498 "[BUG] WireError in code example from the documentation"
### Expected behavior

Trying to run the NumPy interface examples from the Gradients and training section of the documentation. The expected behaviour is to get the provided result.

https://pennylane.readthedocs.io/en/stable/introduction/interfaces/numpy.html

### Actual behavior

Code fails with pennylane.wires.WireError

### Additional information

Not doing anything extra. Just trying to run t

[2021-08-05 09:28] mariaschuld commented on #1498
@ankit27kh thank you for reporting. This is a manifestation of a known problem (see also Issue #1459).

Basically, you are calling your gates like `qml.RY(weights[1], wires=wires[1])` with wires of the form `wires[i]`. But your wires argument is a numpy tensor. This means that `wires[0]` is a numpy tensor of the form `tensor(2, requires_grad=0)`. PennyLane tries to find a wire `tensor(2, requires_

[2021-08-05 09:41] ankit27kh commented on #1498
Thanks for your reply. Your workaround does work.

As I said, this code was directly taken from the pennylane website without modifications. This just makes it look bad as the provided 'official' code meant for learning is not working.

`wires = np.array([2, 0, 1], requires_grad=False)`
`wires` is defined like this stating '`requires_grad=False'`. Shouldn't this mean that no gradient is supposed t

[2021-08-05 09:51] mariaschuld commented on #1498
Ah, I totally overlooked what you said on where the code is from.

You are completely right, this is a severe oversight. We try to keep the code examples in the documentation up-to-date, but with PennyLane's fast development cycles we sometimes need feedback like yours to find the bugs. Thanks!

We will update the documentation accordingly.

[2021-08-05 10:19] mariaschuld commented on #1498
For your convenience, the updated example (which uses now the recommended way to go about things) is this:

[code]

As you can see, the `wires` argument is passed as a keyword arg everywhere, and it is specified as a list of integers as usual. Hope this makes a lot more sense now!

[2021-08-05 12:40] #1498 closed

[2021-08-05 12:55] trbromley opened #1500 "[BUG] Unexpected behaviour when using tape.to_openqasm()"
### Expected behavior

Consider the tape
[code]
Note that the first gate is applied to wire 1 and `tape.wires = <Wires = [1, 0]>`.

We know convert to QASM:
[code]
We see that the wires have been permuted, i.e., with X being applied to wire 0 and Y being applied to wire 1.

This can be fixed by specifying a wire ordering in `to_openqasm()`:
[code]

### Actual behavior

The permuted wire ordering i

[2021-08-05 14:15] josh146 commented on #1500
@trbromley this is expected behaviour, unfortunately! As you say, the tapes wires, since the wire refactor, have no inherent order; if you want a specific order, you need to pass `wire_order`.

If not provided, the default wire order is simply assumed to be the wire order of operations on the tape; hence why in this case you have 1, 0.

Note that this is mitigated somewhat at the QNode level. Sinc

[2021-08-05 20:09] rmlarose commented on #1500
Thanks all! For me the other unexpected behavior is that `tape.to_openqasm()` measures all qubits even though no measurements may be present. E.g., the first example of https://github.com/PennyLaneAI/pennylane/issues/1500#issue-961796761:

Thoughts on only measuring the qubits in QASM that are measured in the tape?

[2021-08-06 09:18] josh146 commented on #1500
@rmlarose that is a good point! We can definitely alter this behaviour. I'm not 100% sure _why_ all qubits are currently measured; it could be one of two things:

- An oversight when we first implemented this
- Or, one of the hardware backends required that all qubits be measured(?), which perhaps biased our implementation.

[2021-08-06 10:12] n45800 commented on #1365
Can i help on this ?

[2021-08-06 12:10] glassnotes commented on #1365
@n45800 absolutely! Please go right ahead, and feel free to let us know if you have any questions :grin:

[2021-08-07 02:47] Zer0points commented on #1443
Hi, could I pick up this issue?

[2021-08-08 03:34] antalszava commented on #1443
Hi @zer0points, sure, thanks for the interest! :slightly_smiling_face: Let us know if you'd have any questions regarding how the circuit drawer is working.

[2021-08-09 09:13] albi3ro commented on #1452
No problem @tgag17 . I'm sorry this ended up being more difficult. It's hard to know how difficult a problem is to solve without solving it sometimes.

I just restricted the operations file, which might have made merging with master difficult. Can you tell us anything about the problems you ran into?

[2021-08-09 09:23] albi3ro commented on #1488
Seems to me this is relevant to deploying models in production.  Seems to me like QML is a long way from being useful in a production environment, instead of just R&D.

How would this actually be helpful at this point in time to Quantum Computation? What would be a concrete example use case?

[2021-08-09 16:39] antalszava opened #1507 "Validation check for the arguments passed to `qml.operation.Observable`"
### Feature details

Observables have a logic in that attempts to support a "shorthand" way of construction:

[code]
This is in contrast with `qml.PauliZ(wires=0)`.

However, when no arguments are passed, an `IndexError` is raised because there's an attempt to access the first argument passed:
[code]
[code]

This feature request aims at adding a validation check for operations when not passing any

[2021-08-11 11:22] albi3ro opened #1514 "Add matrix form to Grover Operator"
While the [`GroverOperator` template](https://github.com/PennyLaneAI/pennylane/blob/master/pennylane/templates/subroutines/grover.py) is a template and currently only has an expansion in terms of gates, we could define a [`matrix` attribute](https://pennylane.readthedocs.io/en/latest/code/api/pennylane.operation.Operator.html#pennylane.operation.Operator.matrix) for more efficient use of the templ

[2021-08-11 15:35] antalszava opened #1516 "Create `default.mixed.jax`"
### Feature details

We would like to create a version of the `default.mixed` simulator that is native in Jax. This can be achieved by creating a device that only uses Jax data structures under the hood (akin to `default.qubit.jax`).

There would be two advantages to having such a device:

* The device would support backpropagation and so `diff_method='backprop'` would be supported;
* It would all

[2021-08-11 15:39] antalszava opened #1517 "Create `default.mixed.tf`"
### Feature details

We would like to create a version of the `default.mixed` simulator that is native to TensorFlow. This can be achieved by creating a device that only uses TensorFlow data structures under the hood (akin to `default.qubit.tf`).

There would be two advantages to having such a device:

* The device would support backpropagation and so `diff_method='backprop'` would be supported;
*

[2021-08-12 09:57] mariaschuld opened #1518 "Add function to get grouping indices to grouping module"
Given a list of observables, the `grouping` module computes groups of commuting observables:

[code]
Computing which elements of the observable list group together is very costly, and we [are planning to store information](https://github.com/PennyLaneAI/pennylane/pull/1515/files) about groupings in a Hamiltonian observable, so any part of the PennyLane pipeline can (re)use it.

It would be most us

[2021-08-12 10:05] mariaschuld opened #1519 "Improve drawing of Hamiltonians"
Since [Hamiltonians are now observables with differentiable coefficients](https://github.com/PennyLaneAI/pennylane/pull/1483), drawing a circuit with a Hamiltonian looks as follows:

[code]

[code]

However, information about the observables is not shown. Instead we could use the solution of how arbitrary unitaries get printed below the circuit:

[code]

This would require an update in `qml.circui

[2021-08-12 10:12] mariaschuld opened #1520 "Rewrite ``math.allclose`` to not rely on numpy coercion."
Currently, `math.allclose` does the following:
[code]

While this works in most cases, it _does not work when using a JIT_. E.g., if you decorate your QNode/cost function with `@jax.jit` or `@tf.function`, then it will complain at this line.

This is a restriction of using the JIT --- on first pass, the cost function is traced with _valueless_ tensors, compiled, and only later are the actual value

[2021-08-12 15:19] mlxd opened #1521 "Create JIT compiled device"
### Feature details

As PennyLane has support for multiple plugins to provide simulation of quantum circuits using a variety of different software and hardware devices, there can be many ways to reduce call overheads for circuits with many repeated gate-calls. One such method is the use of just-in-time compilation techniques. This task requires the use of the Numba library to develop a PennyLane d

[2021-08-13 20:11] #1265 closed

[2021-08-14 19:32] co9olguy commented on #1457
@antalszava Any status updates on this bug? Is it fixed in the upcoming release candidate?

[2021-08-15 07:48] AkashNarayanan commented on #1365
Hi! Can I still work on this issue?

[2021-08-15 14:30] antalszava commented on #1457
Have a fix in the pipeline for this, the originally posted approach should work well. The logic in `qml.adjoint` didn't consider being outside of a queuing context.

[2021-08-15 22:10] antalszava opened #1527 "Add the `SISWAP` operation"
### Feature details

We would like to define a new operation called `SISWAP`, that is the square-root of the `qml.ISWAP` operation. See [further details here](https://arxiv.org/pdf/2105.06074.pdf).

### Implementation

*List of tasks for completion:*

*A. Adding the operation*

1. Adding the `SISWAP` new class for the operation to `pennylane/ops/qubit/non_parametric_ops.py`. Complete its docstring

[2021-08-15 22:17] antalszava opened #1528 "Modify `default.mixed` to use `qml.math` for native autodiff backpropagation support"
### Feature details

We would like to create a version of the `default.mixed` simulator that can perform computations native to the TensorFlow, PyTorch and Jax autodiff frameworks. This can be achieved by modifying the existing device to use the `qml.math` module. The `qml.math` module supports dispatching to the aforementioned frameworks by using `autoray`. It allows one to write code that would

[2021-08-15 22:18] antalszava commented on #1516
Closing this as per #1528

[2021-08-15 22:18] #1516 closed

[2021-08-15 22:18] antalszava commented on #1517
Closing this as per #1528

[2021-08-15 22:18] #1517 closed

[2021-08-16 00:38] antalszava opened #1529 "Create `qml.PauliError`"
### Feature details

As requested in #971, we would like to add a channel for Pauli errors.

See the following references:
* https://arxiv.org/pdf/1907.12976.pdf
* https://arxiv.org/pdf/2101.02109.pdf

See the [addition of a Reset error](https://github.com/PennyLaneAI/pennylane/pull/1321) as an example.

### Implementation

*List of tasks for completion:*

A.
1. Add a new `qml.PauliError` class to

[2021-08-16 00:45] antalszava opened #1530 "Add support for `qml.ResetError` in `default.mixed`"
### Feature details

The `qml.ResetError` channel has been added in #1321. We would like to add support for this channel in `default.mixed` and test applying it.

### Implementation

Support for `qml.ResetError` in `default.mixed` would allow the following to execute and yield correct results:

[code]

*List of tasks for completion:*

1. Add support for `qml.ResetError` in the `default.mixed` devi

[2021-08-16 00:57] antalszava opened #1531 "Add deprecation warning for `qml.Interferometer` before renaming"
### Feature details

There is both an operation and a template called `Interferometer` which causes confusion. To resolve this, we'd like to rename `qml.Interferometer` to `qml.InterferometerUnitary`. See more details at https://github.com/PennyLaneAI/pennylane/issues/1256.

First, we would like to add a deprecation warning (at the moment we use `UserWarning`) to the current `ops.cv.Interferometer

[2021-08-16 03:37] AkashNarayanan commented on #1531
Hi! I would like to work on this issue.

[2021-08-16 06:24] anonymousr007 commented on #1477
Hi! I would like to work on this issue.

[2021-08-16 09:04] albi3ro commented on #1477
Hi @anonymousr007 .  Thanks for your interest.

This issue is part of our [Code Together event](https://pennylane.ai/blog/2021/07/pennylane-code-together/) and eligible for extra swag.  Depending on participation numbers, we may have multiple people working on each issue, in which case the first issue to "merge ready" counts.  Participants can also join together into teams if they wish.

Good luck

[2021-08-16 09:10] anonymousr007 commented on #1477
Okay @albi3ro .Yes,I know this issue is the part of [Code Together Event](https://pennylane.ai/blog/2021/07/pennylane-code-together/) and I am a participant of this hackathon.

Finally, I start working on this issue.

Thanks
Best Regards
Rishabh (@anonymousr007 )

[2021-08-16 13:14] albi3ro commented on #1531
Thanks for letting us know @AkashNarayanan !

We look forward to seeing your pull request.

Feel free to comment here or open a "Work-in-Progress" Pull Request if you run into any trouble.

[2021-08-16 15:16] co9olguy commented on #1457
Thanks @antalszava, going to close now. If there's still something to do, feel free to reopen :slightly_smiling_face:

[2021-08-16 15:16] #1457 closed

[2021-08-16 17:56] anonymousr007 commented on #1477
Hi! I am new in pennylane open source system,Can you please tell me what branch we used for pull request ?
It's a lot,I'm little confused

Thanks
Best Regards
Rishabh (@anonymousr007 )

[2021-08-16 18:28] antalszava commented on #1477
Hi @anonymousr007, sure, welcome! :slightly_smiling_face:

You could create a pull request targeting the `master` branch of PennyLane. Let us know if you have any further questions!

[2021-08-16 18:32] anonymousr007 commented on #1477
Hi @antalszava ,Sorry for these silly questions 😅
From `master-anonymousr007` to `master-pennylane` .

[2021-08-16 18:38] antalszava commented on #1477
There are no silly questions. :slightly_smiling_face: The `master` branch of PennyLane is the one to make sure of.

From your fork, you could choose any of the branches that contain the changes to be incorporated. Basically, when the pull request is opened, you're initiating a merge of the branch that you specify in your fork to the `master` branch of the PennyLane repository. You could create a b

[2021-08-16 18:40] anonymousr007 commented on #1477
Now, It's Clear. Thank you so much 😄

[2021-08-16 19:02] anonymousr007 commented on #1477
https://github.com/PennyLaneAI/pennylane/pull/1537
Checkout this, this is my first pull request.

[2021-08-16 21:07] ingstra commented on #1529
Hi! I started looking at this for the _code together_, but I see that Pauli Z (`PhaseFlip`) and Pauli X (`BitFlip`) error channels already exist in `pennylane/ops/channel.py`?

[2021-08-16 21:48] glassnotes commented on #1365
@AkashNarayanan for sure, but perhaps we should check in first with @n45800 to make sure there is not a PR in the works that will be posted soon.

[2021-08-16 22:14] antalszava commented on #1529
Hi @ingstra, indeed, good find! What we'd like for `qml.PauliError` is to stand for any Pauli error acting on an arbitrary number of qubits. To achieve that, the existing `PhaseFlip` and `BitFlip` classes could be used. It's worth noting, that these classes act on single qubits.

[2021-08-17 03:44] wongwsvincent commented on #1530
Hi! I have just created a PR with my attempt on this issue. I believe it's ready for review. Please let me know if there's anything missing.

[2021-08-17 08:03] n45800 commented on #1365
Hi , Akash yes you can work, unfortunately i am too busy these days to do
the update

On Mon, Aug 16, 2021 at 11:48 PM Olivia Di Matteo ***@***.***>
wrote:

[2021-08-17 13:19] antalszava commented on #1530
Hi @wongwsvincent, thank you! :slightly_smiling_face:  We will be having a look at it soon.

[2021-08-17 14:57] ingstra commented on #1507
I'll take a crack at this :blush:

[2021-08-17 15:59] thisac commented on #1507
Thanks @ingstra! There's already a PR up for this one (#1539), but feel free to work on it as well. The first PR to be approved and merge-ready will the the one accepted. Otherwise you can look into one of the many other issues we have as well. 🙂

[2021-08-17 19:59] ingstra commented on #1507
Thanks for letting me know! I had started so I finished with it anyway.

[2021-08-17 20:15] #1292 closed

[2021-08-17 20:39] charmerDark commented on #1527
Hey @antalszava Is there a set of basis gates that have to be used to write the decomposition? or prefered ones?

[2021-08-17 21:31] antalszava commented on #1527
Hi @charmerDark, any should work well.

Preferred gate sets would be single-qubit rotations & an entangler (e.g., CNOT). Overall, most decompositions would be further decomposed implicitly into these elementary gates using PennyLane. Maybe a good approach is to see which decomposition yields the least deep circuit overall when decomposed into elementary gates. Having said that, there's no constrai

[2021-08-17 21:32] antalszava commented on #1527
Good to see your interest in this issue! :slightly_smiling_face:

[2021-08-18 10:33] tgag17 commented on #1452
Hi @albi3ro. Sorry for the late reply.
Actually the part to change the __init__ method was a bit confusing for me. I was not a 100% sure what to add and what to remove. Other than that there were some technical issues on my end and thus I wasn't able to proceed with the issue.

[2021-08-18 10:49] tgag17 commented on #1514
Hi! Can I work on this issue?

[2021-08-18 10:57] abzsd commented on #1514
Can I work on this issue too?

[2021-08-18 13:10] ingstra commented on #1514
I worked on this as well... I will now put a PR with two different options how to construct the matrix

[2021-08-18 13:21] antalszava commented on #1514
Hi everyone, thanks for the interest in this! :slightly_smiling_face: It's okay for multiple people to tackle one issue, you could potentially chat and team up to create a single solution! Alternatively, if multiple PRs are opened, then the first one to be merged will get swag. Let us know if you have any questions!

[2021-08-18 13:35] antalszava commented on #1452
Hi @tgag17, no worries there! The issue is now participating in Code Together and it's even a bounty issue to solve.

Due to the call to `super().__init__` in the current implementation, likely the `__init__` method will require additions similar to the ones in `ControlledQubitUnitary.__init__`. Let us know if you have any specific questions. :slightly_smiling_face:

[2021-08-18 13:35] tgag17 commented on #1514
Hi! I had a question.
Should the matrix be a generalized one (which changes which the number and set of wires) or should these parameters be fixed?
I would also be happy to team up if everyone is up for it!
Thank you!

[2021-08-18 13:46] antalszava commented on #1507
Hi @ingstra and @mayap24 :slightly_smiling_face: Just letting you know, that both of you submitted a solution to this issue. You could consider teaming up potentially to submit a joint solution. Otherwise, the first PR that's merge-ready will be merged in.

[2021-08-18 15:43] tgag17 commented on #1452
Thank you @antalszava! I will try to tackle the issue and get back if I face any issue.

[2021-08-18 16:48] anonymousr007 commented on #1477
[#1556 ](https://github.com/PennyLaneAI/pennylane/pull/1556)
Checkout this, this is my second pull request and please tell me my mistake :(.

[2021-08-18 18:32] #1507 closed

[2021-08-18 19:57] antalszava commented on #1514
Hi @tgag17, the matrix representation could be defined in the `_matrix` method. When using the `matrix` property, the returned matrix would then depend on the parameters with which `GroverOperator` was created, [see here](https://github.com/PennyLaneAI/pennylane/blob/742f2ff067d969a42e380968f36456c995dee2c9/pennylane/operation.py#L326).

[2021-08-18 20:12] antalszava commented on #1514
A correction here: the parameters will likely not be used (as there aren't really any gate parameters), so that might become an unused argument when using `_matrix`. Instead, the wires themselves will be significant.

[2021-08-19 02:00] Christophe-pere commented on #1496
I'm interested to try to work on this. I'm a beginner with Pennylane but, seems interesting.

[2021-08-19 03:32] nahumsa commented on #1399
Hi! Can I work on this issue? :)

[2021-08-19 13:46] antalszava commented on #1496
Hi @Christophe-pere that's great to hear! :) Feel free to open a PR and ask any questions that may arise.

[2021-08-19 13:53] antalszava commented on #1399
Hi @nahumsa, sure! :slightly_smiling_face: It looks that @ankit27kh was also giving this a go. If multiple PRs are submitted, then we accept the first that is merge-ready. Alternatively, you could also submit a solution as a team. Let us know if you have any questions!

[2021-08-19 14:50] #1531 closed

[2021-08-19 15:37] antalszava commented on #1527
@charmerDark for adding support to `default.qubit`, the [PR that added to the `ISWAP` operator to `default.qubit`](https://github.com/PennyLaneAI/pennylane/pull/1298/files) can help along the way. :slightly_smiling_face:

[2021-08-19 15:55] #1530 closed

[2021-08-19 17:29] #1477 closed

[2021-08-19 18:47] licedric commented on #1429
Apparently fixed in https://github.com/pyscf/pyscf/issues/1016 but still only in Alpha.

[2021-08-20 08:13] dwierichs opened #1564 "Optimizers Refactor: Move preprocessing to initialization"
### Feature details

The implementation of optimization methods via `class`es offers more advantages than are currently being used in PennyLane.
The proposed refactor is to reduce the `step` and `step_and_cost` methods to their absolute minimum, as they are the part that is called repeatedly in optimizations. Other parts like preprocessing and validation of hyperparameters or the function to be op

[2021-08-20 08:15] josh146 commented on #1564
@dwierichs, taking `qml.GradientDescentOptimizer` as an example, we are looking at something like this?

[code]

[2021-08-20 08:26] dwierichs commented on #1564
Yes, exactly. Accounting for the fact that the several steps should update the last parameters, change the last line to
[code]
Note that if we give a `num_steps` hyperparameter to `GradientDescentOptimizer` we also could do
[code]
making a full optimization readily available without users having to write a loop.

[2021-08-20 08:41] josh146 commented on #1564
Nice! I would hesitate to make this the main UI though, since it adds additional complexity:

- total number of quantum evaluations (and the resulting cost price) is less controllable
- we would require an API for specifying a 'stopping' or convergence condition (or, alternatively, determining if convergence is not being achieved).

When the optimizer is potentially filling a remote queue or execu

[2021-08-20 08:45] dwierichs commented on #1564
That makes sense! Despite all this being possible to implement, for example via kwargs `callback` or `convergence_check`, it probably would lead to unexpected cost explosion often enough to not do this :)

[2021-08-20 10:26] albi3ro opened #1565 "Interfaces and documentation introduction section"
To find the interfaces in the introductory documentation, you have to click on "Gradients and Training", which isn't immediately obvious to me.

I propose we have one section for "Gradients and Training" and a separate section for "Interfaces", so you can quickly get to information on the different interfaces.

[2021-08-20 10:31] albi3ro opened #1566 "Categorizing the qubit gates in the documentation"
Now that qubit gates are sorted into categories in the code base, we should do so as well in the [documentation section on operations](https://github.com/PennyLaneAI/pennylane/blob/master/doc/introduction/operations.rst).  This change will help organize a list that is getting rather long, and help users find the operations in the code easier.

Instead of the section:

[code]

We should instead hav

[2021-08-20 10:36] albi3ro opened #1567 "Location of identity observable in the documentation"
Currently, the [Identity observable](https://pennylane.readthedocs.io/en/stable/introduction/operations.html#shared-operations) has its own section at the bottom of the page to show that it's both a CV and a qubit operation.  By hiding it in its own section at the bottom of the page, it's so hard to notice it's effectively in neither category.

I propose that we just have the Identity operation tw

[2021-08-20 11:52] ankit27kh commented on #1399
I request the maintainers to have a look at #1568
It does not do exactly what the issue demands but I think this is what is being intended.

[2021-08-20 11:56] ankit27kh commented on #1399
[code]
`circ.diff_method` and `circ.qtape.jacobian_options['method']` are not same.
It's easier to see it if you try this:
[code]
This results in:
[code]

[2021-08-20 11:57] ankit27kh commented on #1399
Even in the original example, if you try `circ.diff_method' after `print(circ.qtape.jacobian_options['method'] )`, you'll still get "best".

[2021-08-20 12:37] ankit27kh opened #1569 "[BUG][DOCUMENTATION] "Show on GitHub" button doesn't redirect to source"
### Expected behavior

https://pennylane.readthedocs.io/en/stable/code/api/pennylane.broadcast.html on this page https://github.com/PennyLaneAI/pennylane/blob/master/doc/code/api/pennylane.broadcast.rst
this is the show on GitHub button

The show on GitHub button should take me to the GitHub page for the documentation.

### Actual behavior

Clicking on the button results in
404 This is not the pag

[2021-08-20 13:31] antalszava commented on #1569
Hi @ankit27kh, thank you for uncovering this! We'll investigate this issue and get back to you on with more details.

[2021-08-20 14:02] josh146 commented on #1565
@albi3ro this one was somewhat intentional! It used to be called 'Interfaces' a while ago, and @mariaschuld and I spent a while discussing the rename.

The idea being that, a new user might know that they want details on gradients or training, so will look for this in the ToC. Since 'interface' is PL-specific jargon, seeing that phrase in the ToC wouldn't mean anything to them.

In fact, I'm think

[2021-08-20 14:50] #1565 closed

[2021-08-20 17:02] #1514 closed

[2021-08-20 17:02] ankit27kh commented on #1274
Will a simple change which checks if the QNode.diff_method=None and if it is, set QNode.interface=None AND QNode.diff_method="best" work?
This is like a shortcut patch to support diff_method=None with the added benefit of not doing any more changes.

[2021-08-21 17:29] ankit27kh opened #1572 "Draw circuit without passing circuit arguments"
### Feature details

Currently, to draw a circuit, we need to pass the inputs which are then used in the circuit drawing.
I suggest having a general circuit drawing function that can draw the circuit without those inputs. Instead of showing the angles of rotation, for example, it can simply say which type of rotation gate it is.
We can then have a general circuit. Not a parameterized one.

### Imp

[2021-08-22 07:44] AkashNarayanan commented on #1365
Sorry for the late response! I will start working on this issue now.

[2021-08-22 10:30] josh146 commented on #1572
Hey @ankit27kh! This is a good suggestion, but might be quite difficult to design and implement.

The reason is that PennyLane QNodes are quantum _functions_, and need to be executed (with parameters) for the circuit to be created.

There are also some subtleties! For instance, if the QNode includes conditional statements:

[code]

[code]

So in the short term, there might not be away around passi

[2021-08-22 12:38] ankit27kh commented on #1572
I had imagined that we could pass some fixed set of parameters internally to create the tape and then draw the circuit without showing the parameters. I had not thought of conditional statements. This does make it difficult.

But yes, considering your comment, having an option like `show_parameters=False` will be nice to have in general, even after the more complicated issue has been addressed.

[2021-08-22 15:45] #1452 closed

[2021-08-22 23:41] anonymousr007 commented on #1528
Hi @antalszava, I would try to solve this issue :)

[2021-08-23 01:06] antalszava opened #1574 "[BUG] `default.qubit.jax` incompatible with the parameter-shift rule"
### Expected behavior

The `default.qubit.jax` device works well even when using the parameter-shfit rule.

### Actual behavior

For the tape interface, computing the jacobian of the tape provides incorrect results:

[code]
[code]
For the QNode interface with `qml.grad`, the gradient is not being computed, execution hangs (likely the kernel dies):
[code]

### Additional information

Changing to `d

[2021-08-23 06:31] mariaschuld commented on #1569
I can confirm that this also happens for a lot of other function documentation pages, like other templates, some (or all?) fourier module and grouping module functions...so it seems to be a structural issue of how sphinx automatically builds the docs, and how the paths are then used as links.

[2021-08-23 06:52] mariaschuld commented on #1564
I always argued that the reason for the current UI is that other frameworks use a similar syntax, but upon closer inspection that is wrong - at least for [PyTorch](https://pytorch.org/docs/stable/generated/torch.optim.SGD.html) and [Jax](https://jax.readthedocs.io/en/latest/jax.experimental.optimizers.html#), which are all a bit different!

 However, this would still be a serious breaking change t

[2021-08-23 07:00] mariaschuld commented on #1572
@ankit27kh this sounds like a nice feature. Let us know if you'd like to give it a go and we can point you to the important bits! The circuit drawer is in the `pennylane/circuit_drawer` folder, and the code takes a while to see through, but it is in principle just string rendering, so it may be a fun little task...

[2021-08-23 07:39] dwierichs commented on #1564
I agree with all points, in particular the `jit`ing or `cache`ing might actually change the run time significantly. I really think this is conceptually a nice change and many things appear more convenient or "natural" to me personally, but this should definitely be at least for a few versions a backwards-compatible change. One way would be to check the input signature of the instantiation and deci

[2021-08-23 08:14] mariaschuld commented on #1569
We decided to remove the link everywhere, since it is hard to maintain with automatic docs generation!

[2021-08-23 08:16] ankit27kh commented on #1572
@mariaschuld I can not commit myself right now but would love to work on it if it's still an issue at a later date.

[2021-08-23 08:40] ankit27kh opened #1577 "Add a barrier "gate"(?) in circuit library."
### Feature details

A barrier that acts similar to the barrier in Qiskit. It is supposed to separate pieces of the circuit into blocks that are optimised and run separately. Also, it will help in the visualization of circuits. As currently, it becomes a little difficult to see what's happening when all gates are drawn from left to right without any correlation with gates on other qubits.

### Imp

[2021-08-23 09:04] albi3ro commented on #1572
I'm in the process of developing a new circuit drawer using matplotlib, and will keep this in mind when I get to the right stage.

[2021-08-23 09:05] albi3ro commented on #1574
I'll take a look into this today,

[2021-08-23 09:31] ingstra commented on #1462
I'm interested to look into this :)

[2021-08-23 09:50] AkashNarayanan commented on #1567
Hi @albi3ro ! I have made a PR for this issue. Please let me know if that was the expected change.

[2021-08-23 10:10] albi3ro commented on #1564
I'm a fan of initializing with the function and not passing it to `opt.step` each time. For momentum-type optimizers, it does not make sense to be switching around the function being optimized. That always bugged me before.

We could implement this in a backward-compatible way by simply using
[code]

It doesn't seem like the optimizers have much validation, certainly not enough to consume much tim

[2021-08-23 10:24] albi3ro commented on #1567
Closed by #1576

[2021-08-23 10:24] #1567 closed

[2021-08-23 11:35] glassnotes commented on #1462
@ingstra fantastic :star2: Please feel free to ask us any questions you might have!

[2021-08-23 12:05] #1569 closed

[2021-08-23 12:08] albi3ro opened #1578 "Inconsistency in treatment of optimizer hyperparameters"
The hyperparameter for `GradientDescentOptimizer` is `opt._stepsize`, a private variable that is updated with `opt.update_stepsize(stepsize=new_value)`.  This private variable does not have a getter function for accessing it's value.

On the other hand, all other optimizers with hyperparameters merely set the parameters as public variables, like `adagrad_opt.beta1` or  `momemntum_opt.momentum`.  T

[2021-08-23 12:47] antalszava commented on #1528
Hi @anonymousr007, that's great! Feel free to open a PR or a work in progress PR for it. :slightly_smiling_face:

[2021-08-23 13:35] dwierichs commented on #1564
Yes, that seems like a nice solution to me! :)
Maybe a profiling would be good to have indeed. I would need some more time until I get to this though.

Yes, `apply_grad` might be faster if we perform the update in numpy instead, I guess?

Regarding the reshaping, this could be avoided if the optimizer internally stores the parameters as suggested above, but the flat version. Almost all optimizers

[2021-08-23 14:19] antalszava commented on #1574
@albi3ro maybe it's good to have on our radar, but perhaps not the highest of priority. Unless the user explicitly specifies `default.qubit.jax` with parameter shift, this should not be an issue.

[2021-08-23 14:25] albi3ro opened #1580 "Optimizers: standardize use of `accumulation`"
Currently, the following optimizers:

* adagrad
* momentum
* nesterov momentum
* rms prop

all have an `accumulation` attribute that tracks some sort of running quantity over multiple optimization steps.

On the other hand, Adam has `fm`, `sm` and `t` for first moment, second moment, and time.

We should standardize the use of the term `accumulation` across all optimizers.  In the case of `Adam`,

[2021-08-23 17:10] josh146 commented on #1574
Agree, happy to leave this low-priority for now, since it's unlikely that `default.qubit.jax` and `parameter-shift` will be created automatically (you'd have to specify this manually to get it)

[2021-08-23 17:36] glassnotes commented on #1274
Hi @ankit27kh , this should work, please feel free to submit a PR!

[2021-08-23 19:01] Pratul-Saini commented on #1566
Will the Hamiltonian operation be placed in it's own category as it is in [pennylane/ops/qubit](https://github.com/PennyLaneAI/pennylane/tree/master/pennylane/ops/qubit)? Also, given that the Pauli matrices are also observables, should we also include them under the qubit observable section or just simply mirror what is in code?

[2021-08-23 19:40] antalszava commented on #1566
Hi @Pratul-Saini, thanks for your interest! :slightly_smiling_face:

Maybe, for now, we could have it listed under the observables. There are some ongoing changes made to this class, we could modify its place in the list if need be.

They could be included at multiple places. That way they are for sure not missed. :slightly_smiling_face:

[2021-08-23 19:53] antalszava commented on #1365
Just tagged this issue for the Code Together event. A successful submission will award swag. :slightly_smiling_face: See the [blog post about the event for more details](https://pennylane.ai/blog/2021/07/pennylane-code-together/).

[2021-08-23 22:27] #1527 closed

[2021-08-24 06:54] mariaschuld commented on #1564
@dwierichs are you planning to implement this change? That would be awesome (and no rush!). Let us know (here or in the PR) if you have any more design questions to discuss.

[2021-08-24 07:01] mariaschuld commented on #1577
Thanks @ankit27kh, that is indeed a nice feature. Just to fully understand, would the added benefit just be a visual one, i.e. to inspect circuit drawings? Or do you have performance/compilation goals in mind too?

An idea of how to do this is to give gates a shared id to "group" them:

[code]

The circuit drawer, or even compilers could take these groups into account.

[2021-08-24 07:47] dwierichs commented on #1564
Yes, I'd love to. This is partially up for discussion, still.
And I get the impression there will be more questions coming up, thanks! :)

[2021-08-24 08:17] ankit27kh commented on #1577
It will provide more control to the user. Choosing which gates should be merged/transpiled. Also to control the sequence in which the gates will be run.
The visual benefit is also an important one in my opinion because when circuits get bigger, it becomes difficult to see what's happening just from the code. Clear circuit drawings help a lot in this regard.

[2021-08-24 09:58] mariaschuld commented on #1577
@glassnotes I am wondering if your compilation transforms could cater for something like this? I.e. they only merge gates that have the same id (if we run with my suggestion for a moment)?

[2021-08-24 12:32] glassnotes commented on #1577
@mariaschuld @ankit27kh this is an interesting and useful idea, and should be straightforward to implement :rocket: The transforms work by looping through the list of gates on the tape, then looking ahead at the next relevant operation to check whether something can be done with it. We can simply add a flag like `merge_same_id_only` and use it as an extra condition in those checks.

[2021-08-24 16:54] ankit27kh commented on #1577
@mariaschuld @glassnotes
The id system is good for grainer control, but it will be more difficult to do in bigger circuits practically. I guess it will result in a lot more repetitive code.
Also, I hope it will still be able to help in visualization. (?)

[2021-08-24 17:13] #1365 closed

[2021-08-24 17:15] #1566 closed

[2021-08-24 21:32] albi3ro commented on #1274
I'm looking into fixing some unexpected behaviour with interface devices and finite shots, see Issue #1481 and Pull Request #1588 .  We can't take backpropogation gradients with finite shots.  In that situation, a user might still want to calculate finite shot values from an interface-specific circuit, but just never calculate any derivatives.  In that case, `diff_method=None` might be helpful.

[2021-08-24 21:55] antalszava commented on #1274
Just catching up with this issue: @glassnotes @josh146 I'm slightly concerned that now we'll have two ways to achieve the same thing here. Both
* `interface=None` and
* `diff_method=None`

would stand for the same thing based on the description.

Could you elaborate on why allowing `diff_method=None` would be preferable? If that's our choice, shall we not deprecate `interface=None`? I think having

[2021-08-25 04:01] josh146 commented on #1274
@antalszava I'm fine with making minor quality-of-life improvements now, as the upcoming new differentiable pipeline will result in an overhaul of the `diff_method` and `interface` keyword arguments anyway (likely by v0.19). In particular:

- `diff_method` will accept a string (`device`, `backprop`) _or_ a gradient transform directly (`diff_method=qml.gradients.param_shift`).

- `interface` will l

[2021-08-25 04:33] ankit27kh commented on #1274
@antalszava @josh146
As discussed in the original issue, this is meant to be a simple patch to start support for `diff_method=None`, which is more intuitive than providing `interface=None` when we don't need gradient capabilities.
Concretely, for the same effect, `interface=None` should be deprecated in favour of `diff_method=None`. But, this will require a lot more work than this simple fix. `dif

[2021-08-25 06:00] mariaschuld commented on #1564
Great!

[2021-08-25 06:22] mariaschuld commented on #1577
You are right, maybe a `qml.Barrier()` would be a better option, and it seems compilation could just check and then stop at that dummy gate.

In any case, we may not be able to implement this feature right now from our side, but hopefully this issue will encourage contributors to pick it up (@ankit27kh, let us know if you want to give it a shot yourself :) ). Note that we would still have to fix a

[2021-08-25 09:12] ingstra commented on #1462
Which file should the transforms be defined in?

[2021-08-25 11:52] glassnotes commented on #1462
Hi @ingstra ,

You can put it in a new file in the `pennylane/transforms` directory, with the same name as the transform itself.

Yes we'd like to have the transform work for arbitrary-sized gates. All of the existing gates do have matrix representations available regardless of size that you can use as a starting point (for example, you can do `qml.Toffoli(wires=[0, 1, 2]).matrix`, or `qml.MultiCo

[2021-08-25 14:45] albi3ro commented on #1500
Since even though this is non-intuitive behaviour, it is expected, should we go ahead and close the issue without a fix? @josh146 @trbromley

[2021-08-26 03:28] arshpreetsingh opened #1593 "[BUG] Failing tests due to DASK and CVXPY Modules"
### Expected behavior

Unit-Tests are failing.

### Actual behavior

After running
[code]
Following four Tests are failing.
====================================================== short test summary info ======================================================
FAILED tests/circuit_graph/test_circuit_graph_hash.py::TestQNodeCircuitHashDifferentHashIntegration::test_compiled_program_was_stored
FAILED t

[2021-08-27 01:42] antalszava opened #1595 "Define the `matrix` and `eigvals` class attributes for all non-parametric operations"
### Feature details

Most non-parametric operations have their matrix representation and eigenvalues defined as class attributes (`matrix` and `eigvals`). There are some, however, which define these directly within the `_matrix` and `_eigvals` classmethods (e.g., [`S` gate](https://github.com/PennyLaneAI/pennylane/blob/8e57efa4a85ea635665a44b19c9113f3f38acd3b/pennylane/ops/qubit/non_parametric_ops

[2021-08-27 23:34] arshpreetsingh commented on #1521
Hi @mlxd
Quick Question, Will there be new interface as well something like  pennylane/interface/numba.py ?

[2021-08-28 00:34] arshpreetsingh commented on #1593
@josh146  It works when I install different versions of cvxpy and cvxopt instead of the mentioned ones in the requirements.txt file.

Due to this all Docker Builds are being failed, that's why I mentioned it as seperate issue.
Thanks @albi3ro  for confirmation.

[2021-08-28 08:50] AkashNarayanan commented on #1578
Hi @albi3ro ! I would like to work on this issue. Just to make sure I am on the right track, this issue involves renaming the hyperparameter in the `GradientDescentOptimizer` class as well as in all the classes that inherit it and in the test cases. `UserWarning` should be added to the `update_stepsize()` method and a test case has to be defined to check if the warning is raised, right?

[2021-08-28 15:28] ingstra commented on #1462
Status update: I now have a quantum function transform that works for (has been tested on) single-qubit gates, two-qubit controlled gates, and Toffoli with adjacent or nonadjacent wires. My first idea was actually using the `|0><0| \otimes I + |1><1| \otimes X` kind of representation for controlled gates, but I ended up just doing SWAPs for everything. Now I need to test with MultiControlledX, and

[2021-08-29 13:16] josh146 commented on #1521
@arshpreetsingh nope, Numba does not support autodifferentiability 🙂

Instead, the Numba device can be used with existing interfaces. E.g., using the Torch interface with the Numba device will allow for users to use this new device with `torch.tensor` objects.

[2021-08-29 16:12] ingstra commented on #1462
I did some more testing today, and it turned out that it was just a fluke everything worked yesterday, but _now_ I think it works (famous last words). Anyway, I started replacing `compute_matrix_from_ops_one_qubit` and `compute_matrix_from_ops_two_qubit`, and found that my method got a different result compared to `compute_matrix_from_ops_two_qubit` in function `test_single_qubit_fusion_multiple_q

[2021-08-29 16:48] ingstra commented on #1462
Sry for spamming but here's a question: I now have a quantum function transform named `get_unitary_matrix`. What should the QNode transform be named? Something different? The same? I learned from a quick Google search that Python doesn't support function overloading but I guess some type of workarounds exist.

[2021-08-29 17:45] glassnotes commented on #1462
Hi @ingstra ,  thanks for all your work on this! 🚀 I think you are correct that there is an issue in the current. `compute_matrix_from_ops_two_qubit` function. I'm pretty sure I know the cause (I added a swap,  but did not swap back! The test cases it was used in must not have been affected). I will confirm tomorrow, and also provide some guidance for your other questions 🙂

BTW you can make a PR

[2021-08-30 09:21] albi3ro commented on #1578
Thanks @AkashNarayanan 🎇 You basically covered it, but I wrote it up in a list form below.  Since someone might be accessing `_stepsize` directly in their code, I think we should temporarily make `_stepsize` a property that gets `stepsize`, sets `stepsize`, and raises a `UserWarning` both times.

Here's a list with relevant code links:

* Make [`_stepsize`](https://github.com/PennyLaneAI/pennylane

[2021-08-30 09:50] antalszava opened #1607 "[BUG] [Return-types] Update the output shape of `qml.probs` for `default.qubit.torch`"
### Expected behavior

Using `default.qubit.torch` and backpropagation, `return qml.probs(0), qml.probs(1)` returns a `(2, 2)` shape tensor (just as with TensorFlow).

### Actual behavior

A `(4,)` tensor is returned for `return qml.probs(0), qml.probs(1)` in Torch+backprop. This could be due to differing behaviour in the `DefaultQubitTorch._asarray()` method.

### Additional information

_No resp

[2021-08-30 12:59] ingstra commented on #1462
Thanks! I created a PR. In get_unitary matrix I copied some code from adjoint.py because it felt appropriate, but I don't really know how the tape stuff works so I don't know if all of it it is necessary/appropriate here.

[2021-08-30 16:57] #1595 closed

[2021-08-30 18:41] antalszava commented on #1488
Hi @arshpreetsingh, thanks for the details! :slightly_smiling_face: We'll be reaching out with more info.

[2021-08-30 20:53] glassnotes commented on #1462
Thanks @ingstra , I will leave a few comments regarding your questions over in the PR!

[2021-08-31 06:57] licedric opened #1611 "[BUG] QAOA layer template does not work with TensorFlow"
### Expected behavior

PennyLane's QAOA layer templates should work with the TensorFlow interface.

### Actual behavior

A `TypeError: object of type 'ResourceVariable' has no len()` is thrown.

### Additional information

_No response_

### Source code

[code]

### Tracebacks

[code]

### System information

[code]

###

- [X] I have searched exisisting GitHub issues to make sure the issue does n